<%= javascript_include_tag "msa_mpi.min.gz.js" %>

<%= render(:partial => "shared/jobspecs", :locals => {:title_extra => 'Results', :toolname => @job.tool}) %>
  
<%= render(:partial => "shared/resultsections") %>

<div class = "row">
  <span style="font-weight: bold;">Download alignment files:</span>
  <table>
    <tr height="0px"><td width="200px"></td><td></td></tr>
    <tr>
      <td><a href="<%= @job.url_for_job_dir %>/<%= @job.jobid %>.ralign" target="_blank"><%= @job.jobid %>.reduced.fas</a></td>
      <td>FASTA formatted without inserts (with 50 most distinct sequences)</td>
    </tr>
    <tr>
      <td><a href="<%= @job.url_for_job_dir %>/<%= @job.jobid %>.out" target="_blank"><%= @job.jobid %>.clu</a></td>
      <td>CLUSTAL formatted</td>
    </tr>
    <tr>
      <td><a href="<%= @job.url_for_job_dir %>/<%= @job.jobid %>.a3m" target="_blank"><%= @job.jobid %>.a3m</a></td>
      <td>A3M formatted</td>
    </tr>
    <tr>
      <td><a href="<%= @job.url_for_job_dir %>/<%= @job.jobid %>.align" target="_blank"><%= @job.jobid %>.fas</a></td>
      <td>FASTA formatted</td>
    </tr>
  </table>
</div>


<h3><a href="http://msa.biojs.net" target="_blank">BioJS MSA Viewer</a> (A3M Formatted)</h3>

<div id="menuDiv"></div>
<div id="yourDiv">Loading ... </div>

<script>
        // this is a way how you use a bundled file parser
        msa = require("msa");

        var opts = {colorscheme: {"scheme": "clustal"}};

        // set your custom properties
        // @see: https://github.com/greenify/biojs-vis-msa/tree/master/src/g 
        opts.el = document.getElementById("yourDiv");
        opts.vis = {
            conserv: false,
            overviewbox: false,
            seqlogo: false
        };
        opts.conf = {
            dropImport: true
        };
        opts.zoomer = {
           alignmentHeight: 225, alignmentWidth: "auto", labelNameLength: 55, labelWidth: 130,labelFontsize: "13px",labelIdLength: 70,   menuFontsize: "12px",menuMarginLeft: "2px", menuPadding: "0px 10px 0px 0px", menuItemFontsize: "14px", menuItemLineHeight: "14px", autoResize: true
        };

        // init msa
        var m = new msa.msa(opts);

        // search in URL for fasta or clustal
        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [, ""])[1].replace(/\+/g, '%20')) || null;
        }

             
        var defaultURL = "<%= @job.url_for_job_dir %>/<%= @job.jobid %>.a3m";
        var url = getURLParameter('seq') || defaultURL;

        m.u.file.importURL(url, renderMSA);

        function renderMSA() {

            // the menu is independent to the MSA container
            var menuOpts = {};
            menuOpts.el = document.getElementById('div');
            menuOpts.msa = m;
            var defMenu = new msa.menu.defaultmenu(menuOpts);
            m.addView("menu", defMenu);

            // call render at the end to display the whole MSA
            m.render();
        }
    </script>


</form>
