@import play.api.mvc.RequestHeader
@(inputForm: Form[models.Alnviz])(implicit messages: Messages, request: RequestHeader)
@roughtemplate {

    <h2>@Alnviz.fullName</h2>


    <!-- We cannot use helpers.forms here, because we do not want to specify an action for this form -->
    <form id="jobform">

        <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>

        <!-- Input form elements derived from the Input Data Model -->
        <div class="row">
            <label>@Alnviz.parameterNames("alignment")

                @helper.textarea(field = inputForm("alignment"), args = 'rows -> 5, 'cols -> 50)

            </label>
        </div>
        <div class="row">
            <label>@Alnviz.parameterNames("format")

                @helper.select(
                    inputForm("format"),
                    helper.options(Values.fullNames.filterKeys(Alnviz.parameterValues("format")))
                )
            </label>
        </div>

        <div class="row">
            <input type="submit" value="Submit Job" />
        </div>
    </form>
}
