@import play.api.mvc.RequestHeader
@import models.tools.Alnviz
@(inputForm: Form[(String, String)])(implicit messages: Messages, request: RequestHeader)


        <!-- Input form elements derived from the Input Data Model -->
        @helper.textarea(field = inputForm("alignment"), args = 'rows -> 20, 'cols -> 30,
                    'placeholder -> "Enter sequence alignment",
                    'id -> "alignment")



        <a onClick="$('#alignment').val(alnviz_example());$('#format').val('fas')">Paste example alignment</a>

        @helper.select(
                    inputForm("format"),
                    helper.options(Values.fullNames.filterKeys(Alnviz.parameterValues("format"))),
                    '_label -> "Select alignment format",
                    'id -> "format"
                )
