<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input</a></li>
	<li><a href="#input_format">Input format</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input</h3>
<div class="row">
Enter sequence alignment and choose its format from the dropdown menu.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>

<a name="input_format"></a>
<h3 class="<%= @section["name"] %>">Input format</h3>
<div class="row">
	<p>
	Accepted formats are listed in the dropdown menu. 
	Format descriptions can be found <a href="/reformat/help_params#format">here</a>.	
	</p>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>