@import models.jobs.UserJob
@(job: UserJob)

<!--
This view allows the forwarding of the results of one tool to another tool by specifying the links
between the tools
--->

<!-- TODO Use Mithril to establish a viewmodel of the tools that can be forwarded to -->

<script src="@routes.Assets.at("scripts/forward.js")"></script>

<script type="text/javascript">


 // TODO These variables are global such that the 'forward.coffee' script can see them. Need to find another way
 target_tools = {};
 parent_job_id = '@job.jobID';


 @for(outlink <- job.tool.outlinks) {

  var toolname = '@outlink._3.toolname';

  // Fetch in and outport
  var own_port = @outlink._1;
  var foreign_port = @outlink._2;
  var portname = '@outlink._4';


  if(typeof target_tools[toolname] == "undefined") {

   target_tools[toolname] = [[own_port, foreign_port, portname]];

   }
   else {

      target_tools[toolname] = target_tools[toolname].push([own_port, foreign_port, portname]);
   }
}
</script>


<div class="callout secondary">
  <!-- Select field to show all tools that support forwarding here -->

 <label for="childjobselect">Select compatible tool for child job</label>
 <select id="childjobselect">

  <option value="childtoolselect">Select Tool</option>

  @for(outlink <- job.tool.outlinks) {

   <option value="@outlink._3.toolname">@outlink._3.toolname</option>
  }
 </select>


    <form id="forward">

    <fieldset id="forward-fieldset">


    </fieldset>

     <input type="submit" value="Add Child Job" class="secondary button">
    </form>
</div>
