<style>

#content {
width: 100%;
padding: 0 0 0 0;
}

#sidebar-switch {

display: none;

  }
.orbit-slide {
max-height: 380px;
}

 body {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   margin: 0;
 }

#show-length {
  position: absolute;
  margin-left: 23em;
}

.links {
  fill: none;
  stroke: #000;
}

.link-extensions {
  fill: none;
  stroke: #000;
  stroke-opacity: .25;
}

.labels {
  font: 10px sans-serif;
}

.link--active {
  stroke: #000 !important;
  stroke-width: 1.5px;
}

.link-extension--active {
  stroke-opacity: .6;
}

.label--active {
  font-weight: bold;
}

svg {
    margin-left: 20em;
}

</style>

<label id="show-length">
    <input type="checkbox"> Show branch length
</label>

  <!-- Copyright 2015 Mike Bostock http://d3js.org -->
<script src="//d3js.org/d3.v3.min.js"></script>

<script>

 var outerRadius = 960 / 2;
 var innerRadius = outerRadius - 170;

 var color = d3.scale.category10()
         .domain(["Bacteria", "Eukaryota", "Archaea"]);

 var svg = d3.select('#content').append("svg")
         .attr("width", 960)
         .attr("height", 960);

 var legend = svg.append("g")
         .attr("class", "legend")
         .selectAll("g")
         .data(color.domain())
         .enter().append("g")
         .attr("transform", function(d, i) { return "translate(" + (outerRadius * 2 - 10) + "," + (i * 20 + 10) + ")"; });

 legend.append("rect")
         .attr("x", -18)
         .attr("width", 18)
         .attr("height", 18)
         .style("fill", color);
 legend.append("text")
         .attr("x", -24)
         .attr("y", 9)
         .attr("dy", ".35em")
         .style("text-anchor", "end")
         .text(function(d) { return d; });

 var chart = svg.append("g")
         .attr("transform", "translate(" + 300 + "," + 300 + ")");



</script>

