project/project
project/target
bioprogs
bin/
/db
/lib/
/dist/
/modules
/logs/
/target
tmp
.history
.cache
dist
/*.sbt
/*.log
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

    