project/project
project/target
bioprogs/tools
bin/
/db
/lib/
/dist/
/modules
/logs/
/target
tmp
.history
.cache
dist
/*.log
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
project/build.properties
project/plugins
.sbtserver/
project/.sbtserver
project/.sbtserver.lock
development   
conf/application.conf
mvc/conf/
/conf/application.conf
target
mvc/mvc.iml
clean.sh
.DS_Store
