@import play.api.mvc.RequestHeader
@()(implicit messages: Messages, request: RequestHeader)

<div class="auth-form">
  <form id="forgot-form" data-abide="ajax" novalidate>
      <div>
        <label>
          <input type="text" id="nameLogin" name="nameLogin" placeholder="Username" pattern="text">
        </label>
      </div>

      <div>
        <label>
          <input type="text" id="eMail" name="eMail" placeholder="E-Mail" required pattern="email">
        </label>
      </div>
    <input id="forgot-submit" type="submit" class="small expanded secondary button" value="Reset Password">
  </form>
</div>