@import models.database.users.User

@import play.api.mvc.RequestHeader
@(user : User)(implicit messages: Messages, request: RequestHeader)

<form id="profile-password-edit-form" data-abide="ajax" novalidate>
    <div class="row">
        <div class="small-6 small-offset-3 columns">
            <input type="password" id="passwordOld" name="passwordOld" placeholder="Old Password" pattern=".{8,128}">
        </div>
        <div class="small-6 small-offset-3 columns">
            <input type="password" id="passwordCheck" placeholder="Password" pattern=".{8,128}">
        </div>
        <div class="small-6 small-offset-3 columns" style="float: left;">
            <input type="password" id="passwordNew" name="passwordNew" placeholder="Repeat password" pattern=".{8,128}" data-equalTo="passwordCheck">
            <span class="form-error">(Passwords must match!)</span>
        </div>
    </div>
    <input id="edit-submit" type="submit" class="small expanded secondary button" value="Save Changes">
</form>