@import play.api.mvc.RequestHeader
@import models.database.{User, UserData, UpdatePasswordForm}
@import models.misc.RegionCodes
@(user : User, userDataForm : Form[UserData], passwordForm : Form[UpdatePasswordForm])(implicit messages: Messages, request: RequestHeader)

<form id="profile-edit-form" data-abide="ajax" novalidate>
  <div class="row">
    <div class="small-12 columns">
      <label>
        First Name:
        <input type="text" id="nameFirst" name="nameFirst" placeholder="John" pattern="text" value="@{user.userData.nameFirst.getOrElse("")}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Last Name:
        <input type="text" id="nameLast" name="nameLast" placeholder="Doe" pattern="text" value="@{user.userData.nameLast.getOrElse("")}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Institute:
        <input type="text" id="institute" name="institute" pattern="text" value="@{user.userData.institute.getOrElse("")}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Street:
        <input type="text" id="street" name="street" pattern="text" value="@{user.userData.street.getOrElse("")}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        City:
        <input type="text" id="city" name="city" pattern="text" value="@{user.userData.city.getOrElse("")}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Country:
        <select id="country" name="country">
          <option value="">None</option>
            @for(region <- RegionCodes.regions){
                <option value="@{region._1}"@if(region._1.matches(user.userData.country.getOrElse(""))){ selected="selected"}>@{region._2}</option>
            }
        </select>
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Group:
        <input type="text" id="groups" name="groups" pattern="text" value="@{user.userData.groups.getOrElse("")}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Role:
        <input type="text" id="roles" name="roles" pattern="text" value="@{user.userData.roles.getOrElse("")}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        E-Mail:
        <input type="text" id="eMail" name="eMail" placeholder="JohnDoe&#64;SomePlace.net" value="@{user.userData.eMail}" required pattern="email">
      </label>
    </div>
  </div>
  <input id="signup-submit" type="submit" class="small expanded secondary button" value="Save Changes">
</form>

<form id="profile-passwort-edit-form" data-abide="ajax" novalidate>
  <div class="row">
    <div class="small-12 columns">
      <label>
        Password:
        <input type="password" id="passwordOld" placeholder="Old Password" pattern=".{8,128}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Password:
        <input type="password" id="passwordCheck" placeholder="Password" pattern=".{8,128}">
      </label>
    </div>
    <div class="small-12 columns">
      <label>
        Repeat Password:
        <input type="password" id="password" name="password" placeholder="Repeat password" pattern=".{8,128}" data-equalTo="passwordCheck">
        <span class="form-error">(Passwords must match!)</span>
      </label>
    </div>
  </div>
  <input id="signup-submit" type="submit" class="small expanded secondary button" value="Save Changes">
</form>
<script src="@routes.Assets.at("scripts/profile.js")"></script>