@import models.database.users.User
@import modules.common.RegionCodes

@import play.api.mvc.RequestHeader

@(user : User)(implicit messages: Messages, request: RequestHeader)

<form id="profile-edit-form" data-abide="ajax" novalidate>
  <div class="row" align="center">
    <div class="small-6 small-offset-3 columns">
        <input type="text" id="nameFirst" name="nameFirst" placeholder="First Name" pattern="text" value="@{user.getUserData.nameFirst.getOrElse("")}">
    </div>
    <div class="small-6 small-offset-3 columns">
        <input type="text" id="nameLast" name="nameLast" placeholder="Last Name" pattern="text" value="@{user.getUserData.nameLast.getOrElse("")}">
    </div>
    <div class="small-6 small-offset-3 columns">
        <input type="text" id="institute" name="institute" pattern="text" placeholder="Institute" value="@{user.getUserData.institute.getOrElse("")}">
    </div>
    <div class="small-6 small-offset-3 columns">
        <input type="text" id="street" name="street" pattern="text" placeholder="Street" value="@{user.getUserData.street.getOrElse("")}">
    </div>
    <div class="small-6 small-offset-3 columns">
        <input type="text" id="city" name="city" pattern="text" placeholder="City" value="@{user.getUserData.city.getOrElse("")}">
    </div>
    <div class="small-6 small-offset-3 columns country_drop">
        <select id="country" name="country">
          <option value="">Country</option>
            @for(region <- RegionCodes.regions){
                <option value="@{region._1}"@if(region._1.matches(user.getUserData.country.getOrElse(""))){ selected="selected"}>@{region._2}</option>
            }
        </select>
    </div>
    <div class="small-6 small-offset-3 columns">
        <input type="text" id="groups" name="groups" pattern="text" placeholder="Group" value="@{user.getUserData.groups.getOrElse("")}">
    </div>
    <div class="small-6 small-offset-3 columns">
        <input type="text" id="roles" name="roles" pattern="text" placeholder="Role" value="@{user.getUserData.roles.getOrElse("")}">
    </div>
    <div class="small-6 small-offset-3 columns" style="float: left;">
        <input type="text" id="eMail" name="eMail" placeholder="E-Mail" value="@{user.getUserData.eMail.head}" required pattern="email">
    </div>
    <div class="small-6 small-offset-3 columns">
        <input type="password" id="password" name="password" placeholder="Password" pattern=".{8,128}">
    </div>
          <input id="edit-submit" type="submit" class="small expanded secondary button" value="Save Changes">
  </div>
</form>


<script src="@routes.Assets.versioned("scripts/profile.js")"></script>