@import play.api.mvc.RequestHeader
@import models.database.User
@(inputForm: Form[User])(implicit messages: Messages, request: RequestHeader)

<form id="signup-form" data-abide="ajax" novalidate>
    <div class="row">
        <div class="small-12 columns">
            <label>
                Username:
                <input type="text" id="nameLogin" name="nameLogin" placeholder="JDoe11186" required pattern="text">
            </label>
        </div>
        <div class="small-12 columns">
            <label>
                Password:
                <input type="password" id="password" name="password" placeholder="Password" required >
            </label>
        </div>
        <div class="small-12 columns">
            <label>
        E-Mail:
                <input type="text" id="eMail" name="eMail" placeholder="JohnDoe&#64;SomePlace.net" pattern="email">
            </label>
        </div>
        <!--
        <div class="small-12 columns">
            <label>
                Repeat Password:
                <input type="password" id="password_repeat" placeholder="Password" required pattern="text" data-equalTo="password">
                <span class="form-error">(Passwords must match!)</span>
            </label>
        </div>
        -->
        <div class="small-12 columns">
            <label>
                I Accept the Terms of Sevice &nbsp;
                <input type="checkbox" id="acceptToS" name="acceptToS" value="false" required>
                <span class="form-error">You must accept the ToS!</span>
            </label>
        </div>
    </div>
    <input id="signup-submit" type="submit" class="small expanded secondary button disabled" value="Register">
</form>