@import play.api.mvc.RequestHeader
@(filepaths : Array[String])(implicit messages: Messages, request: RequestHeader)


<ul class="tabs" data-tabs id="example-tabs">
    @for(filepath <- filepaths) {

        <li class="tabs-title"><a href="#@filepath.split('/').last" aria-selected="true">@filepath.split('/').last</a></li>
    }
</ul>


<div class="tabs-content" data-tabs-content="example-tabs">
    @for(filepath <- filepaths) {

        <div class="tabs-panel" id="@filepath.split('/').last">

            <pre style="font-size: 12px;width: 800px; height: 30pc; overflow-y: scroll;">




            </pre>
        </div>

        <script type="text/javascript">
            $( "#@filepath.split('/').last pre" ).load("@filepath");
        </script>
    }


</div>
<script type="text/javascript">
        $(document).foundation();



</script>
