<div id="citeModalContent">
    <h5>Cite Us</h5>
    <hr>
    <br>

    <div class="row section">
        <p>
            If you use our Toolkit for your research, please cite us. It helps us keep this service running for you.
        </p>
        <p>
            <a href="https://academic.oup.com/nar/article-lookup/doi/10.1093/nar/gkw348" target="_blank" rel="noopener"><em>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</em></a>
            <br>
            Alva V, Nam SZ, Söding J, Lupas AN. <b>Nucleic Acids Research</b> 2016 Jul 8;44(W1):W410-5.
        </p>
    </div>

</div>
