<div id="contactModelContent">
    <h3>Contact us</h3>
    <br>
    <h5><a href="mailto:mpi-toolkit&commat;tuebingen.mpg.de">mpi-toolkit&commat;tuebingen.mpg.de</a></h5>
    <!-- TODO if we decide to use this: Send Mail on Submit button
    <form class="cf">
        <div class="half left cf">
            <input type="text" id="input-name" placeholder="Name">
            <input type="email" id="input-email" placeholder="Email address">
            <input type="text" id="input-subject" placeholder="Subject">
        </div>
        <div class="half right cf">
            <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
        </div>
        <a><input type="submit" value="Submit" id="input-submit"></a>
    </form> -->
</div>