<div class="help-modal-content">
    <h5>Contact Us</h5>
    <hr>

    <div class="row section">
        <p>
            Send your feature requests, comments or bug reports to: <a href="mailto:mpi-toolkit&commat;tuebingen.mpg.de">mpi-toolkit&commat;tuebingen.mpg.de</a>
        </p>
        <p>
            Please contact the <a href="http://www.mpibpc.mpg.de/soeding" target="_blank" rel="noopener">Södinglab</a>
            regarding issues pertaining to local installations of HHpred/HHblits.
        </p>
    </div>

</div>
