<div id="FAQModalContent">
    <a>FAQ</a>
    <hr><br>
    <b>How can I get a key for MODELLER?</b><br>
    MODELLER is developed and maintained by the <a href="https://salilab.org/" target="_blank"><span style="font-size: 0.7em">SALILAB</span></a>; a key can be
    obtained here: <a href="http://salilab.org/modeller/registration.shtml" target="_blank"><span style="font-size: 0.7em">http://salilab.org/modeller/registration.shtml.</span></a>
    <br><br>
    <b>How long are my jobs stored?</b><br>
    Anonymous job results are stored for a duration of three weeks, whereas jobs of logged-in users are stored for three months.
    <br><br>
    <b>How can I fetch back results of a job I ran yesterday on my computer at home (I wasn't logged in)?</b><br>
    If you still remember the job ID, you can fetch your job back by typing the ID into the search box on the index page.
    <br><br>
    <b>My collaborator sent me the ID to a job he ran; how can I fetch his job?</b><br>
    You can fetch his job by typing the ID into the search box on the index page.
    <br><br>
</div>
