<div id="FAQModalContent">
    <a><b><h5>FAQ</h5></b></a>
    <hr><br>

    <b>How do I reference use of the MPI bioinformatics Toolkit?</b><br>
    If you use any tools on our Toolkit for your research, please cite:<br>
    <a href="https://academic.oup.com/nar/article-lookup/doi/10.1093/nar/gkw348" target="_blank"><em>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.</em></a><br>
    Alva V, Nam SZ, Söding J, Lupas AN. <b>Nucleic Acids Research</b> 2016 Jul 8;44(W1):W410-5.
    <br><br>
    <b>How can I get a key for MODELLER?</b><br>
    MODELLER is developed and maintained by the <a href="https://salilab.org/" target="_blank">SALILAB</a>; a key can be
    obtained here: <a href="http://salilab.org/modeller/registration.shtml" target="_blank">http://salilab.org/modeller/registration.shtml.</a>
    <br><br>
    <b>How long are my jobs stored?</b><br>
    Anonymous job results are stored for a duration of three weeks, whereas jobs of logged-in users are stored for three months.
    <br><br>
    <b>How can I fetch back results of a job I ran yesterday on my computer at home (I wasn't logged in)?</b><br>
    If you still remember the job ID, you can fetch your job back by typing the ID into the search box on the index page.
    <br><br>
    <b>My collaborator sent me the ID to a job he ran; how can I fetch his job?</b><br>
    You can fetch his job by typing the ID into the search box on the index page.
    <br><br>
</div>
