<div id="helpModalContent">
    <h3>Welcome to the MPI Bioinformatics Toolkit</h3>
    <br>
    The MPI Bioinformatics Toolkit is a platform that integrates a great variety of
    tools for protein sequence analysis. Many tools are developed in-house, and serveral
    public tools are offered with extended functionality.
    <br>
    The toolkit includes, among others: NucleotideBLAST, ProteinBLAST, PSI-BLAST, fastHMMER, HHsenser;
    ClustalW, MUSCLE, Mafft, ProbCons; HHrep, PCOILS, REPPER; Quick2D; HHpred, Modeller;
    CLANS, ANCESCON, PHYLIP; Reformat, RetrieveSeq, gi2promoter. For a short descrition of the tools, click the section tabs.
    <br>
    <br>
    <h6>Job submission</h6>
Each tool has a separate input page with a web form in which the user can input sequence data,
        upload sequence files, and specify options. All tools that take alignments
        as input accept the most widely used formats (FASTA, CLUSTAL, Stockholm and
        A3M). You may also choose your own job-names to organize your work.
        Snail symbols inside the submit buttons inform you about tools that
        typically run for more than 10 minutes.

    <br>
    <br>
    <h6>Job management</h6>
Located on the left of the screen is a sidebar pane that holds a status
        and section-coded list of all recent jobs in the current session. You can click
        on previously submitted jobs to check their status and view their results.
        <br>
        In general a session will last until the web browser is closed. However,
        because of different session implementations by the various browser types, jobs
        may occasionally disappear from the joblist. Therefore, noting down the job ids is
        recommended. Anonymous job results are stored <strong>two
        weeks</strong>, whereas jobs of logged-in users are stored at least <strong>two months</strong>.

        <br><br>
        Please keep in mind, that the toolkit is focussed on providing tools,
        not on storing results or other data: We don't backup of your
        results. If the storage medium crashes or your job is deleted, we
        cannot restore it! After removal or updates of databases or tools, you
        probably will not be able to get the same results any more, even if
        you still know your input parameters. It's your task to save your
        results and databases.

    <br>
    <br>
    <h6>Interconnectivity</h6>
Most of the tools in the Toolkit are
        interconnected, allowing job results of one tool to be forwarded as input to
        others. For example, you could run PSI-BLAST, parse out a multiple alignment of selected
        hits and send the results to a cluster analysis tool.

    <br>
    <br>
    <h6>User databases</h6>
You may upload customized databases which are then accessible throughout the whole toolkit (upload once, use many times).

    Reference:
        Biegert A, Mayer C, Remmert M, Söding J and Lupas A. The
        MPI Toolkit for protein sequence analysis <em>Nucleic Acids Res.</em>
        <strong>34</strong>, W335-339
        <a target="_blank" href="http://nar.oxfordjournals.org/cgi/reprint/34/suppl_2/W335">(download
            pdf)</a>


</div>
