<div class="help-modal-content">
    <h5>Datenschutzhinweis (Privacy Policy<sup>*</sup>)</h5>
    <hr><br>
    (<sup>*</sup>An English version will follow soon)<br><br>
    Die Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V. (MPG) nimmt den Schutz Ihrer personenbezogenen Daten
    sehr ernst. Wir verarbeiten personenbezogene Daten, die beim Besuch unserer Webseiten erhoben werden, unter Beachtung
    der geltenden datenschutzrechtlichen Bestimmungen. Ihre Daten werden von uns weder veröffentlicht, noch unberechtigt
    an Dritte weitergegeben. Im Folgenden erläutern wir, welche Daten wir während Ihres Besuches auf unseren Webseiten
    erfassen und wie genau diese verwendet werden:

    <div class="row section">
        <h5>A. Allgemeine Angaben</h5><br>
        <h6>1. Umfang der Datenverarbeitung</h6>
        <p>
            Wir erheben und verwenden personenbezogene Nutzerdaten grundsätzlich nur, soweit dies zur Bereitstellung
            einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die Erhebung und
            Verwendung personenbezogener Daten unserer Nutzer erfolgt regelmäßig nach Einwilligung der Nutzer. Eine
            Ausnahme gilt in solchen Fällen, in denen die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet
            ist.
        </p>


        <h6>2. Rechtsgrundlage der Datenverarbeitung</h6>
        <p>
            Soweit wir für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einholen,
            dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.
        </p>
        <p>
            Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei die
            betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt
            auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.
        </p>
        <p>
            Ist die Verarbeitung zur Wahrung eines berechtigten Interesses der MPG oder eines Dritten erforderlich und
            überwiegen die Interessen, Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte Interesse nicht,
            so dient Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage für die Verarbeitung.
        </p>


        <h6>3. Datenlöschung und Speicherdauer</h6>
        <p>
            Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der
            Speicherung entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder
            nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen die
            MPG unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch
            die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur
            weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.
        </p>
        <h6>4. Kontaktdaten der Verantwortlichen</h6>
        <p>
            Verantwortlich im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze sowie
            sonstiger datenschutzrechtlicher Bestimmungen ist die
        </p>
            Max-Planck-Gesellschaft zur Förderung der Wissenschaften e.V. (MPG)<br>
            Hofgartenstraße 8<br>
            D-80539 München<br>
            Telefon: +49 (89) 2108-0<br>
            Kontaktformular: https://www.mpg.de/kontakt/anfragen<br>
            Internet: https://www.mpg.de<br><br>

        <h6>5. Kontaktdaten der Datenschutzbeauftragten</h6>
        <p>Die Datenschutzbeauftragte der Verantwortlichen ist</p>
            Heidi Schuster<br>
            Hofgartenstraße 8<br>
            D-80539 München<br>
            Telefon: +49 (89) 2108-1554<br>
            datenschutz[at]mpg.de<br><br>
    </div>


    <div class="row section">
    <h5>B. Bereitstellung der Website und Erstellung von Logfiles</h5>
        <p>
            Bei jedem Aufruf unserer Webseite erfassen unsere Server und Applikationen automatisiert Daten und
            Informationen vom Computersystem des aufrufenden Rechners.
        </p>
        Folgende Daten werden vorübergehend erhoben:<br>
        <ul>
            <li>Ihre IP-Adresse</li>
            <li>Datum und Uhrzeit Ihres Zugriffs auf die Seite</li>
            <li>Adresse der aufgerufenen Seite</li>
            <li>Adresse der zuvor besuchten Webseite (Referrer)</li>
            <li>Name und Version Ihres Browsers/Betriebssystems (sofern übertragen)</li>
        </ul>
        <p>
            Die Daten werden in den Logfiles unsere Systeme gespeichert. Eine Speicherung dieser Daten zusammen mit
            anderen personenbezogenen Daten des Nutzers findet nicht statt.
        </p>
        <p>
            Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.
            Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen uns
            die Daten zur Optimierung der Webseiten, zur Störungsbeseitigung und zur Sicherstellung der Sicherheit unserer
            informationstechnischen Systeme. In diesen Zwecken liegt auch unser berechtigtes Interesse an der
            Datenverarbeitung nach Art. 6 Abs. 1 lit. f DSGVO.
        </p>
        <p>
            Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich
            sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige
            Sitzung beendet ist. Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen
            der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der
            Nutzer gelöscht oder verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.
        </p>
        <p>
            Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für
            den Betrieb der Webseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine
            Widerspruchsmöglichkeit.
        </p>
    </div>



    <div class="row section">
        <h5>C. Webanalyse</h5>
        <p>
            Wir setzen zur statistischen Datenerfassung des Nutzungsverhaltens das Webanalytik-Programm
            Piwik ein, das mit Cookies und JavaScript verschiedene Informationen auf Ihrem Computer
            sammelt und automatisiert an uns überträgt. Bei jedem Aufruf unserer Webseiten erfasst unser System
            folgende Daten und Informationen vom Computersystem des aufrufenden Rechners:
        </p>
            <ul>
                <li>IP-Adresse, durch Verkürzen anonymisiert</li>
                <li>Zwei Cookies zur Unterscheidung verschiedener Besucher (pk_id und pk_sess)</li>
                <li>Zuvor besuchte URL (Referrer), sofern vom Browser übermittelt</li>
                <li>Name und Version des Betriebssystems</li>
                <li>Name, Version und Spracheinstellung des Browsers</li>
             </ul>
            Zusätzlich, sofern JavaScript aktiviert ist:<br>
            <ul>
                <li>Besuchte URLs auf dieser Webseite</li>
                <li>Zeitpunkte der Seitenaufrufe</li>
                <li>Art der HTML-Anfragen</li>
                <li>Bildschirmauflösung und Farbtiefe</li>
                <li>Vom Browser unterstützte Techniken und Formate (z. B. Cookies, Java, Flash, PDF, WindowsMedia,
                    QuickTime, Realplayer, Director, SilverLight, Google Gears)</li>
            </ul>
        <p>
            Die Speicherung und Auswertung der Daten erfolgt ausschließlich auf einem zentralen Server, der von der MPG
            betrieben wird. Neben der zentralen Webseite www.mpg.de wird es auch von den meisten Max-Planck-Instituten
            und vielen der MPG zugeordneten Projekt-Webseiten genutzt.
        </p>
        <p>
            Rechtsgrundlage für die Verarbeitung der personenbezogenen Daten der Nutzer ist Art. 6 Abs. 1 lit. f DSGVO.
            Die Verarbeitung der personenbezogenen Daten der Nutzer ermöglicht uns eine Analyse des Nutzungsverhaltens
            unserer Nutzer. Wir sind durch die Auswertung der gewonnenen Daten in der Lage, Informationen über die
            Nutzung der einzelnen Komponenten unserer Webseiten zusammenzustellen. Dies hilft uns dabei unsere Webseiten
            und deren Nutzerfreundlichkeit stetig zu verbessern. In diesen Zwecken liegt auch unser berechtigtes Interesse
            in der Verarbeitung der Daten nach Art. 6 Abs. 1 lit. f DSGVO. Durch die Anonymisierung der IP-Adresse wird
            dem Interesse der Nutzer an deren Schutz personenbezogener Daten hinreichend Rechnung getragen.
        </p>
        <p>
            Die Daten werden nach der Bildung der abschließenden Jahressummen für die Zugriffsstatistik gelöscht.
        </p>
        <p>
            Selbstverständlich haben Sie die Möglichkeit der Datenerhebung zu widersprechen. Sie haben folgende
            unabhängige Möglichkeiten einer Datenerfassung durch den zentralen Server zu widersprechen:
        </p>
        <p>
            1. Aktivieren Sie in Ihrem Browser die Einstellung Do-Not-Track bzw. Nicht folgen. Solange diese Einstellung
            aktiv ist, wird unser zentraler Server keinerlei Daten von Ihnen speichern. Wichtig: Die Do-Not-Track -Anweisung
            gilt in der Regel nur für das eine Gerät und den einen Browser, in dem Sie die Einstellung aktivieren.
            Sollten Sie mehrere Geräte / Browser nutzen, dann müssen Sie Do-Not-Track überall separat aktivieren.
        </p>
        <p>
            2. Nutzen Sie unsere Opt-Out-Funktion. Klicken Sie auf den Haken in der folgenden Auswahlbox, um die
            Datenerfassung zu stoppen oder wieder zu aktivieren. Solange die Auswahlbox deaktiviert ist, wird unser
            zentraler Server keinerlei Daten von Ihnen speichern. Wichtig: Für das Opt-Out müssen wir einen speziellen
            Erkennungs-Cookie in Ihrem Browser speichern. Wenn Sie diesen löschen oder einen anderen PC/Browser benutzen,
            dann müssen Sie erneut auf dieser Seite der Datenerfassung widersprechen.
        </p>
            <iframe frameborder="no" width="800px" height="130px" src="http://piwik.tuebingen.mpg.de/index.php?module=CoreAdminHome&action=optOut&language=en"></iframe>
        <p>
            Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.
        </p>
    </div>

    <div class="row section">
        <h5>D. Verwendung von Cookies</h5>
        <p>
            Unsere Webseite verwendet Cookies. Bei Cookies handelt es sich um Textdateien, die im Internetbrowser bzw.
            vom Internetbrowser auf dem Computersystem des Nutzers gespeichert werden. Ruft ein Nutzer eine Website auf,
            so kann ein Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieses Cookie enthält eine
            charakteristische Zeichenfolge, die eine eindeutige Identifizierung des Browsers beim erneuten Aufrufen
            der Website ermöglicht.
        </p>
        <p>
            Wir setzen Cookies ein, um unsere Website nutzerfreundlicher zu gestalten. Einige Elemente unserer Webseite
            erfordern es technisch, dass der aufrufende Browser auch nach einem Seitenwechsel identifiziert werden kann.
            In den Cookies werden dabei folgende Daten gespeichert und übermittelt:
        </p>
            <ul>
                <li>Spracheinstellungen (Lokalisation) des Browsers: Sessioncookie i18next</li>
                <li>Sitzungsdaten (Klickstrecke, aufgerufene Seiten, aktuelle Sprache, sowie ggf. Fehlermeldungen für
                    Formulare: Sessioncookie mpg_session_r</li>
            </ul>
        <p>
            Beide Cookies werden nach dem Schließen der Sitzung gelöscht.
        </p>
        <p>
            Die Rechtsgrundlage für die Verarbeitung personenbezogener Daten unter Verwendung von Cookies ist
            Art. 6 Abs. 1 lit. f DSGVO. Der Zweck der Verwendung technisch notwendiger Cookies ist, die Nutzung von
            Websites für die Nutzer zu vereinfachen. Einige Funktionen unserer Webseite können ohne den Einsatz von
            Cookies nicht angeboten werden. Für diese ist es erforderlich, dass der Browser auch nach einem Seitenwechsel
            wiedererkannt wird. Für folgende Anwendungen benötigen wir Cookies:
        </p>
            <ul>
                <li>Übernahme der Spracheinstellung des Browsers: automatische Auswahl der Startseite und Rechtschreibprüfung</li>
                <li>Merken von eingegebenen Formulardaten: bei der seiteninternen Suche verwendete Begriffe, Eingaben
                    im Kontaktformular (Abschnitt E)</li>
            </ul>
        <p>
            Die durch technisch notwendige Cookies erhobenen Nutzerdaten werden nicht zur Erstellung von Nutzerprofilen
            verwendet. In diesen Zwecken liegt auch unser berechtigtes Interesse in der Verarbeitung der personenbezogenen
            Daten nach Art. 6 Abs. 1 lit. f DSGVO.
        </p>
        <p>
            Cookies werden auf dem Rechner des Nutzers gespeichert und von diesem an unserer Seite übermittelt.
            Daher haben Sie als Nutzer auch die volle Kontrolle über die Verwendung von Cookies. Durch eine Änderung
            der Einstellungen in Ihrem Internetbrowser können Sie die Übertragung von Cookies deaktivieren oder einschränken.
            Bereits gespeicherte Cookies können jederzeit gelöscht werden. Dies kann auch automatisiert erfolgen.
            Werden Cookies für unsere Website deaktiviert, können möglicherweise nicht mehr alle Funktionen der
            Website vollumfänglich genutzt werden.
        </p>
        <p>
            Wir verwenden auf unserer Website darüber hinaus Cookies, die eine Analyse des Nutzungsverhaltens der
            Nutzer ermöglichen. Hierzu lesen Sie bitte unsere Angaben unter C.
        </p>
    </div>


    <div class="row section">
        <h5> E. Kontaktformular (Kontakt per E-Mail)</h5>
        <p>
            Auf unserer Webseite ist ein Kontaktformular vorhanden, welches für die elektronische Kontaktaufnahme genutzt
            werden kann. Nimmt ein Nutzer diese Möglichkeit wahr, so werden die in der Eingabemaske eingegeben Daten an
            uns übermittelt und gespeichert. Diese sind in der Regel Ihre E-Mail-Adresse, Name und Vornamen. Über die
            konkrete Verarbeitung der Daten informieren wir Sie im Rahmen des Nutzungsvorgangs und holen Ihre Einwilligung
            ein. Zudem wird auf diese Datenschutzerklärung verwiesen. Die Daten werden ausschließlich für die Verarbeitung
            der Konversation verwendet.
        </p>
        <p>
            Rechtsgrundlage für die Verarbeitung der Daten bei der Nutzung des Kontaktformulars ist bei Vorliegen einer
            Einwilligung des Nutzers Art. 6 Abs. 1 lit. a DSGVO. Die Verarbeitung der personenbezogenen Daten aus der
            Eingabemaske dient uns allein zur Bearbeitung der Kontaktaufnahme. Die Daten werden gelöscht, sobald sie für
            die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Dies dann der Fall, wenn die jeweilige
            Konversation mit dem Nutzer beendet ist bzw. das Anliegen des Nutzers abschließend bearbeitet ist. Beendet
            ist die Konversation dann, wenn sich aus den Umständen entnehmen lässt, dass der betroffene Sachverhalt
            abschließend geklärt ist. Der Nutzer hat jederzeit die Möglichkeit, die Einwilligung zur Verarbeitung der
            personenbezogenen Daten gegenüber den aufgelisteten Ansprechpartnern zu widerrufen.
        </p>
    </div>


    <div class="row section">
        <h5>F. Registrierung</h5>
        <p>
            Auf unseren Webseiten bieten wir Nutzern die Möglichkeit, sich unter Angabe personenbezogener Daten über
            eine Eingabemaske zu registrieren. In der Regel erheben wir Ihre E-Mail-Adresse, Name und Vornamen.
            Über die konkrete Verarbeitung der Daten informieren wir Sie im Rahmen des Registrierungsvorgangs und
            holen Ihre Einwilligung ein. Zudem wird auf diese Datenschutzerklärung verwiesen.
        </p>
        <p>
            Rechtsgrundlage für die Verarbeitung der Daten ist bei Vorliegen einer Einwilligung des Nutzers
            Art. 6 Abs. 1 lit. a DSGVO. Dient die Registrierung der Erfüllung eines Vertrages, dessen Vertragspartei
            der Nutzer ist oder der Durchführung vorvertraglicher Maßnahmen, so ist zusätzliche Rechtsgrundlage für
            die Verarbeitung der Daten Art. 6 Abs. 1 lit. b DSGVO. Eine Registrierung des Nutzers ist für das Bereithalten
            bestimmter Inhalte und Leistungen auf unserer Website bzw. zur Erfüllung eines Vertrages mit dem Nutzer oder zur
            Durchführung vorvertraglicher Maßnahmen erforderlich. Die Daten werden gelöscht, sobald sie für die Erreichung
            des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Dies ist für die während des Registrierungsvorgangs
            erhobenen Daten der Fall, wenn die Registrierung auf unseren Webseiten aufgehoben oder abgeändert wird. Für
            den Registrierungsvorgang zur Erfüllung eines Vertrags oder zur Durchführung vorvertraglicher Maßnahmen
            ist dies dann der Fall, wenn die Daten für die Durchführung des Vertrages nicht mehr erforderlich sind.
            Auch nach Abschluss des Vertrags kann eine Erforderlichkeit, personenbezogene Daten des Vertragspartners
            zu speichern, bestehen, um vertraglichen oder gesetzlichen Verpflichtungen nachzukommen.
        </p>
        <p>
            Als Nutzer haben sie jederzeit die Möglichkeit, die Registrierung aufzulösen. Die über Sie gespeicherten
            Daten können Sie jederzeit abändern lassen, die Vorgehensweise ist beim konkreten Registrierungsvorgang
            näher beschrieben. Sind die Daten zur Erfüllung eines Vertrages oder zur Durchführung vorvertraglicher
            Maßnahmen erforderlich, ist eine vorzeitige Löschung der Daten nur möglich, soweit nicht vertragliche oder
            gesetzliche Verpflichtungen einer Löschung entgegenstehen.
        </p>
    </div>

    <div class="row section">
        <h5>G. Datenübermittlung</h5>
        <p>
            Die Verwaltung und Speicherung Ihrer persönlichen Angaben erfolgt bei ausgewählten Diensten
        </p>
        <ul>
            <li>Kontaktformular (Abschnitt E)</li>
            <li>Registrierung für die Abonnementverwaltung „abo.mpg.de“ (Abschnitt F)</li>
        </ul>
        <p>
        Ihre personenbezogenen Daten werden nur in den gesetzlich erforderlichen Fällen bzw. zur Strafverfolgung
            aufgrund von Angriffen auf unsere Netzinfrastruktur an staatliche Einrichtungen und Behörden übermittelt.
            Eine Weitergabe zu anderen Zwecken an Dritte findet nicht statt.
        </p>

    </div>

    <div class="row section">
        <h5>H. Recht der betroffenen Personen</h5>
            <p>
                Als betroffene Person, deren personenbezogene Daten im Rahmen der oben genannten Dienste erhoben werden,
                haben Sie grundsätzlich folgende Rechte, soweit in Einzelfällen keine gesetzlichen Ausnahmen zur
                Anwendung kommen:
            </p>
                <ul>
                    <li>Auskunft (Art. 15 DS-GVO)</li>
                    <li>Berichtigung (Art. 16 DS-GVO)</li>
                    <li>Löschung (Art. 17 Abs. 1 DS-GVO)</li>
                    <li>Einschränkung der Verarbeitung (Art. 18 DS-GVO)</li>
                    <li>Datenübertragbarkeit (Art. 20 DS-GVO)</li>
                    <li>Widerspruch gegen die Verarbeitung (Art. 21 DS-GVO)</li>
                    <li>Widerruf der Einwilligung (Art. 7 Abs. 3 DS-GVO)</li>
                    <li>Beschwerderecht bei der Aufsichtsbehörde (Art. 77 DS-GVO). Dies ist für die MPG das Bayerische
                        Landesamt für Datenschutzaufsicht, Postfach 606, 91511 Ansbach.</li>
                </ul>
    </div>

    <div class="row section">
        <h5>Google Fonts</h5>
            <p>
                Wir binden die Schriftarten ("Google Fonts") des Anbieters Google LLC, 1600 Amphitheatre Parkway,
                Mountain View, CA 94043, USA, ein. Datenschutzerklärung: <a href="https://www.google.com/policies/privacy/"
                target="_blank" rel="noopener"> https://www.google.com/policies/privacy/</a>,
                Opt-Out: <a href="https://adssettings.google.com/authenticated" target="_blank" rel="noopener">
                    https://adssettings.google.com/authenticated</a>.
            </p>
    </div>
</div>

