<div class="help-modal-content">
    <h5>Privacy Policy</h5>
    <hr>

    <div class="row section">
        <h6>Data Collection and Processing</h6>
        <p>
            We wish to make our websites as appealing and comfortable for you as possible. To this end, analysis of statistical information relating
            to your utilisation of our websites and the collection of technical details on the web browsers
            and computers of our online visitors is very helpful for us.<br>
            We must advise you, however, that your IP address and perhaps other data related to your person will be transmitted
            to the service provider concerned and may be stored or analyzed there.
        </p>
        <p>
            The data protection officer of the Max Planck Society is available for questions concerning the topic of data protection at
            dsb[at]gv.mpg.de or +49 89 2108-1554.
        </p>
    </div>

    <div class="row section">
        <h6>Personalized Services / Newsletter</h6>
        <p>
            Insofar as you have decided to take advantage of a personalized service such as registering an account,
            subscribing to newsletter services or completing contact forms, the required personal data are stored.<br>
            As a rule, this includes your e-mail address, first and surname, as well as other data – depending on the type of offer.
            Your data are used only in order to provide you with the desired offer to your satisfaction and in order to respond to any inquiries.
            If you no longer wish to take advantage of a personalized service, your personal data will be deleted after you cancel your registration.
        </p>
    </div>

    <div class="row section">
        <h6>Data Transmission</h6>
        <p>
            Your personal data will only be transmitted to government organizations and authorities in legally required cases and/or for prosecution
            in the event of attacks on our network infrastructure.
            Your personal data are not provided to third parties for any other purpose.
        </p>
    </div>

    <div class="row section">
        <h6>Data Collection Declaration</h6>
        <p>
            Insofar as you have not objected, the following data are being recorded by our central server and included in the usage statistics.
        </p>
    </div>

    <div class="row section">
        <h6>Basic data:</h6>
        <ul>
            <li>IP address, shortened for anonymity </li>
            <li>A cookie to distinguish different visitors </li>
            <li>The previously visited URL (referrer), insofar as it has been transmitted by your browser </li>
            <li>Name and version of your operating system </li>
            <li>Name, version and language settings of your browser </li>
        </ul>
    </div>

    <div class="row section">
        <h6>Additional data, if JavaScript is active:</h6>
        <ul>
            <li>URLs visited in this website </li>
            <li>Time stamps of visits </li>
            <li>Types of HTML requests </li>
            <li>Screen resolution and colour depth</li>
            <li>Technical processes and formats supported by your browser
                (e.g. cookies, Java, Flash, PDF, WindowsMedia, QuickTime, RealPlayer, Director, SilverLight, Google Gears) </li>
        </ul>
    </div>

    <div class="row section">
        <h6>Application log files</h6>
        <p>
            For technical reasons, our servers and applications save personal details upon your visit to our websites in their log files.
            However, these data are only used for the immediate provision of our services,
            for troubleshooting purposes or for attack prevention and are deleted automatically after a short period of time.
        </p>
    </div>

    <div class="row section">
        The following data are saved temporarily:
        <ul>
            <li> Your IP address </li>

            <li> Date and time of your website visit </li>

            <li> The address of the website visited</li>

            <li> The address of the previously visited website (referrer)</li>

            <li> Name and version of your browser / operating system (insofar as it has been transmitted by your browser)</li>

            <li> Your E-mail address (e.g. when using the contact form)</li>

        </ul>
    </div>

</div>