<div id="privacyPolicyContent">
    <h6>Data Collection and Processing</h6>

    <p>We wish to make our websites as appealing and comfortable for you as possible. To this end, analysis of statistical information relating to your utilisation of our websites and the collection of technical details on the web browsers and computers of our online visitors is very helpful for us.</p>
    <br>
    <p>We employ the web analytics tool Piwik for these purposes, which uses cookies and JavaScript to collect information on your computer and automatically forwards it to us (pseudonymised user data). Storing and analysis of data takes place on a central Piwik server, which is operated by the Max Planck Society. Of course, you may object to the collection of data. Objecting is very simple, it only takes one click. Further information on which data is collected and on your options to object is available in our Data Collection Declaration.</p>
    <br>
    <p>
    We must advise you, however, that your IP address and perhaps other data related to your person will be transmitted to the service provider concerned and may be stored or analyzed there.
    </p>
    <br>
    <p>
    The data protection officer of the Max Planck Society is available for questions concerning the topic of data protection at dsb[at]gv.mpg.de or +49 89 2108-1554.
    </p>

    <br>

    <h6>Personalized Services / Newsletter</h6>


    <p>Insofar as you have decided to take advantage of a personalized service such as registering an account, subscribing to newsletter services or completing contact forms, the required personal data are stored. As a rule, this includes your e-mail address, first and surname, as well as other data – depending on the type of offer. Your data are used only in order to provide you with the desired offer to your satisfaction and in order to respond to any inquiries. If you no longer wish to take advantage of a personalized service, your personal data will be deleted after you cancel your registration.
    </p>
    <br>


    <h6>Data Transmission</h6>


    <p>Your personal data will only be transmitted to government organizations and authorities in legally required cases and/or for prosecution in the event of attacks on our network infrastructure. Your personal data are not provided to third parties for any other purpose.</p>

    <br>

    <h6>Data Collection Declaration</h6>

    <p>
    For statistical data collection purposes, the Max Planck Society employs the web analytics tool Piwik. It is used by the central website www.mpg.de, but also by most of the Max Planck Institutes and by many project websites related to the Max Planck Society.
    </p>
    <br>
    <p>
    The following instructions and settings are relevant for all websites utilising the central Piwik server. A notice to this effect is included in the imprint of the concerned website.
    </p>
    <br>
    <h6>Options to Object</h6>
    <p>
    You have the following independent options to object to the collection of data by the central Piwik server:
        <br>
        <br>
        1. Activate your browser’s Do-Not-Track setting. As long as this setting is active, our central Piwik server will not store any data about you. Note: As a rule, the Do-Not-Track setting is only valid for the specific computer and the specific browser in which you activate this setting. Should you use more than one computer or browser, please make sure to activate the Do-Not-Track setting on all of them separately.
        <br>
        <br>
        2. You can also use our Opt-out function. To do so, please tick the box below, to stop the
        collection of data or to activate it again. As long as the box is deactivated, our central Piwik server will not store any data about you. Note: For the Opt-out function, we need to save a special recognition cookie to your browser. If you delete this cookie or use another computer/browser, please make sure to object to the collection of data again on this website.
    </p>
    <br>
    <h6>Data Collected by Piwik</h6>
    <p>Insofar as you have not objected, the following data are being recorded by our central Piwik server and included in the usage statistics.</p>
    <br>
    <p>Basic data:</p>
    <ul>
        <li><p> IP address, shortened for anonymity </p></li>

        <li><p> A cookie to distinguish different visitors </p></li>

        <li><p> The previously visited URL (referrer), insofar as it has been transmitted by your browser </p></li>

        <li> <p> Name and version of your operating system </p></li>

        <li><p> Name, version and language settings of your browser </p></li>

    </ul>
    <br>
    <p>Additional data, if JavaScript is active:</p>

    <ul>
        <li><p>  URLs visited in this website </p></li>

        <li><p> Time stamps of visits </p></li>

        <li><p> Types of HTML requests </p></li>

        <li><p> Screen resolution and colour depth </p></li>

        <li><p> Technical processes and formats supported by your browser (e.g. cookies, Java, Flash, PDF, WindowsMedia, QuickTime, RealPlayer, Director, SilverLight, Google Gears) </p></li>

    </ul>
    <br>

    <h6>Application log files</h6>
    <p>
    For technical reasons, our servers and applications save personal details upon your visit to our websites in their log files. However, these data are only used for the immediate provision of our services, for troubleshooting purposes or for attack prevention and are deleted automatically after a short period of time.</p>
    <br>
    <p>The following data are saved temporarily:</p>

    <ul>
        <li><p> Your IP address </p></li>

        <li><p>Date and time of your website visit</p> </li>

        <li><p> The address of the website visited</p></li>

        <li><p> The address of the previously visited website (referrer)</p></li>

        <li><p> Name and version of your browser / operating system (insofar as it has been transmitted by your browser)</p></li>

        <li><p> Your E-mail address (e.g. when using the contact form)</p></li>

    </ul>
    <br>
    <h6>Piwik opt-out</h6>
    <p>
        
    </p>

    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

</div>