<!-- For Foundation Icons, put this in your head -->

<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">



  <!-- Footer -->
<div class="row footer fullwidth" >
            <div class="large-6 columns">
                <h6> Contact Info</h6>

                <a href="#"><span>Phone</span> </a>
                <a href="#"><span>Email</span> </a>
                <a href="#"><span>Adress</span> </a>
            </div>
            <div class="large-6 columns">
                <h6> Site Map</h6>

                <a href="#">About us</a>
                <a href="#">Services</a>
                <a href="#">Contact us</a>
            </div>
</div>
<div class="spacer">&nbsp;</div>
<socket class="socket">

    <div class="socket"> © 2008-2016, Dept. of Protein Evolution at the Max Planck Institute for Developmental Biology, Tübingen </div>
    <div class="bottomline">&nbsp;</div>

</socket>