<!-- For Foundation Icons, put this in your head -->

<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">



  <!-- Footer -->

<footer class="footer">

  <div class="row full-width">


    <div class="large-6 columns">

      The Bioinformatics Toolkit is a platform that integrates a great variety of tools for protein sequence analysis. Many tools are developed in-house, and several public tools are offered with extended functionality.

    </div>

  </div>



</footer>