
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

</div>


<div data-sticky-container class="show-for-large">
    <div class="top-bar sticky fullwidth row" id="stickyheader" style="width:100%;" data-sticky data-options="marginTop:0;" data-top-anchor="top" data-btm-anchor="blaststats:bottom">
        <div class="top-bar-left large-1 columns show-for-large">
            <div class="switch tiny">
                <input class="switch-input" id="tinySwitch" type="checkbox" name="exampleSwitch">
                <label class="switch-paddle" for="tinySwitch">
                    <span class="show-for-sr">Tiny Sandwiches Enabled</span>
                </label>
            </div>
        </div>
        <div class="top-bar-title large-11 columns">
            <div class="drops">


                <button class="button" data-open="searchsection"> Search</button>

                <button  class="button" type="button" >Alignment</button>

                <button  class="button" type="button" >Sequence Analysis</button>

                <button  class="button" type="button" >2aryStructure</button>

                <button  class="button" type="button" >3aryStructure</button>

                <button  class="button" type="button" >Classification</button>

                <button  class="button" type="button" >Utilities</button>

        </div>
   </div>
</div>


    <div class="small reveal" id="searchsection" data-reveal>

        @sections.search()

        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>


<script type="text/javascript">

                $(function(){
                    // Check the initial Poistion of the Sticky Header
                    var stickyHeaderTop = $('#stickyheader').offset().top;

                    $(window).scroll(function(){
                        if( $(window).scrollTop() > stickyHeaderTop ) {
                            $('#stickyheader').css({position: 'fixed', top: '0px'});
                            $('#stickyalias').css('display', 'block');
                        } else {
                            $('#stickyheader').css({position: 'static', top: '0px'});
                            $('#stickyalias').css('display', 'none');
                        }
                    });
                });

                $("a[href='#']").click(function() {
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                });

                $('#section').click(function() {
                    $('html,body').animate({scrollTop: $(this).offset().top}, 500);
                });



</script>

<!--     <div class="top-bar-right">
            <ul class="dropdown menu" id="toolsdropdown" style="opacity: 0.9;" data-dropdown-menu data-closing-time="20">
                <li>
                    <a href="#" id="section">Search</a>
                    <ul class="menu vertical" id="dropdowns">
                        <div class="row fullwidth">
                            <li><a href="/#/tools/hmmer3" id="section">Hmmer3</a></li>
                            <li><a  href="/#/tools/psiblast" id="section">PSI-BLAST</a></li>
                            <li><a  href="/#/tools/csblast" id="section">CS-BLAST</a></li>
                        </div>

                    </ul>
                </li>
                <li>
                    <a href="#" id="section">Alignment</a>
                    <ul class="menu vertical" id="dropdowns">
                        <li><a href="/#/tools/alnviz" id="section">AlignmentViewer</a></li>
                        <li><a href="/#/tools/tcoffee" id="section">T-Coffee</a></li>
                        <li><a href="/#/tools/mafft" id="section">MAFFT</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">SeqAnalysis</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">2aryStructure</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">3aryStructure</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">Classification</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">Utils</a>
                    <ul class="menu vertical" id="dropdowns">
                        <li><a  href="/#/reformat" id="section">Reformat</a></li>
                    </ul>
                </li>

                <li>

                    <div class="globalsearch" style="padding-left: 2em;">

                            <form>
                                <div class="row collapse">
                                    <div class="large-9 columns">
                                        <input type="search" placeholder="Elasticsearch">
                                    </div>
                                    <div class="large-3 columns">
                                        <span class="postfix"><i class="fi-magnifying-glass"></i></span>
                                    </div>
                                </div>
                            </form>

                    </div>

                </li>
            </ul>
        </div>


    </div> -->
</div>

