@import models.tools.Tool
@(tools: Iterable[Tool])(implicit messages: Messages, request: RequestHeader)

<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

</div>

<ul class="tabs slicky" data-tabs id="navbar-tabs">
    <li class="tabs-title" id="first-tab"><a href="#panel1">Search</a></li>
    <li class="tabs-title"><a href="#panel2">Alignment</a></li>
    <!-- all tools for testing in this section -->
    <li class="tabs-title"><a href="#panel3">Sequence Analysis</a></li>
    <li class="tabs-title"><a href="#panel4">2ary Structure</a></li>
    <li class="tabs-title"><a href="#panel5">3ary Structure</a></li>
    <li class="tabs-title"><a href="#panel6">Classification</a></li>
    <li class="tabs-title" id="last-tab"><a href="#panel7">Utils</a></li>
</ul>

<div class="tabs-content" data-tabs-content="navbar-tabs" style="padding-bottom:15px;">


    <div class="tabs-panel" id="panel1">
        <div class="toolsec slicky">
        @for(tool <- tools.filter(_.category == "search")){
            <a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a>
        }
        </div>
    </div>



    <div class="tabs-panel" id="panel2">
        <div class="toolsec slicky">
            <a id="alnviz" href="/#/tools/alnviz">AlignmentViewer</a>
        @for(tool <- tools.filter(_.category == "alignment")){
            <a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a>
        }
        </div>
    </div>



    <div class="tabs-panel" id="panel3">
        <div class="toolsec slicky">
        @for(tool <- tools.filter(_.category == "seqanal")){
            <a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a>
        }
        </div>
    </div>

    <div class="tabs-panel" id="panel4">
        <div class="toolsec slicky">
        @for(tool <- tools.filter(_.category == "2ary")){
            <a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a>
        }
        </div>
    </div>

    <div class="tabs-panel" id="panel5">
        <div class="toolsec slicky">
        @for(tool <- tools.filter(tool => tool.category == "3ary" || tool.optional == "3ary")){
            <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </div>
    </div>

    <div class="tabs-panel" id="panel6">
        <div class="toolsec slicky">
        @for(tool <- tools.filter(_.category == "classification")){
            <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </div>
    </div>

    <div class="tabs-panel" id="panel7">
        <div  class="toolsec slicky">
            @for(tool <- tools.filter(_.category == "utils")){
                <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
            }
            <li><a id="reformat" href="/#/tools/reformat">Reformat</a></li>
        </div>
    </div>
</div>


<script>
    $(document).ready(function(){
        // TODO move this into a JS file. also might need to have a better slider?
        var slickConf = {infinite: false, slidesToShow: 4, slidesToScroll: 0, variableWidth: true, arrows: false };
        $('.slicky').slick(slickConf);
    });
</script>
