<ul class="vertical menu" data-drilldown>
    <li>
        <a>Search</a>
        <ul class="vertical menu">
            <li><a href='/#/tools/hmmer3'>Hmmer3</a></li>
            <li><a href='/#/tools/psiblast'>PSI-Blast</a></li>
            <li><a href='/#/tools/csblast'>CS-Blast</a></li>
        </ul>
    </li>
    <li>
        <a>Alignment</a>
        <ul class="vertical menu">
            <li><a href='/#/tools/alnviz'>AlignmentViewer</a></li>
            <li><a href='/#/tools/tcoffee'>T-Coffee</a></li>
            <li><a href='/#/tools/mafft'>MAFFT</a></li>
        </ul>
    </li>
    <li>
        <a>Sequence Analysis</a>
        <ul class="vertical menu">

                            </ul>
    </li>
    <li>
        <a>2ary Structure</a>
        <ul class="vertical menu">

                            </ul>

    </li>
    <li>
        <a>3ary Structure</a>
        <ul class="vertical menu">

                            </ul>
    </li>
    <li>
        <a>Classification</a>
        <ul class="vertical menu">

                            </ul>
    </li>
    <li>
        <a>Utilities</a>
        <ul class="vertical menu">
            <li><a href='/#/reformat'>Reformat</a></li>
        </ul>
    </li>
</ul>