@import models.tools.Tool
@(tools: Iterable[Tool])(implicit messages: Messages, request: RequestHeader)

<ul class="vertical menu" id="responsive-menu" data-drilldown>
    <li>
        <a>Search</a>
        <ul class="vertical menu">
            @for(tool <- tools.filter(_.category == "search")) {
                <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
            }
        </ul>
    </li>
    <li>
        <a>Alignment</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(_.category == "alignment")) {
            <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>Sequence Analysis</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(_.category == "seqanal")) {
            <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>2ary Structure</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(_.category == "2ary")) {
            <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>

    </li>
    <li>
        <a>3ary Structure</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(tool => tool.category == "3ary" || tool.optional == "3ary")) {
            <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>Classification</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(_.category == "classification")) {
            <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>Utilities</a>
        <ul class="vertical menu">
            @for(tool <- tools.filter(_.category == "utils")) {
                <li><a id="@tool.toolNameAbbrev" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
            }
            <li><a href='/#/reformat'>Reformat</a></li>
        </ul>
    </li>
</ul>