

        <form class="jobsearchform" id="jobsearchform">
        <div id="jobsearchformdiv" align="left" style="display: flex;">
            <input type="text" placeholder="Show results by Job ID" class="jobsearch" id="jobsearch">
            <div id="magnifier" class="button" align="center" data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Search for job" >
                <span><i class="icon-magnifying" id="iconsidebar" style="color: gray;"></i></span>
            </div>
        </div>
        </form>
        <!--<div>
            <div class="button sidebar-button" align="center" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Delete selected jobs" onclick="deleteIDs();">
               <span><i class="icon-trash_can" style="color: grey;"></i></span>
            </div>

            <div class="button sidebar-button" align="center" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Clear selected jobs from joblist" onclick="clearIDs();">
                <span style="color: grey; font-size: 0.85em;">Clear selected jobs</span>
            </div>

            <div class="check button sidebar-button" align="center" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Select all jobs in your job list. The size of the job widget is limited to 25 jobs.">
                <span style="color: grey; font-size: 0.85em;">Select all jobs</span>
            </div>
        </div>
        -->

        <div class="button job-handle" style="display: flex;">
            <div style=" border-right: 1px solid lightgray;" onclick="deleteIDs();" data-tooltip title="Delete selected jobs from database">Delete</div>
            <div onclick="clearIDs();" data-tooltip title="Clear selected jobs from joblist">Clear</div>

        </div>

        <div class="button job-button" style="display: flex;">
            <div onclick="selectAllJobs()"  style="padding-right: 1em;">All</div>
            <div class="idsort">ID</div>
            <div class="toolsort">Tool</div>
        </div>


        <div id="joblist"></div>



    <script type="text/javascript">

        var $divs = $("div.job");

        $('.toolsort').on('click', function () {
            console.log(JSON.stringify(jobs.vm.list));
            m.startComputation();
            jobs.vm.alphaSort();
            m.endComputation();

            console.log(JSON.stringify(jobs.vm.list));
        });


        $('.idsort').on('click', function () {
            console.log(JSON.stringify(jobs.vm.list));
            m.startComputation();
            jobs.vm.numericSort();
            m.endComputation();
        });




        function deleteIDs(){

            var IDs = $('input:checked').map(function(){
                return $(this).val();
            });

            if(IDs.length > 0 && confirm("Do you really want to delete the selected jobs permanently?")) {
                m.startComputation();
                for (var i = 0; i < IDs.length; i++){
                    jobs.vm.delete(IDs[i], true);
                }
                m.endComputation();

            }
        }

        function clearIDs(){

            var IDs = $('input:checked').map(function(){
                return $(this).val();
            });

            if(IDs.length > 0 && confirm("Do you really want to clear the selected jobs from the joblist?")) {
                m.startComputation();
                for (var i = 0; i < IDs.length; i++){
                    jobs.vm.delete(IDs[i], false);
                }
                m.endComputation();

            }
        }

        function selectAllJobs(){

        $('input:checkbox.sidebarCheck').each(function () {
            var checked = !$(this).data('checked');
            $('input:checkbox.sidebarCheck').prop('checked', checked);
            $(this).val(checked ? 'uncheck all' : 'check all' )
            $(this).data('checked', checked);
        });
}


        </script>