
        <form class="jobsearchform" id="jobsearchform">
        <div id="jobsearchformdiv" align="left" style="display: flex;">
            <input type="text" placeholder="Show results by Job ID" class="jobsearch" id="jobsearch">
            <div id="magnifier" class="button" align="center" data-tooltip aria-haspopup="true"  data-disable-hover="false" title="Search for job" >
                <span><i class="icon-magnifying" id="iconsidebar" style="color: gray;"></i></span>
            </div>
        </div>
        </form>
        <!--<div>
            <div class="button sidebar-button" align="center" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Delete selected jobs" onclick="deleteIDs();">
               <span><i class="icon-trash_can" style="color: grey;"></i></span>
            </div>

            <div class="button sidebar-button" align="center" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Clear selected jobs from joblist" onclick="clearIDs();">
                <span style="color: grey; font-size: 0.85em;">Clear selected jobs</span>
            </div>

            <div class="check button sidebar-button" align="center" data-tooltip aria-haspopup="true" data-disable-hover="false" title="Select all jobs in your job list. The size of the job widget is limited to 25 jobs.">
                <span style="color: grey; font-size: 0.85em;">Select all jobs</span>
            </div>
        </div>
        -->


        <div id="joblist"></div>