
    <div class="row collapse">
        <form class="jobsearchform">
        <div align="left">
            <input type="text" placeholder="Show results by Job ID" class="jobsearch">
        </div>
        <div  align="center">
            <input type="submit" class="small expanded secondary hollow button" value="Search" />
        </div>
        </form>
    </div>

<!-- Job Code -->
<table id="jobcode">
        <tr>
            <td class="q job-status-fade">Queued</td>
        </tr>
        <tr>
            <td class="r job-status-fade">Running</td>
        </tr>
        <tr>
            <td class="d job-status-fade">Done</td>
        </tr>
        <tr>
            <td class="e job-status-fade">Error</td>
        </tr>
</table>





<table id="jobtable" class="hover">
    <tbody id="jobtable-rows">
        <tr>
        </tr>
    </tbody>
</table>

