@(sectionname : String)
<div class="top-bar">
    <div class="top-bar-title logotext">
        <!--@sectionname-->

    </div>
    <div class="advancedsearch" style="margin-top: 40px; width: 500px;">
    <input type="text" placeholder="Advanced Search" style="width: 500px; height: 35px">
    </div>



    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="">Alignment</a>
                <ul class="menu vertical">
                    <li><a href="/tools/alnviz">Alignment Visualizer</a></li>
                    <li><a href="/tools/tcoffee">T-Coffee</a></li>
                    <li><a href="/tools/hmmer3">Hmmer3</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>