@(sectionname : String)
<div class="top-bar">
    <div class="top-bar-title logotext">
        <!--@sectionname-->

    </div>
    <div class="advancedsearch top-bar-title" style="margin-top: 40px; width: 500px;">
    <input type="text" placeholder="Advanced Search" style="width: 500px; height: 35px">
    </div>



    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>
            <li>
                <a href="">Alignment</a>
                <ul class="menu vertical">
                   @for(tool <- Tool.tools){
                       <li><a id="@tool.toolNameAbbreviation" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>