@import play.api.mvc.RequestHeader
@import models.tools.Hmmer3
@(inputForm: Form[Hmmer3])(implicit messages: Messages, request: RequestHeader)

@helper.textarea(field = inputForm("sequences"), args = 'rows -> 20, 'cols -> 50,
  '_label -> "Enter sequences to be aligned in Multi-FASTA format.",
  'id -> "sequences")

@helper.checkbox(field = inputForm("mlalign_id_pair"), '_showConstraints -> false)
@helper.checkbox(field = inputForm("mfast_pair"), '_showConstraints -> false)
@helper.checkbox(field = inputForm("mslow_pair"), '_showConstraints -> false)
