<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<div data-sticky-container>
    <div class="top-bar sticky fullwidth" id="stickyheader" style="opacity: 0.9;" data-sticky data-stick-to>
        <div class="top-bar-left">
            <div class="switch tiny">
                <input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
                <label class="switch-paddle" for="exampleSwitch" >
                    <span class="show-for-sr"></span>
                </label>
            </div>
        </div>
        <div class="top-bar-right">
            <ul class="dropdown menu" id="toolsdropdown" style="opacity: 0.9;" data-dropdown-menu data-closing-time="20">
                <li>
                    <a href="#" id="section">Search</a>
                    <ul class="menu vertical" id="dropdowns">
                        <li><a href="/#/tools/hmmer3" id="section">Hmmer3</a></li>
                        <li><a  href="/#/tools/psiblast" id="section">PSI-BLAST</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">Alignment</a>
                    <ul class="menu vertical" id="dropdowns">
                        <li><a href="/#/tools/alnviz" id="section">AlignmentViewer</a></li>
                        <li><a href="/#/tools/tcoffee" id="section">T-Coffee</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">SeqAnalysis</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">2aryStructure</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">3aryStructure</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">Classification</a>
                    <ul class="menu vertical" id="dropdowns">
                    </ul>
                </li>
                <li>
                    <a href="#" id="section">Utils</a>
                    <ul class="menu vertical" id="dropdowns">
                        <li><a  href="/#/tools/reformat" id="section">Reformat</a></li>
                    </ul>
                </li>

                <li>

                    <div class="globalsearch" style="padding-left: 2em;">

                            <form>
                                <div class="row collapse">
                                    <div class="large-9 columns">
                                        <input type="search" placeholder="Elasticsearch">
                                    </div>
                                    <div class="large-3 columns">
                                        <span class="postfix"><i class="fi-magnifying-glass"></i></span>
                                    </div>
                                </div>
                            </form>

                    </div>

                </li>
            </ul>
        </div>


    </div>
</div>


<script type="text/javascript">

                $(function(){
                    // Check the initial Poistion of the Sticky Header
                    var stickyHeaderTop = $('#stickyheader').offset().top;

                    $(window).scroll(function(){
                        if( $(window).scrollTop() > stickyHeaderTop ) {
                            $('#stickyheader').css({position: 'fixed', top: '0px'});
                            $('#stickyalias').css('display', 'block');
                        } else {
                            $('#stickyheader').css({position: 'static', top: '0px'});
                            $('#stickyalias').css('display', 'none');
                        }
                    });
                });

                $("a[href='#']").click(function() {
                    $("html, body").animate({ scrollTop: 0 }, "slow");
                    return false;
                });

                $('#section').click(function() {
                    $('html,body').animate({scrollTop: $(this).offset().top}, 500);
                });


</script>