
    <div class="row collapse">
        <form class="jobsearchform" id="jobsearchform">
        <div align="left">
            <input type="text" placeholder="Show results by Job ID" class="jobsearch" id="jobsearch">
        </div>
        <div  align="center">
            <input type="submit" class="small expanded secondary button" value="Search" />
        </div>
        </form>
        <div align="center">
            <input id="showjobs" type="button" class="small expanded secondary button" value="Show all Jobs" />
        </div>

        <form class="delete_id">
            <div class="tiny expanded button-group">
            <input id="delete" type="button" class="small alert button masterTooltip" title="This will delete your checked jobs permanently from our database." value="Delete sel. Jobs" onclick="deleteIDs();">
            <input id="select" type="button" class="check small secondary button masterTooltip" title="Select all jobs in your job list. The size of the job widget is limited to 5 jobs (for development, will be increased to 25 for production)." value="Select all Jobs"/>

            </div>
            <div>&nbsp;</div>
            <!-- Job Code -->
<table id="jobtable">
    <tbody id="jobtable-rows">

    </tbody>
</table>
    </form> <!-- form must close here -->
    </div>
    <script type="text/javascript">

              $(".switch-paddle").click( function(){
                  $(this).toggleClass("isLeft");
                      if ( $(this).hasClass("isLeft") ) {
                          $('#sidebar-switch').stop().animate({marginLeft:"-17.313em"}, 200);

                      } else {
                          $("#sidebar-switch").stop().animate({marginLeft:"0em"}, 200);
                       }

                  return false;
              });




        function deleteIDs(){

            var IDs = $('input:checked').map(function(){

                return $(this).val();
            });

            if(IDs.length > 0 && confirm("Do you really want to delete the selected jobs permanently?")) {
                m.startComputation();
                for (var i = 0; i < IDs.length; i++){

                    jobs.vm.delete(IDs[i]);
                }
                m.endComputation();

            }
        }

        $('.check:button').click(function(){
            var checked = !$(this).data('checked');
            $('input:checkbox').prop('checked', checked);
            $(this).val(checked ? 'uncheck all' : 'check all' )
            $(this).data('checked', checked);
        });

        $(document).ready(function() {
// Tooltip only Text
                    $('.masterTooltip').hover(function(){

                        // Hover over code
                        var title = $(this).attr('title');
                        $(this).data('tipText', title).removeAttr('title');
                        $('<p class="tooltip"></p>')
                                .text(title)
                                .appendTo('body')
                                .fadeIn('fast');
                    }, function() {
                        // Hover out code
                        $(this).attr('title', $(this).data('tipText'));
                        $('.tooltip').remove();
                    }).mousemove(function(e) {
                        var mousex = e.pageX - 60; //Get X coordinates
                        var mousey = e.pageY + 10; //Get Y coordinates
                        $('.tooltip')
                                .css({ top: mousey, left: mousex })
                    });
                });
        </script>