@import play.api.mvc.RequestHeader
@()(implicit messages: Messages, request: RequestHeader)

<dl class="sub-nav">
    <dd><a href="#">Help</a></dd>
    <dd><a href="#">Disclaimer</a></dd>
    <dd><a href="http://www.eb.tuebingen.mpg.de/impressum" target="_blank">Imprint</a></dd>
    <dd><a href="#">Tool Versions</a></dd>
    <dd><a href="#">Tool Statistics</a></dd>
    <dd><a href="#">DB Statistics</a></dd>
    <dd><a href="#">User Statistics</a></dd>
    <dd><a href="/contact">Contact</a></dd>
    <dd><a href="#">Personal Databases</a></dd>
    <dd><a href="#">PDBalert</a></dd>
    <dd><a href="#" id="auth-link" data-toggle="auth-dropdown" onclick="$('.dropdown-pane').show();">Sign in</a></dd>
</dl>


<script src="@routes.Assets.at("scripts/auth.js")"></script>
<div id="data-closer">
<div class="dropdown-pane" id="auth-dropdown" data-dropdown data-auto-focus="true" data-close-on-click="true" data-animation-out="spin-out">
    <ul class="tabs" id="auth-tab" data-tabs>
        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Sign In</a></li>
        <li class="tabs-title"><a href="#panel2">Sign Up</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="auth-tab">
        <div class="tabs-panel is-active" id="panel1">
            @authform.signin(models.auth.SignIn.inputForm, "")
        </div>
        <div class="tabs-panel" id="panel2">
            @authform.signup(models.auth.SignUp.inputForm)
        </div>
    </div>
</div>
</div>
