@import play.api.mvc.RequestHeader
@import models.tools.ToolModel.Alnviz
@(inputForm: Form[(String, String)])(implicit messages: Messages, request: RequestHeader)

<h4>AlignmentViewer</h4>
    <!-- Input form elements derived from the Input Data Model -->
<script src='@routes.Assets.at("javascripts/sampleseqs.js")' type="text/javascript" ></script>
<div id="alnviz_ta">
@helper.textarea(field = inputForm("alignment"), args = 'rows -> 20, 'cols -> 30,
    'placeholder -> "Enter sequence alignment",
    '_label -> "",
    'id -> "alignment", '_showConstraints -> false)
</div>


<div id="alnviz_ctl" >
    <div class="callout" id="alert"  hidden>
    </div>
    <button class="secondary button" onclick="initMSA()">View Alignment </button>
    <div class="large-6 columns" id="alnvizmodal" style="float: left">

        <div id="menuDiv"></div>
        <div  id="yourDiv"></div>
    </div>




</div>


<script src="@routes.Assets.at("javascripts/reformat.js")" type="text/javascript"></script>
<script>
        var seq = ">gi|119391784|emb| \n CAJPECEADGIIQSVNWGTPGLSNEGLVIGFNVLLETGRHVAANNISQTLMEELTANAKEHGEDYYNGWACQVAYMEETSDGSLRHPSFVMFR \n >gi|72527918|gb|AAZ7297 \n PSEEADGHVVRPVWGTEGLANEGMVIGFDVMLENGMEVSATNISRALMSEFTENVKSDPDYYKGWACQITYMEETPDGSLRHPSFDQWR";

        function initMSA(){


            // this is a way how you use a bundled file parser
            msa = require("msa");

            var opts = {colorscheme: {"scheme": "clustal"}};

            opts.el = document.getElementById("yourDiv");
            opts.vis = {
                conserv: false,
                overviewbox: true,
                seqlogo: true,
                labels: true,
                labelName: true,
                labelId: false,
                labelPartition: false,
                labelCheckbox: false
            };
            opts.zoomer = {
                // Alignment viewer is not scrolling with 'alignmentWidth: "auto"', use fixed numbers instead or
                // use script for handling
                alignmentHeight: 825, alignmentWidth: 600, labelNameLength: 165, labelWidth: 85,labelFontsize: "13px",labelIdLength: 75,   menuFontsize: "12px",menuMarginLeft: "2px", menuPadding: "0px 10px 0px 0px", menuItemFontsize: "14px", menuItemLineHeight: "14px", autoResize: true
            };
            opts
            //opts.seqs = fasta2json(document.getElementById("alignment").value)
            var ms = new msa.msa(opts);
            var menuOpts = {};
            menuOpts.el = document.getElementById('menuDiv');
            menuOpts.msa = ms;
            var defMenu = new msa.menu.defaultmenu(menuOpts);
            ms.addView("menu", defMenu);

            // call render at the end to display the whole MSA
            ms.render();

        }
        $(document).foundation();
</script>