@import play.api.mvc.RequestHeader
@import models.tools.ToolModel.HHblits
@import models.tel.TEL
@(tel : TEL, inputForm: Form[(String, String, String)])(implicit messages: Messages, request: RequestHeader)


<script src='@routes.Assets.at("javascripts/sampleseqs.js")' type="text/javascript" ></script>


@helper.textarea(field = inputForm("alignment"), args = 'rows -> 20, 'cols -> 50,
    '_label -> "",
    'placeholder -> "Enter multiple sequence alignment",
    'id -> "alignment", '_showConstraints -> false)


<a onClick="$('#submitbutton').prop('disabled', false);$('#alignment').val(hhpred_example());$('#format').val('fas')">Paste example alignment</a>


@helper.select(
    inputForm("alignment_format"),
    helper.options(Values.fullNames.filterKeys(HHblits.parameterValues("alignment_format"))),
    '_label -> "Select alignment format",
    'id -> "format"
)


@helper.select(
    inputForm("hhblitsdb"),
    helper.options(tel.getSetParam("hhblitsdb")),
    '_label -> "Select HMM Database",
    'id -> "hhblitsdb",
    'class -> "forminput")

<script>
        document.getElementById("alignment").value = localStorage.getItem("resultcookie");
        localStorage.removeItem("resultcookie");
</script>