@import play.api.mvc.RequestHeader
@import models.tools.ToolModel.HHpred
@import models.tel.TEL
@(values : Values, tel : TEL, inputForm: Form[(String, String, String)])(implicit messages: Messages, request: RequestHeader)


<script src='@routes.Assets.at("javascripts/sampleseqs.js")' type="text/javascript" ></script>
<script>
        $( function() {
    $( "#tool-tabs" ).tabs();
} );

        document.getElementById("alignment").value = localStorage.getItem("resultcookie");
        localStorage.removeItem("resultcookie");
</script>

<div class="tool-tabs" id="tool-tabs" style="display: none;">
    <ul>
        <li onclick="getIndex(0)" id="tab1"><a href="#tool-tabs-1">Paste Alignment</a></li>
        <li onclick="getIndex(0)" id="tab2"><a href="#tool-tabs-2">Upload File</a></li>
        <li onclick="getIndex(0)" id="tab3"><a href="#tool-tabs-3">Parameter</a></li>
        <span style="float: right; padding: 0.5em 1em 0 0";>HHpred</span>
    </ul>

    <div class="tabs-panel" id="tool-tabs-1">
    @helper.textarea(field = inputForm("alignment"), args = 'rows -> 10, 'cols -> 70,
        '_label -> "",
        'placeholder -> "Enter multiple sequence alignment",
        'id -> "alignment", '_showConstraints -> false)
        <div id="past_example">
            <a onClick="$('#submitbutton').prop('disabled', false);$('#alignment').val(alnviz_example());$('#format').val('fas')">Paste example alignment</a>
        </div>
    </div>
    <div class="tabs-panel" id="tool-tabs-2">
        <label for="exampleFileUpload" class="button">Upload File</label>
        <input type="file" id="exampleFileUpload" class="show-for-sr">

    </div>
    <div class="tabs-panel" id="tool-tabs-3" align="center">
        <div id="parameters" >
            <div>
                @helper.select(
                    inputForm("alignment_format"),
                    helper.options(values.fullNames.filterKeys(HHpred.parameterValues("alignment_format"))),
                    '_label -> "Select alignment format",
                    'id -> "format"
                )

                @helper.select(
                    inputForm("hmmdb"),
                    helper.options(tel.generateValues("hmmdb")),
                    '_label -> "Select HMM Database",
                    'id -> "hmmdb",
                    'class -> "forminput")
            </div>
        </div>



    </div>



</div>


    <script>

            $('#jobPermission').hide();
            $('#clearJobForm').hide();
            $('#prepareJob').hide();


            $("#continue").click(function () {
                $( "#tool-tabs" ).tabs( "option", "active", $("#tool-tabs").tabs('option', 'active')+1 );
            });

            function getIndex(curIndex) {
                var index = $("#tool-tabs").tabs('option', 'active') + curIndex;
                if(index == 0) {
                    $('.secondary').show();
                    $('#jobPermission').hide();
                    $('#clearJobForm').hide();
                    $('#prepareJob').hide();
                } else if (index == 1) {
                    $('.secondary').show();
                    $('#jobPermission').hide();
                    $('#clearJobForm').hide()
                    $('#prepareJob').hide();
                } else if(index == 2) {
                    $('.secondary').show();
                    $('#jobPermission').hide();
                    $('#clearJobForm').hide()
                    $('#continue').hide()
                    $('#prepareJob').hide();
                }
            }


          $(".jobForm").show();
          $(".tool-tabs").show();




    </script>




