@import play.api.mvc.RequestHeader
@import models.tools.Alnviz
@import models.tel.TEL
@(inputForm: Form[(String, String, String)])(implicit messages: Messages, request: RequestHeader)


<script src='@routes.Assets.at("../../../../public/javascripts/alnviz.js")' type="text/javascript" ></script>
@helper.textarea(field = inputForm("alignment"), args = 'rows -> 20, 'cols -> 50,
  '_label -> "",
  'placeholder -> "Enter multiple sequence alignment",
  'id -> "alignment", '_showConstraints -> false)


    <a onClick="$('#submitbutton').prop('disabled', false);$('#alignment').val(alnviz_example());$('#format').val('fas')">Paste example alignment</a>

    @helper.select(
        inputForm("alignment_format"),
        helper.options(Values.fullNames.filterKeys(Alnviz.parameterValues("alignment_format"))),
        '_label -> "Select alignment format",
        'id -> "format"
    )

    @helper.select(
    inputForm("standarddb"),
    helper.options(TEL.getSetParam("standarddb")),
    '_label -> "Select Database",
    'id -> "standarddb"
)