@import play.api.mvc.RequestHeader
@(inputForm: Form[(String, BigDecimal, BigDecimal)])(implicit messages: Messages, request: RequestHeader)
<script src='@routes.Assets.at("javascripts/t_coffee.js")' type="text/javascript" ></script>

@helper.textarea(field = inputForm("sequences"), args = 'rows -> 20, 'cols -> 50,
                    'placeholder -> "Enter sequences to be aligned in Multi-FASTA format",
                    '_label -> "",
                    'id -> "sequences", '_showConstraints -> false)
@helper.inputText(field = inputForm("gapopen"),
'placeholder -> "Open Gaps", '_label -> "",
'id -> "gapopen", '_showConstraints -> false)
@helper.inputText(field = inputForm("offset"),
'placeholder -> "Offset", '_label -> "",
'id -> "offset", '_showConstraints -> false)

<div class="example-alignment">
<a onClick="$('#submitbutton').prop('disabled', false);$('#sequences').val(pasteExample());$('#format').val('fas')">Paste example alignment</a>
</div>