@import play.api.mvc.RequestHeader
@import models.tools.ToolModel.ProbCons
@(inputForm: Form[(String, Int, Int, Int, String)])(implicit messages: Messages, request: RequestHeader)
<script src='@routes.Assets.at("javascripts/sampleseqs.js")' type="text/javascript" ></script>
@helper.textarea(field = inputForm("sequences"), args = 'rows -> 20, 'cols -> 50,
    'placeholder -> "Enter sequences to be aligned in Multi-FASTA format",
    '_label -> "",
    'id -> "sequences", '_showConstraints -> false)
<div class="example-alignment">
    <a onClick="$('#submitbutton').prop('disabled', false);$('#sequences').val(probcons_example());$('#format').val('fas')">Paste example alignment</a>
</div>
@helper.inputText(field = inputForm("consistency"),
    'placeholder -> "", '_label -> "Passes of consistency transformation",
    'id -> "consistency", '_showConstraints -> false)
@helper.inputText(field = inputForm("itrefine"),
    'placeholder -> "", '_label -> "Passes of iterative refinement",
    'id -> "itrefine", '_showConstraints -> false)
@helper.inputText(field = inputForm("pretrain"),
    'placeholder -> "", '_label -> "Rounds of pretraining",
    'id -> "pretrain", '_showConstraints -> false)
@helper.inputText(field = inputForm("otheradvanced"),
    'placeholder -> "Other advanced options", '_label -> "",
    'id -> "otheradvanced", '_showConstraints -> false)

<script>
            document.getElementById("sequences").value = localStorage.getItem("resultcookie");
            localStorage.removeItem("resultcookie");

</script>