@import play.api.mvc.RequestHeader
@import models.tools.Psiblast
@import models.tel.TEL
@(tel : TEL, inputForm: Form[(String, String, String, Int, Int, Int, Int, Int, String)])(implicit messages: Messages, request: RequestHeader)

<!-- Order of parameters : Alignment, Alignment_Format, Matrix, Number of Iterations, Evalue, Gap_open, Gap_Ext -->


<script src='@routes.Assets.at("javascripts/sampleseqs.js")' type="text/javascript" ></script>

@helper.textarea(field = inputForm("alignment"), args = 'rows -> 20, 'cols -> 50,
  '_label -> "",
  'placeholder -> "Enter multiple sequence alignment of single sequence",
  'id -> "alignment", '_showConstraints -> false)

<div class="callout" id="alert"  hidden>

</div>


<a onClick="$('#alert').prop('hidden',true);$('#submitbutton').prop('disabled', false);$('#alignment').val(alnviz_example());$('#format').val('fas')">Paste example alignment</a>


    @helper.select(
        inputForm("alignment_format"),
        helper.options(Values.fullNames.filterKeys(Psiblast.parameterValues("alignment_format"))),
        '_label -> "Select alignment format",
        'id -> "format"
    )

    @helper.select(
        inputForm("matrix"),
        helper.options(Values.fullNames.filterKeys(Psiblast.parameterValues("matrix"))),
        '_label -> "Select Scoring Matrix",
        'id -> "matrix"
    )
    @helper.inputText(
    inputForm("num_iter").copy(value=Some("1")),
    '_label  -> "Set the number of iterations",
    'id -> "num_iter",
    '_showConstraints -> false
    )

    @helper.inputText(
    inputForm("evalue").copy(value=Some("10")),
    '_label  -> "E-Value",
    'id -> "evalue",
    '_showConstraints -> false
    )
    @helper.inputText(
    inputForm("gap_open").copy(value=Some("11")),
    '_label  -> "Gap Open penalty",
    'id -> "gap_open",
    '_showConstraints -> false
    )
    @helper.inputText(
    inputForm("gap_ext").copy(value=Some("1")),
    '_label  -> "Gap Extension penalty",
    'id -> "gap_ext",
    '_showConstraints -> false
)
    @helper.inputText(
        inputForm("desc").copy(value=Some("200")),
        '_label  -> "Number of alignments and descriptions",
        'id -> "desc",
        '_showConstraints -> false
    )

@helper.select(
    inputForm("standarddb"),
    helper.options(tel.getSetParam("standarddb")),
    '_label -> "Select Database",
    'id -> "standarddb")



    <script>
            document.getElementById("alignment").value = localStorage.getItem("resultcookie");
            localStorage.removeItem("resultcookie");
    </script>