@import controllers.routes
@()()
<link href="@routes.Assets.versioned("styles/reformat.css")" rel="stylesheet">
<link href="@routes.Assets.versioned("styles/reformat-common.css")" rel="stylesheet">
<link href="@routes.Assets.versioned("styles/reformat-jobview.css")" rel="stylesheet">
<script src="@routes.Assets.versioned("javascripts/reformat-view.js")" type="text/javascript"></script>

<div class="jobline">
    <span class="toolname"><a onclick="myCodeMirror.setValue('');
    myCodeMirror2.setValue('')">Reformat</a></span>
</div>
<div style="display: block;
    margin: auto;">

    <div class="tool-tabs ui-tabs ui-widget ui-widget-content" id="tool-tabs" style="">

        <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
            <li id="tab-Alignment" class="ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabpanel-Alignment" aria-labelledby="ui-id-4" aria-selected="true" aria-expanded="true">
                <a href="#tabpanel-Alignment" class="ui-tabs-anchor" tabindex="-1" id="ui-id-4">
                    Reformat View</a>
            </li>
            <li style="float: right;">
                <i type="button" id="expandTabReformat" class="button_fullscreen fa fa-expand" onclick="fullscreenReformat();"></i>
            </li>
        </ul>

        <div class="tabs-panel ui-tabs-panel ui-widget-content ui-corner-bottom" id="tabpanel-Alignment" aria-labelledby="ui-id-4" role="tabpanel" aria-hidden="false">

            <div id="reformat-container">

                <ul class="show-for-medium menu text-small">
                    <li><a download="reformat_download.txt" class="download" onclick="downloadResult()">Download</a></li>
                    <li><a data-open="alnvizmodal" onclick="initMSA()">AlignmentViewer</a></li>
                </ul>

                <div class="large-6 large-centered columns" style="display: none;">
                    <input type="file" id="files" name="file" />
                    <output id="list"></output>
                </div>
                <div class="row">

                    <div class="small-12 columns">
                        <div id="inputMirror"></div>
                        <input type="button" id="reformatExample" class="button clear success small alignmentExample exampleReformat" value="Paste Example">
                    </div>

                    <div class="show-for-medium selectContainer">
                        <select id="outformat">
                            <option selected>Select Output Format</option>
                            <option class="biofmt" id="Fasta" value="Fasta">FASTA</option>
                            <option id="Clustal" value="Clustal" class="biofmt clustaloption">CLUSTAL</option>
                            <option id="Phylip" value="Phylip" class="biofmt clustaloption">PHYLIP</option>
                            <option class="biofmt" id="Stockholm" value="Stockholm">STOCKHOLM</option>
                            <option class="biofmt" id="PIR" value="PIR">PIR</option>
                            <option class="biofmt" id="EMBL" value="EMBL">EMBL</option>
                            <option class="biofmt" id="NEXUS" value="NEXUS">NEXUS</option>
                            <option id="GetAccessions" value="GetAccessions">Extract Accessions</option>
                            <option id="Consensus" value="Consensus">Consensus</option>
                            <option id="Alphabet" value="Alphabet">Alphabet</option>
                        </select>

                        <select id="forwardTool" onchange="forwardChanged()">
                            <option selected>Forward To</option>
                            <option id="alnvizual" value="alnviz">AlignmentViewer</option>
                            <option id="aln2plot" value="aln2plot">Aln2Plot</option>
                            <option id="ancescon" value="ancescon">ANCESCON</option>
                            <option id="clans" value="clans">CLANS</option>
                            <option id="clustalo" value="clustalo">ClustalO</option>
                            <option id="hhblits" value="hhblits">HHblits</option>
                            <option id="hhfilter" value="hhfilter">HHfilter</option>
                            <option id="hhpred" value="hhpred">HHpred</option>
                            <option id="hhomp" value="hhomp">HHomp</option>
                            <option id="hhrepid" value="hhrepid">HHrepID</option>
                            <option id="hmmer" value="hmmer">Hmmer</option>
                            <option id="kalign" value="kalign">Kalign</option>
                            <option id="mafft" value="mafft">Mafft</option>
                            <option id="mmseqs2" value="mmseqs2">MMseqs2</option>
                            <option id="msaprobs" value="msaprobs">MSAProbs</option>
                            <option id="muscle" value="muscle">MUSCLE</option>
                            <option id="pcoils" value="pcoils">PCOILS</option>
                            <option id="repper" value="repper">REPPER</option>
                            <option id="quick2d" value="quick2d">Quick2D</option>
                            <option id="phyml" value="phyml">PhyML</option>
                            <option id="psiblast" value="psiblast">PSI-BLAST</option>
                            <option id="tcoffee" value="tcoffee">T-Coffee</option>
                            <option id="retseq" value="retseq">RetrieveSeq</option>
                        </select>

                        <div class="show-for-medium large-4 columns">
                            <div class="success callout" id="callout">
                                <p>Found format: <span id="nonalignedwarning" style="color: red;
                                    display: none;">non-aligned</span> <b id="format"></b></p>
                            </div>
                        </div>
                    </div>

                    <div class="large-12 columns" style="padding-top: 9px;">
                        <div id="outputMirror" style="width: 99%;
                            border: 1px solid lightgray ;"></div>
                    </div>
                </div>

                <div class="large reveal" id="alnvizmodal" data-reveal>
                    <h3>AlignmentViewer</h3>
                    <div id="menuDiv"></div>
                    <div id="yourDiv">Loading ... </div>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>

        </div>

    </div>
</div>

<textarea id="outputarea" style="height: 1px;
    position: relative;
    top: -10000px;
    left: -10000px;"></textarea>
