@import play.api.mvc.RequestHeader
@(inputForm: Form[(String, Boolean, Boolean, Boolean)])(implicit messages: Messages, request: RequestHeader)
<script src='@routes.Assets.at("javascripts/t_coffee.js")' type="text/javascript" ></script>

@helper.textarea(field = inputForm("sequences"), args = 'rows -> 20, 'cols -> 50,
                    'placeholder -> "Enter sequences to be aligned in Multi-FASTA format",
                    '_label -> "",
                    'id -> "sequences", '_showConstraints -> false)

<div class="example-alignment">
<a onClick="$('#submitbutton').prop('disabled', false);$('#sequences').val(pasteExample());$('#format').val('fas')">Paste example alignment</a>
</div>

<!--
@helper.checkbox(field = inputForm("mlalign_id_pair"), '_showConstraints -> false)
@helper.checkbox(field = inputForm("mfast_pair"), '_showConstraints -> false)
@helper.checkbox(field = inputForm("mslow_pair"), '_showConstraints -> false)
-->
    <script>
    document.getElementById("sequences").value = localStorage.getItem("resultcookie");
    localStorage.removeItem("resultcookie");
    $(".jobForm").show();
    </script>