@import models.tools.ToolModel2
@import models.database.Job
@(jobOption : Option[Job], toolModel : ToolModel2, parametersections : Map[String, Html])


<div class="tool-tabs" id="tool-tabs">

    <form class="jobForm" >
    <ul>
    @for(section <- parametersections.keys) {

        <li id="tab-@section"><a href="#tabpanel-@section">@section</a></li>
    }
    <span style="float: right; padding: 0.5em 1em 0 0";>@toolModel.toolNameLong</span>
    </ul>

    @for(section <- parametersections.keys) {

        <div class="tabs-panel" id="tabpanel-@section">

            @parametersections(section)

            <!-- Show control buttons in all panels -->
            <div id="submitbuttons">
                <input class="secondary button small" id="submitJob"  type="button" value="Submit Job" />
            </div>
        </div>
    }
    </form>
</div>


<script>
        toolname = '@toolModel.toolNameShort';
        @if(jobOption.isDefined){
        mainID   = '@{jobOption.get.mainID.stringify}';
        } else {
        mainID   = null;
        }


        $("#tool-tabs").tabs();
</script>
<script src="@routes.Assets.at("scripts/form.js")">
</script>