@import models.tools.ToolModel2
@import models.database.Job
@import models.database.JobState
@(jobOption : Option[Job], toolModel : ToolModel2, parametersections : Map[String, Html])


<div class="tool-tabs" id="tool-tabs">

    <form class="jobForm" >
    <ul>
    @for(section <- parametersections.keys) {

        <li id="tab-@section"><a href="#tabpanel-@section">@section</a></li>
    }
    <!-- Show additional information if this is an already existing job -->


    @if(jobOption.isDefined) {

        <!-- Show information dependent on the job state  TODO Use field constructor-->
        @{
            jobOption.get.status match {

                case JobState.Done =>  Html("<li id=\"tab-done\"><a href=\"#tabpanel-done\">Results</a></li>")
                case JobState.Running =>  Html("<li id=\"tab-running\"><a href=\"#tabpanel-running\">Running</a></li>")
                case JobState.Error =>  Html("<li id=\"tab-error\"><a href=\"#tabpanel-error\">Error</a></li>")
                case _ => Html("<li id=\"tab-unknown\"><a href=\"#tabpanel-unknown\">Unknown</a></li>")
            }
        }
    }
    <span style="float: right; padding: 0.5em 1em 0 0";>@toolModel.toolNameLong</span>
    </ul>


    <!-- Parameter views -->
    @for(section <- parametersections.keys) {

        <div class="tabs-panel" id="tabpanel-@section">

            @parametersections(section)

            <!-- Show control buttons in all panels -->
            <div id="submitbuttons">
                <input class="secondary button small" id="submitJob"  type="button" value="Submit Job" />
            </div>
        </div>
    }
    </form>

   <!-- Running View -->
    <div class="tabs-panel" id="tabpanel-running">
        <div class="callout secondary">

            The job is currently being executed. Please have patience.
        </div>
    </div>

    <div class="tabs-panel" id="tabpanel-error">

        <div class="callout alert">
            The job with ID  has failed.
        </div>
    </div>







</div>


<script>
        toolname = '@toolModel.toolNameShort';
        @if(jobOption.isDefined){
        mainID   = '@{jobOption.get.mainID.stringify}';
        } else {
        mainID   = null;
        }


        $("#tool-tabs").tabs();
</script>
<script src="@routes.Assets.at("scripts/form.js")">
</script>