@import models.tools.ToolModel2
@import models.database.Job
@import models.database.JobState
@import org.joda.time.format.DateTimeFormat
@(jobOption : Option[Job],
              toolModel : ToolModel2,
              parametersections : Map[String, Html],
              resultsections : Option[Map[String, String]])(implicit messages: Messages, request: RequestHeader)


<link href="@routes.Assets.at("styles/jobview.css")" rel="stylesheet">


<div id="jobview">

    <!-- Job Descriptor Line -->
    <div class="jobline">
        <span class="toolname">@toolModel.toolNameLong</span>
        @if(jobOption.isDefined) {
            <span class="jobinfo">
             <span class="jobid"> JobID: @jobOption.get.jobID </span>

                @defining(DateTimeFormat.forPattern("yyyy-MM-dd HH:mm:ss")) { dateFormatter =>
                    <span class="createdon">Created on: @dateFormatter.print(jobOption.get.dateCreated.get)</span>
                }

            </span>
        }
    </div> <br />

    <!-- Job Tabs -->
    <div class="tool-tabs" id="tool-tabs">
        <form class="jobForm" >
        <ul>
        @for(section <- parametersections.keys) {

            <li id="tab-@section"><a href="#tabpanel-@section">@section</a></li>
        }
        <!-- Show additional information if this is an already existing job -->




        @if(jobOption.isDefined) {
            @if(jobOption.get.status == JobState.Done) {

                <li id="tab-results" class="not-active"><a href="">Results</a></li>
                <li><img id="arrowimage" src="@routes.Assets.at("images/arrow.svg")" style="display: none;"></li>
            }
            <!-- Show information dependent on the job state  TODO Use field constructor-->
            @{
                jobOption.get.status match {

                    // If the job state is done, the resultpanel panels headings are generated here
                    case JobState.Done =>
                        Html(resultsections.get.keysIterator.map{ key =>
                            "<li id=\"tab-" + key + "\"><a href=\"#tabpanel-" + key + "\">" + key + "</a></li>"
                        }.mkString)
                    case JobState.Running =>  Html("<li id=\"tab-running\"><a href=\"#tabpanel-running\">Running</a></li>")
                    case JobState.Error =>  Html("<li id=\"tab-error\"><a href=\"#tabpanel-error\">Error</a></li>")
                    case _ => Html("<li id=\"tab-unknown\"><a href=\"#tabpanel-unknown\">Unknown</a></li>")
                }
            }
        }
        </ul>


        <!-- Parameter views -->
        @for(section <- parametersections.keys) {

            <div class="tabs-panel" id="tabpanel-@section">

                @parametersections(section)

                <!-- Show control buttons in all panels -->
                <div id="submitbuttons">

                    <input class="secondary button small submitJob" type="button"
                           value="@if(jobOption.isDefined){Resubmit Job}else{Submit Job}" />
                    <input class="secondary button small resetJob" type="reset" value="Reset" />
                    <input type="text" placeholder="jobID" class="jobid" />
                </div>
            </div>
        }
        </form>


        @if(jobOption.isDefined) {

           <!-- Running View -->
            @if(jobOption.get.status == JobState.Running) {
                <div class="tabs-panel" id="tabpanel-running">
                    <div class="callout secondary">

                        The job is currently being executed. Please have patience.
                    </div>
                </div>
            }


             <!-- Error View -->
            @if(jobOption.get.status == JobState.Error) {
                <div class="tabs-panel" id="tabpanel-error">

                    <div class="callout alert">
                        The job with ID  has failed.
                    </div>
                </div>
            }

            @if(jobOption.get.status == JobState.Done) {
                @for((key, value) <- resultsections.get) {

                    <div class="tabs-panel" id="tabpanel-@key">
                        @jobs.resultpanel(key, value, jobOption.get.mainID.stringify)
                    </div>
                }
            }
        }
    </div>
</div>


<script>

        $('#arrowimage' ).show();
        toolname = '@toolModel.toolNameShort';
        $("#tool-tabs").tabs();
</script>
<script src="@routes.Assets.at("scripts/form.js")">
</script>