@(values: Values, params : Seq[String], jobForm :  Form[(String, String, String, String, Int, Int, Int, Int, Int)])(implicit messages: Messages, request: RequestHeader)


<!-- Render all the parameters from params in the given order -->
@for(param <- params) {


    @{param match {
        case Param.ALIGNMENT => helper.textarea(field = jobForm(Param.ALIGNMENT), args = 'rows -> 10, 'cols -> 70,
                                                      '_label -> "",
                                                      'placeholder -> "Enter multiple sequence alignment of single sequence",
                                                      'id -> "alignment", '_showConstraints -> false)
        case Param.ALIGNMENT_FORMAT => helper.select(field = jobForm(Param.ALIGNMENT_FORMAT),
                                       helper.options(values.fullNames.filterKeys(values.alignmentFormats)),
                                       '_label -> "Select alignment format",
                                       'id -> "format", '_showConstraints -> false)
        case Param.STANDARD_DB => helper.select(field = jobForm(Param.STANDARD_DB),
                                                helper.options(values.standardDBParams),
                                               '_label -> "Select Database",
                                               'id -> "standarddb", '_showConstraints -> false)
        case _ =>
    }}
}


<!--
    ("standarddb", "matrix",
    "num_iter", "evalue", "gap_open", "gap", "gap_ext", "desc")
-->

