@(resultpanel : String, filename : String, jobID : String, toolname: String)(implicit request: RequestHeader)


@{ (toolname, resultpanel) match {
      case  ("psiblast", "Hits") => views.html.jobs.resultpanels.blastviz_extra(jobID)
      case  ("psiblast", "E-Values") => views.html.jobs.resultpanels.evalues(jobID)
      case  ("psiblast", "Fasta") => views.html.jobs.resultpanels.fasta(jobID)
      case  ("psiblast", "AlignmentViewer") => views.html.jobs.resultpanels.msaviewer_psiblast(jobID)
      case ("tcoffee", "AlignmentViewer") => views.html.jobs.resultpanels.msaviewer_tcoffee(jobID)
}
}

