@(resultpanel : String, filename : String, jobID : String)(implicit request: RequestHeader)


<!-- Decide which result view to show dependent on the result key -->
@{ resultpanel match {

        case "simple" => views.html.jobs.resultpanels.simple(s"/files/$jobID/$filename")
        case "biojs"  => views.html.jobs.resultpanels.msaviewer(s"/files/$jobID/$filename")
        case "blast"  => views.html.jobs.resultpanels.blastviz_extra(jobID)
        case "evalue" => views.html.jobs.resultpanels.evalues(jobID)
        case "fileview" => views.html.jobs.resultpanels.fileview(s"/files/$jobID/$filename")
        case "fasta" => views.html.jobs.resultpanels.fasta(s"/files/$jobID/$filename")
}}