@import play.api.libs.json.JsObject
@import play.api.libs.json.JsValue
@import play.api.libs.json.JsArray
@import play.api.Logger
@import models.results.FileLoader
@import play.api.libs.json.JsUndefined
@import play.api.libs.json.JsDefined
@import models.results.BlastVisualization
@import modules.tel.TEL
@import play.api.libs.json.JsLookupResult
@import models.database.results.AlignmentResult
@(jobID: String, alignment: AlignmentResult, resultName: String,  tool : models.tools.Tool)(implicit request: RequestHeader)
<link href="@routes.Assets.versioned("styles/blast-visualization.css")" rel="stylesheet">

@views.html.forwardmodals.simpler(tool, resultName)

<div class="colorOptsAlignment">
    <a onclick="selectAll()" class="selectAllSeq"><span>Select all</span></a>
    <a type="button" data-open="forwardModal_@resultName"><span>Forward Selected</span></a>
    <a type="button" id="downloadAlignment"  onclick="@{resultName}_download()"><span>Download File</span></a>
    <hr id="line-element" colspan="4" class="horizontal-line">
</div>
<div id="alignmentResultView">
    Number of sequences: <b>@alignment.alignment.length</b>
        <br />
        <br />
<form id="alignmentResult">
    <table class="unstriped">
        <tbody class="alignmentTBody">
        </tbody>
        <tr>
            <td colspan="4"><div id="loadingHits">Loading Hits...</div></td>
        </tr>
    </table>

</form>
</div>

<script>


        var fileUrl = "/files/@jobID/alignment.fas";
        var downloadFilename = "@{tool.toolNameShort}_@{resultName}_jobID_@{jobID}.fasta";
        var wrapSequencesBool_@{resultName} = false;
        var selectAllBool = false;
        var shownHits = 20;
        var showMore = 100;
        var loading = false;
        var numHits = @alignment.alignment.length;
         var resultName = '@resultName';
        var jobID = '@jobID';
        var checkboxes = [];
        var checkbox = "checkbox";



        $(document).ready(function () {

            $("#alignmentResult").floatingScroll();
            // trigger lazyload for loading alignment
            shownHits = shownHits > numHits ? numHits : shownHits;
            getHits(0, shownHits);

            //$.LoadingOverlay("hide");

            // check checkboxes that are stored in array
            // in order to make it work with pagination/lazyload
            selectFromArray(checkboxes);

            $('input:checkbox').click(function (e) {
                var currentVal = $(this).val();
                var currentState = $(this).prop('checked');

                // link checkboxes with same value
                $('input:checkbox[value=' + currentVal + ']').each(function () {
                    $(this).prop('checked', currentState);
                });

                if (currentState) {
                    // push num of checked checkbox into array
                    checkboxes.push(currentVal);
                    // make sure array contains no duplicates
                    checkboxes = checkboxes.filter(function (value, index, array) {
                        return array.indexOf(value) == index;
                    });
                } else {
                    // delete num of unchecked checkbox from array
                    checkboxes = checkboxes.filter(function (x) {
                        return x != currentVal
                    });
                }
            });

            $(document).on('scroll', function () {
                if ($(this).scrollTop() == $(this).height() - $(window).height()) {
                    if (!loading) {
                        var end = shownHits + showMore;
                        end = end < numHits ? end : numHits;
                        if (shownHits != end) {
                            getHits(shownHits, end);
                        }
                        shownHits = end;
                    }
                }
                $("#alignments").floatingScroll('init');
            });
        });

        window["@{resultName}_forward"] = function(selectedTool){
            var route = jsRoutes.controllers.AlignmentController.getAln(jobID, checkboxes, resultName);
            // get result json
            $.ajax({
                type: route.method,
                url: route.url
            }).done(function (data) {
                    forward(selectedTool, data);
            });
        };


        window["@{resultName}_download"] = function(){
            // get result json
            $.ajax({
                type: 'GET',
                url: fileUrl
            }).done(function (data) {
                download(downloadFilename, data.toString());
            });
        };


        function getHits(start, end){
            if(start <= numHits && end <= numHits && !loading){
                loading = true;
                $('#loadingHits').show();
                var route = jsRoutes.controllers.AlignmentController.loadHits(jobID,start,end, resultName);
                return $.ajax({
                    method: route.method,
                    url: route.url
                }).done(function (data_) {
                    $(".alignmentTBody").append(data_);
                    loading = false;
                    $('#loadingHits').hide();
                });
            }
        }


        function selectAll(){
            selectAllBool = !selectAllBool;
            if(selectAllBool) {
                selectAllHelper(checkbox);
                $(".selectAllSeq").addClass("colorToggle");
                // first empty array
                checkboxes = [];
                // push all checkboxes (1 to num_hits) into array
                _.range(1, numHits+1).forEach(function(x){checkboxes.push(x)});
            }
            else {
                deselectAll(checkbox);
                $(".selectAllSeq").removeClass("colorToggle");
                // delete all checkboxes from array
                checkboxes = [];
            }
        }

</script>
