@import play.api.libs.json.JsObject
@import play.api.libs.json.JsValue
@import play.api.libs.json.JsArray
@import play.api.Logger
@import models.results.FileLoader
@import play.api.libs.json.JsUndefined
@import play.api.libs.json.JsDefined
@import models.results.BlastVisualization
@import modules.tel.TEL
@import play.api.libs.json.JsLookupResult
@(jobID: String, jsValue: JsValue, resultName: String,  tool : models.tools.Tool)(implicit request: RequestHeader)
<link href="@routes.Assets.versioned("styles/blast-visualization.css")" rel="stylesheet">

@views.html.forwardmodals.alignment(tool, resultName)

<div class="colorOptsAlignment">
    <a onclick="@{resultName}_selectAll()" type="button"> <span id="selectAllSeq_@{resultName}">Select all</span></a>
    <a onclick='@{resultName}_wrap()' type="button"><span id="wrap_@{resultName}">Wrap sequences</span></a>
    <a type="button" data-open="forwardModal_@resultName"><span>Forward selected</span></a>
    <a type="button" id="downloadAlignment"  onclick="@{resultName}_download()"><span>Download File</span></a>
    <hr id="line-element" colspan="4" class="horizontal-line">
</div>
<div id="alignmentResultView">
    Number of sequences: @{{jsValue \ resultName}.as[List[JsArray]].size}
        <br />
        <br />
<form id="alignmentResult">
    <table class="unstriped">
        <tbody class="alignmentTBody">
        @for((alignment,index) <- {jsValue \ resultName}.as[List[JsArray]].zipWithIndex) {
            <tr class="header">
                <td ><input type="checkbox" name="templates" class="checkbox_@{resultName}" value='@{index}'> @{index+1}.</td>
                <td>
                    @{alignment{0} match {
                        case JsDefined(jsValue) => (alignment{0}).get.as[String]
                        }
                    }
                </td>
            </tr>
            <tr class="sequenceAlignment">
                <td></td>
                <td>
                    @{alignment{1} match {
                        case JsDefined(jsValue) => Html((alignment{1}).get.as[String].replace("-", "&#8209;"))
                        }
                    }
                </td>
            </tr>
        }
            <tr><td><br/></td></tr>
            <tr><td><br/></td></tr>
        </tbody>
    </table>

</form>
</div>

<script>
        var fileUrl = "/files/@jobID/@{resultName}.json";
        var downloadFilename = "@{tool.toolNameShort}_@{resultName}_jobID_@{jobID}.fasta";
        var checkbox_@{resultName} = "checkbox_@{resultName}";
        var selectAllBool_@{resultName} = false;
        var wrapSequencesBool_@{resultName} = false;

        window["@{resultName}_wrap"] = function(){
            this.wrapSequencesBool_@{resultName} = !this.wrapSequencesBool_@{resultName};
            if(wrapSequencesBool_@{resultName}) {
                $(".sequenceAlignment").addClass("wrap");
                $("#wrap_@{resultName}").addClass("colorToggle");
            }
            else {
                $(".sequenceAlignment").removeClass("wrap");
                $("#wrap_@{resultName}").removeClass("colorToggle");
            }
        }


        window["@{resultName}_forward"] = function(selectedTool){
            // get result json
            var forwardData = [];
            var checkedCheckboxes = [];
            // get values of all checked Checkboxes
            $('input:checkbox.' + checkbox_@{resultName} + ":checked").each(function () {
                checkedCheckboxes.push($(this).val())
            });
            $.getJSON(fileUrl, function (data) {

            //fill array with headers and sequences
                checkedCheckboxes.forEach(function callback(currentValue) {
                    forwardData.push(">" + data[currentValue][0]);
                    forwardData.push(data[currentValue][1]);
                });
                forward(selectedTool, forwardData.join("\n"));
            });
        };

        window["@{resultName}_selectAll"] = function(){
            this.selectAllBool_@{resultName} = !this.selectAllBool_@{resultName};
            if(selectAllBool_@{resultName}) {
                selectAll(checkbox_@{resultName});
                $("#selectAllSeq_@{resultName}").addClass( "colorToggle" );
            }
            else {
                deselectAll(checkbox_@{resultName});
                $("#selectAllSeq_@{resultName}").removeClass( "colorToggle" );
            }
        };
        window["@{resultName}_download"] = function(){
            $.getJSON(fileUrl, function (data) {
            var fileString = "";
            for(var i = 0; i < data.length; i++){
                fileString += ">" + data[i][0] + "\n";
                    fileString += data[i][1] + "\n";
            }
            download(downloadFilename, fileString);
            })
        };

</script>