@import models.database.results.AlignmentItem
@import models.results.BlastVisualization
@(alignment: AlignmentItem)(implicit request: RequestHeader)
<tr class="header">
    <td class="indexCheckbox" ><input type="checkbox" name="alignment_elem" class="checkbox" value='@{alignment.num}'> @{alignment.num}. </td>
    <td>
         @{alignment.accession}
    </td>
</tr>
<tr class="sequenceAlignment">
    <td>

    </td>
    <td>
        @{Html(BlastVisualization.wrapSequence(alignment.seq, 95))}
    </td>
</tr>