@import de.proteinevolution.tools.results.Alignment.AlignmentResult
@import java.lang.String
@(jobID: String, alignment: AlignmentResult, resultName: String, tool: de.proteinevolution.models.Tool)()

@views.html.forwardmodals.simpler(tool, resultName)

<div class="colorOptsAlignment">
    <a class="selectAllSeqBar">Select all</a>
    <a type="button" id="forwardButtonSimpler" data-open="forwardModal_@resultName"><span>Forward Selected</span></a>
    <a type="button" id="downloadAlignment"  onclick="@{resultName}_download()"><span>Download Reduced A3M</span></a>
    <a type="button" id="downloadAlignmentFull"  onclick="@{resultName}_downloadFull()"><span>Download Full A3M</span></a>
    <hr class="horizontal-line">
</div>
<div id="alignmentResultView">
    @if(resultName == "querytemplate") {
        Number of sequences (up to 1000 best matches): <b>@alignment.alignment.length</b>
    } else {
        Number of sequences (up to 200 best matches): <b>@alignment.alignment.length</b>
    }
        <br />
        <br />
<form id="alignmentResult">
    <table class="unstriped">
        <tbody class="alignmentTBody">
        </tbody>
        <tr>
            <td colspan="4"><div id="loadingHits">Loading Hits...</div></td>
        </tr>
    </table>
</form>
</div>

<script>
        var shownHits = 20;
        var resultName = '@resultName';

        $(document).ready(function () {
            var context = {
                numHits: @alignment.alignment.length,
                toolName: "@tool.toolNameShort"
            };
            var jobID = "@{jobID}";
            Toolkit.resultView = new AlnResultView($("#jobview"), jobID, resultName, shownHits, "fas", context);
        });

        window["@{resultName}_forward"] = function(selectedTool){
            var data = {"checkboxes": Toolkit.resultView.getSelectedValues, "resultName": resultName};
            $.LoadingOverlay("show");
            // get result json
            $.ajax({
                type: "POST",
                url: "/results/alignment/getAln/" + jobID,
                contentType: "application/json",
                data: JSON.stringify(data),
                error: function(){
                    $.LoadingOverlay("hide")
                }
            }).done(function (data) {
                Forwarding.simple(selectedTool, data);
            });
        };

        window["@{resultName}_download"] = function(){
            // get result json
            $.LoadingOverlay("show");
            var fileUrl = "/files/@jobID/reduced.a3m";
            var downloadFilename = "@{tool.toolNameShort}_@{resultName}Q_@{jobID}.a3m";

            if("@{resultName}" === "querytemplate"){
                fileUrl = "/files/@jobID/reducedQT.a3m";
                downloadFilename = "@{tool.toolNameShort}_reducedQT_@{jobID}.a3m";
            }
            $.ajax({
                type: 'GET',
                url: fileUrl
            }).done(function (data) {
                DownloadHelper.download(downloadFilename, data.toString());
            });
        };

        window["@{resultName}_downloadFull"] = function(){
            // get result json
            var fileUrlFull = "/files/@jobID/full.a3m";
            var downloadFilenameFull = "@{tool.toolNameShort}_fullQ_@{jobID}.a3m";

            if("@{resultName}" === "querytemplate") {
                fileUrlFull = "/files/@jobID/fullQT.a3m";
                downloadFilenameFull = "@{tool.toolNameShort}_fullQT_@{jobID}.a3m";
            }
            $.LoadingOverlay("show");
            $.ajax({
                type: 'GET',
                url: fileUrlFull
            }).done(function (data) {
                DownloadHelper.download(downloadFilenameFull, data.toString());
            });
        };

</script>
