
@import play.api.mvc.RequestHeader

@(jobID : String, pathToBlastOutput : String)(implicit request: RequestHeader)
<style>
.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #c2c2c2;
    border-radius: 7px;
}

.flat-slider.ui-slider-horizontal {
    height: 6px;
}

.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 6px;
}

.flat-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #2e93ed;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -10px;
}

.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7px;
    background: #58a5e9;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
}


#alignmentDetail{
    font-size: 0.78em;
}
#overview{
    font-size: 0.78em;
}
</style>

<script src="@routes.Assets.at("javascripts/toolkit.js")"></script>



<ul class="accordion" data-accordion data-allow-all-closed="true" data-multi-expand="true">
    <li class="accordion-item " data-accordion-item >
        <a class="accordion-title" >BlastViz</a>
        <div class="accordion-content" data-tab-content >
            <span>Choose range of input query: </span>
            <p>

            </p>
            <div id="blastviz">

            </div>
        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a class="accordion-title" onclick="$('#metaReferences').hide()">Overview</a>
        <div class="accordion-content" data-tab-content>
            <button class="revealReference">Show references</button>
            <div id="overview">

            </div>

        </div>
    </li>
    <li class="accordion-item" data-accordion-item>
        <a class="accordion-title">Blast output alignment</a>
        <div class="accordion-content" data-tab-content id="alignmentDetail" >
        </div>
    </li>
</ul>





<script>


$(document).ready(function(){


// loading results into accorion
psiblastBlastviz('blastviz', '@pathToBlastOutput')
blastOutputOverview('overview', 'blaststats', '@pathToBlastOutput')
blastOutputAlignment('alignmentDetail', 'blaststats', '@pathToBlastOutput')


$("button.revealReference").click(function(){
    if ($.trim($(this).text()) === 'Show references') {
        $(this).text('Hide references');
        $('#metaReferences').show()
    } else {
        $(this).text('Show references');
        $('#metaReferences').hide()
    }

    return false;
});



$('.accordion-content').hide()


$(document).foundation();

});
</script>


