@import models.results.PsiBlast
@import play.api.mvc.RequestHeader

@(mainID : String)(implicit request: RequestHeader)
<link href="@routes.Assets.versioned("styles/psiblast-resultview.css")" rel="stylesheet">

<style>
  #blastviz img{
  display: block;
  margin: auto;
  }

  #flat-slider {
  display: block;
  margin-left: 30px !important;
  }
</style>



  <div>
    <select style="width: 20%; height: 40px; float: right; margin-right: 1em;">
      <option selected>Forward To</option>
      <option  id="tcoffee" onclick="forward2('tcoffee')" value="psi">T-Coffee</option>
    </select>
  </div>
    <input type="button" onclick=" $('#blastviz').toggle();" value="Toggle Visualization"  class="button tiny" />

<!--
<span class="result-title-big" style="color: grey">Choose range of input query:</span>
-->
<!--
<div class="slider" data-slider data-initial-start="25" data-initial-end="75">
    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
    <span class="slider-fill" data-slider-fill></span>
    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
    <input type="hidden">
    <input type="hidden">
</div>
-->


<!-- The Blast result visualization -->
  <div id="blastviz">
    <div style='width: 774px ;position: absolute; margin-top: 0.560em;' class='flat-slider' id='flat-slider'></div>
    @Html(PsiBlast.blastviz(mainID))

  </div>



  <div id="alignment_overview">

    @Html(PsiBlast.ov_alt(mainID))

  </div>



<!--
<div id="alignmentDetail">
         @Html(PsiBlast.alignhits_alt(mainID))
</div>
-->

  <div style="font-size: 1.5em !important;">
    <a data-open="referenceModal">Show references</a>
  </div>

  <script>


    function getSliderWidth() {

    return document.getElementById('slider_length').value
}
(function($) {
$.fn.goTo = function() {
  $('html, body').animate({
    scrollTop: $(this).offset().top + 'px'
  }, 'fast');
  return this;
};
})(jQuery);

$(document).ready(function(){

$(document).foundation();
/*
$("button.revealReference").click(function(){
    if ($.trim($(this).text()) === 'Show references') {
        $(this).text('Hide references');
        $('#alignment_overview').show()
    } else {
        $(this).text('Show references');
        $('#alignment_overview').hide()
    }

    return false;
});
*/
});

</script>


