@import java.lang.String
@(jobID: String)()

@fileURL = @{"/files/" + jobID + "/" + jobID + ".clans.zip"}

<div class="clansResults">
	<br/><hr><br/><br/><br/><br/>
	Download the zipped CLANS file (<a href="@fileURL" download>@{jobID + ".clans.zip"}</a>) generated for your sequences and unzip it.
    <br/><br/>
	Download the CLANS application here: <a href="ftp://ftp.tuebingen.mpg.de/pub/protevo/CLANS/clans.jar">clans.jar</a>
	and visualize your unzipped CLANS file (<b>@{jobID + ".clans"}</b>) using the 'Load Run' option in the 'File' menu.
	<br/><br/>Please make sure you have Java Runtime Environment (JRE) installed. <br/><br/>
	If your input contains large number of sequences, please consider running CLANS on the command line:<br/>
	<em>java -Xmx4G -jar clans.jar -load @{jobID + ".clans"}</em><br/><br/>
	
	If you face problems loading the CLANS file, please increase the maximum Java heap size (-Xmx).

</div>
	<br/><br/><br/><br/><hr><br/>
	<div id="toolReferences">
        If you use our CLANS server for your research, please cite:
		<div class="citation">
			@views.html.help.common.toolkit_citation_results()
			<br>
			<div>CLANS: a Java application for visualizing protein families based on pairwise similarity.<br>
				Frickey T, Lupas A.<a href="https://academic.oup.com/bioinformatics/article-lookup/doi/10.1093/bioinformatics/bth444" target="_blank" rel="noopener"> Bioinformatics. 2004 Dec 12;20(18):3702-4.</a></div><br>
			<div>BLAST+: architecture and applications.<br>
				Camacho C, Coulouris G, Avagyan V, Ma N, Papadopoulos J, Bealer K, Madden TL.<a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-10-421" target="_blank" rel="noopener"> BMC Bioinformatics. 2009 Dec 15;10:421</a>.</div>
			</div>
			<hr id="line-element" class="horizontal-line">
</div>

