@import models.results.PsiBlast

@(evalues: List[Double])(implicit request: RequestHeader)


<div id="hcontainer" style="min-width: 610px; height: 400px; margin: 0 auto"></div>

<script>
        var bins = new Array();
        @for(evalue <- evalues){
        console.log(@evalue.toString)
                bins.push(Array(@(-Math.log(evalue)/Math.log(10)), bins.length));
        }

        $(function() {
            var width= $("#tool-tabs").width() - 30;
            var chart = new Highcharts.Chart({
                title: {
                    text: 'E-Value Distribution',
                    x: -20 //center
                },
                xAxis: {
                    title: {
                        text: '-log10(E-Value)'
                    }
                },

                yAxis: {
                    title: {
                        text: 'No. of HSPs'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                              tooltip: {
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                chart: {
                renderTo: 'hcontainer',
                width: width
                },
                series: [{
                    name: 'No. HSPs',
                    data: bins
                }],
                credits: {
                enabled: false
                }
            });
        });
</script>

