@import models.results.PsiBlast

@(mainID : String)(implicit request: RequestHeader)


<div id="hcontainer" style="min-width: 610px; height: 400px; margin: 0 auto"></div>

<script>
        var bins = new Array();

        @for(lines <- PsiBlast.evalues(mainID)){
            console.log("@lines");
            bins.push(@lines);
        }

        //console.log(bins);

        $(function() {
            var width= $("#tool-tabs").width() - 30;
            var chart = new Highcharts.Chart({
                title: {
                    text: 'E-Value Distribution',
                    x: -20 //center
                },
                xAxis: {
                    title: {
                        text: '-log(E-Value)'
                    }
                },
                yAxis: {
                    title: {
                        text: 'No. of HSPs below E-Value'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {
                },
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                chart: {
                renderTo: 'hcontainer',
                width: width
                },
                series: [{
                    name: 'No. HSPs',
                    data: bins
                }],
                credits: {
                enabled: false
                }
            });
        });
</script>

