@(evalues: List[Double])()

<div id="hcontainer"></div>

<script>
        var bins = [];
        @for(evalue <- evalues){
        bins.unshift(new Array(@(-Math.log(evalue)/Math.log(10)), bins.length));
        }
        bins.sort(function(point1, point2) {
            return point1[0]-point2[0];
        });

        $(function () {
            var width = $("#tool-tabs").width() - 140;
            var chart = new Highcharts.Chart({
                title: {
                    text: 'E-Value Distribution',
                    x: -20 //center
                },
                xAxis: {
                    title: {
                        text: '-log10(E-Value)'
                    }
                },
                yAxis: {
                    title: {
                        text: 'No. of matches'
                    },
                    plotLines: [{
                        value: 0,
                        width: 1,
                        color: '#808080'
                    }]
                },
                tooltip: {},
                legend: {
                    layout: 'vertical',
                    align: 'right',
                    verticalAlign: 'middle',
                    borderWidth: 0
                },
                chart: {
                    renderTo: 'hcontainer',
                    width: width
                },
                series: [{
                    name: 'No. HSPs',
                    data: bins
                }],
                credits: {
                    enabled: false
                }
            });
        });
</script>

