@import models.results.PsiBlast
@import play.api.mvc.RequestHeader
@(mainID : String)(implicit request: RequestHeader)

@fasta = @{PsiBlast.fastaAlignment(mainID)}

<style>
#fasta tr {
    background-color: white;
}
#fasta tr:hover {
    background-color: #ececec;
}

.inp {
    margin: 0 auto !important;
    margin-top: 0.4em !important
}


.centered {
    text-align: center; /* center checkbox horizontally */
    vertical-align: middle; /* center checkbox vertically *
}


</style>


<div>
    <button class="button hollow secondary" onclick="selectAll()" style="padding-left: 15px;">Select All</button>
    <select style="width: 20%; height: 40px; float: right; margin-right: 1em;">
        <option selected>Forward To</option>
        <option  id="tcoffee" onclick="forward2('tcoffee')" value="psi">T-Coffee</option>
    </select>
</div>



<div style="height: 50em; overflow:auto; width: 100%;">
<table id="fasta" class="hover_alignment">


    @if(fasta.nonEmpty) {
        @for((pair, index) <- fasta.zipWithIndex){
            <tr><td><input style='margin: 0; padding: 0;'  type='checkbox' name='hits' class='hits' value='@index'></td><td><pre> >@pair.description <br> @pair.sequence </pre></td></tr>
        }
    }
</table>
</div>


<table id="alignstats">
</table>

<script>
    function selectAll() {
        $('input:checkbox.hits').each(function () {
                    var checked = !$(this).data('checked');
                    $('input:checkbox.hits').prop('checked', checked);
                    $(this).data('checked', checked);
          });
    }


    function forward2(tool) {

        var arr = [ ], submit = '';
        @for((pair, index) <- fasta.zipWithIndex){
            arr['@index'] = ">" + '@pair.description' + "\n" + '@pair.sequence';
        }

        $('input[name="hits"]:checked').each(function() {
            submit += arr[this.value] + "\n";
        });
        localStorage.setItem ( "resultcookie", submit ) ;
        window.location.href = "/#/tools/" + tool ;
    }
</script>
