@import play.api.mvc.RequestHeader
@(pathToFastaFile : String)(implicit messages: Messages, request: RequestHeader)
<script src="@routes.Assets.at("../../../../public/javascripts/toolkit.js")"></script>

<style>
#fasta tr {
    background-color: white;
}
#fasta tr:hover {
    background-color: #ececec;
}
</style>




<div style="height: 40em;overflow:auto;">
    <div>
    <button onclick="selectAll()">Select All</button>
    <select style="width: 8em; float: right; margin-right: 1em" id="forwardTool">
        <option selected>Forward To</option>
        <option  id="tcoffee" onclick="forward('tcoffee')" value="psi">T-Coffee</option>
    </select>
    </div>
<table id="fasta" class="hover alignment">
</table>
</div>



<table id="alignstats">
</table>

@pathToFastaFile

<script>
fastaSimple("fasta", "alignstats", '@pathToFastaFile')
function selectAll() {
$('input:checkbox.hits').each(function () {
            var checked = !$(this).data('checked');
            $('input:checkbox.hits').prop('checked', checked);
            $(this).val(checked ? 'uncheck all' : 'check all' )
            $(this).data('checked', checked);
  });
}





</script>
