@import play.api.mvc.RequestHeader
@import models.results.FileLoader

@(filepath : String)(implicit request: RequestHeader)

<pre class="fileview" >@FileLoader.loadFile(filepath)</pre>

<script>

        //using both functions is not pretty and somewhat redundant but gets the job done
        $( "#fileviewer" ).ready(function() {
            if ($('#tool-tabs').hasClass('fullscreen')) {
                $(".fileview").css("overflow-y", "visible");
                $(".fileview").css("height", "100pc");
            } else {
                $(".fileview").css("height", "30pc");
            }
        });

        function onExpand() {
            $(".fileview").css("overflow-y", "visible");
            $(".fileview").css("height", "100pc");
        }
        function onCollapse() {
            $(".fileview").css("height", "30pc");
        }
</script>
