@import de.proteinevolution.models.results.FileLoader
@import play.twirl.api.Html
@(filepath : String, resultName : String)()

<pre class="fileview" id="fileviewer">@Html(FileLoader.loadFile(filepath))</pre>
<br/><br/>
<br/><hr><br/>
@if(resultName == "ALI2D_COLOR") {
<div id="toolReferences">
        If you use our Ali2D server for your research, please cite:
    <div class="citation">
        @views.html.help.common.toolkit_citation_results()
        <br>
    </div>
    And one or more of the following as appropriate:
    <div class="citation">
        <div>PSIPRED: Protein secondary structure prediction based on position-specific scoring matrices.<br>
            Jones DT.<a href="http://www.sciencedirect.com/science/article/pii/S0022283699930917?via%3Dihub" target="_blank" rel="noopener"> J Mol Biol. 1999 Sep 17;292(2):195-202.</a></div><br>
        <div>MEMSAT: Transmembrane protein topology prediction using support vector machines.<br>
            Nugent T, Jones DT.<a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-10-159" target="_blank" rel="noopener"> BMC Bioinformatics. 2009 May 26;10:159.</a></div>
    </div>
    <hr id="line-element" class="horizontal-line">
</div>
}

<script>
        //using both functions is not pretty and somewhat redundant but gets the job done
        $( "#fileviewer" ).ready(function() {
            if ($('#tool-tabs').hasClass('fullscreen')) {
                $(".fileview").css("overflow-y", "visible");
                $(".fileview").css("height", "100pc");
            } else {
                $(".fileview").css("height", "30pc");
            }
        });
        function onExpand() {
            $(".fileview").css("overflow-y", "visible");
            $(".fileview").css("height", "100pc");
        }
        function onCollapse() {
            $(".fileview").css("height", "30pc");
        }
</script>
