@import play.api.mvc.RequestHeader

@(filename: String, filePath: String, jobID: String, resultname: String, tool: models.tools.Tool)(implicit request: RequestHeader)
    @import java.lang.String;

    <link href="@routes.Assets.versioned("styles/blast-visualization.css")" rel="stylesheet">
    @views.html.forwardmodals.simpler(tool, tool.toolNameShort)

    <div class="colorOptsAlignment">
    <a type="button" onclick="@{resultname}_download()"> <span id="downloadAlignment">Download</span></a>
    <a data-open="forwardModal_@{tool.toolNameShort}" type="buttom"><span id="downloadAlignment">Forward All</span></a>
    <hr id="line-element" colspan="4" class="horizontal-line">
    </div>

    <pre class="fileview" id="fileviewerDownloadForward_@{resultname}"></pre>

    <script>
        $(document).ready( function() {
            $.ajax({
                type: 'GET',
                url: 'files/@jobID/@{filename}',
            }).done(function (data_) {
                $('#fileviewerDownloadForward_@{resultname}').append(data_)
            });
        });

        var downloadFilename = "@{resultname}_@{jobID}";
        var fileURL="/files/@{jobID}/@{filename}";
        window["@{resultname}_download"] = function(){
            var downloadFilename = "@{resultname}_@{jobID}";
            $.ajax({
                method: "GET",
                url: fileURL
            }).done(function(data){
                download(downloadFilename, data);
            })
        };

        window["@{tool.toolNameShort}_forward"] = function(selectedTool){
            var forwardData = [];
            //fill array with headers and sequences
            $.ajax({
                method: "GET",
                url: fileURL
            }).done(function(data) {
                forward(selectedTool, data);
            });
        };


        //using both functions is not pretty and somewhat redundant but gets the job done
        $( "#fileviewerDownloadForward_@{resultname}" ).ready(function() {
            if ($('#tool-tabs').hasClass('fullscreen')) {
                $(".fileview").css("overflow-y", "visible");
                $(".fileview").css("height", "100pc");
            } else {
                $(".fileview").css("height", "30pc");
            }
        });

        function onExpand() {
            $(".fileview").css("overflow-y", "visible");
            $(".fileview").css("height", "100pc");
        }
        function onCollapse() {
            $(".fileview").css("height", "30pc");
        }

</script>
