@(pathToImageFile : String)
<img hspace="14" src="@pathToImageFile">

<br/><br/>
<br/><hr><br/>

<div id="toolReferences">
    If you use MARCOIL on our Toolkit for your research, please cite:
        <div class="citation">
        <div>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.<br>
            Alva V, Nam SZ, Söding J, Lupas AN.<a href="https://academic.oup.com/nar/article-lookup/doi/10.1093/nar/gkw348" target="_blank"> Nucleic Acids Res. 2016 Jul 8;44(W1):W410-5.</a>
        </div><br>
         <div>MARCOIL: An HMM model for coiled-coil domains and a comparison with PSSM-based predictions.<br>
             Delorenzi M, Speed T.<a href="https://www.ncbi.nlm.nih.gov/pubmed/12016059" target="_blank"> Bioinformatics. 2002 Apr;18(4):617-25.</a></div>
        </div>
<hr id="line-element" colspan="4" class="horizontal-line">
</div>

