@(pathToImageFile : String, tool: de.proteinevolution.models.Tool)
<img hspace="14" src="@pathToImageFile">

<br/><br/>

@if(tool.toolNameShort == "marcoil") {
    <br/><hr><br/>
    <div id="toolReferences">
    If you use @{tool.toolNameLong} on our Toolkit for your research, please cite:
        <div class="citation">
            @views.html.help.common.toolkit_citation_results()
            <br>
            <div>MARCOIL: An HMM model for coiled-coil domains and a comparison with PSSM-based predictions.<br>
             Delorenzi M, Speed T.<a href="https://www.ncbi.nlm.nih.gov/pubmed/12016059" target="_blank" rel="noopener"> Bioinformatics. 2002 Apr;18(4):617-25.</a>
            </div>

        </div>
    <hr class="horizontal-line">

    </div>
}
