@import models.results.Tcoffee
@import play.api.mvc.RequestHeader

@(jobID : String)(implicit request: RequestHeader)

<style>

#rootDiv SPAN {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif !important;
    font-weight: normal !important;
    font-size: 12px !important;
}

</style>

<div id="menuDiv"></div>
<div id="rootDiv">Loading ... </div>


<script>
    var seqs = '';
    @for(line <- Tcoffee.alnviz(jobID)) {
        seqs += '@{line}\n';
    }

    var width, height, defMenu,  menuOpts;

    var url ='files/' + jobID + '/alignment.json';
    $.getJSON(url, function (data) {
       width = data[0][1].length;

    seqs = msa.io.clustal.parse(seqs);
    msa = require("msa");
        var opts = {colorscheme: {"scheme": "clustal"}};
        var stringSeqs = $('#alignment').val();

        height = (stringSeqs.split('>').length-1)*15;

        width = width * 15.5;

        opts.el = document.getElementById("rootDiv");
        opts.seqs = seqs;
        opts.vis = {
            conserv: false,
            overviewbox: false,
            seqlogo: false,
            labels: true,
            labelName: true,
            labelId: false,
            labelPartition: false,
            labelCheckbox: false
        };
        opts.conf = {
            dropImport: true
        };
        opts.zoomer = {
            // Alignment viewer is not scrolling with 'alignmentWidth: "auto"', use fixed numbers instead or
            // use script for handling
            alignmentHeight: height, alignmentWidth: width, labelNameLength: 165, labelWidth: 85,labelFontsize: "13px",labelIdLength: 75,   menuFontsize: "12px",menuMarginLeft: "2px", menuPadding: "0px 10px 0px 0px", menuItemFontsize: "14px", menuItemLineHeight: "14px", autoResize: true
        };
        alignment = new msa.msa(opts);
        menuOpts = {};
        menuOpts.el = document.getElementById('menuDiv');
        menuOpts.msa = alignment;
        defMenu = new msa.menu.defaultmenu(menuOpts);
        alignment.addView('menu', defMenu);

        alignment.render();
        //hide unsused options
        document.getElementById('menuDiv').childNodes[5].style.display = 'none';
        document.getElementById('menuDiv').childNodes[6].style.display = 'none';

        //fixes option positions


    });
</script>
