@import models.results.PsiBlast
@import play.api.mvc.RequestHeader

@(mainID : String)(implicit request: RequestHeader)

<div id="menuDiv"></div>
<div id="rootDiv">Loading ... </div>


<script>


    var seqs = '';

    @for(line <- PsiBlast.alnviz(mainID)){

        seqs += '@line' + "\n";

    }

        msa = require("msa");

        var opts = {colorscheme: {"scheme": "mae"}};
        seqs =  msa.io.clustal.parse(seqs);
        var width= $("#tool-tabs").width() - 200;

        opts.el = document.getElementById("rootDiv");
        opts.seqs = seqs;
        opts.vis = {
            conserv: false,
            overviewbox: false,
            seqlogo: false,
            labels: true,
            labelName: true,
            labelId: false,
            labelPartition: false,
            labelCheckbox: false
        };
        opts.conf = {
            dropImport: true
        };
        opts.zoomer = {
            // Alignment viewer is not scrolling with 'alignmentWidth: "auto"', use fixed numbers instead or
            // use script for handling
            alignmentHeight: 600, alignmentWidth: width, labelNameLength: 165, labelWidth: 85,labelFontsize: "13px",labelIdLength: 75,   menuFontsize: "12px",menuMarginLeft: "2px", menuPadding: "0px 10px 0px 0px", menuItemFontsize: "14px", menuItemLineHeight: "14px", autoResize: true
        };

        // init msa
        var ms = new msa.msa(opts);

        // the menu is independent to the MSA container
        var menuOpts = {};
        menuOpts.el = document.getElementById('div');
        menuOpts.msa = ms;
        var defMenu = new msa.menu.defaultmenu(menuOpts);
        ms.addView("menu", defMenu);


            // call render at the end to display the whole MSA
        ms.render();
        function onFullscreenToggle() {
            width = $("#tool-tabs").width() - 200;
            opts.zoomer = {
                alignmentHeight: 600,
                alignmentWidth: width,
                labelNameLength: 165,
                labelWidth: 85,
                labelFontsize: "13px",
                labelIdLength: 75,
                menuFontsize: "12px",
                menuMarginLeft: "2px",
                menuPadding: "0px 10px 0px 0px",
                menuItemFontsize: "14px",
                menuItemLineHeight: "14px",
                autoResize: true
            };
            ms = new msa.msa(opts);
            ms.render();
        }
</script>
