@import scala.io.Source
@import play.twirl.api.Html
@(filePath: String)()
<br/>
<div id="menuDivItem"></div>
<div id="rootDiv">Loading ...</div>

<script>
        var alignmentItem;

        $(document).ready(function () {
            var toolTabs = $("#tool-tabs");

            var height = toolTabs.hasClass('fullscreen') ? $(window).height() - 320 : toolTabs.width() - 500;
            var width = toolTabs.width() - 240;

            var seqs = '@Html(Source.fromFile(filePath).getLines.mkString("\\n\\"))';
            seqs = msa.io.fasta.parse(seqs);
            if (!seqs) {
                return;
            }

            var opts = {
                colorscheme: {"scheme": "clustal"},
                el: document.getElementById("rootDiv"),
                seqs: seqs,
                vis: {
                    conserv: false,
                    overviewbox: false,
                    seqlogo: true,
                    labels: true,
                    labelName: true,
                    labelId: false,
                    labelPartition: false,
                    labelCheckbox: false
                },
                conf: {
                    dropImport: true
                },
                zoomer: {
                    // Alignment viewer is not scrolling with 'alignmentWidth: "auto"', use fixed numbers instead or
                    // use script for handling
                    alignmentHeight: height,
                    alignmentWidth: width,
                    labelNameLength: 165,
                    labelWidth: 85,
                    labelFontsize: "13px",
                    labelIdLength: 75,
                    menuFontsize: "13px",
                    menuPadding: "0px 10px 0px 0px",
                    menuMarginLeft: "-6px",
                    menuItemFontsize: "14px",
                    menuItemLineHeight: "14px",
                    autoResize: false
                }
            };
            alignmentItem = new msa.msa(opts);

            var menuOpts = {
                el: document.getElementById('menuDivItem'),
                msa: alignmentItem
            };
            var defMenu = new msa.menu.defaultmenu(menuOpts);
            alignmentItem.addView('menu', defMenu);

            alignmentItem.render();

            $(window).on("resize.MSAViewerClustal", function () {
                if ($("#rootDiv").parents("html").length === 0) {
                    $(window).off("resize.MSAViewerClustal");
                    return;
                }
                alignmentItem.g.zoomer.set("alignmentWidth", toolTabs.width() - 240);
                if (toolTabs.hasClass('fullscreen')) {
                    alignmentItem.g.zoomer.set("alignmentHeight", Math.max(400, $(window).height() - 320));
                }
            });
        });

        function onFullscreenToggle() {
            alignmentItem.g.zoomer.set("alignmentHeight", $(window).height() - 320);
            alignmentItem.g.zoomer.set("alignmentWidth", $('#tool-tabs').width() - 240);
        }

        function onCollapsescreen() {
            alignmentItem.g.zoomer.set("alignmentHeight", $('#tool-tabs').width() - 500);
            alignmentItem.g.zoomer.set("alignmentWidth", $('#tool-tabs').width() - 240);
        }

</script>
