@(filepath : String, filename : String, jobID : String, resultname : String)()

<a type="button" onclick="@{resultname}_download()" id="downloadAlignment">Download PDB file</a>
<hr class="horizontal-line"> <br> <br>

<div id="viewport" class="job@jobID"></div><br><br><br>

<hr class="horizontal-line">
<div id="toolReferences">

@if(resultname == "Modeller") {
    If you use MODELLER on our Toolkit for your research, please cite:
}
@if(resultname == "samcc_PDB_AXES") {
    If you use SamCC on our Toolkit for your research, please cite:
}
    <br>
    <div class="citation">
        @views.html.help.common.toolkit_citation_results()
    </div>

@if(resultname == "Modeller") {
        <div class="citation">
            <div>Comparative Protein Structure Modeling Using MODELLER.<br>
                Webb B, Sali A.<a href="http://onlinelibrary.wiley.com/doi/10.1002/cpps.20/abstract" target="_blank" rel="noopener"> Curr Protoc Protein Sci. 2016 Nov 1;86:2.9.1-2.9.37</a>.</div>
        </div>
}
@if(resultname == "samcc_PDB_AXES") {
    <div class="citation">
        <div>Measuring the conformational space of square four-helical bundles with the program samCC.<br>
            Dunin-Horkawicz S, Lupas AN.<a href="http://www.sciencedirect.com/science/article/pii/S1047847710000353?via%3Dihub" target="_blank" rel="noopener"> J Struct Biol. 2010 May;170(2):226-35</a></div>
        </div>
}
</div>

<hr class="horizontal-line">

<script>
        window["@{resultname}_download"] = function(){
            var downloadFilename = "@{resultname}_@{jobID}" + ".pdb";
            var fileURL="/results/files/@{jobID}/@{filename}";
            $.ajax({
                method: "GET",
                url: fileURL
            }).done(function(data){
                DownloadHelper.download(downloadFilename, data);
            })
        };

        $(function () {
            setViewport();
        });

        function setViewport() {
            var $viewport = $("#viewport.job@jobID"); // get specific element for this job (prevent interference with structure modal)

            if($('#tool-tabs').hasClass('fullscreen')) {
                $viewport.width($(window).width() - 100)
                        .height(900)
                        .find('canvas')
                        .first()
                        .remove();
            } else {
                $viewport.width(810)
                        .height(500)
                        .find('canvas')
                        .first()
                        .remove();
            }

            $viewport.ready(function(){
                setTimeout(function() {
                    var stage = new NGL.Stage( $viewport.get(0) );
                    stage.loadFile('@filepath', {defaultRepresentation: true});
                }, 100);
            });

        }

</script>
