@import play.api.libs.json.JsObject
@import play.api.libs.json.JsValue
@import play.api.libs.json.JsArray
@import play.api.Logger
@import play.api.libs.json.JsUndefined
@import play.api.libs.json.JsDefined
@import models.results.Commmon
@import modules.tel.TEL
@(toolName: String, jobID: String, jsValue: JsValue, tool: models.tools.Tool)(implicit request: RequestHeader)
@import java.lang.String; var fileURL="/files/" + jobID + "/" + jobID + ".fas";

<link href="@routes.Assets.versioned("styles/blast-visualization.css")" rel="stylesheet">
@views.html.forwardmodals.simpler(tool, tool.toolNameShort)
@if((jsValue \ jobID \ "hits").as[List[JsObject]].size < 1) {
    <div class="callout alert noHitsWide" id="noHits">
        No hits found!
    </div>

}else{
<div class="colorOptsAlignment">
    <a onclick='wrapSequences()' type="button"><span id="wrapSequences">Wrap sequences</span></a>
    <a onclick="download_()" type="button"><span id="downloadAlignment">Download Hits</span></a>
    <a data-open="forwardModal_@{tool.toolNameShort}" type="button"><span id="downloadAlignment">Forward All</span></a>
    <hr id="line-element" colspan="4" class="horizontal-line">
</div>
<div id="alignmentResultView">
    <br/>
    Number of sequences: <b>@{{jsValue \ jobID \ "hits"}.as[List[JsObject]].size}</b>
    <br />
    <br />
    <form id="alignmentResult">
        <table class="unstriped">
            <tbody class="alignmentTBody">
                @for((hit,index) <- {jsValue \ jobID \ "hits" }.as[List[JsObject]].zipWithIndex) {
                    <tr class="header">
                        <td>
                            @{ hit \ "name" match {
                                case JsDefined(jsValue) => (hit \ "name").get.as[String]
                            }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="sequenceAlignment">
                        @{ hit \ "seq" match {
                            case JsDefined(jsVal) => Html(Commmon.insertMatch((hit \ "seq").get.as[String], (jsValue \ jobID \ "len").get.as[Int],(hit \ "pats").get.as[List[Int]]))
                        }
                        }
                        </td>
                    </tr>
                }


                <tr><td><br/></td></tr>
            </tbody>
        </table>

    </form>
    }
</div>
    <hr id="line-element" colspan="4" class="horizontal-line">
    <div id="toolReferences">
        <h5 id="refTitle">References</h5>
        If you use PatternSearch for your research, please cite:
        <div class="citation">
            <div>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.<br>
                Alva V, Nam SZ, Söding J, Lupas AN.<a href="https://academic.oup.com/nar/article-lookup/doi/10.1093/nar/gkw348" target="_blank"> Nucleic Acids Res. 2016 Jul 8;44(W1):W410-5</a>.</div>
        </div>
    </div>
    <hr id="line-element" colspan="4" class="horizontal-line">



    <script>
        var data;
        var wrapSequencesBool = false;

        // wrap seqs by default
        $(document).ready(function () {
            wrapSequences()
        });


        // get result json
        var fileUrl = "/files/@jobID/@{jobID}.json";
        $.getJSON(fileUrl, function (data_) {
            data = data_;
        });


        function wrapSequences(){
            this.wrapSequencesBool = !this.wrapSequencesBool;
            if(wrapSequencesBool) {
                $(".sequenceAlignment").addClass("wrap");
                $("#wrapSequences").addClass("colorToggle");
            }
            else {
                $(".sequenceAlignment").removeClass("wrap");
                $("#wrapSequences").removeClass("colorToggle");
            }
        }

        window["@{tool.toolNameShort}_forward"] = function(selectedTool){
            $.LoadingOverlay("show");
            var fileURL="/files/@{jobID}/@{jobID}" + ".fas";
            $.ajax({
                method: "GET",
                url: fileURL
            }).done(function(data){
                forward(selectedTool, data);

            })
        };

        function download_(){
            var downloadFilename = "@{jobID}_@{tool.toolNameShort}.fas";
            var fileURL="/files/@{jobID}/@{jobID}" + ".fas";
            $.ajax({
                method: "GET",
                url: fileURL
            }).done(function(data){
                download(downloadFilename, data);
            })
        }

</script>
