@import play.api.libs.json.JsObject
@import play.api.libs.json.JsValue
@import play.api.libs.json.JsDefined
@import de.proteinevolution.models.results.Common
@import controllers.routes
@import play.twirl.api.Html
@import java.lang.String
@(jobID: String, jsValue: JsValue, tool: de.proteinevolution.models.Tool)()

<link href="@routes.Assets.versioned("styles/resultView.css")" rel="stylesheet">
@views.html.forwardmodals.simpler(tool, tool.toolNameShort)
@if((jsValue \ jobID \ "hits").as[List[JsObject]].size < 1) {
    <div class="callout alert noHitsWide" id="noHits">
        No hits found!
    </div>

}else{
<div class="colorOptsAlignment">
    <a onclick="download_()" type="button"><span id="downloadAlignment">Download Hits</span></a>
    <a data-open="forwardModal_@{tool.toolNameShort}" type="button"><span id="downloadAlignment">Forward All</span></a>
    <hr id="line-element" class="horizontal-line">
</div>
<div id="alignmentResultView">
    <br/>
    Number of sequences: <b>@{{jsValue \ jobID \ "hits"}.as[List[JsObject]].size}</b>
    <br />
    <br />
    <form id="alignmentResult">
        <table class="unstriped">
            <tbody class="alignmentTBody">
                @for((hit,index) <- {jsValue \ jobID \ "hits" }.as[List[JsObject]].zipWithIndex) {
                    <tr class="header">
                        <td>
                            @{ hit \ "name" match {
                                    case JsDefined(_) => (hit \ "name").get.as[String]
                                    case _ => Html("")
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="sequenceAlignment">
                        @{ hit \ "seq" match {
                                case JsDefined(_) => Html(Common.insertMatch((hit \ "seq").get.as[String], (jsValue \ jobID \ "len").get.as[Int],(hit \ "pats").get.as[List[Int]]))
                                case _ => Html("")
                            }
                        }
                        </td>
                    </tr>
                }
                <tr><td><br/></td></tr>
            </tbody>
        </table>

    </form>
    }
</div>
    <br>
    <hr id="line-element" class="horizontal-line">
    <div id="toolReferences">
        If you use PatternSearch for your research, please cite:
        <div class="citation">
            @views.html.help.common.toolkit_citation_results()
        </div>
    </div>
    <hr id="line-element" class="horizontal-line">

    <script>
        var data;
       // wrap seqs by default
        $(document).ready(function () {
            wrapSequences()
        });

        // get result json
        var fileUrl = "/files/@jobID/@{jobID}" + ".json";
        $.getJSON(fileUrl, function (data_) {
            data = data_;
        });

        function wrapSequences(){
                $(".sequenceAlignment").addClass("wrap");
                $("#wrapSequences").addClass("colorToggle");
        }

        window["@{tool.toolNameShort}_forward"] = function(selectedTool){
            $.LoadingOverlay("show");
            var fileURL="/files/@{jobID}/@{jobID}" + ".fas";
            forwardPath(selectedTool, fileURL);

        };

        function download_(){
            var downloadFilename = "@{tool.toolNameShort}_@{jobID}" + ".fas";
            var fileURL="/files/@{jobID}/@{jobID}" + ".fas";
            $.ajax({
                method: "GET",
                url: fileURL
            }).done(function(data){
                download(downloadFilename, data);
            })
        }

</script>
