@(pathToImageFile : String)
@import java.lang.String; var ncoils=pathToImageFile + "_ncoils.png";
@import java.lang.String; var psipred=pathToImageFile + "_psipred.png";

<div class="notePlain">
    <span>PSIPRED</span>
    <br/><hr>
    <img hspace="100" src="@psipred">
        <br/><br/><br/>
        <span>PCOILS</span>
        <br/><hr>
    <img hspace="100" src="@ncoils">
    <br/><br/>
    <br/><hr><br/>
</div>

<div id="toolReferences">
    If you use our PCOILS server for your research, please cite:
    <div class="citation">
        <div>The MPI bioinformatics Toolkit as an integrative platform for advanced protein sequence and structure analysis.<br>
            Alva V, Nam SZ, Söding J, Lupas AN.<a href="https://academic.oup.com/nar/article-lookup/doi/10.1093/nar/gkw348" target="_blank"> Nucleic Acids Res. 2016 Jul 8;44(W1):W410-5.</a>
        </div><br>
    </div>
    And one or more of the following as appropriate:
    <div class="citation">
        <div>PSIPRED: Protein secondary structure prediction based on position-specific scoring matrices.<br>
            Jones DT.<a href="http://www.sciencedirect.com/science/article/pii/S0022283699930917?via%3Dihub" target="_blank"> J Mol Biol. 1999 Sep 17;292(2):195-202</a></div><br>
        <div>PCOILS: Comparative analysis of coiled-coil prediction methods.<br>
            Gruber M, Söding J, Lupas AN.<a href="http://www.sciencedirect.com/science/article/pii/S1047847706000815?via%3Dihub" target="_blank"> J Struct Biol. 2006 Aug;155(2):140-5.</a></div>
    </div>
<hr id="line-element" colspan="4" class="horizontal-line">
</div>

