@import models.tools.Tool
@import play.twirl.api.Html
@(tool: Tool, view: Html)


<div class="reveal" id="forwardModal" data-reveal>
    <p>Forward Job</p>


    <div class="forward_form">

        @* HHpred *@
        @if( {
            tool.toolNameShort == "hhpred"
        }) {
            <div class="forwardFormDiv">
                <label style="font-weight: bold">Select hits to forward</label>
                <label class="forwardLabel"> <input type="radio" id="selectedHits" name="radio1">Selected Hits</label>
                <div class="two_input">
                    <label class="forwardLabel"><input type="radio" id="accordingEvalue" name="radio1">
                        E-Value better than</label>
                    <input class="result_inputs" type="text" id="forwardEvalue" value="0.001">
                </div>
            </div>
        }

            @* Psiblast *@
        @if( {
            tool.toolNameShort == "psiblast"
        }) {
            <div class="forwardFormDiv">
                <label style="font-weight: bold">Select hits to forward</label>
                <label class="forwardLabel"> <input type="radio" id="selectedHits" name="radio1">Selected Hits</label>
                <div class="two_input">
                    <label class="forwardLabel"><input type="radio" id="accordingEvalue" name="radio1">
                        E-Value better than</label>
                    <input class="result_inputs" type="text" id="forwardEvalue" value="0.001" >
                </div>
            </div>
            <div class="forwardFormDiv">
                <label style="font-weight: bold">Select sequence length</label>
                <label class="forwardLabel"><input type="radio" id="sliderRegion" name="radio2">Forward slider region</label>
                <label class="forwardLabel"><input type="radio" id="fullLength" name="radio2">
                    Forward full length sequence</label>
            </div>
        }

        </div>

    <div class="row">
        <div class="select_forward large-4 columns">
            <select id="forwardSelect">
                <option value="">Select Tool</option>
                <div>
                @for(forwardTool <- {tool.forwardAlignment}) {
                    <option class="alignmentOptions"value="@forwardTool">@forwardTool</option>
                }
                @for(forwardTool <- {tool.forwardMultiSeq}) {
                    <option class="multiSeqOptions" value="@forwardTool">@forwardTool</option>
                }
                </div>
            </select>
        </div>
        <div class="large-5 columns">
            <div class="callout alert" id="forwardWarning" style="display: none;" >
                <span>Some tools take alignments as input</span>
            </div>
        </div>

        <div class="forwardFormLast large-3 columns"><a class="success button tiny" onclick="forwardModal();" type="button" id="forward">
            Forward Job</a>
        </div>
    </div>


</div>

<script>

        $("#forwardModal").foundation();
        $('.alignmentOptions').show();
        $('.multiSeqOptions').hide();

        //default check radio buttons
        $("#selectedHits").prop("checked", true);
        $("#sliderRegion").prop("checked", true);

        $("input[name='radio2']").change(function (e) {
            if ($(this).attr('id') == 'fullLength') {

                $('#forwardWarning').css({display: 'inherit'});
                $('.alignmentOptions').hide();
                $('.multiSeqOptions').show();
            } else {
                $('#forwardWarning').css({display: 'none'});
                $('.alignmentOptions').show();
                $('.multiSeqOptions').hide();

            }

        });


        function forwardModal() {
            var select = $('#forwardSelect').val();
            if (select != "") {
                $('#forwardModal').foundation('close');
                // IMPORTANT: Every result view must implement forward_() in order to handle the forwarding content
                forward_(select)
            }
        }



</script>


@view