@import play.api.mvc.RequestHeader
@(pathToAlignmentFile : String)(implicit request: RequestHeader)

<style>
    #clustal tr {
        background-color: white;
    }
    #clustal tr:hover {
        background-color: #ececec;
        cursor: pointer;
    }

    div#meta {

        font-family: Monaco, Consolas, "Lucida Console", monospace;
        font-size: 14px;
        font-face: bolder;
    }

    table#clustal {
        font-family: Monaco, Consolas, "Lucida Console", monospace;
        font-size: 12px;
    }

    table#alignstats {
        font-family: Monaco, Consolas, "Lucida Console", monospace;
        font-size: 14px;
        font-weight: bolder;
    }

</style>

<div id="meta" class="hover alignment">

</div>

<table id="clustal" class="hover alignment">

</table>


<table id="alignstats">

</table>


<script>
    simple("meta", "clustal", "alignstats", '@pathToAlignmentFile')
</script>
