@import play.api.mvc.RequestHeader
@(accession : String, webJarAssets: WebJarAssets)(implicit request: RequestHeader)
    <!-- Blast Visualizaton JS -->
<script src="@routes.Assets.versioned("javascripts/blast-visualization.js")"></script>
    <!-- NGL 3D Viewer -->
<script src="@routes.Assets.versioned("javascripts/vendor/ngl.js")"></script>
    <!-- JQuery -->
<script src="@routes.WebJarAssets.at(webJarAssets.locate("3.1.1/jquery.min.js"))" type="text/javascript" ></script>
<script>
var db = identifyDatabase('@accession');
var fileEnding = "";
switch(db){
    case "scop":
        fileEnding = ".pdb";
        break;
    case "mmcif":
        fileEnding = ".cif";
        break;
}
var url = '/getStructure/@accession' + fileEnding;
$(document).ready(function(){
    $.get(url).done(function () {
        $(document).ready(function(){
            stage = new NGL.Stage( "viewport" );
            stage.loadFile( url, { defaultRepresentation: true } );
            stage.set
        });
    }).fail(function () {
        $('#viewport').append("<div class='fetchError'>Sorry, failed to fetch structure.</div>");
    });
});

</script>



<div id="viewport" style="width:700px; height: 500px;"></div>
