<div class="reveal" id="templateAlignmentModal" data-reveal>
    <p class="custom-modal-header">Template Alignment (~100 most distinct sequences)</p>
    <div class="hide-for-forwarding-disabled">
        <select class="alignmentTemplateToolSelect">
            <option value="" selected>Forward To</option>
            <option value="formatseq" >FormatSeq</option>
            <option value="hhblits" >HHblits</option>
            <option value="hhomp" >HHomp</option>
            <option value="hhpred" >HHpred</option>
            <option value="hhrepid" >HHrepID</option>
        </select>
    </div>
    <textarea rows="35" class="alignmentTemplateTextArea" placeholder="Loading..." spellcheck="false"></textarea>
    <button class="close-button" id="alignmentTemplateClose" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
