@import java.lang.String

@import de.proteinevolution.tools.results.Ancescon
@(filename: String, treePath: String, jobID: String, iddiv: String)()


<select id="@{iddiv}_select" onchange="setLayout()">
        <option value="radial">Radial</option>
        <option value="vertical">Vertical</option>
    </select>
    <a type="button" onclick="@{iddiv}_download()" id="downloadAlignment" class="ancescon_download">Download Tree</a>
<hr class="horizontal-line">

<div id="@iddiv" class="pending-panel"></div>
<hr><br/>
<div id="toolReferences">
    If you use @iddiv on our Toolkit for your research, please cite:
    <div class="citation">
        @views.html.help.common.toolkit_citation_results()
        <br>
            @if(iddiv == "ANCESCON") {
                <div>Reconstruction of ancestral protein sequences and its applications.<br>
                    Cai W, Pei J, Grishin NV.<a href="https://bmcevolbiol.biomedcentral.com/articles/10.1186/1471-2148-4-33" target="_blank" rel="noopener"> BMC Evol Biol. 2004 Sep 17;4:33.</a></div>
            }
            @if(iddiv == "PhyML") {
                <div>New
                    algorithms and methods to estimate maximum-likelihood phylogenies: assessing the performance of PhyML 3.0.<br>
                    Guindon S, Dufayard JF, Lefort V, Anisimova M, Hordijk W, Gascuel O.<a href="https://academic.oup.com/sysbio/article-lookup/doi/10.1093/sysbio/syq010" target="_blank" rel="noopener"> Syst Biol. 2010 May;59(3):307-21.</a></div>
            }
            <br></div>
    <hr class="horizontal-line">
        </div>

<script>
    var s = $("#@{iddiv}_select");
    s.niceSelect();
    window["@{iddiv}_download"] = function(){
        var downloadFilename = "@{iddiv}_@{jobID}" + ".tree";
        var fileURL="/files/@{jobID}/@{filename}";
        $.ajax({
            method: "GET",
            url: fileURL
        }).done(function(data){
            download(downloadFilename, data);
        })
    };

    function setLayout() {
        var v = s.val();
        if(v === "radial") {
            tree.layout(radial_layout);
        } else {
            tree.layout(vertical_layout);
        }
        tree.update();
    }

   var parser = require("biojs-io-newick");
   var treelib =  biojs.vis.tree;
   var tree = treelib.tree();

  // Define the Layout
  var width = $("#tool-tabs").width() - 200;
  var vertical_layout = treelib.tree.layout.vertical();
  var radial_layout = treelib.tree.layout.radial();
  vertical_layout.width(width);
  vertical_layout.scale(true);
  vertical_layout.height(20);
  radial_layout.width(width);
  radial_layout.scale(false);

  tree.layout(radial_layout);
  tree.data(parser.parse_newick('@Ancescon.readTree(treePath)'));
  tree.on_click(function(node) {
      node.toggle();
      tree.update();
  });
  tree(document.getElementById("@iddiv"));

  function onFullscreenToggle() {

   var layout = tree.layout();
   layout.width($("#tool-tabs").width() - ($("#tool-tabs").width()/2.5));
   document.getElementById("@iddiv").children[0].setAttribute('id', 'treeSvgContainer');
   tree.update();
  }

  function onCollapsescreen() {
      var layout = tree.layout();
      document.getElementById("@iddiv").children[0].removeAttribute('id');
      layout.width($("#tool-tabs").width() - 200);
      tree.update();
  }
</script>
