@import play.api.libs.json.JsValue
@import controllers.routes
@import java.lang.String
@(toolName: String, jobID: String, jsValue: JsValue, tool : de.proteinevolution.models.Tool)()
<link href="@routes.Assets.versioned("styles/blast-visualization.css")" rel="stylesheet">
<div class="colorOptsAlignment">
    <a type="button" data-open="forwardModal_@toolName""><span>Forward selected</span></a>
    <a type="button" id="downloadAlignment"  onclick="download_()"><span>Download File</span></a>
    <hr id="line-element" class="horizontal-line">
</div>
<br/><br/>
<div class="h1">Retrieved @{{jsValue \ "ids" \ "ACC_IDS"}.as[List[JsValue]].size} IDs<br/><br/></div>

    @views.html.forwardmodals.simpler(tool, toolName)

 <div class="uncheckedListWrap">
    @for((id) <- (jsValue \ "ids" \ "ACC_IDS").as[List[JsValue]]){

       <div class="sequence"> @{id.as[String]} </div>

    }
 </div>

<script>
    var data=null;
    // get result json
    var fileUrl = "/files/@jobID/ids.json";
    $.getJSON(fileUrl, function (data_) {
    data = data_;
    });

    window["@{toolName}_forward"] = function(tool) {
        forwardData = data.ACC_IDS;
        console.log(JSON.stringify(data));
        forward(tool, forwardData.join("\n"));
    };

    function download_(){
        var fileString = "";
        fileString = data.ACC_IDS;
        var filename = "@{toolName}_jobID_@{jobID}" + ".fasta";
        download(filename, fileString.join("\n"));
    }
</script>