@import play.api.libs.json.JsValue
@(toolName: String, jobID: String, jsValue: JsValue)()
<div class="colorOptsAlignment">
    <a class="forwardModalOpenBtn" type="button" data-modal-type="simpler" data-result-name="@{toolName}" data-forward-issuer="UNCHECKED_LIST"><span>Forward selected</span></a>
    <a type="button" id="downloadAlignment" onclick="download_()"><span>Download File</span></a>
    <hr class="horizontal-line">
</div>
<br/><br/>
<div class="h1">Retrieved @{{jsValue \ "ids" \ "ACC_IDS"}.as[List[JsValue]].size} IDs<br/><br/></div>

 <div class="uncheckedListWrap">
    @for((id) <- (jsValue \ "ids" \ "ACC_IDS").as[List[JsValue]]){

       <div class="sequence"> @{id.as[String]} </div>

    }
 </div>

<script>
    new ForwardingModal($("#jobview"), "@{toolName}", "@{jobID}");

    function download_(){
        $.getJSON("/files/@jobID/ids.json", function (data) {
            var fileString = data.ACC_IDS;
            var filename = "@{toolName}_jobID_@{jobID}" + ".fasta";
            DownloadHelper.download(filename, fileString.join("\n"));
        });
    }
</script>
