@()(implicit messages: Messages, request: RequestHeader)

<div id="authoverlay">
    <div id="auth-tabs" >
        <ul id="auth-tab">
            <li><a href="#auth-tab-signin">Sign In</a></li>
            <li><a href="#auth-tab-signup">Sign Up</a></li>
            <li><a href="#auth-tab-forgot">Reset Password</a></li>
        </ul>
        <div class="callout alert" id="auth-alert" hidden>

        </div>
        <div class="tabs-panel" id="auth-tab-signin">
            @views.html.auth.signin("")
        </div>
        <div class="tabs-panel" id="auth-tab-signup">
            @views.html.auth.signup()
        </div>
        <div class="tabs-panel" id="auth-tab-forgot">
            @views.html.auth.forgot()
        </div>
    </div>
</div>