<div class="top-bar">
    <div class="top-bar-right">
        <h3>Toolkit Admin Dashboard</h3>
    </div>
</div>

<button class="hollow button" href="#">Primary Color</button>

<form>
    <div class="row">
        <div class="large-centered large-4 columns">
            <label>Input Label
                <input type="text" placeholder=".medium-6.columns">
            </label>
        </div>
    </div>
</form>


<script type="text/javascript">
                $(document).ready(function() {
                    $(document).foundation();
                })
</script>