<style>

#content {
width: 100%;
padding: 0 0 0 0;
}

#sidebar-switch {

display: none;

}

.switch {
    display: none;
}

#hideSwitch {

display: none;
}

.orbit-slide {
max-height: 380px;
}

body {
font-family: inherit;
margin: 0;
}

.lazy-container {

    float: left;
    width: 100%;
}

.content-wrapper-half {
 margin-top: 2em;
 border: 2px solid;
 border-color:  #8a8a8a;
 font-family: 'Vollkorn', 'Palatino', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
 background-color: white;


}

.content-wrapper-quarter {
    margin-top: 2em;
    font-family: 'Vollkorn', 'Palatino', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
    border: 2px solid;
    border-color:  #8a8a8a;
    background-color: white;

}

.text-wrapper-half {
    padding: 2em 5em;
    background-color: white;
}

.text-wrapper-quarter {
    padding: 2em 3em;


}

.lazy-container h5 {
   font-family: 'Liberation Serif', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
   text-align: justify;
   font-weight: bold;
}

.elements {
    display: flex;
    margin-bottom: 2em;

}

.lazy-container p {
    font-size: 0.90em;
}


    .grid {
    display: block;
    margin: auto;
    width: 55%;
}


    .grid div {
        float: left;

    }

    .tool-finder {

        background: #f2f2f2; /* Old browsers */
        background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        z-index: 9;
        position: relative;
        height: 8em !important;
        width: 100% !important;
        -webkit-box-shadow: 3px 3px 5px 0px lightgray;
        -moz-box-shadow: 3px 3px 5px 0px lightgray;
        box-shadow: 3px 3px 5px 0px lightgray;


    }

    FIELDSET {
    margin-top: 14px;
    display: inline-block;
    line-height: 200%;
    }


    select {
        height: 31px;
        font-size: 12px;
        font-family: font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    }


    .slider {

        width: 100%;

    }

    .slick-slide {
    height:430px;
    }

    .slick-slide img {
    height: 430px;
    }



    #sidebartoggle {
        display: none;
    }

    .search-query {
        margin-top: 1.8em;
        padding: 1em;

    }
    .search-query input {


    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


    }

    .search-query input:focus {

        border: 1px solid rgba(81, 203, 238, 1);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 0px 0px 4px rgba(81, 203, 238, 1);
        -moz-box-shadow: 0px 0px 4px rgba(81, 203, 238, 1);
        box-shadow: 0 0 5px rgba(81, 203, 238, 1);

    }

    .selectors {
        padding-left: 1.5em;
        padding-top: 1.5em;

    }

    .selectors select {
        width: 100% !important;
        float: left;
        display: block;

    }

    .select-job  {
        margin-top: 3em;
        padding: 1em;
        font-size: 0.75em;
    }

    .gradient {
    color: black;
    }

    .slider { cursor: default }

.slide-caption{
min-height: 80px;
position: absolute;
width: 100%;
z-index: 2;
background: rgba(51,51,51,0.8);
color:white;
font-family:'Roboto', Helvetica, sans-serif;
font-size: 1rem;
letter-spacing:1px;
line-height:1.5rem;
height:100%;
width:22%;
bottom:0;
right: 0;
padding:40px 32px 35px;
}


</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

<section class="slider" style="margin-top:-10px;">
    <div>
        <img src="@routes.Assets.at("images/lambda0.5_crop2.png")" style="width: 100%">
        <a href="https://elifesciences.org/content/4/e09410">
            <div class="slide-caption">This is a galaxy of folds.</div>
        </a>
    </div>
    <!--
    <div>
        <img src="@routes.Assets.at("images/proteinCoverart.jpg")" style="width: 100%">
        <a href="https://elifesciences.org/content/4/e09410">
            <div class="slide-caption">The total number of different proteins existing today is estimated to be a trillion.</div>
        </a>
    </div>
    -->
    <div>
        <img src="@routes.Assets.at("images/protfromfragments3.png")" style="width: 100%">
        <a href="https://elifesciences.org/content/4/e09410">
            <div class="slide-caption">The seemingly limitless diversity of proteins in nature arose from only a few thousand domain prototypes, but the origin of these themselves has remained unclear. We are pursuing the hypothesis that they arose by fusion and accretion.</div>
        </a>
    </div>
</section>



<div class="grid" style="margin-top: 355px;">

  <div class="tool-finder show-for-medium row centered">
        <div class="search-query large-12 medium-6">
            <div class="columns large-12"><input type="text" id="searchInput" name="searchInput" value="" placeholder="Search Keywords"></div>

        </div>
      <div data-disable-hover="false" class="trafficbar" id="trafficbar"></div>

  </div>

</div>



<!--
<div class="lazy-container">
    <div style="margin-left: 0;  margin-right: 0;" class="row elements">
    <div class="content-wrapper-half large-5 columns">
        <div class="text-wrapper-half">
            <h5>Max-Planck-Instituts für Entwicklungsbiologie, Tübingen</h5>
            <p style="font-size:  0.9em;">Das Max-Planck-Institut (MPI) für Entwicklungsbiologie entstand, als MPI für Virusforschung, 1954 aus einer Arbeitsgruppe für Virologie des bereits in Tübingen bestehenden Max-Planck-Institut für Biologie. Zunächst waren die Einrichtungen des MPI für Virusforschung in der Melanchthonstraße. Sechs Jahre später, 1960, zog das Institut in neue Gebäude in der Spemannstraße 35 um. </p>
        </div>
        <div class="image-wrapper">
           <a href="http://www.eb.tuebingen.mpg.de/de.html"><img class="lazy" data-original="@routes.Assets.at("images/MPICampus.jpg")" style="width: 100%"> </a>
        </div>

    </div>
    <div style="margin-left: 6em" class="content-wrapper-quarter large-3 end columns">
        <div class="image-wrapper" >
            <a href="/#/sitemap"> <img  class="lazy" data-original="@routes.Assets.at("images/dna.jpg")" style="width: 100%"> </a>
        </div>

        <div class="text-wrapper-quarter">
            <h5>Bioinformatics Toolkit</h5>
            <p> The Bioinformatics Toolkit is a platform that integrates a great variety of tools for protein sequence analysis. Many tools are developed in-house, and several public tools are offered with extended functionality. </p>
        </div>

    </div>

        <div  style="margin-left: 7em" class="content-wrapper-quarter large-2 columns">
            <div class="image-wrapper">
                <a href="/#/sitemap">  <img class="lazy" data-original="@routes.Assets.at("images/Tree.png")"> </a>
            </div>
            <div class="text-wrapper-quarter">
                <h5>Tool Map</h5>
                <p>An overview containing all available tools and showing their artificial relationships between each other.</p>
            </div>
        </div>
    </div>

</div>
-->



    <script>



    $("img.lazy").lazyload({
     threshold : -100,
     effect : "fadeIn"
    });


    $(".slider").on('init', function(slick) {
        $('.slider').fadeIn(3000);
    }).slick({
        autoplay: true,
        autoplayspeed: 5000,
        speed: 2500,
        dots: false,
        fade: true,
        lazyLoad: 'ondemand',
        cssEase: 'ease-out',
        zIndex: 1,
        responsive: [{
            breakpoint: 500,
            settings: {
                dots: false,
                arrows: false,
                infinite: false,
                slidesToShow: 2,
                slidesToScroll: 2
            }
        }]
    });



    setTimeout(function() {
        console.log(JSON.stringify(jobs.vm.getLastJob()));
        var json = JSON.parse(JSON.stringify(jobs.vm.getLastJob()));
        var status;

       switch (json.state) {
            case 3:
            status = "running";
            break;
            case 4:
            status = "error";
            break;
            case 5:
            status = "done";
            break;
       }

        $('#trafficbar').attr('data-tooltip');
        $('#trafficbar').attr('title', 'Click to view last job: '+json.job_id+', status: '+status);
        $('#trafficbar' ).css({'cursor': 'pointer'});

        $('.trafficbar').on('click', function () {
            //console.log(JSON.stringify(jobs.vm.getLastJob()));
            window.location.href = "/#/jobs/"+json.mainID;

        });


        if (jobs.vm.getJobState(jobs.vm.getLastJob()) == 'done')
            $('#trafficbar').css({
            'background': 'green',
            'box-shadow': '0 0 10px darkgreen'
            });
        else if (jobs.vm.getJobState(jobs.vm.getLastJob()) == 'error')
            $('#trafficbar').css({
            'background': '#ff0000',
            'box-shadow': '0 0 10px #d2071d'
            });
        else if (jobs.vm.getJobState(jobs.vm.getLastJob()) == 'running')
            $('#trafficbar').css({
            'background': '#ffff00',
            'box-shadow': '0 0 10px #ffce27'
            });
    }, 1000);

    </script>


