<style>

#content {
width: 100%;
padding: 0 0 0 0;
}

#sidebar-switch {

display: none;

}

.switch {
    display: none;
}

#hideSwitch {

display: none;
}

.orbit-slide {
max-height: 380px;
}

body {
font-family: inherit;
margin: 0;
}

.lazy-container {

    background-color: #F0F3F3;
    float: left;
    width: 100%;
}

.content-wrapper-half {
 margin-top: 2em;
 border: 2px solid;
 border-color:  #8a8a8a;
 font-family: 'Vollkorn', 'Palatino', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
 background-color: white;


}

.content-wrapper-quarter {
    margin-top: 2em;
    font-family: 'Vollkorn', 'Palatino', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
    border: 2px solid;
    border-color:  #8a8a8a;
    background-color: white;

}

.text-wrapper-half {
    padding: 2em 5em;
    background-color: white;
}

.text-wrapper-quarter {
    padding: 2em 3em;


}

.lazy-container h5 {
   font-family: 'Liberation Serif', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
   text-align: justify;
   font-weight: bold;
}

.elements {
    display: flex;
    margin-bottom: 2em;
}

.lazy-container p {
    font-size: 0.90em;
}


    .grid {
    display: block;
    margin: auto;
    width: 55%;
}


    .grid div {
        float: left;

    }

    .tool-finder {

        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
        border: 1px solid #ccc;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        z-index: 9;
        position: relative;
        height: 8em !important;
        width: 100% !important;


    }

    FIELDSET {
    margin-top: 14px;
    display: inline-block;
    line-height: 200%;
    }


    select {
        height: 31px;
        font-size: 12px;
        font-family: font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    }


    .slider {

        width: 100%;

    }

    .slick-slide {
    height:430px;
    }

    .slick-slide img {
    height: 430px;
    }



    .jobstate {

        margin-right: 0px;
        box-shadow: 0 0 5px rgba(0,0,0, .8);
        display: block;
        width: 30px;
        height: 115px;
        background: #ffff00;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        box-shadow: 0 0 10px orange;
    }

    #sidebartoggle {
        display: none;
    }

    .search-query {
        margin-top: 1.8em;
        padding: 1em;

    }

    .search-query input {
        margin: 0;

    }

    .selectors {
        padding-left: 1.5em;
        padding-top: 1.5em;

    }

    .selectors select {
        width: 100% !important;
        float: left;
        display: block;

    }

    .select-job  {
        margin-top: 3em;
        padding: 1em;
        font-size: 0.75em;
    }




</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.full.min.js"></script>

<section class="slider" style="margin-top:-10px;">
    <div><img src="@routes.Assets.at("images/ScalaCoil.jpg")" style="width: 100%"></div>
    <div><img src="@routes.Assets.at("images/proteinCoverart.jpg")" style="width: 100%"></div>
</section>



<div class="grid" style="margin-top: 355px;">

  <div class="tool-finder show-for-medium row centered">
        <div class="selectors large-3 medium-3">
            <select id="toolselect" style="margin-right: 15em;"><option>Tools</option>
                <option value="alnviz">AlignmentViewer</option>
                <option value="reformat">Reformat</option>
                <option value="seq2gi">Extract GIs</option>
                <option value="reformatb">Reformat Cluster</option>
                <option value="clans">Clans</option>
                <option value="tcoffee">T-Coffee</option>
            </select>
            <select><option>Section</option></select>
        </div>
        <div class="search-query large-6 medium-5">
            <input type="text" name="q" value="" placeholder="Search Keywords">
            <p><a data-open="advancedsearch-modal" style="margin-left: 4px; font-size: 12px;">Advanced Search</a></p>
        </div>
        <div class="select-job large-3 medium-4">
            <select>
                <option value="AL">Find your job</option>
                <option value="WY">123345</option>
                <option value="WY">523125</option>
                <option value="WY">222345</option>
                <option value="WY">123345</option>
            </select>
        </div>
  </div>

</div>



    <!--
    <div class="tool-finder show-for-medium row">
        <div class="selections large-2 medium-3 columns" id="selections">
            <select id="toolselect"><option>Tools</option>
            <option value="alnviz">AlignmentViewer</option>
            <option value="reformat">Reformat</option>
            <option value="seq2gi">Extract GIs</option>
            <option value="reformatb">Reformat Cluster</option>
            <option value="clans">Clans</option>
            <option value="tcoffee">T-Coffee</option>
            </select>
            <select><option>Section</option></select>
        </div>
        <div class="search-query large-5 medium-5 columns">
            <input type="text" name="q" value="" placeholder="Search Keywords">
            <p><a data-open="advancedsearch-modal" style="margin-left: 4px; font-size: 12px;">Advanced Search</a></p>
        </div>
        <div class="select-job large-4 medium-3 columns" style="font-size: 0.80em;">
            <select class="js-example-basic-single" style="margin-right:1.5em;">
                <option value="AL">Find your job</option>
                <option value="WY">123345</option>
                <option value="WY">523125</option>
                <option value="WY">222345</option>
                <option value="WY">123345</option>
            </select>
        </div>

        <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="3" title="you have still 2 running jobs: 124354 (HHpred), 658234 (Hmmer3)">
            <div class="jobstate"></div>
        </span>

    </div>


</div>

<script>


</script>
        <!--<fieldset>
            <div class="labels">
                <
            </div>
            <div class="inputs">
                <select id="toolselect"><option>Choose</option>
                    <option value="alnviz">AlignmentViewer</option>
                    <option value="reformat">Reformat</option>
                    <option value="seq2gi">Extract GIs</option>
                    <option value="reformatb">Reformat Cluster</option>
                    <option value="clans">Clans</option>
                    <option value="tcoffee">T-Coffee</option>
                </select><br />
                <select><option>Choose</option></select>
            </div>

        </fieldset>

        <div class="keysearch">
            <div class="large-7 columns">
            <input class="search-query" type="text" name="q" value="" placeholder="Search Keywords">
                <p><a data-open="advancedsearch-modal" style="margin-top: -25px; margin-left: 4px; font-size: 12px;">Advanced Search</a></p>
            </div>
            <div class="large-2 columns">
            <button class="fi-magnifying-glass" type="submit" style="margin-left: -25px; margin-top: 10px;"></button>
            </div>
            <div class="large-3 columns">
                <div style="margin-top: 5px;"> <! -- TODO: implement me: https://select2.github.io/examples.html
                <select class="js-example-basic-single" style="position:relative;z-index:9999999;">
                    <option value="AL">Find your job</option>
                    <option value="WY">123345</option>
                    <option value="WY">523125</option>
                    <option value="WY">222345</option>
                    <option value="WY">123345</option>
                </select>
                </div>
            </div>

        </div>

        <div class="trafficbar" id="trafficbar"></div> -->



    <!--<div class="traffic">
        <span data-tooltip aria-haspopup="true" class="has-tip right" data-disable-hover="false" tabindex="3" title="you have still 2 running jobs: 124354 (HHpred), 658234 (Hmmer3)">
        <div class="jobstate"></div>
        </span>
    </div> -->





<div class="lazy-container">
    <div class="row elements">
    <div class="content-wrapper-half large-5 large-offset-2 columns">
        <div class="text-wrapper-half">
            <h5>Max-Planck-Instituts für Entwicklungsbiologie, Tübingen</h5>
            <p style="font-size:  0.9em;">Das Max-Planck-Institut (MPI) für Entwicklungsbiologie entstand, als MPI für Virusforschung, 1954 aus einer Arbeitsgruppe für Virologie des bereits in Tübingen bestehenden Max-Planck-Institut für Biologie. Zunächst waren die Einrichtungen des MPI für Virusforschung in der Melanchthonstraße. Sechs Jahre später, 1960, zog das Institut in neue Gebäude in der Spemannstraße 35 um. </p>
        </div>
        <div class="image-wrapper">
           <a href="http://www.eb.tuebingen.mpg.de/de.html"><img class="lazy" data-original="@routes.Assets.at("images/MPICampus.jpg")" style="width: 100%"> </a>
        </div>

    </div>
    <div style="margin-left: 2em" class="content-wrapper-quarter large-3 end columns">
        <div class="image-wrapper" >
            <a href="/#/sitemap"> <img  class="lazy" data-original="@routes.Assets.at("images/dna.jpg")" style="width: 100%"> </a>
        </div>

        <div class="text-wrapper-quarter">
            <h5>Bioinformatics Toolkit</h5>
            <p> The Bioinformatics Toolkit is a platform that integrates a great variety of tools for protein sequence analysis. Many tools are developed in-house, and several public tools are offered with extended functionality. </p>
        </div>

    </div>
    </div>

    <div class="row elements">
        <div class="content-wrapper-quarter large-2 large-offset-2 columns">
            <div class="image-wrapper">
                <a href="/#/sitemap">  <img class="lazy" data-original="@routes.Assets.at("images/Tree.png")"> </a>
            </div>
            <div class="text-wrapper-quarter">
                <h5>Tool Map</h5>
                <p>An overview containing all available tools and showing their artificial relationships between each other.</p>
            </div>
        </div>
    </div>

    <div class="row elements">

    </div>


</div>


<div class="reveal" id="advancedsearch-modal" data-reveal>

    <form class="search-form" id="search-form" action="/#results" method="get">
        <div class="search-content">
            <center><h5>Advanced search</h5></center>

            <div class="search-fields">

                <div class="search-section">
                    <h6>Words</h6>
                    <div class="search-operator">
                        <label for="query"> <strong>All</strong> these words </label>
                        <div class="input-section">
                            <input type="text" name="query" value="" id="query"/>
                            <div class="query-note">

                                You can use any of <a href="/info" target="_blank">these search
                                operators</a> in this input field

      </div>

                        </div>
                    </div>
                    <div class="search-operator">
                        <label for="query"> This <strong>exact</strong> phrase </label>
                        <div class="input-section">
                            <input type="text" name="exact_phrase" value="" id="exact_phrase"/>
                            <div class="query-note">

      </div>

                        </div>
                    </div>
                    <div class="search-operator">
                        <label for="query"> <strong>Any</strong> of these words </label>
                        <div class="input-section">
                            <input type="text" name="any_of" value="" id="any_of"/>
                            <div class="query-note">

      </div>

                        </div>
                    </div>
                    <div class="search-operator">
                        <label for="query"> <strong>Exclude</strong> these words </label>
                        <div class="input-section">
                            <input type="text" name="exclude_words" value="" id="exclude_words"/>
                            <div class="query-note">

      </div>

                        </div>
                    </div>
                </div>

                <div class="search-section dates">
                    <h6>Dates</h6>
                    <div class="search-operator">
                        <label> Origin or created </label>
                        <div class="input-section date-range">
                            <input
                            type="text"
                            id="document_date_start"
                            name="document_date_start"
                            value=""
                            placeholder="yyyy-mm-dd"/>
                            <div class="to">to</div>
                            <input
                            type="text"
                            id="document_date_end"
                            name="document_date_end"
                            value=""
                            placeholder="yyyy-mm-dd"/>
                        </div>

                    </div>
                </div>

                <div class="input-section checkbox-group">
                    <label>
                        <input
                        type="checkbox"
                        name="include_external_sources"
                        value="True"

                        />
                        Include external sources
                    </label>
                    <div class="query-note">
                    e.g. NCBI, etc.
                    </div>
                </div>
                <p>&nbsp;</p>
                <div class="advanced-submit">
                    <button class="button small" type="submit" name="new_search" value="True">Search</button>
                </div>
            </div>
        </div>




    </form>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


    <script>

    $("img.lazy").lazyload({
     threshold : -100,
     effect : "fadeIn"
    });


    $(".slider").on('init', function(slick) {
        $('.slider').fadeIn(3000);
    }).slick({
        autoplay: true,
        autoplayspeed: 5000,
        speed: 2500,
        dots: false,
        fade: true,
        lazyLoad: 'ondemand',
        cssEase: 'ease-out',
        zIndex: 1,
        responsive: [{
            breakpoint: 500,
            settings: {
                dots: false,
                arrows: false,
                infinite: false,
                slidesToShow: 2,
                slidesToScroll: 2
            }
        }]
    });


    document.getElementById("toolselect").onchange = function() {

        var currentVal = this.value;

        if (currentVal == "reformat") {
            window.location.href = "/#/reformat";
        }
        if (currentVal == "seq2gi") {
            window.location.href = "/#/seq2gi";
        }
        if (currentVal == "alnviz") {
            window.location.href = "/#/tools/alnviz";
        }
        if (currentVal == "reformatb") {
            window.location.href = "/#/tools/reformatb"
        }
        if (currentVal == "clans") {
            window.location.href = "/#/tools/clans"
        }
        if (currentVal == "tcoffee") {
            window.location.href = "/#/tools/tcoffee"
        }


    };


    </script>


