@import play.api.mvc.RequestHeader
@(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit</title>

        <!-- CSS -->
        <!-- Bootstrap -->
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("foundation.min.css"))'>
	<!-- Custom CSS -->
	<link rel="stylesheet" media="screen" href="@routes.Assets.at("css/custom.css")">

        <!-- Dependencies with WebJars -->
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>

        <!-- Mithril -->
	<script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("mithril.min.js"))'></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/mithril/0.2.2-rc.1/mithril.min.js"></script>


        <!-- CoffeeScript Assets -->
        <script src="@routes.Assets.at("javascripts/index.js")" type="text/javascript" ></script>
        <script src="@routes.Assets.at("javascripts/submit.js")" type="text/javascript" ></script>

        <!-- Public Javascript Assets -->
        <script src="@routes.Assets.at("javascripts/msa_mpi_content.min.js")" type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/notify.min.js")' type="text/javascript" ></script>

        <!-- Javascript Router -->
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Tool.submit,
            routes.javascript.Tool.result
        )
    </head>


    <body data-ws-url="@routes.Application.ws().webSocketURL()">
        <div id="container">
            <div id="header">
                <a href="http://www.mpg.de" id="minerva"><img src="@routes.Assets.at("images/minerva_logo.gif")" alt="Minerva"/></a>
                <a href="#"><img id="mpilogo" src="@routes.Assets.at("images/mpi_logo.gif")" alt="Toolkit" /></a>


                <ul id="tabsection">
                    <li id="orange"  ><a href="/sections/alignment">Alignment</a></li>
                </ul>
        </div>

            <div id="sidebar">@sidebar()</div>
            <div id="content">@content</div>
            </div>
    </body>
</html>
