@import play.api.mvc.RequestHeader
@(toolname : String, toolframe: Html)(implicit messages: Messages, request: RequestHeader)


<!--
    Javascript that holds for all tool input forms
-->

<script type="text/javascript">
    toolname ='@toolname'

</script>

<form class="jobform">




        @toolframe




<input type="checkbox" id="customjobidwanted" name="customjobidwanted" />
<label for="customjobidwanted" id="customjobidwantedlabel">Provide Custom ID</label>
<input type="text" id="jobid" name="jobid" placeholder="Custom Job ID" />
<input class="secondary button" type="submit" value="Submit Job" >
<input class="jobformclear secondary button" type="button" value="Clear form" />

</form>