@import play.api.mvc.RequestHeader
@import models.tel.TEL
@import models.database.Job
@(tel : TEL,  toolName : String, toolFrame: Html, jobOption : Option[Job])(implicit messages: Messages, request: RequestHeader)
<!--
    Javascript that holds for all tool input forms
-->
<script type="text/javascript">
    toolname = '@toolName';
    @if(jobOption.isDefined){
      mainID   = '@{jobOption.get.mainID.stringify}';
    } else {
      mainID   = null;
    }
</script>
<h3>@{if (jobOption.isDefined) s"$toolName: ${jobOption.get.jobID}" else s"$toolName: New Job"}</h3>
<form class="jobForm">

        @toolFrame

</div>
@if(jobOption.isEmpty) {
    <!-- This is a new Job submission -->
    <input class="secondary button small" id="submitJob"    type="button" value="Submit Job" />
    <input class="secondary button small" id="prepareJob"   type="button" value="Prepare Job" />
    <input class="secondary button small" id="clearJobForm" type="button" value="Clear form" />
    <input class="secondary button small" id="provideJobID" type="button" value="Custom ID" />
    <input type="hidden" id="jobID" name="jobID" placeholder="Custom Job ID" style="width: 420px"/>
} else {
    <!-- This is an already submitted job -->
    <input class="secondary button small" id="startJob" type="button" value="Start Job"/>
}
</form>

<script src="@routes.Assets.at("scripts/form.js")"></script>