/*
Explorer Tree 1.4
*/

/* Get the bullets inside their LI's, so they're clickable. */
ul.explorertree li { list-style-position: inside; }
ul.explorertree, ul.explorertree ul, ul.explorertree li { margin: 0; padding: 0; }
ul.explorertree ul { padding-left: 20px; } /* sublist indentation */
/* Set the bullet images */
ul.explorertree li { list-style-image: url(/images/explorertree-bullet.png); list-style-type: square; }
ul.explorertree li.explorertree-open { list-style-image: url(/images/minus.gif); list-style-type: circle; }
ul.explorertree li.explorertree-closed { list-style-image: url(/images/plus.gif); list-style-type: disc; }
/* Actually show and hide sublists */
ul.explorertree li.explorertree-open ul { display: block; }
ul.explorertree li.explorertree-closed ul { display: none; }

