/* genomes styles */

/* sets background color of the leafs, which are sequenced organisms*/
div.genomeleaf {
	font-weight: bold;	
}

/* x/- img in front of checkboxes */
img.genomeimg {
	border: none;
	margin-bottom:1px; 
	margin-right:-3px;
}

/* indent of a genome node */
div.genomeindent {
	margin-left:18px;	
}

/* center labels vertically at checkboxes */
label.genomelabel {
	position:relative; 
	bottom:4px;
}