/* main styles */ 
html {
  height: 100%; 
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-image: url(../images/bg_stripe.gif);
  background-repeat: repeat-x;
  background-position: left top;
  height: 100%;
  color: #000;
}

table {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

#container {
  position: relative;
  min-height: 100%;
  padding: 0px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  /*width: 900px;*/
  background-image: url(../images/background_tuebingen.gif);
  background-repeat: repeat-y;
  background-position: left;
  background-color: #FFF;
}

#footer {
  position: static;
  bottom: 0px;
  margin-left: 170px;
  padding-bottom: 10px;
  border-top: 1px solid #CCC;
  color: #666;
  width: 700px;
  clear:both;
}

#debug {
  margin: 0px 0px 0px 170px;
  padding: 10px 10px 70px 0px;
}

#content {
  margin: 0px 0px 0px 170px;
  padding: 0px 10px 70px 0px;
  width: 720px;
  position: relative;
}
 @media screen and (-webkit-min-device-pixel-ratio:0)
 {
        #content{padding: 2px 10px 70px 0px; }
  }

div.errormsg {
  margin: 10px 10px 10px 170px;
  padding: 5px 5px 5px 5px;
  background-color: #FFFFCB;
  border: 1px solid #CC3333;
  color: #CC3333;
}	

div.errormsg ul li {
  color: #000;
  font-size: 12px;
}

a {
  text-decoration: none;
  font-weight: bold;
}


#content div.label, div.labelj a {
  font-weight: normal;
}



#footer a, #footer a:visited {
  color: #005FA9;
}

#content a {
  color: #005FA9;
  font-size: 11px;
}

#content a:hover  {
  background-color: #DDEEFF;
}

p {
  margin: 0;
  padding: 0;
  line-height: 1.7;
}

p.tooldescr {
  margin: 0;
  padding: 0;
  float: right;
  width: 550px;
  font-size: 11px;
}

p.call-action {
  display: inline;
  margin-right: 30px;
  font-size: 11px;
  color: #005FA9;
  font-weight: bold;
  line-height: 1;
}

p.message {
  margin-top: 10px;
  padding-left: 8px;
  font-size: 12px;
}

p.search {
  background-color: #F4EEDF;
}
p.alignment {
  background-color: #FFEECC;
}
p.seqanal {
  background-color: #CFE7B8;
}
p.secstruct {
  background-color: #E2EFF9;
}
p.tertstruct {
  background-color: #DCDCE7;
}

p.classification {
  background-color: #F1EBEB;
}
p.utils {
  background-color: #F3CFCF;
}


h1 {
  font-weight: bold;
  font-size: 11px;
  color: #FFF;
  margin: 0;
  letter-spacing: 0.5pt;
  padding: 3px 0px 5px 8px;
}	

h2 {
  padding: 0px 0px 0px 5px;
  margin-top: 10px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: normal;
}

h3 {
  clear: both;
  display: block;
  font-weight: bold;
  background-color: #E6F2F2;
  font-size: 11px;
  color: #000;
  margin-top: 10px;
  padding: 2px 0px 4px 8px;
}

h3.search {
  background-color: #F4EEDF;
}
h3.alignment {
  background-color: #FFEECC;
}
h3.seqanal {
  background-color: #CFE7B8;
}
h3.secstruct {
  background-color: #E2EFF9;
}
h3.tertstruct {
  background-color: #DCDCE7;
}
h3.classification {
  background-color: #F1EBEB;
}
h3.utils {
  background-color: #F3CFCF;
}


h4 {
  padding: 0;
  margin: 0px 0px 0px 8px;
  float: left;
  width: 150px;
  text-align: left;
  font-size: 12px;
  font-weight: bold; 
}

#content h5 {
  font-size: 11px;
  font-weight: bold;
  padding: 0px 0px 10px 0px;
  margin-top: 0px;
  margin-bottom: 0px; 	
}

span.small {
  font-size: 7px;
}

/* quickstart menue */
#quickstart {
  position: absolute;
  top: 30px;
  right: 5px;
}

/* site requirements */
#sitereq {
  position: absolute;
  top: 55px;
  right: 5px;
  color: #cc3333;
  border: 1px solid #cc3333;
  background-color: #FFFFCB;
  padding: 5px 5px 5px 5px;
  font-size: 11px;
  z-index: 30;
  display: none;
}
#sitereqfull {
  color: #cc3333;
  border: 2px solid #cc3333;
  background-color: #FFFFCB;
  margin-top: 10px;
  padding: 5px 5px 5px 5px;
  font-size: 13px;
  font-weight: bold;
  z-index: 30;
  display: none;
}

#sitereq a {
  color: #cc3333;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.3pt;
}
#sitereqfull a {
  color: #cc3333;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.3pt;
}

/* header */
#header {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	background: #FFFFFF url(../images/headerbg.gif) repeat-x top;
	height: 95px;
	top: 0px;
	width: 100%;
}
#header img {
	margin : 0;
	padding: 0;
	border: 0;
}
#header #minerva {
	position: absolute;
	top: 18px;
	left: 3px;
}
#header #mpilogo {
	position: absolute;
	top: 25px;
	left: 170px;
}

/* metanavigation */
#metanav {
  display: block;
  position: absolute;
  top: 1px;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style: none;
  z-index: 10;
  border-right: 1px solid #FFF;
  border-left: 1px solid #FFF;
  background-color: #E6F2F2;
  float: right;
}
#metanav li	{
  float: right;
  padding: 0;
  margin: 0;
  border-left: 1px solid #999;
}
#metanav li#greeting {
  padding: 1px 10px 0px 10px;
  font-size: 10px;
  border-width: 0px;
}
#metanav li a	{
  max-height: 12px;
  display: block;
  background-color: #E6F2F2;
  color: #666666;
  border: 0;
  margin: 0;
  padding: 1px 15px 2px 15px;
  font-size: 10px;
  font-weight: normal;
}
#metanav li#home	{
  float: left;
  border-left-width: 0px;
  border-right: 1px solid #FFF;
}
#metanav li#home a {
  width: 140px;
  padding: 1px 0px 2px 0px;
  text-align:  center;
  text-transform: uppercase;
}
#metanav li a:hover {
  background-color: #C9DBD8;
}
#metanav li.current a {
  background-color: #C9DBD8;
}

/* sidebar */
#sidebar {
	position: absolute;
	top: 95px;
	left: 0px;
/*	background-image: url(../images/mainpicNavi.gif);*/
	background-repeat: no-repeat;
	background-position: left top;
	width: 139px;
	padding: 0px 0px 0px 2px;
	margin: 0px;
	z-index: 10;
}
#sidebar h5 {
	color: #000;
	font-size: 10px;
	font-weight: bold;
	margin: 0;
	padding: 0px 0px 4px 0px;
}
#sidebar .section {
	clear: both;
	margin: 0px;
	padding: 8px;
	border-bottom: 1px solid #7CA6A6;
}
#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar ul.joblist li {
	clear: both;
	list-style-type: none;
	display: block;
	padding: 0px 0px 0px 10px;
	margin: 0;
	border-bottom: 1px solid #7CA6A6;
}

/* table definitins*/

/* additions by Hippolyt 2012 */
#sorttable{
  border-right-width: 0px;
  border-left-width: 0px;	
  border-spacing: 0px;
  table-layout: fixed;
  width: 139px;
  border-collapse: collapse;
}

#sidebar table#sorttable tr td{
    float: left;
    width: 8px;
}

#sidebar table#sorttable td.sub_stat_left{
	float: left;
	width:7px
}

#sidebar table#sorttable td.sub_stat_right{
	float: left;
	width: 20px;
}

#sidebar table#sorttable td.sub_id_right{
	float: left;
	width: 62px;
}

#sidebar table#sorttable td.sub_type_left{
	float: left;
	width: 8px;
}
/* additions end */

#sidebar table#jobtable thead th  {

  vertical-align:  middle;
  text-align:left;
  width: 13px;  
  height: 16px; 
}
#sidebar table#jobtable thead th.search  {

  vertical-align: left; 
  width: 30px;  
}
#sidebar table#jobtable thead th.jobcell  {

  vertical-align: left; 
  width: 72px;
}





#jobtable{
  border: 1px solid #7CA6A6;
  border-right-width: 0px;
  border-left-width: 0px;	
  border-spacing: 0px;
  table-layout: fixed;
  width: 139px;
  border-collapse: collapse;
}

#sidebar table#jobtable tr td {
  border: 1px solid #7CA6A6;
  vertical-align: middle;	
}

/* cell types for job types */
#sidebar table#jobtable td.search {
  border-right-width: 0px;
  width: 30px;
  background-color: #E8DCC2;
}
#sidebar table#jobtable td.alignment {
  border-right-width: 0px;
  width: 30px;
  background-color: #FFE09F;	
}
#sidebar table#jobtable td.seqanal {
  border-right-width: 0px;
  width: 30px;
  background-color: #99CC66;
}
#sidebar table#jobtable td.secstruct {
  border-right-width: 0px;
  width: 30px;
  background-color: #C8DCEC;
}
#sidebar table#jobtable td.tertstruct {
  border-right-width: 0px;
  width: 30px;
  background-color: #BEBED3;
}
#sidebar table#jobtable td.classification {
  border-right-width: 0px;
  width: 30px;
  background-color: #E9D5D5;
}
#sidebar table#jobtable td.utils {
  border-right-width: 0px;
  width: 30px;
  background-color: #E89F9F;	
}


/* joblist jobstatus bullets */
#jobtable td.s {
  background-color: #CCC;
  width: 13px;
}
#jobtable td.d {
  background-color: #6AB94B;
  width: 13px;
}
#jobtable td.q {
  background-color: #D6ABAB;
  width: 13px;
}
#jobtable td.r {
  background-color: #FFCC66;
  width: 13px;
}
#jobtable td.e {
  background-color: #CC0000;
  width: 13px;
}
#sidebar td.jobcell{
  padding: 0px;
  margin: 0px;
  border-width: 1px;
  border-spacing: 0px;
  width: 72px;
  overflow: hidden;
  vertical-align: middle;
}

#jobtable td a {
  padding: 0px 2px 0px 2px;
  margin: 0px;
  border-spacing: 0px;
  display: block;
  height: 100%;
  line-height: 16px;
  vertical-align: middle;
}

#jobtable input.jobcheckbox{
  padding: 0px;
  margin: 0px;
  margin-right: -5px;
}

#sidebar a:hover, #sidebar a#current {
  background-color: #C9DBD8;
}
#jobtable td {
  font-size: 9px;
  width: 15px;
}
#sidebar a {
  font-size: 9px;
  color: #666666;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
#sidebar p {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}
#sidebar div.hr {
  margin-bottom: 10px;
}


/* page structure */
div.row {
  clear: both;
  padding: 5px 0px 0px 5px;
  margin: 0;
  display: block;
}

div div.label {
  padding: 0;
  margin: 0;
  float: left;
  width: 200px;
  font-weight: normal;
  text-align: right;
}

div div.label {
  padding: 4;
  margin: 0;
  float: left;
  width: 200px;
  font-weight: normal;
  text-align: right;
}

div div.formw {
  margin: 0;
  padding: 0;
  float: right;
  width: 490px;
  text-align: left;
} 

div div.slabel {
  padding: 0;
  margin: 0;
  float: left;
  width: 150px;
  font-weight: normal;
  text-align: right;
  display: block;
}

div div.bformw {
  margin: 0;
  padding: 0;
  float: right;
  width: 520px;
  text-align: left;
} 

div.hr {
  clear: both;
  border-bottom: 1px solid #CCC;
}

div.spacer {
  clear: both;
  margin: 0;
  padding: 0;
  line-height: 0.1;
}
div.top {
  clear: both;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 15px;
}

div.hr {
  clear: both;
  margin: 0px 0px 10px 0px;
  border-bottom: 1px solid #E6F2F2;
}

div.alignres {
  margin: 10px 0px 0px 0px;
  padding: 0;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #D5DDDD;
  overflow: scroll;
  font-size: 11px;
  font-family: monospace;
  height: 450px;
  color: #000;
  white-space: pre;
}

pre {
  font-size: 11px;
  font-family: monospace;
  margin: 0;
  padding: 0;
}

#content ul.arrow-marker {
  list-style-position: inside;
  padding: 2px 0px;
  margin-left: 8px;
  
}
ul.arrow-marker li {
  list-style-image: url(../images/arrow.gif);
  padding-bottom: 3px;
  font-size: 11px;
  color: #005FA9;
}


ul.search {
  background-color: #F4EEDF;
}
ul.alignment {
  background-color: #FFEECC;
}
ul.seqanal {
  background-color: #CFE7B8;
}
ul.secstruct {
  background-color: #E2EFF9;
}
ul.tertstruct {
  background-color: #DCDCE7;
}

ul.classification {
  background-color: #F1EBEB;
}
ul.utils {
  background-color: #F3CFCF;
}



/*  Für Tool/Job Menu */
#content #jobsection {
  clear: both;
  position: relative;
  /*background-image: url(../images/tab_border_bottom.gif);*/
  background-position: bottom;
  background-repeat: repeat-x;
  height: 30px;
  margin-bottom: 10px;
}
#jobsection ul {
  position: absolute;
  bottom: 0px;
  margin:0;
  padding:0;
  list-style:none;
}
#jobsection li {
  float: left;
  margin: 0px 3px 0px 0px;
  padding:0;
}
#jobsection ul li a {
  border: 1px solid #7CA6A6;
  border-bottom: 0px;
  display:block;
  padding:2px 5px;
  font-size: 10px;
  color: #000;
}
#jobsection li.current a {
  background-color: #E6F2F2;
  border-bottom: 0px;
}
#jobsection li a:hover {
  background-color: #C9DBD8;
}

#content #resultactions {
  clear: both;
  position: relative;
  background-color: #E6F2F2;
  background-position: bottom;
  background-repeat: repeat-x;
  margin: -10px 0px 0px 0px;
  height: 16px;
  margin-bottom: 10px;
  border: 1px solid #7CA6A6;
  border-top: 0px;
}
#resultactions ul {
  position: absolute;
  bottom: 0px;
  margin:0;
  padding:0;
  list-style:none;
}
#resultactions li {
/*  float: right;*/
  display: block;
  float:left;
  margin: 0px;
  padding:0px;
}
#resultactions ul li a {
  display:block;
  padding:2px 6px 2px 6px;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 0.5pt;
  color: #666;
  top: 1px;
}
#resultactions li a:hover {
  background-color: #C9DBD8;
}
#resultactions li.current a {
  background-color: #C9DBD8;
}

#jalview{
  float:right;
}

#help_jal{
  float:right;
  padding-top:10px;
}

#help_jal a{
  font-weight:normal;
}

/* jobsection/resultsection colors for the different sections */


/* search section */
#jobsection.search ul li a {
  border: 1px solid #D0BA89;		   
  border-bottom: 0px;
}
#jobsection.search li.current a, #resultactions.search li.current a {
  background-color: #F4EEDF;
}
#jobsection.search li a:hover, #resultactions.search li a:hover {
  background-color: #E8DCC2;
}
#content #resultactions.search {
  background-color: #F4EEDF;
  border: 1px solid #D0BA89;
}

/* alignment section */
#jobsection.alignment ul li a {
  border: 1px solid #FFCC66;		   
  border-bottom: 0px;
}
#jobsection.alignment li.current a, #resultactions.alignment li.current a {
  background-color: #FFEECC;
}
#jobsection.alignment li a:hover, #resultactions.alignment li a:hover {
  background-color: #FFE09F;
}
#content #resultactions.alignment {
  background-color: #FFEECC;
  border: 1px solid #FFCC66;
}

/* seqanal section */
#jobsection.seqanal ul li a {
  border: 1px solid #669933;		   
  border-bottom: 0px;
}
#jobsection.seqanal li.current a, #resultactions.seqanal li.current a {
  background-color: #CFE7B8;
}
#jobsection.seqanal li a:hover, #resultactions.seqanal li a:hover {
  background-color: #99CC66;
}
#content #resultactions.seqanal {
  background-color: #CFE7B8;
  border: 1px solid #669933;
}

/* secstruct section */
#jobsection.secstruct ul li a {
  border: 1px solid #79A4C4;		   
  border-bottom: 0px;
}
#jobsection.secstruct li.current a, #resultactions.secstruct li.current a {
  background-color: #E2EFF9;
}
#jobsection.secstruct li a:hover, #resultactions.secstruct li a:hover {
  background-color: #C8DCEC;
}
#content #resultactions.secstruct {
  background-color: #E2EFF9;
  border: 1px solid #79A4C4;
}

/* tertstruct section */
#jobsection.tertstruct ul li a {
  border: 1px solid #666699;		   
  border-bottom: 0px;
}
#jobsection.tertstruct li.current a, #resultactions.tertstruct li.current a {
  background-color: #DCDCE7;
}
#jobsection.tertstruct li a:hover, #resultactions.tertstruct li a:hover {
  background-color: #BEBED3;
}
#content #resultactions.tertstruct {
  background-color: #DCDCE7;
  border: 1px solid #666699;
}

/* classification section */
#jobsection.classification ul li a {
  border: 1px solid #D6ABAB;		   
  border-bottom: 0px;
}
#jobsection.classification li.current a, #resultactions.classification li.current a {
  background-color: #F1EBEB;
}
#jobsection.classification li a:hover, #resultactions.classification li a:hover {
  background-color: #E9D5D5;
}
#content #resultactions.classification {
  background-color: #F1EBEB;
  border: 1px solid #D6ABAB;
}

/* utils section */
#jobsection.utils ul li a {
  border: 1px solid #CC3333;		   
  border-bottom: 0px;
}
#jobsection.utils li.current a, #resultactions.utils li.current a {
  background-color: #F3CFCF;
}
#jobsection.utils li a:hover, #resultactions.utils li a:hover {
  background-color: #E89F9F;
}
#content #resultactions.utils {
  background-color: #F3CFCF;
  border: 1px solid #CC3333;
}




/* Front page */ 

body div.sub {
  float: left;
  width: 200px;
  text-align: right;
}

body div.sub h1 {
  padding: 0;
  margin: 0 0 20px 0;
  color: #000;
  font-size: 16px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: normal;
  text-align: right;
}

body div.main {
  font-size: 11px;
  float: right;
  width: 450px;
  margin-right: 10px;
}
.morris-hover{position:absolute;z-index:500;}
.morris-hover.morris-default-style {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-color: rgba(230, 230, 230, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
    border-image-slice: 100% 100% 100% 100%;
    border-image-source: none;
    border-image-width: 1 1 1 1;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: rgba(230, 230, 230, 0.8);
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 2px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: rgba(230, 230, 230, 0.8);
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 2px;
    border-top-color: rgba(230, 230, 230, 0.8);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top-style: solid;
    border-top-width: 2px;
    color: #666666;
    font-family: sans-serif;
    font-size: 12px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    text-align: center;
}
.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.25em;
}
.clearall {
  margin: 0 0 10px;
  padding: 10px 0 0 0;
  clear: both;
  font-size: 2px;
}
