#tabsection {
	list-style: none;
	position: absolute;
	bottom: 0px;
	left: 170px;
   margin: 0;
	padding: 0;
	width: 690px;
}
	
#tabsection li {
	float:left;
	background:url("../images/tab_grey_right.gif") no-repeat right top;
	margin:0;
	padding:0;
	border-bottom: 1px solid #FFF;
}

#tabsection a {
	display: block;
	background:url("../images/tab_grey_left.gif") no-repeat left top;
	padding:5px 10px 3px 10px;
	color: #FFFFFF;
	letter-spacing: 0.2pt;
	font-weight: bold;
	font-size: 10px;
}

/* "blue" tab */
#tabsection li.current#blue {
   background-image:url("../images/tab_blue_right.gif");
	border-width: 0px;
}
#tabsection li.current#blue a {
	background-image:url("../images/tab_blue_left.gif");
	padding-bottom:4px;
}
#tabsection li#blue:hover a {
	background-image:url("../images/tab_blue_left.gif");
}
#tabsection li#blue:hover {
	background:url("../images/tab_blue_right.gif") no-repeat right top;
}

/* "red" tab */
#tabsection li.current#red {
    background-image:url("../images/tab_red_right.gif");
	border-width: 0px;
}
#tabsection li.current#red a {
	background-image:url("../images/tab_red_left.gif");
	padding-bottom:4px;
}
#tabsection li#red:hover a {
	background-image:url("../images/tab_red_left.gif");
}
#tabsection li#red:hover {
	background:url("../images/tab_red_right.gif") no-repeat right top;
}


/* "ocker" tab */
#tabsection li.current#ocker {
    background-image:url("../images/tab_ocker_right.gif");
	border-width: 0px;
}
#tabsection li.current#ocker a {
	background-image:url("../images/tab_ocker_left.gif");
	padding-bottom:4px;
}
#tabsection li#ocker:hover a {
	background-image:url("../images/tab_ocker_left.gif");
}
#tabsection li#ocker:hover {
	background:url("../images/tab_ocker_right.gif") no-repeat right top;
}


/* "green" tab */
#tabsection li.current#green {
   background-image:url("../images/tab_green_right.gif");
	border-width: 0px;
}
#tabsection li.current#green a {
	background-image:url("../images/tab_green_left.gif");
	padding-bottom:4px;
}
#tabsection li#green:hover a {
	background-image:url("../images/tab_green_left.gif");
}
#tabsection li#green:hover {
	background:url("../images/tab_green_right.gif") no-repeat right top;
}

/* "orange" tab */
#tabsection li.current#orange {
   background-image:url("../images/tab_orange_right.gif");
	border-width: 0px;
}
#tabsection li.current#orange a {
	background-image:url("../images/tab_orange_left.gif");
	padding-bottom:4px;
}
#tabsection li#orange:hover a {
	background-image:url("../images/tab_orange_left.gif");
}
#tabsection li#orange:hover {
	background:url("../images/tab_orange_right.gif") no-repeat right top;
}

/* "darkblue" tab */
#tabsection li.current#darkblue {
   background-image:url("../images/tab_darkblue_right.gif");
	border-width: 0px;
}
#tabsection li.current#darkblue a {
	background-image:url("../images/tab_darkblue_left.gif");
	padding-bottom:4px;
}
#tabsection li#darkblue:hover a {
	background-image:url("../images/tab_darkblue_left.gif");
}
#tabsection li#darkblue:hover {
	background:url("../images/tab_darkblue_right.gif") no-repeat right top;
}

/* "violett" tab */
#tabsection li.current#violett {
   background-image:url("../images/tab_violett_right.gif");
	border-width: 0px;
}
#tabsection li.current#violett a {
	background-image:url("../images/tab_violett_left.gif");
	padding-bottom:4px;
}
#tabsection li#violett:hover a {
	background-image:url("../images/tab_violett_left.gif");
}
#tabsection li#violett:hover {
	background:url("../images/tab_violett_right.gif") no-repeat right top;
}

/* "darkred" tab */
#tabsection li.current#darkred {
    background-image:url("../images/tab_darkred_right.gif");
	border-width: 0px;
}
#tabsection li.current#darkred a {
	background-image:url("../images/tab_darkred_left.gif");
	padding-bottom:4px;
}
#tabsection li#darkred:hover a {
	background-image:url("../images/tab_darkred_left.gif");
}
#tabsection li#darkred:hover {
	background:url("../images/tab_darkred_right.gif") no-repeat right top;
}
