//SignIn/SignUp/Edit profile styling
.auth-tabs.ui-tabs {
  border: none;
  border-radius: 4px;
  width: 25%;
  min-width: 380px;
  background: #FFF;
  min-height: 20em;
  padding: 0;
  overflow: hidden;
  margin: auto;

  .ui-tabs-tab:nth-child(n+2) {
    width: 33%;
  }

  .ui-tabs-tab:nth-child(1) {
    width: 34%;
  }
}

.auth-form {
  margin: 2em auto;

  div {
    width: 13em;
    margin: 0 auto;
  }

  label {
    font-size: 0.8em;
  }

  a {
    font-size: 0.6em;
    padding: unset;
  }

  input {
    background-color: transparent;
    &:focus {
      outline: none !important;
      border: 1px solid $primary-color;
      box-shadow: 0 0 10px $primary-color;
    }
    &[type=submit] {
      width: 40%;
      background-color: $primary-color;
      font-size-adjust: none;
      margin: 3em auto;
    }
  }
}

#profile-edit-form select, #profile-edit-form select option {
  font-size: 0.85em;
  height: 2.5em;
}

#eMailDisplay {
  margin-top: 4em;
  font-size: 0.85em;
}

//Sign in Button
#auth-link {
  font-size: 13px;
  overflow-x: hidden;
  text-shadow: 0 1px 0 #FFF;
  width: 5em;
  padding: 0.5em;
  color: $primary-color;
  cursor: pointer;
  margin-left: 0.25em;
  &:hover {
    background-color: #d1d1d1;
  }
}

#auth-link-text:hover {
  color: $primary-color;
}

#auth-overlay {
  display: block;
  margin: auto;
}

#auth-alert {
  margin-top: 1em;
  font-size: 0.8em;
}

#hamburgerInside {
  position: absolute;
  margin: 20px 0 0 90%;
}

button.loggedIn {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 156px;
  font-weight: bolder;
  text-align: center;
  float: none;
  color: #666;
  cursor: pointer;
}

// Dropdown UserMenu
.userMenu {
  min-width: 90px;
  width: 90px;
  font-size: 0.75em;
  margin-top: 0.85em;
  border: none;
  position: absolute;
  box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.3);
  right: 0;
  left: auto;
  top: 100%;

  a {
    padding: 0.75em !important;
  }

  i {
    margin-right: 0.7em !important;
    margin-bottom: 0.2em;
    color: #666;
    opacity: 0.6;
    font-size: 1em;
  }
}

.menu.vertical > li a:not(.button):hover {
  background: rgba(211, 211, 211, 0.5);
}