// footer nav styling
footer .menu {
  padding-bottom: 0.5em;
  a {
    color: gray;
  }
}

#buildinfo {
  background: red;
  color: black;
  font-weight: bold;
  font-family: $font-family-monospace;
}
