/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

//Sub-Nav Styling
#sub-nav {
  color: #848484;
  padding: 3px 5px;
  margin-bottom: 1em;
  text-align: center;
  height: 20px;
  bottom: 0;
  width: 100%;
  a {
    color: gray;
    font-size: 0.675em;
    padding: 0 1em 0 1em;
  }
}

#socket {
  color: #848484;
  padding: 5px 5px 40px 5px;
  text-align: center;
  font-size: 0.7em;
  height: 20px;
  bottom: 0;
  width: 100%;
}

#buildinfo {
  background: red;
  font-size: 12px;
  color: $body-font-color;
  font-weight: bold;
  text-align: center;
  font-family: $font-family-monospace;
  margin: auto;
  width: 50%;
}
