body {
  overflow-x: hidden;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  margin: 0;
  &.is-reveal-open {
    overflow: visible;
  }
  @include breakpoint(medium down) {
    overflow-x: auto;
  }
}

div#main-container {
  height: 100%;
  min-width: 930px;
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  div#main {
    max-width: 75rem;
    margin: 0 auto 55px !important;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);

    .upper-parts {
      @include breakpoint(medium down) {
        padding: 1rem 0 0 0;
      }
    }

    #main-window {
      @include breakpoint(medium) {
        padding-top: 30px;
      }
      @include breakpoint(large) {
        padding-top: 20px;
      }
      #main-content {
        min-height: 100%;
        margin-left: 0;
        margin-right: 0;
        position: relative;
        @include breakpoint(medium down) {
          padding: 0;
        }
        .error404-container {
          text-align: center;
          padding-top: 0.4rem;
        }
        #404wrapper {
          display: block;
          margin: 100px auto auto;
          #404msa {
            margin-left: 25px;
          }
        }
      }
    }

    & > .columns > .row {
      height: 135px;
      min-height: 135px;
      @include breakpoint(medium down) {
        height: auto;
        min-height: auto;
      }
    }
  }
}

// fix to enable tooltips on input
input.has-tip {
  border: $input-border;
}

#message-float {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.clear {
  border: 0;
}

.text-small {
  font-size: 0.7em;
}

.padded-column {
  padding: 0.625em;
}

.no-padded-column {
  padding-left: 0;
  padding-right: 0;
}

:focus {
  outline: 0;
}

.nowrap {
  white-space: nowrap;
}

.nice-select ul {
  width: 20em;
  max-height: 15em;
}

textarea {
  resize: both;
  &:focus {
    border: 1px solid #c3c3c3;
  }
}

.noFouc {
  display: none;
}

/* Color for placeholder text; override default colors */
*::-webkit-input-placeholder {
  color: #767676 !important;
}

*:-moz-placeholder {
  /* FF 4-18 */
  color: #767676 !important;
}

*::-moz-placeholder {
  /* FF 19+ */
  color: #767676 !important;
}

*:-ms-input-placeholder {
  /* IE 10+ */
  color: #767676 !important;
}

tr.spaceUnder > td {
  padding-bottom: 0;
}

[data-accordion-menu] ul {
  display: none;
}

.accordion-title {
  font-weight: bold;
}

.select2-results__option {
  font-size: 12px;
}

.select2-results ul {
  overflow-x: hidden;
}

.select2-container--default .select2-selection--multiple {

  border: 1px solid lightgrey !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #f4f4f4 !important;
  color: black !important;
}

.select2-search {
  width: 100%;
}

.select2-search__field {
  margin-bottom: 0.5em;
  font-size: 0.8em;
  width: 100% !important;
}

@media screen and (min-width: 756px) {

  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    min-width: 300px;
  }
}

// jquery ui tabs styles (auth and jobview)
.ui-tabs {
  .ui-tabs-nav {
    padding: 0;
    .ui-tabs-tab {
      margin: 0;
      .ui-tabs-anchor {
        margin-top: 0.5em;
      }
      &.ui-state-default {
        background: inherit;
        border: none;
        height: 100%;
        &.ui-state-active {
          background: #fefefe;
          height: 100%;
        }
        a {
          font-size: small;
          margin-top: 0.5em;
        }
      }
    }
  }
  .ui-tabs-panel {
    padding: 2em;
  }
}