/* Helpmodal in Subnavigation */
#helpModal {
  width: 80%;
  margin-left: auto;
  height: inherit;
  min-height: inherit;
  top: 209px !important;
  font-size: 0.85em;
  padding: 0;
  .modal-content #tabs {
    border: none;
    padding: 0;
    .accordion-content {
      font-size: 0.9em;
    }
  }
  .close-button {
    top: 0.2rem;
  }
}

.helpicon:hover {
  color: $primary-color;
}

/* help modals in footer*/
.help-modal {
  font-size: 0.85em;
  width: 55%;
  .help-modal-content {
    padding: 1em;
    h5 {
      color: $primary-color;
    }
    .section {
      margin-top: 1em;
      h6 {
        font-weight: bold;
        font-size: 1em;
        margin-bottom: 0;
      }
      p {
        font-weight: normal;
      }
    }
    .row {
      h5 {
        color: #707070;
      }
    }
    .iFrame {
      overflow: auto;
    }
  }
}
