/* Helpmodal in Subnavigation */
#helpModal {
  width: 80%;
  margin-left: auto;
  height: inherit;
  min-height: inherit;
  top: 209px !important;
  font-size: 0.85em;
  padding: 0;
  .modal-content #tabs {
    border: none;
    padding: 0;
  }
  .close-button {
    top: 0.2rem;
  }
}

.helpModals {
  .section {
    margin-top: 1em;
  }

  p {
    font-weight: normal;
  }

  h5 {
    color: $primary-color;
  }

  h6 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
  }
}

#imprintModal,
#subnavHelpModal,
#subnavFAQModal,
#privacyPolicyModal,
#contactModal,
#citeModal,
#recentUpdatesModal {
  font-size: 0.85em;
  width: 55%;
}

#imprintContent,
#helpModalContent,
#FAQModalContent,
#privacyPolicyContent,
#contactModelContent,
#citeModalContent,
#recentUpdatesContent {
  padding: 1em;
}

.accordion-content {
  font-size: 0.9em;
}

/* Help Modals for Tools */
#help-psiblast {
  font-size: 0.85em !important;
}

.helpicon:hover {
  color: $primary-color;
}
