/* Logo and Icons */
#mainface {
  padding-right: 0 !important;
}

#mainlabel {
  letter-spacing: 0.05em;
  font-size: 0.85em;
  padding-left: 0 !important;
}

#social {
  float: right;
  padding-right: 16px;
  i {
    margin-left: 15px;
    color: #666;
    font-size: 1em;
    &:hover {
      color: $primary-color;
    }
  }
}

#offline-alert {
  font-size: 0.78em;
  background-color: transparent;
  border: none;
  color: $alert-color;
  display: none;
  text-align: center;
  cursor: pointer;
  float: right;
}

.maintenance-alert {
  background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 240, 1) 100%);
  text-shadow: 0 1px 0 #FFF;
  color: #848484;
  font-size: 0.65em;
  border: 1px solid #c0c0c0;
  padding: 6px 8px 7px 8px;
  border-radius: 2px;
  box-shadow: 0 0 3px 0 #d85000;
  transition: box-shadow 1.5s;
  display: none;
  float: right;
}

.index-container {
  @include breakpoint(medium down) {
    padding: 1rem 0 0 0;
    section > .caption-container {
        padding: 0 4px;
    }
  }
}

/* Tool finder, Cluster workload section */
.liveTableContainer {
  background-clip: content-box;
  font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  float: none;
  margin: 1em 1em 0 1em;
  height: 10em;
  box-shadow: 0 1px 2px 0 #ccc;
  border-radius: 3px;
  border: 1px solid #ccc;
  background: #eeeeee;
}

.grid {
  display: block;
  margin: -90px auto auto;
  width: 55%;
}

.tool-finder {
  z-index: 9;
  position: relative;
  height: 11em !important;
  width: 100% !important;
}

.liveTableContainer .form-group {
  padding: 0.8em 3em 0.3em;
  background-color: #eee;
}

.search-container {
  input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    box-shadow: none;
    &:focus {
      border: 1px solid #f1e6f9;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: 0 0 4px #f1e6f9;
      -moz-box-shadow: 0 0 4px #f1e6f9;;
      box-shadow: 0 0 5px #f1e6f9;;
    }
  }
  .twitter-typeahead::before {
    content: "\F50D";
    position: absolute;
    top: calc(50% - 1em + 4px); /*center - font size + padding of 8px*/
    right: 10px;
    font-family: 'mfg_labs_iconsetregular', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    z-index: 1;
    pointer-events: none;
  }
}

.search-input {
  margin-bottom: 0;
  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: darkgray;
    font-size: 0.9em;
  }
  &::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: darkgray;
    opacity: 1;
    font-size: 0.9em;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: darkgray;
    opacity: 1;
    font-size: 0.9em;
  }
}

.search-results {
  color: #262626;;
  font-size: 0.8em;
  margin: 0 20px 5px 16px;
}

.search-result-jobid {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 50em;
  vertical-align: middle;
}

#index-search .search-result-tool-short {
  display: none;
}

.header-name {
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}

.selectors {
  padding-left: 1.5em;
  padding-top: 1.5em;

  select {
    width: 100% !important;
    float: left;
    display: block;
  }

}

.caption-container {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0;
}

.slide-text {
  margin-top: 1em;
  font-size: 0.8rem;
}

.twitter-typeahead {
  width: 100% !important;
}

.tt-menu {
  -webkit-box-shadow: 0 0 1px 0 #cacaca;
  -moz-box-shadow: 0 0 1px 0 #cacaca;
  box-shadow: 0 0 1px 0 #cacaca;
  width: 100% !important;
  min-width: 200px;
  margin-top: 5px !important;
  border-radius: 4px;
  border: 1px solid #eeeeee;
  background-color: white;
  max-height: 420px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tt-dataset {
  position: relative;
  width: 100% !important;
  display: block;
  margin: auto;
}

.tt-dropdown {
  overflow-y: auto
}

.tt-suggestion {
  display: block;
  margin: auto;
}

.search-results-dropdown {
  background-color: white;
  margin-top: 0;
  width: 100%;
}

.list-group-item {
  width: 100%;
  text-align: left;
  padding: 0 0 5px 9px;
}

.list-group-item-notfound {
  display: block;
  margin: auto;
  text-align: center;
  color: lightgrey;
  padding: 5px 5px 5px 15px;
}

.trafficbar {
  cursor: pointer;
  z-index: 99;
  height: 0.2em;
  width: 100%;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-animation: background 10s cubic-bezier(1, 0, 0, 1) infinite;
  animation: background 10s cubic-bezier(1, 0, 0, 1) infinite;
  &.queue {
    background: rgba(192, 181, 191, 1);
    height: 0.3em;
    box-shadow: 0 1px 6px #9192af;
  }
  &.done {
    background: rgba(0, 180, 40, 0.9);
    box-shadow: 0 1px 6px #3b8058;
  }
  &.error {
    background: rgba(180, 0, 40, 0.9);
    box-shadow: 0 1px 6px #FFC5C5;
  }
  &.running {
    background: rgba(255, 255, 0, 0.9);
    box-shadow: 0 1px 6px #FFF666;
  }
  &.not_init {
    display: none;
  }
}

.liveTable {
  background: rgba(214, 214, 214, 0.96);
  text-align: center;
  padding: 0 7px 0 7px;
  margin-bottom: 0;
  height: 70px;
  thead, tbody {
    background: transparent;
  }
  th {
    text-align: center;
    font-size: 0.70em;
    font-weight: normal;
  }
  td {
    text-align: center;
    font-size: 0.70em;
  }
  tr {
    height: 3em;
  }
}

td#joblistIcon {
  width: 50%;
  i {
    opacity: 0.9;
    line-height: 1em;
    font-size: 1.3em;
    margin-left: 1.5em;
  }
}

#jobmanagerIcon {
  font-size: 1.2em;
}

#indexLoadBar {
  text-align: center;
  background: none;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  .loadBarGraph {
    text-align: center;
    display: flex;
    table {
      padding: 0;
      margin: 0;
      tr {
        height: 10px;
      }
    }
  }
  .loadBarSize {
    width: 12em;
    margin: 0 auto;
  }
  .loadBar {
    border-radius: 3px;
    margin: 0 7px 0 7px;
    padding: 1px;
    &.green {
      background: rgba(255, 255, 255, 0.9);
      box-shadow: inset 0 0 10px 2px rgba(0, 180, 40, 0.83), 0 0 4px rgba(143, 243, 0, 0.49);
    }
    &.yellow {
      background: rgba(255, 255, 255, 0.9);
      box-shadow: inset 0 0 10px 2px rgba(180, 180, 0, 0.83), 0 0 4px rgba(243, 243, 0, 0.49);
    }
    &.red {
      background: rgba(255, 255, 255, 0.9);
      box-shadow: inset 0 0 10px 2px rgba(180, 0, 40, 0.83), 0 0 4px rgba(243, 0, 10, 0.49);
    }
    &.gray {
      box-shadow: inset 0 0 10px 2px rgba(117, 182, 255, 0.4), 0 0 4px rgba(117, 182, 255, 0.1);
    }
    &.pulsating {
      -webkit-animation: pulse 1s alternate infinite;
      -moz-animation: pulse 1s alternate infinite;
    }
  }
}

/* Title Image */
.slide-caption {
  min-height: 80px;
  position: absolute;
  background: rgba(4, 4, 4, 0.9);
  color: white;
  font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5rem;
  height: 100%;
  width: 22%;
  top: 0;
  right: 10px;
  padding: 40px 32px 35px;
  opacity: 0.55;
}

.captionContainer {
  position: relative;
}

.slide-text {
  margin-top: 1em;
  font-size: 0.8rem;
}

/*Recent Updates Section*/
.article_container {
  margin-top: 2em;
  text-align: center;
}

.tile-main-container {
  width: 884px !important;
  height: 300px;
  background-color: transparent;
  display: inline-block;
  float: none !important;
  padding: 0;
  margin-top: 1.5em;
}

.tile_container {
  width: 100%;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
  -o-transition: all 1s linear;
  transition: all 1s linear;
  display: flex;
  border-radius: 4px;
  border: solid 1px lightgray;
  box-shadow: 0 1px 2px 0 #ccc;
  background-color: white;
}

.quick-links {
  width: 20%;
  padding: 1.6rem 2rem;
  border-left: 1px dashed lightgrey;
  text-align: left;
  a {
    color: #626262;
    font-size: 0.8em;
    display: flex;
    justify-content: space-between;
    line-height: 2;

    i {
      font-size: 1.65em !important;
      color: $primary-color;
      line-height: 1.2;
    }
  }
}

.text_part {
  width: 65%;
  padding: 1.6em 2em;
  text-align: left;
  p {
    font-size: 0.8em !important;
    color: #626262;
  }
  h6 {
    color: $primary-color;
    margin-bottom: 0;
    width: 10em;
    opacity: 0.85;
  }
  hr {
    position: absolute;
    width: 8em;
    color: $primary-color;
  }
}

.text_part h5,
.quick-links h5 {
  color: $primary-color;
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 12pt;
}

.tile-img {
  width: 15%;
  overflow: hidden;
  position: relative;
  opacity: 0.7;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

/*Responsiveness*/
/*Change slider on medium screen and adjust page elements */
@media screen and (max-width: 950px) {
  .slide-caption {
    width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .slide-caption {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  [class*="tile-img"] {
    display: none;
  }
  [class*="tile-main-container"] {
    width: 760px !important;
  }
  [class*="text_part"] {
    width: 75%;
  }
}

/* Rest */
@-webkit-keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

@-moz-keyframes pulse {
  0% {
    background: rgba(255, 255, 255, 1);
  }
  100% {
    background: rgba(255, 255, 255, 0);
  }
}

noscript {
  letter-spacing: 0.2em;
  font-family: Vollkorn, Georgia, Times, 'Times New Roman', serif;
  padding-top: 200px;
  display: block;
  margin: auto;
}

FIELDSET {
  margin-top: 14px;
  display: inline-block;
  line-height: 200%;
}

.trafficbar {
  display: block !important;
}
