/* Job List in Sidebar */
.job-list {
  display: table;
  width: 100%;

  .arrow {
    height: 1.7em;
    text-align: center;
    border: 1px solid lightgray;
    color: rgba(128, 128, 128, 0.6);
    &.inactive {
      color: rgba(210, 210, 230, 0.5);
    }
    &.top {
      -moz-border-radius-topleft: 4px;
      -moz-border-radius-topright: 4px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      line-height: 1.5;
    }
    &.bottom {
      height: 1.7em;
      border-top: 0;
      -moz-border-radius-bottomleft: 4px;
      -moz-border-radius-bottomright: 4px;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      line-height: 1.3;
    }
  }

  .job-button {
    display: flex;
    height: 2.5em;
    width: 100%;
    border: solid 1px lightgray;
    color: gray;
    font-size: 0.7em;
    margin-bottom: 1em;
    -webkit-box-shadow: 0 1px 6px 0 #ccc;
    -moz-box-shadow: 0 1px 6px 0 #ccc;
    box-shadow: 0 1px 6px 0 #ccc;
    background-color: #eee;
    cursor: pointer;
    .sort {
      color: #707070;
    }
    .sort.selected {
      color: $primary-color;
    }
    .sort.id,
    .sort.tool,
    .sort.date,
    .openmanager {
      width: 25%;
    }
    .openmanager .icon-list {
      font-size: 1.5em;
      margin: 0 -8px 0 0;
    }
  }

  .elements {
    display: table-row-group;
    -webkit-box-shadow: 2px 2px 15px -5px rgba(153, 153, 153, 1);
    -moz-box-shadow: 2px 2px 15px -5px rgba(153, 153, 153, 1);
    box-shadow: 2px 2px 15px -5px rgba(153, 153, 153, 1);
  }

  .job-handle {
    display: flex;
    .delete {
      border-right: 1px solid lightgray;
    }
  }

  .pages {
    font-size: 0.8em;
    color: gray;
    opacity: 0.5;
    text-align: center;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
  }
}

.textcenter {
  text-align: center;
  vertical-align: middle;
  line-height: 2.2em;
}

/*  One job in the Joblist */
.job-list .elements .job {
  cursor: pointer;
  border-top: none;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  font-size: 0.7em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  display: flex;
  width: 100%;
  vertical-align: middle;
  text-align: center;
  -webkit-user-select: text; /* Chrome all / Safari all */
  -moz-user-select: text; /* Firefox all */
  -ms-user-select: text; /* IE 10+ */
  user-select: text;
  .jobid {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 7em;
    padding: 0 0 0 0.35em;
    margin: 0 auto;
  }
  .toolname {
    float: right;
    font-family: Monaco, Consolas, "Lucida Console", monospace;;
    text-align: left;
    margin-right: 1.1em;
  }
  .boxclose {
    width: 20%;
    opacity: 0.8;
    float: right;
    cursor: pointer;
    color: #808080;
    border-radius: 30px;
    font-size: 2.6em;
    display: inline-block;
    line-height: 0;
    padding: 0.26em;
    &:before {
      content: "\00d7";
    }
  }
  &.selected {
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;
    box-shadow: 1px 1px 6px 1px $dark-gray;
    border: none;
  }
  &:hover {
    -webkit-filter: brightness(93%);
  }
  /* colors */
  &.d {
    background-color: #DBFFDB;
  }

  &.e {
    background-color: #FFDDDD;
  }

  &.r {
    background-color: #FFFF94;
  }

  &.q {
    background-color: #c0b5bf;
  }

  &.w {
    background-color: #dbdbff;
  }

  &.i {
    background-color: #f2f2f2;
  }

  &.p {
    background-color: #f2f2f2;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
