/* Jobview Tab Components*/
.ui-widget {
  font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.1em;
}

.ui-widget input, .ui-widget select, .ui-widget button {
  font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9em;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

.ui-widget-header {
  background: #eee;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border: none;
  height: 2.5em;
}

.ui-state-default {
  background: inherit !important;
  border: none !important;
}

.ui-state-active {
  background: #fefefe !important;
  height: 100%;
}

.ui-state-default a {
  font-size: small;
  margin-top: 0.5em;
}

.ui-corner-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ui-tabs-panel {
  padding: 2em !important;
}

#jobview {
  padding-left: 3px;
  padding-right: 15px;
}

#tool-tabs {
  padding: 0;
  background: #fefefe;
  border: 1px solid #ccc;
}

.alignment_buttons {
  flex-direction: row;
  margin-top: 4px;
}

.leftAlignmentButtons {
  width: 100%;
}

.alignmentExample {
  margin-top: -0.71em;
  color: rgba(0, 110, 98, 166) !important;
  margin-right: 1em;
  line-height: 20px;
}

.alignment_box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.uploadContainer {
  display: flex;
}

.fileUpload {
  background-color: unset !important;
  color: rgba(0, 110, 98, 166) !important;
  line-height: 20px;
  margin-top: 0.25em;
  padding: 0 0 0.05em 0;
}

.alignment_format {
  margin-bottom: 10px;
  margin-top: 10px;
  float: right;
}

.alignment_mode {
  margin-left: auto;
  margin-top: -30px;
  float: right;
}

.inputDBs {
  overflow-y: auto;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.switchDiv {
  width: 15em;
  padding-top: 0.5em;
}

.alignmentParameter input {
  background-color: transparent;
  color: black;
  float: left !important;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0 !important;
}

.alignmentParameter input:hover {
  background-color: transparent;
  color: black;
}

.alignmentParameter input:focus {
  background-color: transparent;
  color: black;
}

.submitJob {
  background-color: rgba(0, 110, 98, 166) !important;
  border-radius: 3px !important;
  margin-right: 2em !important;
  color: white !important;
  margin-left: 2em;
}

.submitJob:hover {
  background-color: gray !important;
}

.submitbuttons {
  display: inline-block;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 1.9375em;
  padding-bottom: 0.3em;
  padding-right: 0.5em;
}

.submitbuttons .jobID {
  color: #000;
  text-shadow: 0 0 0 #878787;
  height: 2.6em;
  width: 9.5em;
  float: right;
  border-radius: 3px;
  font-size: 0.75em;
  padding-left: 1.3em;
}

.submitbuttons .jobid.white {
  border: 1px solid #cacaca;
}

.submitbuttons .jobid.green {
  border: 1px solid green;
}

.submitbuttons .jobid.red {
  border: 1px solid #da4453;
}

/*Parameter Tab */
.parameter-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.parameter {
  font-size: small;
}

.parameter label {
  font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 0.9em;
}

.parameter input {
  float: right;
  font-size: 0.9em;
}

.parameter span {
  float: left;
}

.parameter #alignment,
#alignment_two {
  font-family: Consolas, "SFMono-Regular", "Source Code Pro", "Liberation Mono", Menlo, Courier, monospace;
  margin: 0 0 0;
}

.parameter .nice-select {
  width: 20em !important;
}

.parameters input,
#alignmentViewerPanel .alignmentExample {
  text-shadow: 0 0 0 #878787;
  height: 3em;
  border-width: 0 0 1px 0;
  box-shadow: none;
  background-color: transparent;
  padding-bottom: 0;
}

.parameters input:focus {
  text-shadow: 0 0 0 #000;
  /*width: 15em; */
  border: solid rgb(113, 113, 113);
  border-width: 0 0 2px 0;
  box-shadow: none;
  -webkit-transition: border 100ms ease-out;
  -moz-transition: border 100ms ease-out;
  -o-transition: border 100ms ease-out;
  background-color: transparent;
}

.parameters input:invalid {
  border-color: red;
}

#select2-patsearchdb-container {
  width: 17.35em;
  color: #000;
}

#select2-proteomes-results {
  width: 300px;
}

/* Alignment Viewer */
#alignmentViewerPanel {
  height: 27em;
}

#alignmentViewerPanel textarea {
  font-size: 0.75em;
  font-family: "Source Code Pro", "Liberation Mono", monospace;
  margin-bottom: 0.5em;
}

#alignmentViewerPanel .alignmentExample {
  padding-left: 0;
  padding-right: 0;
  width: 7em;
  text-align: left;
}

#bioJSContainer,
#rootDiv {
  overflow-x: scroll;
}

.biojs_msa_labels {
  font-size: 12px;
}

#viewAlignment {
  float: right;
  margin-right: 0 !important;
}

.smenubar a {
  color: black !important;
  padding: 4px 8px !important;
}

.smenu-dropdown {
  left: auto !important;
  top: 3cm !important;
}

/* Jobline */
.jobline {
  padding-top: 5px;
  height: 50px;
}

.jobline .toolname {
  font-size: large;
  font-weight: bold;
  color: #2E8C81;
  @include breakpoint(small down) {
    padding-left: 0.5em;
  }
}

.jobline .jobinfo {
  padding-right: 1em;
  float: right;
  font-size: small;
}

.jobline .jobdate {
  float: right;
  font-size: small;
}

.jobline .jobid {
  padding-right: 1em;
}

.jobline i {
  margin-left: 0.5em;
}

.jobline .helpicon {
  color: grey;
}

/* File Upload */
#uploadBoxClose i {
  color: red;
  opacity: 0.6;
  padding-left: 0.5em;
  font-size: 1.2em;
  margin-top: 0.15em;
}

.uploadFileName {
  display: flex;
  padding-left: 1.5em;
  padding-top: 0.3em
}

.uploadFileName p {
  width: 30%;
}

#submit_modal {
  background-color: #F7E4E1;
  width: 500px;
  height: 10em;
  border: 1px solid darkgray;
  border-radius: 5px;
  font-size: 0.9em;
  color: black;
  margin-top: 5em;
  text-align: center;
}

#projectReveal {
  background-color: white;
  width: 200px;
  height: 6em;
  border: 1px solid darkgray;
  font-size: 0.9em;
  color: black;
  margin-top: 5em;
  text-align: center;

}

#submit_modal p, #projectReveal p {
  width: 50%;
  margin: auto;
  font-weight: bold;
}

#submit_modal input {
  margin: 4em 1em 0 1em;
  border-radius: 3px;
  font-size: 0.75rem;
  background-color: #a6a6a6;
}

#submit_modal input:hover {
  background-color: #a1a1a1;
}

#projectInput {
  max-width: 156px;
}

#findProject {
  padding-bottom: 2px;
}

.greenlink a:not(.accordion-title) {
  color: #2aa198;
}

/* Side buttons */
i.delete {
  -webkit-appearance: none;
  color: #666 !important;
  background-color: inherit;
  font-size: 1.25em;
  margin-top: 0.1em;
}

i.delete:hover {
  background-color: inherit;
  font-size: 1.25em;
  cursor: pointer;
  margin-top: 0.1em;
}

i.delete:active {
  background-color: inherit;
  font-size: 1.25em;
  margin-top: 0.1em;
}

i.delete:focus {
  background-color: inherit;
  font-size: 1.25em;
  margin-top: 0.1em;
}

i.button_fullscreen {
  -webkit-appearance: none;
  color: #666 !important;
  background-color: inherit;
  margin-top: 0.3em;
  margin-right: 0.5em;
  font-size: 1.5em;
}

i.button_fullscreen:hover {
  background-color: inherit;
  margin-top: 0.3em;
  margin-right: 0.5em;
  font-size: 1.5em;
  cursor: pointer;
}

i.button_fullscreen:active {
  background-color: inherit;
  margin-top: 0.3em;
  margin-right: 0.5em;
  font-size: 1.5em;
}

i.button_fullscreen:focus {
  background-color: inherit;
  margin-top: 0.3em;
  margin-right: 0.5em;
  font-size: 1.5em;
}

/* Nice select */
.nice-select {
  font-size: 0.9em;
  text-shadow: 0 0 0 #000;
  line-height: 2.3em;
  height: 2.5em;
  border: 1px solid rgba(127, 127, 127, 0.5);
  color: #000;
}

.nice-select .list {
  margin-left: 0;
  border: 1px solid grey;
  overflow-y: auto;
  margin-top: 3px;
  border-radius: 5px;
}

.nice-select .list li {
  line-height: 2.3em;
  min-height: 0;
}

.nice-select.wide {
  width: 100%;
  line-height: 30px;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
  border-color: darkgray;
}

.result-panel .nice-select,
.result-panel .nice-select ul {
  font-size: 1em;
  width: 15em;
  margin-bottom: 0.5em;
}

/*Switch for HHpred Alignment*/
/* The switch - the box around the slider */
.switch.tiny {
  position: relative;
  display: inline-block;
  width: 3rem;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.sliderSwitch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.sliderSwitch:before {
  position: absolute;
  content: "";
  height: 17px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .sliderSwitch {
  background-color: rgba(0, 110, 98, 166);
}

input:focus + .sliderSwitch {
  box-shadow: 0 0 1px rgba(0, 110, 98, 166);
}

input:checked + .sliderSwitch:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.sliderSwitch.round {
  border-radius: 34px;
}

.sliderSwitch.round:before {
  border-radius: 50%;
}

.switchContainer {
  width: 20em;
  display: flex;
}

.firstLabel {
  margin-bottom: 0.5em;
  margin-left: 1em;
}

/* Notes section */
.jobnotes textarea {
  border: 1px solid #ccc;
  font-size: 0.75em;
  flex-grow: 1;
  padding: 8px;
  box-sizing: border-box;
  background-color: transparent;
  color: #343434;
  line-height: 1.7em;
  outline: none;
  resize: none;
  height: 200px;
}

a.hasNotes:link,
a.hasNotes:visited,
a.hasNotes:hover,
a.hasNotes:focus,
a.hasNotes:active {
  color: rgba(0, 110, 98, 166);
}

#validOrNot {
  margin-left: auto;
  float: right;
  margin-bottom: 0;
  margin-top: -2.55em;
}

/* Callouts */
.callout {
  border: unset !important;
  opacity: 0.9;
  min-width: 12em;
  text-align: center;
  padding: 0.6em 0.7em 0.6em 0.7em;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.callout.alert {
  color: red;
}

.callout.success {
  background-color: #DBFFDB;
}

.callout.warning {
  background-color: #FFF666;
}

.invalid {
  border: 1px solid red;
}

.patternMatch {
  color: red;
  background-color: rgba(255, 0, 8, 0.1);
}

/* Process Logs */
.running-panel,
.queued-panel {

  font-size: 0.75em;
}

.pending-panel {
  text-align: center;
  display: block;
  margin-left: auto;
}

.openSimilarJob button {
  font-size: 0.725em !important;
}

.copySpacer {
  padding-bottom: 25px;
}

.logElem {
  display: flex;
}

.logElemRunning {
  background: url('/assets/images/ellipsis.gif') no-repeat center center;
  width: 32px;
  height: 15px;
  margin-top: 0.6em;
  margin-right: 0.5em;
}

.logElemDone {
  font-size: 1.3em;
  color: rgba(40, 120, 111, 0.636);
  margin-right: 0.7em;
  margin-left: 0.6em;
}

.logElemError {
  font-size: 1.3em;
  color: #da4453;
  margin-right: 0.7em;
  margin-left: 0.6em;

}

.logElemText {
  margin-left: 1em;
  margin-top: 0.2em;
}

.processJobIdContainer {
  margin-top: 1em;
  display: flex;
}

.processCiteContainer a {
  color: rgba(0, 110, 98, 166);
}

/* Loading Spinner */
.still_waiting {
  margin-top: 200px;
  display: none;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid rgba(40, 120, 111, 0.636); /* Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  -webkit-animation-delay: 1s; /* Safari 4.0 - 8.0 */
  animation-delay: 1s;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Modeller */
.modellerKey .valid {
  color: rgb(219, 255, 219);
}

.modellerKey .invalid {
  background-color: rgb(255, 221, 221);
}

/* To make elements on the website full screen */
.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  z-index: 1000;
}

tr.job a:link {
  color: #000;
}

tr.job a:visited {
  color: #000;
}

.jobid a {
  color: #666;
}

.jobid a:visited {
  color: #666;
}

.hhrepidview {
  margin: 0 0;
}
