/* overlay */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-y: hidden;
  transition: 0.5s;
  opacity: 0.98;

  @include breakpoint(small down) {
    overflow-y: auto;
  }

  .overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
    @include breakpoint(small down) {
      font-size: 20px
    }
  }
  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #eee;
  }
}

/* Navigation bar on top of page */
#metanav {
  margin-top: -5px;
  min-height: 39px;
}

#logo {
  padding-top: 15px;
  img {
    display: block;
  }
}

/* Navbar */
#navbar {
  padding: 0 5px;
  width: 750px;
  .tabs {
    overflow-x: hidden;
    .tabs-title a {
      border-radius: 5px;
      color: #888 !important;
      font-weight: bold;
      text-shadow: 0 1px 1px $white;
    }
  }
  .tabs-panel.toolsection {
    margin: 0 0 -1.5rem 0;
    a {
      color: grey;
      display: table-cell;
      font-size: 0.75em;
      text-shadow: 0 1px 1px white;
      padding: 1rem 1rem 1rem 1rem;
      line-height: 1;
      border-radius: 5px;
      &:hover, &:active, &:focus {
        background: rgba(220, 220, 220, 0.5);
      }
    }
  }
  #panel1 {
    border-top: 2px solid #D0BA89;
  }
  #panel2 {
    border-top: 2px solid #FFCC66;
  }
  #panel3 {
    border-top: 2px solid #669933;
  }
  #panel4 {
    border-top: 2px solid #79A4C4;
  }
  #panel5 {
    border-top: 2px solid #666699;
  }
  #panel6 {
    border-top: 2px solid #D6ABAB;
  }
  #panel7 {
    border-top: 2px solid #CC3333;
  }
}

/* small devices menu toggler */
#hambutton {
  position: absolute;
  margin: 0.75em;
  button {
    color: gray;
    height: 60%;
    cursor: pointer;
  }
}

/* Reconnect text*/
#offline-alert i {
  font-size: 1.2em !important;
}
