.selectContainer {
  select {
    font-size: 0.68em !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 4px;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    height: 2.75em;
    color: #000;
    text-shadow: 0 0 0 #000;
    width: 15em;
    margin-left: 10em;
  }
  .callout {
    min-width: 11em;
    float: right;
    margin-right: 0.5em;
    margin-top: -5.6em;
    p {
      margin-bottom: 0;
      font-size: 0.7em;
      width: 90%;
    }
  }
}

#inputMirror {
  width: 99%;
  border: 1px solid lightgray ;
}

#reformatExample {
  margin-top: 0;
  height: 2.7em;
  padding-left: 0;
  border-width: 0 0 1px 0;
  background-color: transparent;
}

