.tooltip {
  text-align: center;
}

// custom tooltipster
.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized {
  .tooltipster-box {
    background: $tooltip-background-color;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .tooltipster-content {
    color: $tooltip-color;
    padding: $tooltip-padding;
    font-size: $tooltip-font-size;
  }
}
