.tooltip {
  text-align: center;
}

.ui-corner-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ui-state-default {
  background: inherit !important;
  border: none !important;
  height: 100%;
}

.ui-state-default a {
  font-size: small;
}

.ui-state-active {
  background: #fefefe !important;
  height: 100%;
}

#tool-tabs {
  border: none;
  padding: 0;
}

.ui-widget-header {
  background: #eee;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border: none;
  margin-top: 0;
  height: 2.5em;
}

.ui-tabs-anchor {
  margin-top: 0.5em;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

.ui-tabs-panel {
  padding: 2em !important;
}

.smenubar {
  height: 40px !important;
  a.smenubar_alink {
    color: #737373 !important;
    padding: 4px 12px 4px 0 !important;
    font-weight: 700 !important;
    background: none !important;
  }
  .smenu-dropdown {
    left: auto !important;
    margin-top: 1.8em !important;
  }
}

.biojs_msa_searchresult_row > button {
  margin-right: 0.65rem;
  margin-left: 0.1rem;
  font-size: 0.7em !important;
  background-color: #7b7b7b; /* Green */
  border: none;
  color: white;
  padding: 5px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.biojs_msa_searchresult_ovbox {
  display: none
}

.biojs_msa_labelblock {
  overflow-y: overlay !important;
}

.biojs_msa_labelrow {
  font-weight: normal !important;
}


// custom tooltipster
.tooltipster-sidetip.tooltipster-borderless.tooltipster-borderless-customized {
  .tooltipster-box {
    background: $tooltip-background-color;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .tooltipster-content {
    color: $tooltip-color;
    padding: $tooltip-padding;
    font-size: $tooltip-font-size;
  }
}

.trafficbar {
    display: block !important;
}