
#auth-tabs {
  border: none;
  width: 25%;
  min-height: 20em;
  padding: 0;
  overflow: hidden;
  display: block;
  margin: auto;

}
#auth-tabs .ui-widget-header {
  background: #eeeeee;
  border: none;
  width: 100%;

}
#auth-tabs .ui-tabs-nav .ui-state-default {
  background: #eeeeee;
  border: none;
  height: 2.5em;
}
#auth-tabs .ui-tabs-nav .ui-state-active {
  border: 1px solid grey;
}
#auth-tabs .ui-tabs-nav .ui-state-default a {
  color: grey;
}
#auth-tabs .ui-tabs-nav .ui-state-active a {
  color: grey;
}

#auth-tabs .ui-tabs-panel  {
  background: white;
}

#signup-form, #signin-form, #forgot-form {
  margin-top: 2em;
  margin-bottom: 2em;
}

#signup-form div, #signin-form div, #forgot-form div {
  width: 13em;
  margin: 0 auto;
}

#checklabel, #acceptToSText {
  font-size: 0.75em;
}

.auth-form input {
  background-color: transparent;
}

.auth-form input:focus {
  outline: none !important;
  border:1px solid #2E8C81;
  box-shadow: 0 0 10px #2E8C81;
}

#signin-submit, #signup-submit, #forgot-submit, #signout-submit {
  width: 40%;
  background-color: #2E8C81;
  font-size-adjust: none;
  margin: auto;
  margin-top: 3em;

}

#edit-submit {
  width: 50%;
  background-color: #2E8C81;
  height: 3em !important;
}

#signin-link {
  color: #888;
  font-size: 0.85em;
}

#profile-edit-form input, #profile-edit-form select {
  font-size: 0.8em;
  height: 2.5em;
}

#profile-password-edit-form input,  #profile-password-edit-form select {
  font-size: 0.8em;
  height: 2.5em;
}

/*Login Widget*/
#auth-link {
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
  text-shadow: 0 1px 0 #FFF;
  width: 5em;
  padding: 0.5em;
  color: #2E8C81;
  cursor: pointer;
  margin-left: 0.25em;
}

#auth-link:hover {
  background-color: #d1d1d1;
}

span#auth-link-text {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 68px;
  font-weight: bolder;
  text-align: center;
  float: none;
}

#authoverlay {
  display: block;
  margin: auto;
}


#hamburgerInside {
  position: absolute;
  margin: 20px 0 0 90%;
}

#userLogin {
  font-size: 1.5em;
  text-align: center;
  float: none;
  display: inline-block;
  margin: auto;
}

button.loggedIn {

  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 156px;
  font-weight: bolder;
  text-align: center;
  float: none;
  color: #848484;
  cursor: pointer;

}

.is-dropdown-submenu {
  width: 100px !important;
  box-shadow: 2px 5px 6px rgba(0,0,0,0.3);

}

.menu.vertical > li a:not(.button):hover {
  background: rgba(211,211,211, 0.5);
}

.country_drop div {
  width: 100%;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.country_drop ul {
  overflow: hidden;
  width: 100%;
}