
.auth-tabs {
  border: none;
  border-radius: 4px;
  width: 25%;
  min-width: 380px;
  background: #FFF;
  min-height: 20em;
  padding: 0;
  overflow: hidden;
  display: block;
  margin: auto;
}

.auth-tabs .ui-widget-header {
  background: #eeeeee;
  border: none;
  width: 100%;
}
.auth-tabs .ui-tabs-nav .ui-state-default {
  background: #eeeeee;
  border: none;
  height: 2.5em;
}
.auth-tabs .ui-tabs-nav .ui-state-active {
  border: 1px solid grey;
}
.auth-tabs .ui-tabs-nav .ui-state-default a {
  color: grey;
}
.auth-tabs .ui-tabs-nav .ui-state-active a {
  color: grey;
}

.auth-tabs .ui-tabs-tab:nth-child(n+2) {
  width: 33%;
}

.auth-tabs .ui-tabs-tab:nth-child(1) {
  width: 34%;
}

.auth-tabs .ui-tabs-panel  {
  background: white;
}

.auth-form {
  margin: 2em auto;
}

.auth-form div {
  width: 13em;
  margin: 0 auto;
}

.auth-form label {
  font-size: 0.8em;
  display: flex;
}

.auth-form a {
  font-size: 0.8em;
  padding: unset;
}


.auth-form input {
  background-color: transparent;
}

.auth-form input:focus {
  outline: none !important;
  border:1px solid #2E8C81;
  box-shadow: 0 0 10px #2E8C81;
}

.auth-form input[type=submit] {
  width: 40%;
  background-color: #2E8C81;
  font-size-adjust: none;
  margin: 3em auto;
}

.forgot-password{
  font-size: 0.6em !important;
}
#edit-submit {
  width: 50%;
  background-color: #2E8C81;
  height: 3em !important;
}

#signin-link {
  color: #888;
  font-size: 0.85em;
}

#profile-edit-form select {
  font-size: 0.85em;
  height: 2.5em;
}

#profile-edit-form select option {
  font-size: 0.85em;
  height: 2.5em;
}

/*Login Widget*/
#auth-link {
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
  font-size: 13px;
  overflow-x: hidden;
  text-shadow: 0 1px 0 #FFF;
  width: 5em;
  padding: 0.5em;
  color: #2E8C81;
  cursor: pointer;
  margin-left: 0.25em;
}

#auth-link:hover {
  background-color: #d1d1d1;
}


#auth-link-text:hover {
  color: #2E8C81;
}

#auth-overlay {
  display: block;
  margin: auto;
}

#auth-alert {
  margin-top: 1em;
  font-size: 0.8em;
}

#hamburgerInside {
  position: absolute;
  margin: 20px 0 0 90%;
}

#userLogin {
  font-size: 1.5em;
  text-align: center;
  float: none;
  display: inline-block;
  margin: auto;
}

button.loggedIn {

  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 156px;
  font-weight: bolder;
  text-align: center;
  float: none;
  color: #666;
  cursor: pointer;

}

.is-dropdown-submenu {
  box-shadow: 2px 5px 6px rgba(0,0,0,0.3);

}

.userMenu {
  min-width: 90px;
  width: 90px;
  font-size: 0.75em;
  margin-top: 0.85em;
  border: none;

}

.userMenu:after {
  content: "";
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: white;
  border-top: none;
  position: absolute;
  margin-left: 1.95em;
  margin-top: -8.9em;
}

.userMenu a {
  padding: 0.75em 0.75em 0.75em 0.75em !important;
}

.userMenu i {
  margin-right: 0.7em !important;
  margin-bottom: 0.2em;
  color: #666;
  opacity: 0.6;
}

.menu.vertical > li a:not(.button):hover {
  background: rgba(211,211,211, 0.5);
}

.country_drop div {
  width: 100%;
  margin-bottom: 1em;
  font-size: 0.8em;
}

.country_drop ul {
  overflow: hidden;
  width: 100%;
}

#eMailDisplay {
  margin-top: 4em;
  font-size: 0.85em;
}


#auth-dropdown {
  z-index: 100;
  /*position: absolute;*/
  /*top: 0px !important;*/
  /*left: 1135px !important;*/
}


.search-results{
 color:  #262626;;
  font-size: 0.8em;
}

.search-result-tool{
  font-size: 0.55;

}