body {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #707070;
    overflow-x: hidden;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    width: 100%;
    height: 100%;
    background: white none repeat scroll 0 0;
    overflow-y: scroll;
    margin: 0;
}
@media (max-width: 930px) {
    body {
        overflow-x: auto;
    }
}
div#main-container {
    height: 100%;
    min-width: 930px;
}
#main-container .row {
    margin-left: 0;
    margin-right: 0;
}
#main-window {
    padding-top: 20px;
}
#main-content {
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
}
div#main {
    margin-bottom: 55px;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
}
#job-manager-button {
    background-color: rgba(46, 140, 129, 0.88);
!important;
    border: solid 1px lightgray !important;
}
#job-manager-button:hover {
    background-color: rgba(46, 140, 129, 0.96);
!important;
    border: solid 1px lightgray !important;
}
.clear {
    border: 0;
}
tr.spaceUnder > td {
    padding-bottom: 0;
}
.alnviz {
    border: solid 0 black;
    font-size: 1em;
    text-transform: uppercase;
}
.tcoffee {
    border: solid 0 black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}
.mafft {
    border: solid 0 black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}
.hmmer3 {
    border: solid 0 black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}
.psiblast {
    border: solid 0 black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}
.columns {
    padding-left: 0;
    padding-right: 0;
}
tr.job a:link {
    color: #000;
}
tr.job a:visited {
    color: #000;
}
.padded-column {
    padding: 0.625em;
}
.example-alignment {
    padding-bottom: 1.25em;
}
.wraptocenter {
    text-align: center;
    /*vertical-align: middle;*/

    display: block;
    margin: 0 auto;
    width: 500px;
    height: 400px;
}
#alert {
    color: white;
    text-align: center;
    background-color: #CC3333;
    border-radius: 0;
    width: 50%;
    opacity: 0.9;
    font-size: 0.75em;
}
#helpDiv {
    float: right;
}
#helpModal {
    width: 80%;
    margin-left: auto;
    height: inherit;
    min-height: inherit;
    top: 209px !important;
    font-size: 0.85em;
    padding: 0;
}
#helpModal h4 {
    padding-left: 0.10em;
}
#helpModal h6 {
    font-weight: bold;
}

#helpModal .modal-content #tabs {
    border: none;
    padding: 0;
}
#helpModal .close-button {
    top: 0.2rem;
}

.helpModals .section {
    margin-top: 1em;
}
.helpModals p {
    font-weight: normal;
}
.helpModals h5 {
    color: #2E8C81;
}
.helpModals h6 {
    font-weight: bold;
    font-size: 1em;
    margin-bottom: 0;
}

.accordion-title {
    font-weight: bold;
}


#help-tabs .ui-widget-header {
    height: 3.5em;
}

:focus {
    outline: 0;
}
textarea {
    resize: both;
}
#alnviz_ta {
    position: absolute;
    z-index: 1;
}
#alnviz_ctl {
    position: relative;
    top: 300px;
}
#jobtable {
    width: 100%;
}
#job_id span {
    color: grey !important;
}
#tool_name span {
    color: grey !important;
    padding-left: 1em !important;
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    font-size: 1em !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
}
[data-accordion-menu] ul {
    display: none;
}
#resultmeta {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-weight: bold;
    font-size: 0.75em;
    padding-left: 15px;
}
.noFouc {
    display: none;
}
#past_example a {
    color: #006F62;
    font-size: 0.85em;
}
#offline-alert {
    font-size: 0.78em;
    background-color: transparent;
    border: none;
    color: red;
    display: none;
    text-align: center;
    cursor: pointer;
    float:right;
}
#rcnbtn {
    font-size: 1.2em !important;
}
#site-notifications {
    margin-top: 0.75em;
    margin-left: 1em;
}
#site-notifications i::before {
    padding-left: 10px;
}
#signinButtonContainer {
    height: 100%;
}
#metauser {
    float: right;
}
#social {
    float: right;
    margin-right: 16px;
}
#social i {
    margin-left: 16px;
    color: #666;
}
#social i:hover {
    color: #008979;
}
.biojs_msa_labels {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.helpicon:hover {
    color: #008979;
}
.ui-widget input,
.ui-widget select,
.ui-widget button {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}
.jobid a {
    color: #666;
}
.jobid a:visited {
    color: #666;
}
/* To make elements on the website full screen */

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    z-index: 1000;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.ui-widget {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}
.pagination .current {
    background: #ccc;
}
/* Color for placeholder text; override default colors */

*::-webkit-input-placeholder {
    color: #767676 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */

    color: #767676 !important;
}
*::-moz-placeholder {
    /* FF 19+ */

    color: #767676 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */

    color: #767676 !important;
}
.maintenance-alert {
    background: linear-gradient(to bottom, rgba(245, 245, 245, 1) 0%, rgba(240, 240, 240, 1) 100%);
    text-shadow: 0 1px 0 #FFF;
    color: #848484;
    font-size: 0.65em;
    border: 1px solid #c0c0c0;
    padding: 6px 8px 7px 8px;
    border-radius: 2px;
    box-shadow: 0 0 3px 0 #d85000;
    transition: box-shadow 1.5s;
    display: none;
    float:right;
}
