.fullwidth {
    width: 100%;
    max-width: initial;
}

.logotext {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#jobcode {

    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 12px;
}

.job-status-fade {

    border-radius: 5px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
}
.d:hover {
    background-color: green;
}
.e:hover {
    background-color: red;
}
.r:hover {
    background-color: yellow;
}
.q:hover {
    background-color: orange;
}

.dd {
    background-color: green;
}
.ee {
    background-color: red;
}
.rr {
    background-color: yellow;
}
.qq {
    background-color: orange;
}

.pp {
    background-color: dimgray;
}


.alignment {
    font-family: monospace;
    font-size: 14px;
}

tr.spaceUnder > td
{
    padding-bottom: 1em;
}

.top-bar {
    box-sizing: inherit;
    background: #006F62;
    height: 130px;
}

.sidebar {

    padding-left: 20px;
    padding-top: 0px;
    padding-right: 20px;
}

.content {
    width: 60%;
    margin-left: 100px;
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

#alignment{
    font-family: Droid Sans Mono;
    font-size: 10px;
}


.advancedsearch {

    width: 500px;
}

.tabs-content {
    border: 0px;

}

.tabs {
    border: 0;
    color: #fff;
}

.navbar-tabs{
    border: 0px;
}

.tabs-title{
    border: 0px;
    color: #fff;
    background-color: #2E8C81;
}

.tabs-title.is-active a:link{
    border: 0px;
    color: #000;
}
.tabs-title.is-active #panel1-label{
    border: 0px;
    background-color: #D0BA89;
    color: #000;
}
.tabs-title.is-active #panel2-label{
    border: 0px;
    background-color: #FFCC66;
    color: #000;
}
.tabs-title.is-active #panel3-label{
    border: 0px;
    background-color: #669933;
    color: #000;
}
.tabs-title.is-active #panel4-label{
    border: 0px;
    background-color: #7CA6A6;
    color: #000;
}
.tabs-title.is-active #panel5-label{
    border: 0px;
    background-color: #666699;
    color: #000;
}
.tabs-title.is-active #panel6-label{
    border: 0px;
    background-color: #D6ABAB;
    color: #000;
}
.tabs-title.is-active #panel7-label{
    border: 0px;
    background-color: #CC3333;
    color: #000;
}

.tabs-title a:link{
    color: #fff;
    background-color: #2E8C81;

}

.header {

    height: 130px;
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

tr.job{
    font-size: 10px;
    width: 20px;
}

#toolsdropdown {

    width: 120px;
    margin-top: 40px;
}

hr {

    width:50%;
}

.padded-column {
    padding: 10px;

}