body{

    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    color: #707070;
    background: #eee;
    background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
    overflow-x: hidden;
    background-color: rgb(238, 238, 238);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;

}


.d {
    background-color: #DBFFDB;

}

.d:hover {
    background-color: #C3FFC3;
}

.e {
    background-color: #FFDDDD;
}
.e:hover {
    background-color: #FFC5C5;
}

.r{
    background-color: #FFFF94;
}
.r:hover {
    background-color: #FFF666;
}
.q {
    background-color: #d6c1c3;
}
.q:hover {
    background-color: #c0b5bf;
}

.p {
    background-color: #f2f2f2;
}
.p:hover {
    background-color: #DADADA;
}


.clear{
    border: 0;
}


.alignment {
    font-family: monospace;
    font-size: 0.78em;
}

tr.spaceUnder > td
{
    padding-bottom: 0em;
}

.content {
    width: 60%;
    margin-left: 6.250em;
    padding-top: 6.250em;
    padding-left: 3.125em;
    padding-right: 3.125em;
}



.alnviz{

    border: solid 0px black;
    font-size: 1em;
    text-transform: uppercase;
}

.tcoffee{
    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}


.mafft{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.hmmer3{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.psiblast{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

tr.job a:link {

    color: #000;
}

tr.job a:visited {

    color: #000;
}


.padded-column {
    padding: 0.625em;
}

.main-content {

    min-height: 100%;
    min-height: 100%;
    display: flex;


}

#alignment{

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 0.625em;

}


#sequences{

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 0.625em;

}

.example-alignment {

    padding-bottom: 1.25em;

}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px;
}


.vertical {

    z-index: 99;

}

#alert {
    color: white;
    text-align: center;
    background-color: #CC3333;
    border-radius: 0em;
    width: 50%;
    opacity: 0.9;
    font-size: 0.75em;

}

#auth-dropdown {
    z-index: 100;
    position: absolute;
    top: 0px !important;
    left: 1135px !important;
}


#helpDiv {
    float: right;
}

#helpModal {

    height: 40em;
 
}

#helpModal p {

    font-size: small;
}

#helpModal h4 {

    padding-left: 0.10em;
}

#helpModal h6 {

   font-weight: bold;
}

.off-canvas-wrapper {

    min-height: 31.250em;
}

.off-canvas-wrapper-inner {

    min-height: 31.250em;


}

#offCanvas {
    height: 100%;

}

.vertical a {
    color: black;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: medium;
}

.vertical a:hover {
    background-color: white;
}

.vertical ul {
    background-color: #e6e6e6;
}

.off-canvas {
    z-index: 99;
}

.off-canvas-wrapper{
    position: relative;
    overflow: hidden;
}


.trafficbar {

    z-index: 99;
    margin-top: 0.6em;
    margin-right: 10em;
    margin-bottom: 0px;
    height: 0.1em;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite;
    animation: background 10s cubic-bezier(1,0,0,1) infinite;

}



:focus {
    outline: 0;
}

textarea { resize:both; }

#alnviz_ta { position: absolute; z-index: 1; }



#alnviz_ctl {
    position: relative;
    top: 300px;}

#jobtable {
    width: 100%;

}

.job div {
    width: 33.5% !important;
}

#job_id span {

    color: grey !important;
}

#tool_name span {
    color: grey !important;
    padding-left: 1em !important;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif !important;
    font-size: 1em !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
}

.nav-tabs {
    color: #787878;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 0;
    border: none;
    width: 91%;
    height: 40em;
    display: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
    box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
}



/*Login Widget*/
#auth-link {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    font-size: 0.75em;
    color: #707070;
    overflow-x: hidden;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

[data-accordion-menu] ul {
    display: none;
}

#resultmeta {

    font-family: Monaco, Consolas, "Lucida Console", monospace; font-weight: bold; font-size: 0.75em; padding-left: 15px;
}


#submitbuttons {
    padding-left: 1.15em;
}

#submitbuttons .button {
    background-color: #008979;
    color: white;
    border: 1px solid lightgrey;
}

#submitbuttons .button:hover {
    background-color: #006F62;
}

#jobid {

    font-size: 0.65em;
    width: 250px;
}

#past_example a {
    color: #006F62;
    font-size: 0.85em;
}

#offline-alert {
    margin-left: 25%;
    width: 50%;
    text-align: center;
    background-color: #57a39a;
    color: #eeeeee;
    opacity: 0.8;
    display: none;
    font-size: 0.78em;

}


.loader {
    margin-left: 18em;
    margin-right: 14em;
    margin-top: 1em !important;
    font-size: 2px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.dropzone{
    border: 0px;
    box-shadow: 0px 1px 6px 0px lightgray;
    color: gray;
}