body{

    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    color: #707070;
    background: #eee;
    background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
    overflow-x: hidden;
    background-color: rgb(238, 238, 238);
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;

}



.logotext {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#jobcode {

    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.750em;
}

.job-status-fade {

    border-radius: 5px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.d {
    background-color: #DBFFDB;

}

.d:hover {
    background-color: #C3FFC3;
}

.e {
    background-color: #FFDDDD;
}
.e:hover {
    background-color: #FFC5C5;
}

.r{
    background-color: #FFFF94;
}
.r:hover {
    background-color: #FFF666;
}
.q {
    background-color: #FFDDAB;
}
.q:hover {
    background-color: #FFD492;
}

.p {
    background-color: #f2f2f2;
}
.p:hover {
    background-color: #DADADA;
}


.clear{
    border: 0;
}


.alignment {
    font-family: monospace;
    font-size: 0.875em;
}

tr.spaceUnder > td
{
    padding-bottom: 0em;
}

.content {
    width: 60%;
    margin-left: 6.250em;
    padding-top: 6.250em;
    padding-left: 3.125em;
    padding-right: 3.125em;
}



.alnviz{

    border: solid 0px black;
    font-size: 1em;
    text-transform: uppercase;
}

.tcoffee{
    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}


.mafft{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.hmmer3{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.psiblast{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.header {
    background-color: #006F62;

}

.header img {
    padding: 1em;
    width: 15%;
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    /* High-res styles go here */
    tr.job {

        font-size: 0.5em;
        background-color: #fff;
    }
}

tr.job a:link {

    color: #000;
}

tr.job a:visited {

    color: #000;
}

hr {

    width:100%;
    border-top: 1px solid #006F62;

}

.padded-column {
    padding: 0.625em;
}

.main-content {

    min-height: 100%;
    min-height: 100%;
    display: flex;


}

#alignment{

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 0.625em;

}

.forminput {
    height: 2.0375rem;
    font-size: 0.75em;
    width: 53%;

}


.forminput label {
   font-size: 0.2rem !important;

}


#sequences{

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 0.625em;

}

.example-alignment {

    padding-bottom: 1.25em;

}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px;
}

.orbit {

    height: 100%;
    z-index: 20;
}

.orbit-container {

    height: 100%;
    z-index: 20;

}

.vertical {

    z-index: 99;

}

#alert {
    color: white;
    text-align: center;
    background-color: #CC3333;
    border-radius: 0em;
    width: 50%;
    opacity: 0.9;
    font-size: 0.75em;

}

#auth-dropdown {
    z-index: 100;
    position: absolute;
    top: 0px !important;
    left: 1135px !important;
}


#helpDiv {
    float: right;
    font-size: .75rem;
    margin-top: 1em;
}

#helpModal {

    height: 40em;
 
}

#helpModal p {

    font-size: small;
}

#helpModal h4 {

    padding-left: 0.10em;
}

#helpModal h6 {

   font-weight: bold;
}

.off-canvas-wrapper {

    min-height: 31.250em;
}

.off-canvas-wrapper-inner {

    min-height: 31.250em;


}

#offCanvas {
    height: 100%;

}

.vertical a {
    color: black;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: medium;
}

.vertical a:hover {
    background-color: white;
}

.vertical ul {
    background-color: #e6e6e6;
}


#auth-tabs {
    background: transparent;
    border: none;
}
#auth-tabs .ui-widget-header {
    font-size: 0.7em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#auth-tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#auth-tabs .ui-tabs-nav .ui-state-active {
    background: transparent url(images/arrow-up.png) no-repeat bottom center;
    border: none;
}
#auth-tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}
#auth-tabs .ui-tabs-nav .ui-state-active a {
    color: #000000;
}

#tool-tabs {
    background: transparent;
    border: none;
}

#auth-tabs .ui-widget-header {
    font-size: 0.7em;
    background: transparent;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
#auth-tabs .ui-tabs-nav .ui-state-default {
    background: transparent;
    border: none;
}
#auth-tabs .ui-tabs-nav .ui-state-active {
    background: transparent url(images/arrow-up.png) no-repeat bottom center;
    border: none;
}
#auth-tabs .ui-tabs-nav .ui-state-default a {
    color: #c0c0c0;
}
#auth-tabs .ui-tabs-nav .ui-state-active a {
    color: #000000;
}




.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: left;
    padding: .5em .5em;
    text-decoration: none;
}

.off-canvas {
    z-index: 99;
}

.off-canvas-wrapper{
    position: relative;
    overflow: hidden;
}




.trafficbar {

    z-index: 99;
    margin-right: 10em;
    margin-bottom: 0px;
    height: 0.75em;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite;
    animation: background 10s cubic-bezier(1,0,0,1) infinite;
}


@-webkit-keyframes background {
    0% { background: #ff0000; box-shadow: 0 0 10px #d2071d ; }
    33% { background: #ffff00; box-shadow: 0 0 10px #ffce27 ; }
    66% { background: green; box-shadow: 0 0 10px darkgreen ; }
    100% { display: none; }

}

@keyframes background {
    0% { background: #ff0000; box-shadow: 0 0 10px #d2071d ; }
    33% { background: #ffff00; box-shadow: 0 0 10px #ffce27 ; }
    66% { background: green; box-shadow: 0 0 10px darkgreen ; }
    100% { display: none; }
}

:focus {
    outline: 0;
}

textarea { resize:both; }

#alnviz_ta { position: absolute; z-index: 1; }

textarea#alignment {width: 500px; height: 280px;}

#alnviz_ctl {
    position: relative;
    top: 300px;}

#jobtable {
    width: 100%;

}

.job div {
    width: 33.5% !important;
}

#job_id span {

    color: grey !important;
}

#tool_name span {
    color: grey !important;
    padding-left: 1em;
}

.nav-tabs {
    color: #787878;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 0;
    border: none;
    width: 91%;
    height: 40em;
    display: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
    box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
}

.ui-widget-header {
    background: #eee url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
    background-color:#eee;
    background-image: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png");
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: 50% 50%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border: none;
}






/*Navbar*/

.tabs {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    color: #707070;
    overflow-x: hidden;
    background-color: rgb(238, 238, 238);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}


.tabs-title{
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    color: #747474;
    overflow-x: hidden;
    background-color: rgb(238, 238, 238);
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

.tabs-title.is-active a:link{
    color: #747474;
    margin-top:-1px;
    margin-bottom:-1px;
    background: rgba(220,220,220,0.5);
    #border-bottom: 3px solid green !important;
}

.tabs-title a:link{
    color: grey;
}
.tabs-title a:hover{

}

.tabs-title > a {

    overflow: hidden;
    color: grey;
    position:relative;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true']::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    color: #747474;

}



#panel1 {
    padding-right: 1em;
    padding-left: 1em;
    border-top: 2px solid #D0BA89;
}
#panel2 {
    padding-right: 1em;
    padding-left: 1em;
    border-top: 2px solid #FFCC66;
}
#panel3 {
    padding-right: 1em;
    padding-left: 1em;
    border-top: 2px solid #669933;
}
#panel4 {
    padding-right: 1em;
    padding-left: 1em;
    border-top: 2px solid #79A4C4;
}
#panel5 {
    padding-right: 1em;
    padding-left: 1em;
    border-top: 2px solid #666699;
}
#panel6 {
    padding-right: 1em;
    padding-left: 1em;
    border-top: 2px solid #D6ABAB;
}
#panel7 {
    padding-right: 1em;
    padding-left: 1em;
    border-top: 2px solid #CC3333;
}



#toolsec {
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#toolsec li {
    display: inline;
    margin-top: -12px;
    float: left;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    color: grey;
    border-right: 0px solid lightgray;
}

#toolsec li:last-child {
    border-right: none;
}

#toolsec li a {
    border-right: none;
    padding-top: 0.25em;
    color: grey;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 0.75em;

}

#first-tab {
    margin-left: -1px;
}

#last-tab {
    margin-right: -1px;
}





/*Login Widget*/
#auth-link {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    font-size: 0.75em;
    color: #707070;
    overflow-x: hidden;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}