.fullwidth {
    width: 100%;
    max-width: initial;
}

.logotext {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#jobcode {

    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.750em;
}

.job-status-fade {

    border-radius: 5px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.d {
    background-color: green;
}
.e {
    background-color: red;
}
.r{
    background-color: yellow;
}
.q {
    background-color: orange;
}

.p {
    background-color: brown;
}



.alignment {
    font-family: monospace;
    font-size: 0.875em;
}

tr.spaceUnder > td
{
    padding-bottom: 0em;
}

.content {
    width: 60%;
    margin-left: 6.250em;
    padding-top: 6.250em;
    padding-left: 3.125em;
    padding-right: 3.125em;
}



.tabs-content {
    border: 0px;

}

.tabs {
    border: 0;
    color: #fff;
}

.navbar-tabs{

    border: 0px;
}

.tabs-title{
    height: 100%;
    border: 0px;
    color: #fff;
    background-color: #2E8C81;
}

.tabs-title.is-active a:link{
    border: 0px;
    color: #000;
}
.tabs-title.is-active #panel1-label{
    border: 0px;
    background-color: #D0BA89;
    color: #000;
}
.tabs-title.is-active #panel2-label{
    border: 0px;
    background-color: #FFCC66;
    color: #000;
}
.tabs-title.is-active #panel3-label{
    border: 0px;
    background-color: #669933;
    color: #000;
}
.tabs-title.is-active #panel4-label{
    border: 0px;
    background-color: #7CA6A6;
    color: #000;
}
.tabs-title.is-active #panel5-label{
    border: 0px;
    background-color: #666699;
    color: #000;
}
.tabs-title.is-active #panel6-label{
    border: 0px;
    background-color: #D6ABAB;
    color: #000;
}
.tabs-title.is-active #panel7-label{
    border: 0px;
    background-color: #CC3333;
    color: #000;
}

.tabs-title a:link{
    color: #fff;
    background-color: #2E8C81;

}


.alnviz{

    background-color: #FFCC66;
    border: solid 1px black;
    font-size: 1em;
    text-transform: uppercase;
}

.tcoffee{

    background-color: #FFCC66;
    border: solid 1px black;
    font-size: 1em;
    text-transform: uppercase;
}

.hmmer3{

    background-color: #D0BA89;
    border: solid 1px black;
    font-size: 1em;
    text-transform: uppercase;
}

.header {

    height: 8.125em;
    height: 8.125em;
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

tr.job{

    font-size: 0.7em;
    background-color: #fff;


}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    /* High-res styles go here */
    tr.job {

        font-size: 0.5em;
        background-color: #fff;
    }
}

tr.job a:link {

    color: #000;
}

tr.job a:visited {

    color: #000;
}


hr {

    width:50%;
}

.padded-column {
    padding: 0.625em;
}

.main-content {

    height: 100vh;
    display: flex;

}

#alignment{

    font-family: Droid Sans Mono;
    font-size: 0.625em;

}

#sequences{

    font-family: Droid Sans Mono;
    font-size: 0.625em;

}

.tabs a{
    -webkit-border-top-left-radius: 1.2500rem;
    -webkit-border-top-right-radius: 1.2500rem;
    -moz-border-radius-topleft: 1.2500rem;
    -moz-border-radius-topright: 1.2500rem;
    border-top-left-radius: 1.2500rem;
    border-top-right-radius: 1.2500rem;
}

.example-alignment {

    padding-bottom: 1.25em;

}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px;
}

.orbit {

    height: 100%;
}

.orbit-container {

    height: 100%;
}