body{

    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
    color: #707070;
    overflow-x: hidden;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
    margin: 0;

}

div#main-container {
    height: 100%;
}

#main-container .row {

    margin-left: 0;
    margin-right: 0;
}

div#main {
    margin-bottom: 55px;
    background-color: #cecece;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 1px 3px 7px 4px rgba(200,200,200,0.75);
    -moz-box-shadow: 1px 3px 7px 4px rgba(200,200,200,0.75);
    box-shadow: 1px 3px 7px 4px rgba(200,200,200,0.75);
}


#sidebar {
    padding-top: 3.75em;
    padding-left: 1.2em;
    min-height: 40rem;
}

.d {
    background-color: #DBFFDB;
    text-overflow: ellipsis;
    overflow: hidden;
}
.d:hover {
    background-color: #C3FFC3;
    border: solid red thick;
}
.d.selected {
    background-color: #C3FFC3;
    box-shadow: 1px 0 6px darkgreen;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;

}

#job-manager-button{
    background-color: rgba(46,140,129,0.88); !important;
    border: solid 1px lightgray !important;
}
#job-manager-button:hover{
    background-color: rgba(46,140,129,0.96); !important;
    border: solid 1px lightgray !important;
}

.e {
    background-color: #FFDDDD;
}
.e:hover {
    background-color: #FFC5C5;
}
.e.selected {
    background-color: #FFC5C5;
    box-shadow: 1px 0 6px #d2071d;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;
}


.r{
    background-color: #FFFF94;
}
.r:hover {
    background-color: #FFF666;
}
.r.selected {
    background-color: #FFF666;
    box-shadow: 1px 0 6px #dcb21f;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;

}

.q {
    background-color: #c0b5bf;
}
.q:hover {
    background-color: #c0b5bf;
}
.q.selected {
    background-color: #c0b5bf;
    box-shadow: 1px 0 6px #9192af;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.i {
    background-color: #f2f2f2;
}
.i:hover {
    background-color: #DADADA;
}
.i.selected {
    background-color: #DADADA;
}

.p {
    background-color: #f2f2f2;
}
.p:hover {
    background-color: #DADADA;
}
.p.selected {
    background-color: #DADADA;
}


.clear{
    border: 0;
}

tr.spaceUnder > td
{
    padding-bottom: 0em;
}

/*
.content {
    width: 60%;
    margin-left: 6.250em;
    padding-top: 6.250em;
    padding-left: 3.125em;
    padding-right: 3.125em;
}

#content {
    width: 100%;
    padding: 0.625em 0.625em 0.625em 0.625em;
}
*/


.alnviz{

    border: solid 0px black;
    font-size: 1em;
    text-transform: uppercase;
}

.tcoffee{
    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}


.mafft{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.hmmer3{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.psiblast{

    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

tr.job a:link {

    color: #000;
}

tr.job a:visited {

    color: #000;
}


.padded-column {
    padding: 0.625em;
}

#main-content {
    padding-top: 20px;
    min-height: 100%;
    display: flex;
    margin-left: 0;
    margin-right: 0;
}

.example-alignment {

    padding-bottom: 1.25em;

}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px;
}


.vertical {

    z-index: 99;

}

#alert {
    color: white;
    text-align: center;
    background-color: #CC3333;
    border-radius: 0em;
    width: 50%;
    opacity: 0.9;
    font-size: 0.75em;

}

#helpDiv {
    float: right;
}

#helpModal {

    height: 40em;

}

#helpModal p {

    font-size: small;
}

#helpModal h4 {

    padding-left: 0.10em;
}

#helpModal h6 {

   font-weight: bold;
}

#help-psiblast  {
    font-size: 0.85em !important;
}

.accordion-title {
    font-weight: bold;
}

#help-tabs {
    font-size: 0.95em;
}

#help-tabs .ui-widget-header {
    height: 3.5em;
}
.off-canvas-wrapper {

    min-height: 31.250em;
}

.off-canvas-wrapper-inner {

    min-height: 31.250em;


}

#offCanvas {
    height: 100%;
    font-size: 0.8em;
}

.vertical a {
    color: black;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
}

.vertical a:hover {
    background-color: white;
}

#responsive-menu ul {
    background-color: #e6e6e6;
}

.off-canvas {
    z-index: 99;
}

.off-canvas-wrapper{
    position: relative;
    overflow: visible;
}

:focus {
    outline: 0;
}

textarea { resize:both; }

#alnviz_ta { position: absolute; z-index: 1; }



#alnviz_ctl {
    position: relative;
    top: 300px;}

#jobtable {
    width: 100%;

}

.job div {
    width: 43% !important;
}

#job_id span {

    color: grey !important;
}

#tool_name span {
    color: grey !important;
    padding-left: 1em !important;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif !important;
    font-size: 1em !important;
    text-transform: uppercase !important;
    font-weight: normal !important;
}

.nav-tabs {
    color: #787878;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 0;
    border: none;
    width: 91%;
    height: 40em;
    display: none;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
    box-shadow: 1px 1px 5px 0px rgba(102,102,102,1);
}




[data-accordion-menu] ul {
    display: none;
}

#resultmeta {

    font-family: Monaco, Consolas, "Lucida Console", monospace; font-weight: bold; font-size: 0.75em; padding-left: 15px;
}

.noFouc {
    display: none;
}

#jobid {
    border-radius: 3px;
    font-size: 0.65em;
    width: 250px;
}

#past_example a {
    color: #006F62;
    font-size: 0.85em;
}

#offline-alert {
    font-size: 0.78em;
    padding: 0;
    background-color: transparent;
    border: none;
    margin-top: 1.15em;
    color: red;
    display: none;
    text-align: center;
}

.slick-prev:before {

    color: #d6d6d6;

}


.slick-next:before {

    color: #d6d6d6;
}

.reformat-small {
    color: black;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: small;
}

.reformat-small li {
    display: block;
    width: 6em;
}

.reformat-small a:hover {
    color: black;
}

.reformat-small select {
    width: 30%;
    margin-left: 1.5em;
}

#site-notifications {
    margin-top: 0.75em;
    margin-left: 1em;
}


#site-notifications i::before {
     padding-left: 10px;
}

#signinButtonContainer {
    height: 100%;
}



#sub-nav {
    color: #848484;
    padding: 3px 5px;
    margin-bottom: 1em;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-repeat: stretch stretch;
    text-align: center;
    height: 20px;
    bottom: 0;
    width: 100%;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;

}
#sub-nav a {
    color: gray;
    font-size: 0.575em;
    padding: 0 1em 0 1em;
}

.dropzone{

    border: dashed 1px darkblue;
    background-color: #c6d6e5 ;
    margin-top: 15px;
    width: 40%;
    max-height: 20%;
    display: block;
    box-shadow: 0px 1px 6px 0px lightgray;
    color: gray;

}

#dropzoneContainer {
    padding-top: 25px;
}

#metauser{
    float: right;
}

#social {
    float: right;
    padding-right: 10px;
}

#social i{
    padding-left: 6px;
    color: #666;

}

#social i:hover{

    color: #008979;

}

.biojs_msa_labels{
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.helpicon:hover{
    color: #008979;
}


.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
    font-size: 0.9em;
}



.jobid a {
    color: #666;
}

.jobid a:visited {
    color: #666;
}

.close-button {
    margin-top: 0.75em;
    margin-right: 0.5em;
}



/* To make elements on the website full screen */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

