#backend-logo {
  background-color: #006F62;
  height: 4em;
}

#backend-top {
  background-color: dimgrey;
  height: 4em;
}

#backend-header {
  color: white;
  font-size: 1.40em;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  padding-top: 0.5em;

}

#backend-search {
  width: 50%;
  border-radius: 8px;
}


#backend-top-icons img {
  padding-top: 0.30em;
  margin-right: 1.0em;

}

#backend-side-nav {
  background-color: #2E8C81;
  min-height: 100vh;
  padding-top: 0.25em;

}

#backend-side-nav li {
  font-weight: bold;
  color: white;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#backend-content {
  background-color: #f2f2f2;
  min-height: 100vh

}

.page-name {
  color: dimgrey;
  padding-top: 0.5em;


}

#clockbox {
  font-size: 1.10em;
  font-weight: bold;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;

}

.stats {
  background-color: white;
  border: 1px solid #e1e1e1;
  margin-top: 1em;
  padding: 0.5em;
  font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
  height: 5em;

}

#statbox {
  padding-left: 0;
  float: left !important;
}

.left {
  float: left !important;
  width: 50%;
}

.todo-panel {
  margin-top: 1em;
}

.todo-panel-header {
  background: rgba(90, 90, 90, 0.1);
  padding: 0.5em;
}

.todo-panel-body {
  background-color: white;
  padding: 0.5em;
}

#todo-items {
  list-style: circle;

}