body {

  margin: 0 auto;
  font-size: 1.25em;
  line-height: 1.75em;
  color: #384047;
  background: #f6f6f6;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-weight: 400;

}

img {

  width: 100%;

}

.container {
  margin: 0 auto;
  width: 99%;
  margin: 0 5% 0 0;
  position: relative;
  overflow: hidden;
}

a {
  text-decoration: none;
  font-weight: bold;
}

header {
  width: 5%;
  height: 100%;
  position: fixed;
  overflow: hidden;
  transition: .32s ease-out;
  z-index: 2;
  background: #006F62;
}

header a, .navBtn {

  color: #fff;

}

.toggle {
  width: 242px;
}

.reveal {
  opacity: 1;
  left: 0;
}

nav {
  padding-left: 160px;
  overflow: hidden;
  position: absolute;
  top: 80px;
  left: 0;
  line-height: 1.75em;
  width: 100%;
  opacity: 0;
  height: 100%;
}
nav a {
  float: left;
  width: 100%;
  font-size: .75em;
  font-weight: bolder;

}
nav a:hover, .current, .toggle .navBtn {
  opacity: 1;
}

.toggle nav {
  padding-left: 30px;
  opacity: 1;
}

.navBtn {
  font-size: 2em;
  font-weight: 700;
  margin: 30px 0 0;
  width: 100%;
  text-align: center;
  line-height: 1em;
  -webkit-transform:rotate(0deg);
  transition: .3s ease-out;
  display: block;
  cursor: pointer;
  position: absolute;
  z-index: 1000001;
  opacity: .5;
  left: 0;
}

.toggle .navBtn{
  -webkit-transform:rotate(224deg);
  color: #fff;
  left: -100px;
}

.navBtn:hover {
  opacity: 1;
}

.main {
  background: #f6f6f6;
  float: right;
  width: 95%;
  margin: 0 0 0 5%;
  padding: 0;
  transition: .6s ease-in;
  overflow: hidden;
  z-index: 2;
}

h3 {
  font-size: 3em;
  color: #EAC734;
  font-weight: 300;
  transition: .6s ease-in;
  line-height: 1em;
}

article {
  padding: 40px 10%;
}

.push {
  margin-left: 240px;
  margin-right: -240px;
  transition: .3s ease-in;
}

.overlay {
  width: 100%;
  background: #006F62;
  opacity: .85;
  z-index: 1;
  height: 100%;
  position: fixed;
  display: none;
}

.block {
  display: block;
}

/* 1024 */
@media only screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0;
  }
  header {
    width: 8%;
  }
  .main {
    width: 92%;
  }
}

/* 768 */
@media only screen and (max-width: 768px) {
  header {
    width: 10%;
  }
  .main {
    width: 90%;
  }

}

/* 480 */
@media only screen and (max-width: 480px) {
  header {
    width: 10%;
  }
  .main {
    width: 90%;
  }
  h3 {
    font-size: 2em;

  }
}

  /* 320 */
  @media only screen and (max-width: 320px) {
    header {
      width: 15%;
    }
    .main {
      width: 85%;
    }
  }
