.error-page {
  text-align: center;
  padding: 2em auto;
}

.error-page div {
  padding-left: 1em;
}

.error-page .element {
  display: flex;
  text-align: left;
}

.error-page .title {
  font-size: 1.2em;
}