
.footer  {

  background-color: #272727;
  color: #fff;
  text-align: center;
  font-size: small;

}


.socket {

  background-color: #222222;
  color: #fff;
  text-align: center;
  font-size: small;


}

.bottomline {

  background-color: #006F62;
  height: 10px;
}

.footer-logo {

  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 200px;

}