
.footer  {
  padding-top: 55px;
  background-color: #272727;
  color: #fff;
  text-align: center;
  width: 40%;
  max-width: 40%;
  padding-bottom: 15px;
  bottom: 0;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  font-size: 0.625em;
}

.spacer {
  background-color: #272727;
}

#footer a {
  color: #fff;

}

#footer a:active {
  display: block;
  color: #006F62;
}

#footer a:hover {
  background-color: #006F62;

}

#footer a:visited {
  color: #fff;
}


#socket {
  margin: auto;
  color: #848484;
  padding: 5px 5px 40px 5px;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-repeat: stretch stretch;
  text-align: center;
  font-size: 0.7em;
  height: 20px;
  bottom: 0;
  width: 100%;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;

}

.bottomline {
  margin: auto;
  max-width: 75rem;
  background: #eee;
  background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
  overflow-x: hidden;
  background-color: rgb(238, 238, 238);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  height: 10px;
  bottom: 0;
  font-size: 1px;
  margin-bottom: 0px;
}

.footer-logo {

  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 200px;

}

#imprintModal, #subnavHelpModal {
  font-size: 0.75em;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;

  h3 {
    border-bottom: 2px solid #006F62;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  }

  h6 {
    width: 40%;
    border-bottom: 2px solid #006F62;
    font-weight: bold;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  }

}

#imprintContent, #helpModalContent {
  border: 1px solid #eee;
  padding: 1em;
  background-color: #eee;
}