
.footer  {
  padding-top: 55px;
  background-color: #272727;
  color: #fff;
  text-align: center;
  width: 40%;
  max-width: 40%;
  padding-bottom: 15px;
  bottom: 0;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  font-size: 0.625em;
}

.spacer {
  background-color: #272727;
}

#footer a {
  color: #fff;

}

#footer a:active {
  display: block;
  color: #006F62;
}

#footer a:hover {
  background-color: #006F62;

}

#footer a:visited {
  color: #fff;
}


#socket {
  margin: auto;
  color: #848484;
  padding: 5px 5px 40px 5px;
  border-top-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-bottom-color: rgb(204, 204, 204);
  border-left-color: rgb(204, 204, 204);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image-source: none;
  border-image-repeat: stretch stretch;
  text-align: center;
  font-size: 0.7em;
  height: 20px;
  bottom: 0;
  width: 100%;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;

}

.bottomline {
  margin: auto;
  max-width: 75rem;
  background: #eee;
  background-image: linear-gradient(to bottom,#d7d7d7 0%,#eeeeee 116px);
  overflow-x: hidden;
  background-color: rgb(238, 238, 238);
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  height: 10px;
  bottom: 0;
  font-size: 1px;
  margin-bottom: 0px;
}

.footer-logo {

  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 200px;

}

#imprintModal, #subnavHelpModal, #privacyPolicyModal {
  font-size: 0.75em;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  width: 65%;

  h3 {
    border-bottom: 2px solid #006F62;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  }

  h6 {
    width: 40%;
    border-bottom: 2px solid #006F62;
    font-weight: bold;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  }

}

#imprintContent, #helpModalContent, #privacyPolicyContent, #contactModelContent {
  border: 1px solid #eee;
  padding: 1em;
  background-color: #eee;
}

//contact form

#contactModelContent form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;

  input, textarea {
    border:0; outline:0;
    padding: 0.5em;
    border-radius: 5px;
    display: block;
    width: 100%;
    margin-top: 1em;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    box-shadow: 0 1px 1px rgba(black, 0.1);
    resize: none;
    font-size: 0.8em;

    &:focus {
      border: 1px solid #2E8C81;
      box-shadow: 0 0 10px #2E8C81;
    }
  }

  #input-submit {
    color: white;
    background: #006F62;
    cursor: pointer;
    width: 50%;
    margin: auto;
    height: 3em;

    &:hover {
      box-shadow: 0 1px 1px 1px rgba(#aaa, 0.6);
    }
  }

  textarea {
    height: 149px;
  }
}

#contactModelContent h3, #contactModelContent h5 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 rgba(white, 1);
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  margin-bottom: 0;

}


.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right { width: 50%; }

.left {
  margin-right: 2%;
}


@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}


/* Clearfix */
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}