
.footer  {

  background-color: #272727;
  color: #fff;
  text-align: center;
  font-size: small;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  bottom: 0;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  font-size: 0.625em;
}

.spacer {
  background-color: #272727;
}

.footer a {
  display: block;
  color: #fff;

}

.footer a:active {
  display: block;
  color: #006F62;

}

.footer a:hover {
  display: block;
  background-color: #006F62;

}

.footer a:visited {
  display: block;
  color: #fff;

}


.socket {
  padding-top: 0.625em;
  padding-bottom: 1.7em;
  background-color: #222222;
  color: #fff;
  text-align: center;
  font-size: 0.825em;
  height: 20px;
  bottom: 0;
  margin-bottom: 0px;
  font-family: Helvetica;

}

.bottomline {

  background-color: #006F62;
  height: 10px;
  bottom: 0;
  font-size: 1px;
  margin-bottom: 0px;
}

.footer-logo {

  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 200px;

}

.top2 {
  background: url("/assets/images/arrow-up.png") 50% 30% no-repeat #ACCDC9;
  background-size: 1.3em;
  border: #006F62 0px solid;
  font-size: 14px;
  border-radius: 40px;
  text-align: center;
  display: block;
  margin: 0 auto;
  color: #555555;
  height: 80px;
  padding: 40px 0;
  position: relative;
  top: -40px;
  width: 80px;
  z-index: 99; }


.top-link a:hover{
  background-color: #ACCDC9;
  opacity: 0.9;
  color: #555555;
}

.top-link a{
  background-color: #ACCDC9;
  opacity: 0.9;
  color: #555555;
}

.top-link a:active{
  background-color: #ACCDC9;
  opacity: 0.9;
  color: #555555;
}

.top-link a:visited{
  background-color: #ACCDC9;
  opacity: 0.9;
  color: #555555;
}