
.footer  {

  background-color: #272727;
  color: #fff;
  text-align: center;
  font-size: small;
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px;
  bottom: 0;
  font-family: Helvetica;
  font-size: 0.625em;
}

.spacer {
  background-color: #272727;
}

.footer a {
  display: block;

}


.socket {
  padding-top: 0.625em;
  padding-bottom: 1.7em;
  background-color: #222222;
  color: #fff;
  text-align: center;
  font-size: 0.825em;
  height: 20px;
  bottom: 0;
  margin-bottom: 0px;
  font-family: Helvetica;

}

.bottomline {

  background-color: #006F62;
  height: 10px;
  bottom: 0;
  font-size: 1px;
  margin-bottom: 0px;
}

.footer-logo {

  margin-top: 15px;
  margin-bottom: 20px;
  margin-right: 200px;

}