body {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #707070;
    overflow-x: hidden;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    width: 100%;
    height: 100%;
    background: white none repeat scroll 0 0;
    overflow-y: scroll;
    margin: 0;
}

body.is-reveal-open {
    overflow: visible;
}

@media (max-width: 930px) {
    body {
        overflow-x: auto;
    }
}

hr {
    width: 100%;
    margin: 0 auto !important;
    padding: 0;
    border-bottom: 1px solid rgba(180, 180, 180, 0.3) !important;
    max-width: none;
}

h6 {
    font-size: 0.85em;
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
    font-size: 1.1em;
}

div#main-container {
    height: 100%;
    min-width: 930px;
}

#main-container .row {
    margin-left: 0;
    margin-right: 0;
}

#main-window {
    padding-top: 20px;
}

#main-content {
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
}

div#main {
    margin-bottom: 55px;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

.clear {
    border: 0;
}

.padded-column {
    padding: 0.625em;
}

.accordion a {
    color: #000;
}

:focus {
    outline: 0;
}

.nice-select ul {
    width: 20em;
    max-height: 15em;
}

textarea {
    resize: both;
}

textarea:focus {
    border: 1px solid #c3c3c3;
}


.noFouc {
    display: none;
}

/* Color for placeholder text; override default colors */
*::-webkit-input-placeholder {
    color: #767676 !important;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #767676 !important;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #767676 !important;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #767676 !important;
}

tr.spaceUnder > td {
    padding-bottom: 0;
}

[data-accordion-menu] ul {
    display: none;
}

.accordion-title {
    font-weight: bold;
}

.pagination .current {
    background: #ccc;
}

.select2-results__option {
    font-size: 12px;
}

.select2-results ul {
    overflow-x: hidden;
}

.select2-container--default .select2-selection--multiple {

    border: 1px solid lightgrey !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #f4f4f4 !important;
    color: black !important;
}

.select2-search {
    width: 100%;
}

.select2-search__field {
    margin-bottom: 0.5em;
    font-size: 0.8em;
    width: 100% !important;
}

@media screen and (min-width: 756px) {

    .select2-container--default .select2-selection--multiple .select2-selection__rendered {
        list-style: none;
        margin: 0;
        padding: 0 5px;
        min-width: 300px;
    }
}