body {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #707070;
    overflow-x: hidden;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    width: 100%;
    height: 100%;
    background: white none repeat scroll 0 0;
    overflow-y: scroll;
    margin: 0;
}

body.is-reveal-open {
    overflow: visible;
}

@media (max-width: 930px) {
    body {
        overflow-x: auto;
    }
}

hr {
    width: 100%;
    margin: 0 auto !important;
    padding: 0;
    border-bottom: 1px solid rgba(180, 180, 180, 0.3) !important;
    max-width: none;
}

div#main-container {
    height: 100%;
    min-width: 930px;
}

#main-container .row {
    margin-left: 0;
    margin-right: 0;
}

#main-content {
    padding-top: 20px;
    min-height: 100%;
    margin-left: 0;
    margin-right: 0;
}

div#main {
    margin-bottom: 55px;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    -moz-box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
    box-shadow: 1px 3px 7px 4px rgba(200, 200, 200, 0.75);
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

.clear {
    border: 0;
}

.padded-column {
    padding: 0.625em;
}

.accordion a {
    color: #000;
}

:focus {
    outline: 0;
}

textarea {
    resize: both;
}

.noFouc {
    display: none;
}

/* Color for placeholder text; override default colors */
*::-webkit-input-placeholder {
    color: #767676 !important;
}

*:-moz-placeholder {
    /* FF 4-18 */
    color: #767676 !important;
}

*::-moz-placeholder {
    /* FF 19+ */
    color: #767676 !important;
}

*:-ms-input-placeholder {
    /* IE 10+ */
    color: #767676 !important;
}

tr.spaceUnder > td {
    padding-bottom: 0;
}

[data-accordion-menu] ul {
    display: none;
}

.ui-widget {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1em;
}

.ui-widget input, .ui-widget select, .ui-widget button {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.9em;
}

.accordion-title {
    font-weight: bold;
}

.pagination .current {
    background: #ccc;
}