.slider {
    width: 84%;
    cursor: default;
    background-color: rgb(238, 238, 238);
    display: block;
    margin: auto;
    position: absolute;
    margin-top: -250px !important;
    margin-left: 26px;
}

.slider-handle {
    width: 1.1rem;
    height: 1.1rem;
    background-color: black;
    font-color: white;

}

.slider-handle:hover {
    background-color: black;
}

.slider-fill {
    background-color: black;
}

#righthandle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#lefthandle {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}