.orbit-slide {
    max-height: 380px;
}

.header-font {
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Liberation Serif', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville, serif;
    margin-bottom: 1em;
}

.elements {
    display: flex;
    margin-bottom: 2em;

}

.hr-index {
    width: 5em;
    border: 1px solid lightgray;
    margin-left: 0;
}

.icon-index {
    float: right;
}

.grid {
    display: block;
    margin: auto;
    margin-top: 250px;
    width: 55%;
}

.tool-finder {

    /*background: #f2f2f2; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); !* IE6-9 *!*/
    /*border: 1px solid #ccc;*/
    /*-webkit-border-radius: 4px;*/
    /*-moz-border-radius: 4px;*/
    /*-ms-border-radius: 4px;*/
    /*-o-border-radius: 4px;*/
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*-ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*-o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075);*/
    z-index: 9;
    position: relative;
    height: 11em !important;
    width: 100% !important;
    /*-webkit-box-shadow: 3px 3px 5px 0px lightgray;*/
    /*-moz-box-shadow: 3px 3px 5px 0px lightgray;*/
    /*box-shadow: 3px 3px 5px 0px lightgray;*/


}

FIELDSET {
    margin-top: 14px;
    display: inline-block;
    line-height: 200%;
}


select {
    font-size: 1em !important;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
}


.slick-slide img {
    height: 430px;
}



.search_container div {
    margin-top: 0.6em;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.3em;
}

.search_container span {

}

.search_container input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
}

.search_Input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    darkgray;
}
.search_Input::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    darkgray;
    opacity:  1;
}
.search_Input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:     darkgray;
    opacity:  1;
}


.search_container input:focus {

    border: 1px solid #f1e6f9;;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px #f1e6f9;
    -moz-box-shadow: 0 0 4px #f1e6f9;;
    box-shadow: 0 0 5px #f1e6f9;;

}

.selectors {
    padding-left: 1.5em;
    padding-top: 1.5em;

}

.selectors select {
    width: 100% !important;
    float: left;
    display: block;

}

.select-job  {
    margin-top: 3em;
    padding: 1em;
    font-size: 0.75em;
}

.gradient {
    color: black;
}

.slide-caption{
    min-height: 80px;
    position: absolute;
    z-index: 2;
    background: rgba(46,140,129,0.88);
    color:white;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
    letter-spacing:1px;
    line-height:1.5rem;
    height:100%;
    width:22%;
    bottom:0;
    right: 0;
    padding:40px 32px 35px;
}

.slide-header {
    font-size: 1rem;
}

.slide-text {
    margin-top: 1em;
    font-size: 0.8rem;
}

.slider {

    width: 100%;
    cursor: default;
    background-color:  rgb(238, 238, 238);
}

.slider img {

    width: 100%;
}

.twitter-typeahead {

    width: 100% !important;

}

.list-group {

    background-color: white;
}

.tt-menu, .tt-dataset {
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    width: 100% !important;
    display: block;
    margin: auto;
}

.tt-menu:before, .tt-menu:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
}
.tt-menu:before {
    left: 15px;
    top: -8px;
    border: 13px solid transparent;
    border-bottom-color: dimgray;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}
.tt-menu:after {
    left: 16px;
    border: 12px solid transparent;
    border-bottom-color: #fff;
}


.tt-suggestion {
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
}

.search-results-dropdown {
    background-color: white;
    margin-top: 0;
    width: 100%;
}

.list-group-item {
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

.list-group-item-notfound {
    display: block;
    margin: auto;
    text-align: center;
    color: lightgrey;
    padding: 5px 5px 5px 15px;
}

.jobTicker {
    margin-top: 355px;
    display: block;
    margin: auto;
    max-width: 60rem;
}

.article_container {
    margin-top: 3em;
    text-align: center;
}

@media only screen and (max-width: 520px) {
    .article_container {
        margin-top: 5em;
    }
}


.article_tile {
    background-clip: content-box;
    background-color: white;
    height: 25em;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.tile_content {
    height: 100%;
    border: 2px solid lightgray;
    overflow: hidden;
}

.tile_img {
    height: 40%;
    overflow: hidden;
}

.tile_img img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.tile_img img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.tile_text {
    height: 40%;
    padding: 0.75em 1.5em 1.5em 1.5em;
    font-size: 0.8em;
    overflow: hidden;
}

.tile_title {
    height: 10%;
    padding: 0.75em 1.5em 0em 1.5em;
    font-size: 0.85em;
    font-weight: bold;
    overflow: hidden;
}

.tile_title p {
    margin-bottom: 0 !important;
}

.read_tile {
    height: 10%;
}

.read_tile i {
    float: right;
    padding: 0em 2em 2em 0em
}


/*Nasa like tile*/

.tile_main_container {
    width: 520px !important;
    height: 300px;
    background-color: transparent;
    margin: 1em 1em 1em 1em;
    display: inline-block;
    float: none !important;

}

.tile_container {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    box-shadow: 0 1px 6px 0 #ccc;

}

.tile_left {
    width: 50%;
    height: 100%;
    opacity: 0.3;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;

}

.tile_left:hover {
    opacity: 0.9;
}

.tile_left:after {
    content: "";
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right-color: white;
    border-left: none;
    position: absolute;
    margin-left: 5.16em;
    margin-top: 7em;

}


.tile_right {
    width: 50%;
    height: 100%;
    background-color: white;
    padding: 1em 1em 1em 1em;
    overflow: hidden;
    opacity: 0.9;

}

.tile_right a {
    font-size: 15px;
    font-weight: bold;
    color: rgba(0, 110, 98, 166);
}

.tile_right p {
    margin-bottom: 0;
    font-size: 13px;
    margin-top: 3em;
    vertical-align: middle;
}

.news {

    background-clip: content-box;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
    float: none;
    margin: 1em 1em 0 1em;
    height: 15.7em;
    box-shadow: 0 1px 2px 0 #ccc;
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #ccc;

}

.news_container {
    background: rgba(238, 238, 238, 0.95);
    padding-bottom: 10px;
}

.news p {

    height: 2.5em;
    margin-bottom: 0;
    display: inline-block;
    font-size: 13px;
    color: #222;
    padding: 1em 1em 1em 1em;
}

.news_header {
    font-weight: bold;
    color: #2E8C81 !important;
}

.news_date {
    font-style: italic;
}

.news_feed {
    float: right;
}

.news_content {
    width: 100%;
    height: 4em !important;
    font-size: 13px;

}

#searchInput{
    box-shadow: unset;
}

.trafficbar {

    cursor: pointer;
    z-index: 99;
    margin-right: 10em;
    margin-bottom: 0.1em !important;
    height: 0.2em;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-animation: background 10s cubic-bezier(1,0,0,1) infinite;
    animation: background 10s cubic-bezier(1,0,0,1) infinite;

}

#mainface {
    padding-right: 0 !important;
}

#mainlabel {
    font-size: 0.85em;
    padding-left: 0 !important;
}

.liveTable {
    background: rgba(214, 214, 214, 0.94);
    text-align: center;
    padding: 4px 15px 7px 15px;
    margin-bottom: 0;
}

.liveTable thead, .liveTable tbody {
    background: transparent;

}

.liveTable th {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
    text-align: center;
    font-size: 0.70em;
    font-weight: normal;
    border: #a6a6a6 1px solid;
}

.liveTable td {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
    text-align: center;
    font-size: 0.70em;
    color: black;
    border: #a6a6a6 1px solid;
}


th#run{
    max-width: 56px;
}

th#lastJobs{
    max-width: 56px;
}

th#lastJob{
    max-width: 66px;
}

td#lastJobName {
    font-weight: bold;
}

/*Responsiveness*/

@media screen and (max-width: 820px) {
    .slick-slide img {
       height: 230px;
    }

}

@media screen and (max-width: 1000px) {
    .slide-caption {
        width: 300px;
    }
}

@media screen and (max-width: 820px) {
    .slide-caption {
        display: none;
    }

}


@media screen and (max-width: 820px) {
    .article_container {
        margin-top: 20em;
    }
}

@media screen and (max-width: 640px) {
    .tile_left {
        display: none;
    }
}

@media screen and (max-width: 640px) {
    .tile_right {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .tile_main_container {
        width: 300px !important;
        height: 200px;
    }
}

@media screen and (max-width: 820px) {
    .grid {
        margin-top: 160px;
    }
}


