.orbit-slide {
    max-height: 380px;
}

.header-font {
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Liberation Serif', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville, serif;
    margin-bottom: 1em;
}

.elements {
    display: flex;
    margin-bottom: 2em;

}

.hr-index {
    width: 5em;
    border: 1px solid lightgray;
    margin-left: 0;
}

.icon-index {
    float: right;
}

.grid {
    display: block;
    margin: auto;
    width: 55%;
}


.grid div {
    float: left;

}

.tool-finder {

    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    z-index: 9;
    position: relative;
    height: 8em !important;
    width: 100% !important;
    -webkit-box-shadow: 3px 3px 5px 0px lightgray;
    -moz-box-shadow: 3px 3px 5px 0px lightgray;
    box-shadow: 3px 3px 5px 0px lightgray;


}

FIELDSET {
    margin-top: 14px;
    display: inline-block;
    line-height: 200%;
}


select {
    font-size: 1em !important;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
}


.slick-slide img {
    height: 430px;
}

.search-query {

    padding: 1em 1em 1em 1em;
    margin-top: 1.8em;


}
.search-query input {


    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


}

.search-query input:focus {

    border: 1px solid #f1e6f9;;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px #f1e6f9;
    -moz-box-shadow: 0 0 4px #f1e6f9;;
    box-shadow: 0 0 5px #f1e6f9;;

}

.selectors {
    padding-left: 1.5em;
    padding-top: 1.5em;

}

.selectors select {
    width: 100% !important;
    float: left;
    display: block;

}

.select-job  {
    margin-top: 3em;
    padding: 1em;
    font-size: 0.75em;
}

.gradient {
    color: black;
}

.slide-caption{
    min-height: 80px;
    position: absolute;
    z-index: 2;
    background: rgba(51,51,51,0.7);
    color:white;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
    letter-spacing:1px;
    line-height:1.5rem;
    height:100%;
    width:22%;
    bottom:0;
    right: 0;
    padding:40px 32px 35px;
}

.slide-header {
    font-size: 1rem;
}

.slide-text {
    margin-top: 1em;
    font-size: 0.8rem;
}

.slider {

    width: 100%;
    cursor: default;
    background-color:  rgb(238, 238, 238);
}

.slider img {

    width: 100%;
}

.twitter-typeahead {

    width: 100% !important;

}

.list-group {

    background-color: white;
}

.tt-menu, .tt-dataset {
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    width: 100% !important;
    display: block;
    margin: auto;
}

.tt-menu:before, .tt-menu:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
}
.tt-menu:before {
    left: 15px;
    top: -8px;
    border: 13px solid transparent;
    border-bottom-color: dimgray;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}
.tt-menu:after {
    left: 16px;
    border: 12px solid transparent;
    border-bottom-color: #fff;
}


.tt-suggestion {
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
}

.search-results-dropdown {
    background-color: white;
    margin-top: 0;
    width: 100%;
}

.list-group-item {
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

.list-group-item-notfound {
    display: block;
    margin: auto;
    text-align: center;
    color: lightgrey;
    padding: 5px 5px 5px 15px;
}

.jobTicker {
    margin-top: 355px;
    display: block;
    margin: auto;
    max-width: 60rem;
}

.article_container {
    margin-top: 35em;
    padding-left: 5em;
    padding-right: 5em;
}

@media only screen and (max-width: 520px) {
    .article_container {
        margin-top: 5em;
    }
}


.article_tile {
    background-clip: content-box;
    background-color: white;
    height: 25em;
    overflow: hidden;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.tile_content {
    height: 100%;
    border: 2px solid lightgray;
    overflow: hidden;
}

.tile_img {
    height: 40%;
    overflow: hidden;
}

.tile_img img {
    height: 100%;
    width: 100%;
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.tile_img img:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.tile_text {
    height: 40%;
    padding: 0.75em 1.5em 1.5em 1.5em;
    font-size: 0.8em;
    overflow: hidden;
}

.tile_title {
    height: 10%;
    padding: 0.75em 1.5em 0em 1.5em;
    font-size: 0.85em;
    font-weight: bold;
    overflow: hidden;
}

.tile_title p {
    margin-bottom: 0 !important;
}

.read_tile {
    height: 10%;
}

.read_tile i {
    float: right;
    padding: 0em 2em 2em 0em
}
