
#sidebar-switch {

    display: none;

}

.switch {
    display: none;
}

#hideSwitch {

    display: none;
}

.orbit-slide {
    max-height: 380px;
}

.lazy-container {

    width: 100%;
    margin-top: 17em;
}

.content-wrapper-half {
    margin-top: 2em;
    border: 1px solid;
    border-color:  #8a8a8a;
    font-family: 'Vollkorn', 'Palatino', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
    background-color: white;
    border-radius: 4px;
    float: left !important;
    height: 29em;

}

.margin-tile {
    margin-left: 2em;
}

.header-font {
    font-size: 0.9em;
    font-weight: bold;
    font-family: 'Liberation Serif', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
    margin-bottom: 1em;
}

.tile-row {
    height: 50em;
    width: 100%;
    padding-right: 2em;
}


.content-wrapper-quarter {
    margin-top: 2em;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    border: 2px solid;
    border-color:  #8a8a8a;
    background-color: white;
    margin-bottom: 2em;

}

.text-wrapper-half {
    padding: 1em 2em;
}

.text-wrapper-quarter {
    padding: 2em 3em;
}

.image-wrapper {
    overflow: hidden;
}

.image-wrapper img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.content-wrapper-half:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.lazy-container h5 {
    font-family: 'Liberation Serif', 'Georgia', 'Hoefler Text', Times New Roman, Baskerville Serif;
    text-align: justify;
    font-weight: bold;
}

.elements {
    display: flex;
    margin-bottom: 2em;

}

.lazy-container p {
    font-size: 0.90em;
}

.hr-index {
    width: 5em;
    border: 1px solid lightgray;
    margin-left: 0;
}

.icon-index {
    float: right;
}

.grid {
    display: block;
    margin: auto;
    width: 55%;
}


.grid div {
    float: left;
}

.grid input {
    border: 1px solid darkgray;
}
.tool-finder {

    background: #f2f2f2; /* Old browsers */
    background: -moz-linear-gradient(top, #f2f2f2 0%, #e5e5e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f2f2f2 0%,#e5e5e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f2f2f2 0%,#e5e5e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -ms-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -o-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    z-index: 9;
    position: relative;
    height: 4.5em !important;
    width: 100% !important;
    -webkit-box-shadow: 3px 3px 5px 0px lightgray;
    -moz-box-shadow: 3px 3px 5px 0px lightgray;
    box-shadow: 3px 3px 5px 0px lightgray;


}

FIELDSET {
    margin-top: 14px;
    display: inline-block;
    line-height: 200%;
}


select {
    font-size: 1em !important;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
}

.slick-slide {
    height:250px;
}

.slick-slide img {
    height: 250px;
}



#sidebartoggle {
    display: none;
}

.search-query {

    float: none !important;
    -webkit-box-shadow: 1px 3px 7px 4px rgba(200,200,200, 0.75);
    -moz-box-shadow: 1px 3px 7px 4px rgba(200,200,200, 0.75);
    box-shadow: 1px 3px 7px 4px rgba(200,200,200, 0.75);

}
.search-query input {


    /* round the corners */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;


}

.search-query input:focus {

    border: 1px solid #f1e6f9;;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px #f1e6f9;
    -moz-box-shadow: 0 0 4px #f1e6f9;;
    box-shadow: 0 0 5px #f1e6f9;;

}

.twitter-typeahead input {
    margin: 0;
}

.quicklink-box {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-size: 0.95em;
}

.quicklink {
    width: 25%;
    padding-bottom: 1.5em;
    color:  grey;
}

.quicklink a {
    color: #565656;
}

.quicklink a:hover {
    color: rgba(0, 110, 98, 166);
}

.selectors {
    padding-left: 1.5em;
    padding-top: 1.5em;

}

.selectors select {
    width: 100% !important;
    float: left;
    display: block;

}

.select-job  {
    margin-top: 3em;
    padding: 1em;
    font-size: 0.75em;
}

.gradient {
    color: black;
}

.slide-caption{
    min-height: 80px;
    position: absolute;
    z-index: 2;
    background: rgba(51,51,51,0.7);
    color:white;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana, sans-serif;
    font-size: 1rem;
    letter-spacing:1px;
    line-height:1.5rem;
    height:100%;
    width:22%;
    bottom:0;
    right: 0;
    padding:40px 32px 35px;
}

.slider {

    width: 100%;
    cursor: default;
    background-color:  rgb(238, 238, 238);
}

.slider img {

    width: 100%;
}

.twitter-typeahead {

    width: 100% !important;

}

.list-group {

    background-color: white;
}

.tt-menu, .tt-dataset {
    position: relative;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    width: 100% !important;
    display: block;
    margin: auto;
}

.tt-menu:before, .tt-menu:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 100%;
    width: 0;
    height: 0;
}
.tt-menu:before {
    left: 15px;
    top: -8px;
    border: 13px solid transparent;
    border-bottom-color: dimgray;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    box-shadow: 0px 0px 5px 0px rgba(102,102,102,1);
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
}
.tt-menu:after {
    left: 16px;
    border: 12px solid transparent;
    border-bottom-color: #fff;
}


.tt-suggestion {
    display: block;
    margin: auto;
    text-align: center;
    background-color: white;
}

.search-results-dropdown {
    background-color: white;
    margin-top: 0;
    width: 100%;
}

.list-group-item {
    width: 100%;
    text-align: left;
    padding: 5px 5px 5px 5px;
}

.list-group-item-notfound {
    display: block;
    margin: auto;
    text-align: center;
    color: lightgrey;
    padding: 5px 5px 5px 15px;
}

.jobTicker {
    margin-top: 355px;
    display: block;
    margin: auto;
    max-width: 60rem;
}

.quick_container {
    margin-top: 1em;
}

.quick {
    height: 2.5em;
    width: 8em;
    border: 1px solid grey;
    text-align: center;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
    margin-left: -1px;
}

.quick:hover {
    height: 4em;
}

.quick p {
    margin-bottom: 0em !important;
    font-size: 0.85em;
    margin-top: 0.5em;
}

.quick a {
    font-size: 0.75em;
}

#search_quick, #search_quick a {
    background-color: #D0BA89;
    color: #877654;
}

#align_quick, #align_quick a {
    background-color: #ffdf94;
    color: #9c7c3d;
}

#analy_quick, #analy_quick a {
    background-color: #669933;
    color: #2b4015;
}

/*
.quicklinks {
    height: 8em;
}

.quicklinks div:hover {
    height: 4em;
}

.quicklinks div {
    height: 2.5em;
    margin: 2em 1em 0 1em;
    transition: height 0.5s;
    -webkit-transition: height 0.5s;
    overflow: hidden;
    border: 1px solid lightgray;
    text-align: center;
    width: 6em;
}

.quicklinks p {
    margin-top: 0.6em;
    margin-bottom: 0em !important;
}

.quicklinks a {
    font-size: 0.75em;
}

.search_quick {
    background-color: #D0BA89;
}

.search_quick p, .search_quick a {
    color: #877654;
}

.align_quick {
    background-color: #ffdf94;
}

.align_quick p, .align_quick a {
    color: #9c7c3d;
}

.analy_quick {
    background-color: #669933
}

.analy_quick p, .analy_quick a {
    color: #2b4015;
}
*/