
/* The containder for the JobListComponent. Let is behave like a table and occupy the full width1 */
#joblist {

    padding-top: 50px;
    display: table;
    width: 100%;
}

/* Searchform */
#joblist #jobsearchform div {

    display: flex;
}
#joblist #jobsearchform #iconsidebar {

    color: gray;
}



/*  One job in the Joblist */
#joblist .job {

    display: flex;
    border-top: none;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    font-size: 0.7em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


#joblist .job div {

    text-align: center;

}


#joblist .job-handle {

    display: flex;
}

#joblist .job-handle .delete {

    border-right: 1px solid lightgray;
}


#joblist .job-button {
    display: flex;
}

