

/* Search form */
#job-search-div {
    width: 90%;
    display: table;
    margin-left: 15px;
}

#job-search-div .button {
    width: 100%;
}

#job-search-div #iconsidebar {
    color: gray;
}

/* Job Manager */
#job-manager-panel {
    width : 960px;
}

/* The containder for the JobListComponent. Let is behave like a table and occupy the full width1 */
.job-list {
    display: table;
    width: 90%;
    margin-left: 15px;
    margin-top: 3.2em;
}

.job-list .elements {
    display: table-row-group;
    -webkit-box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
    -moz-box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
    box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
}

.job-list .idsort {
    width: 25%;
}

.job-list .toolsort {
    width: 25%;
}

.job-list .datesort {
    width: 25%;
}

.job-list .openmanager {
    width: 25%;
}

.job-list .openmanager .icon-list {
    margin:unset;
}

.job-list .boxclose {
    width: 20%;
    opacity: 0.8;
}

.icon-list {
    font-size: 1.5em;
    margin-left: 1.5em;
}

.textcenter {
    text-align: center;
    vertical-align: middle;
    line-height: 2.2em;
}


/*  One job in the Joblist */
.job-list .job {
    display: table-row;
    border-top: none;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    font-size: 0.7em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

/*.job-list .selected {*/
    /*border-right: 1px solid transparent;*/
/*}*/

.job-list div.job{
    display: flex;
    width:100%;
    vertical-align: middle;
    text-align: center;
}

.job-list .job .jobid {
    padding: 0 0 0 0.35em;
    margin: 0 auto;
}

.job-list .job .toolname {
    float:right;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    text-align: left;
    margin-right: 1.1em;
}

.job-list .job-handle {
    display: flex;
}

.job-list .job-handle .delete {
    border-right: 1px solid lightgray;
}

.job-list .boxclose{
    float:right;
    cursor:pointer;
    color: #808080;
    border-radius: 30px;
    font-size: 2.6em;
    display: inline-block;
    line-height: 0px;
    padding: 0.26em;
}

.job-list .boxclose:before {
    content: "\00d7";
}

.job-list .job-button {
    /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    /*
    -webkit-box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    -moz-box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    background: rgb(238,238,238);  Old browsers
    background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%);  FF3.6-15
    background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);   Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%);  W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );   IE6-9
    */
    display: flex;
    height: 2.5em;
    width: 100%;
    border: solid 1px lightgray !important;
    color: gray !important;
    font-size: 0.7em !important;
    margin-bottom: 1em !important;
    -webkit-box-shadow: 0 1px 6px 0 #ccc;
    -moz-box-shadow: 0 1px 6px 0 #ccc;
    box-shadow: 0 1px 6px 0 #ccc;
    background-color: #eee;
    cursor: pointer;
}

.job-list .arrow {
    height: 1.7em;
    text-align: center;
    border: 1px solid lightgray;
    color: #80808099;
}

.job-list .arrow.inactive {
    color: rgba(210, 210, 230, 0.5);
}

.job-list .arrow.top {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    line-height: 1.5;
}
.job-list .arrow.bottom {
    height: 1.7em;
    border-top: unset;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px ;
    border-bottom-right-radius: 4px ;
    line-height: 1.3;
}

.job-list .pages {
    font-size: 0.8em;
    color: gray;
    opacity: 0.5;
    text-align: center;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.job-list .d {
    background-color: #DBFFDB;
    text-overflow: ellipsis;
    overflow: hidden;
}
.job-list .d:hover {
    background-color: #C3FFC3;
}
.job-list .d.selected {
    background-color: #C3FFC3;
    box-shadow: 2px 0px 4px 0px #777;
    margin-left: -2px;
    margin-bottom: 1px;
}

.job-list .e {
    background-color: #FFDDDD;
}
.job-list .e:hover {
    background-color: #FFC5C5;
}
.job-list .e.selected {
    background-color: #FFC5C5;
    box-shadow: 2px 0px 4px 0px #d2071d;
    margin-left: -2px;
    margin-bottom: 1px;
}


.job-list .r{
    background-color: #FFFF94;
}
.job-list .r:hover {
    background-color: #FFF666;
}
.job-list .r.selected {
    background-color: #FFF666;
    box-shadow: 2px 0px 4px 0px #dcb21f;
    margin-left: -2px;
    margin-bottom: 1px;
}

.job-list .q {
    background-color: #c0b5bf;
}
.job-list .q:hover {
    background-color: #c0b5bf;
}
.job-list .q.selected {
    background-color: #c0b5bf;
    box-shadow: 2px 0px 4px 0px #9192af;
    margin-left: -2px;
    margin-bottom: 1px;
}

.job-list .i {
    background-color: #f2f2f2;
}
.job-list .i:hover {
    background-color: #DADADA;
}
.job-list .i.selected {
    background-color: #DADADA;
}

.job-list .p {
    background-color: #f2f2f2;
}
.job-list .p:hover {
    background-color: #DADADA;
}
.job-list .p.selected {
    background-color: #DADADA;
}
