
/* The containder for the JobListComponent. Let is behave like a table and occupy the full width1 */
#joblist {

    padding-top: 50px;
    display: table;
    width: 90%;
    margin-left: 15px;
}

#joblistbottom {
    -webkit-box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
    -moz-box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
    box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
}

/* Searchform */
#joblist #jobsearchform div {

    display: flex;
}
#joblist #jobsearchform #iconsidebar {

    color: gray;
}

#joblist .idsort,.toolsort {

    color: #555555;
    width: 40%;
}

#joblist .job .jobid {

    text-align: center;
    vertical-align: middle;
    width: 40%;
}
#joblist .job .toolname {

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}
#joblist .boxclose {

    width: 20%;
}

.textcenter {
    text-align: center;
    vertical-align: middle;
    line-height: 2.2em;
}


/*  One job in the Joblist */
#joblist .job {

    display: flex;
    border-top: none;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    font-size: 0.7em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


#joblist .job div {

    text-align: center;

}


#joblist .job-handle {

    display: flex;
}

#joblist .job-handle .delete {

    border-right: 1px solid lightgray;
}


.boxclose:before {
    content: "\00d7"; // TODO Times in the file makes my Activator unhappy ~ Andrew
}
a.boxclose{
    cursor:pointer;
    color: #808080;
    border-radius: 30px;
    font-size: 2.6em;

    display: inline-block;
    line-height: 0px;
    padding: 0.26em;
}

#joblist .job-button {
    height: 2.5em;
    display: flex;
    /*
    -webkit-box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    -moz-box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    */
}

.job-button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    /*background: rgb(238,238,238);*/ /* Old browsers */
    /* background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); */ /*FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); */ /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); */ /* IE6-9 */
    width: 100%;
    border: solid 1px lightgray !important;
    color: gray !important;
    font-size: 0.7em !important;
    margin-bottom: 3px !important;
    -webkit-box-shadow: 0 1px 6px 0 #ccc;
    -moz-box-shadow: 0 1px 6px 0 #ccc;
    box-shadow: 0 1px 6px 0 #ccc;
    background-color: #eee;

}

.idsort {
    cursor: pointer;
}

.toolsort {
    cursor: pointer;
}

.jobnotes textarea {
    border: 1px solid #ccc;
    font-size: 0.75em;
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    background-color: transparent;
    color: #343434;
    line-height: 1.7em;
    outline: none;
    resize: none;
    height: 200px;
}

.notesheader {
    margin-top: 30px;
    flex: 1 1 auto;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 8px 5px 8px;
    background: #e0e0e0;
    opacity: 0.7;
    cursor: pointer;
}