

/* Search form */
#job-search-div {
    width: 90%;
    display: table;
    margin-left: 15px;
}

#job-search-div .button {
    width: 100%;
}

#job-search-div #iconsidebar {
    color: gray;
}

/* Job Manager */
#job-manager-panel {
    width : 960px;
}

/* The containder for the JobListComponent. Let is behave like a table and occupy the full width1 */
#job-list {
    display: table;
    width: 90%;
    margin-left: 15px;
}

#job-list-bottom {
    -webkit-box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
    -moz-box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
    box-shadow: 2px 2px 15px -5px rgba(153,153,153,1);
}

#job-list .idsort{
    width: 48%;
}

#job-list .toolsort{
    width: 43%;
}

#job-list .job .jobid {
    vertical-align: middle;
    width: 40%;
    padding-left: 0.35em;
}

#job-list .job .toolname {

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    vertical-align: middle;
    width: 40%;
    text-align: left;
    margin-left: 0.85em;
}
#job-list .boxclose {

    width: 20%;
}

.icon-list {
    font-size: 1.5em;
    margin-left: 1.5em;
}

.textcenter {
    text-align: center;
    vertical-align: middle;
    line-height: 2.2em;
}


/*  One job in the Joblist */
#job-list .job {

    display: flex;
    border-top: none;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    font-size: 0.7em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}


#job-list .job div {

    text-align: center;

}


#job-list .job-handle {

    display: flex;
}

#job-list .job-handle .delete {

    border-right: 1px solid lightgray;
}


.boxclose:before {
    content: "\00d7";
}
a.boxclose{
    cursor:pointer;
    color: #808080;
    border-radius: 30px;
    font-size: 2.6em;

    display: inline-block;
    line-height: 0px;
    padding: 0.26em;
}

#job-list .job-button {
    height: 2.5em;
    display: flex;
    /*
    -webkit-box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    -moz-box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    box-shadow: 4px 3px 21px -5px rgba(153,153,153,1);
    */
}

.job-button {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    /*background: rgb(238,238,238);*/ /* Old browsers */
    /* background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); */ /*FF3.6-15 */
    /* background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); */ /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); */ /* IE6-9 */
    width: 100%;
    border: solid 1px lightgray !important;
    color: gray !important;
    font-size: 0.7em !important;
    margin-bottom: 1em !important;
    -webkit-box-shadow: 0 1px 6px 0 #ccc;
    -moz-box-shadow: 0 1px 6px 0 #ccc;
    box-shadow: 0 1px 6px 0 #ccc;
    background-color: #eee;

}

.idsort {
    cursor: pointer;
}

.toolsort {
    cursor: pointer;
}

.jobnotes textarea {
    border: 1px solid #ccc;
    font-size: 0.75em;
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    background-color: transparent;
    color: #343434;
    line-height: 1.7em;
    outline: none;
    resize: none;
    height: 200px;
}

/*.notesheader {
    margin-top: 30px;
    flex: 1 1 auto;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    padding: 4px 8px 5px 8px;
    background: #e0e0e0;
    opacity: 0.7;
    cursor: pointer;
} */

.joblistTop {
    height: 1.7em;
    text-align: center;
    border: 1px solid lightgray;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px ;
    border-top-right-radius: 4px ;
    line-height: 1.5;
    color: #80808099;
}
.joblistBottom {
    color: #80808099;
    height: 1.7em;
    text-align: center;
    border: 1px solid lightgray;
    border-top: unset;
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-left-radius: 4px ;
    border-bottom-right-radius: 4px ;
    line-height: 1.1;
}

.d {
    background-color: #DBFFDB;
    text-overflow: ellipsis;
    overflow: hidden;
}
.d:hover {
    background-color: #C3FFC3;
    border: solid red thick;
}
.d.selected {
    background-color: #C3FFC3;
    box-shadow: 1px 0 6px darkgreen;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;

}


.e {
    background-color: #FFDDDD;
}
.e:hover {
    background-color: #FFC5C5;
}
.e.selected {
    background-color: #FFC5C5;
    box-shadow: 1px 0 6px #d2071d;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;
}


.r{
    background-color: #FFFF94;
}
.r:hover {
    background-color: #FFF666;
}
.r.selected {
    background-color: #FFF666;
    box-shadow: 1px 0 6px #dcb21f;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;

}

.q {
    background-color: #c0b5bf;
}
.q:hover {
    background-color: #c0b5bf;
}
.q.selected {
    background-color: #c0b5bf;
    box-shadow: 1px 0 6px #9192af;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.i {
    background-color: #f2f2f2;
}
.i:hover {
    background-color: #DADADA;
}
.i.selected {
    background-color: #DADADA;
}

.p {
    background-color: #f2f2f2;
}
.p:hover {
    background-color: #DADADA;
}
.p.selected {
    background-color: #DADADA;
}
