
.job-manager .d {
  background-color: #DBFFDB;
}

.job-manager .e {
  background-color: #FFDDDD;
}

.job-manager .r{
  background-color: #FFFF94;
}

.job-manager .q {
  background-color: #c0b5bf;
}

.job-manager .w {
  background-color: #dbdbff;
}

.job-manager .i {
  background-color: #f2f2f2;
}

.job-manager .p {
  background-color: #f2f2f2;
}


.job-manager .add{
  color: #007927;
}

.job-manager .remove{
  color: #ff1a15;
}