
.job-manager .d {
  background-color: #DBFFDB;
}

.job-manager .e {
  background-color: #FFDDDD;
}

.job-manager .r{
  background-color: #FFFF94;
}

.job-manager .q {
  background-color: #c0b5bf;
}

.job-manager .w {
  background-color: #dbdbff;
}

.job-manager .i {
  background-color: #f2f2f2;
}

.job-manager .p {
  background-color: #f2f2f2;
}


.job-manager .add{
  color: #007927;
  font-size: 1.3em;
  opacity: 0.66;
}

.job-manager .remove{
  color: #ff1a15;
  font-size: 1.3em;
  opacity: 0.66;
}

.job-manager i{
  cursor:pointer;
}

#jobManagerTable {
  width: 100% !important;
}

#job-manager-button {
  background-color: rgba(46, 140, 129, 0.88) !important;
  border: solid 1px lightgray !important;
}

#job-manager-button:hover {
  background-color: rgba(46, 140, 129, 0.96) !important;
  border: solid 1px lightgray !important;
}
