.ui-widget {
    font-family: inherit;
    font-size: 1.0em !important;
}


body.is-reveal-open {
    overflow: visible;
}


#jobview {

    padding-left: 3px;
    padding-right: 15px;
}

#tool-tabs {

    background: #fefefe;
    min-height: 600px;
    border: 1px solid #ccc;
}
.parameter-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

.tabs-panel {
    background: inherit;
}

#hhpred_alignment_control {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

#alignments {

    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    white-space: pre ;
    font-size: 0.7rem !important;
}

#alignments{
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    white-space: pre ;
    font-size: 0.7rem !important;
}


.alignment_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}


/* Slider */


.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}
.flat-slider.ui-slider {
    border: 0;
    background: #c2c2c2;
    border-radius: 7px;
}
.flat-slider.ui-slider-horizontal {
    height: 6px;
}
.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 6px;
}
.flat-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #2e93ed;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}
.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -10px;
}
.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}
.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7px;
    background: #58a5e9;
}
.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 6px;
}
.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
}


hr {
    padding-top: 0em;
    width: 100%;
    margin: 0 auto !important;
    padding: 0;
    border-bottom: 1px solid rgba(180, 180, 180, 0.3) !important;
}

.name{
    font-weight: bold;
}

.unstriped{
    margin: 0 ;
}

.sequence :hover{
    background-color: #eee;
}
.name :hover{
    background-color: #eee;
}

.accordion a {
    color:#000 ;
}

.unstriped a{
    color:#27776e !important;
}




/* To display the alignments more nicely */
#hhpred_alignments td {
    padding: 0rem 1rem 0rem 0rem !important;
}

/* To display the alignments more nicely */
#psiblast_alignments td {
    padding: 0rem 1rem 0rem 0rem !important;
}


.parameter label {
    float: left;
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    font-size: 0.9em;
}

.parameter input {
    float: right;
    font-size: 0.9em;
}

.parameter span {
    float: left;
}
.parameter #alignment {

    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    margin: 0 0 0;
}
.parameter .alignmentFormat {

    width: 15em;
    margin-left: 1em;
}
.parameter .alignmentFormatBlock {
    margin-top: 2em;

}

.parameter .alignmentFormatBlock label {
    margin-left: 36em;
}

.parameter .alignmentFormatBlock select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    width: 14em;
    border-radius: 3px;
    font-size: 0.75em;
}

.alignment_buttons {
    height: 5em;
}

.parameter select {
    width:  14em;
}

.exampleReformat {
    background-color: white !important;
    color: black !important;
    float: left !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.exampleReformat:hover{
    background-color: white !important;
    color: black !important;
}

.exampleReformat:focus {
    background-color: white !important;
    color: black !important;
}


.alignmentParameter input {
    background-color: white;
    color: black;
    float: left;
    padding-left: 0;
    margin-left: 0 !important;
}

.alignmentParameter input:hover {
    background-color: white;
    color: black;
}

.alignmentParameter input:focus {
    background-color: white;
    color: black;
}

.parameter {
    font-size: small;
}



.parameters input {
    text-shadow: 0 0 0 #878787;
    /*width: 15em;*/
    height: 2.7em;
    border: solid lightgray;
    border-width: 0 0 1px 0;
    box-shadow: none;
    background-color: white;
}

.parameters input:focus {
    text-shadow: 0 0 0 #000;
    /*width: 15em; */
    border: solid rgb(113, 113, 113);
    border-width: 0 0 2px 0;
    box-shadow: none;
    -webkit-transition : border 100ms ease-out;
    -moz-transition : border 100ms ease-out;
    -o-transition : border 100ms ease-out;
    background-color: white;
}
.parameters input:invalid {
    background-color: #ff9b49;
}


.submitJob {
    background-color: gray !important;
    border-radius: 3px !important;
    float: left !important;
    margin-right: 1em !important;
    color: white !important;
}

.submitJob:hover {
    background-color: rgba(0, 110, 98, 166) !important;
}

.submitbuttons .jobid {

    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.3em;
    width: 13em;
    float: left;
    border-radius: 3px;
    font-size: 0.88em
}


.result-panel{
font-size: 0.65em !important;

}

.result-title-big{
    font-size: 1.6em !important;
}
.result-title-small{
    font-size: 1.46em !important;
}

/* Jobline */
.jobline {

    height: 50px;
}


.jobline .toolname {

    font-size: large;
    font-weight: bold;
}

.jobline .jobinfo {
    padding-right: 1em;
    float: right;
    font-size: small;
}

.jobline .jobdate {
    float: right;
    font-size: small;
}

.jobline .jobid {

    padding-right: 1em;
}

.jobline i {

    margin-left: 0.5em;
}
.jobline .helpicon {

    color: grey;
}

.jobline .ownername {
    float: right;
    font-size: small;
    padding-right: 1em;
}

.reveal {

    width: 80%;
}


#help-tabs ul .toolname {

    float: right;
    font-weight: bold;
}


.job .jobid {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 7em;
}

/* Running Panel */
.running-panel {

    font-size: smaller;
}

/* Queued Panel */
.queued-panel {

    font-size: smaller;
}

/* File Upload */

.fileUploadBox{
margin-top: 2em;
    float: left;
    display: flex;
    padding: 0.5em;
}

.uploadButton{
    background-color: rgba(0, 110, 98, 166);

}

.addJob { display: none; }

.checkJob {
    background-color: gray;
    border-radius: 3px;
    float: left;
    margin-right: 1em;
    color: white;
    margin-left: 1em;
}


.reveal-overlay {
    background-color: transparent;
    overflow-y: hidden;
}

.reveal-overlay.fade-in {
    transition-duration: 0.2s;
}

.reveal.fade-in {
    transition-duration: 0.2s;
}

#submit_modal {
    background-color: #F7E4E1;
    width: 30%;
    height: 8em;
    border: 2px solid black;
    font-size: 0.9em;
    color: black;
    margin-top: 5em;
    text-align: center;
}

#submit_modal p {
    width: 50%;
    margin: auto;
    font-weight: bold;
}

#submit_modal input {
    margin: 2em 1em 0 1em;
    border-radius: 3px;
    font-size: 0.75rem;
    background-color: gray;
}

#submit_modal input:hover {
    background-color: #27776e;
}


map[name="blastmap"] area { cursor: pointer; }

@media only screen and (max-width: 1100px) {

    .jobline .toolname {
        padding-left: 0.5em;
    }

}

/* Side buttons */

input.delete {
    color: #e66f72 !important;
    background-color: inherit;
    margin-top: 0.5em;
}
input.delete:hover {
    background-color: inherit;
    margin-top: 0.5em;
}
input.delete:active {
    background-color: inherit;
    margin-top: 0.5em;
}
input.delete:focus {
    background-color: inherit;
    margin-top: 0.5em;
}


input.button_fullscreen{
    color: darkolivegreen !important;
    background-color: inherit;
    margin-top: 0.5em;
}
input.button_fullscreen:hover {
    background-color: inherit;
    margin-top: 0.5em;
}
input.button_fullscreen:active {
    background-color: inherit;
    margin-top: 0.5em;
}
input.button_fullscreen:focus {
    background-color: inherit;
    margin-top: 0.5em;
}

/* Nice select */
.nice-select {
    font-size: 0.9em;
    text-shadow: 0 0 0 #000;
    line-height: 2.3em;
    height: 2.5em;
    border: 1px solid grey;
    color: #000;
}

.nice-select .list {
    margin-left: 0;
    border: 1px solid grey;
    height: 15em;
    overflow-y: scroll;
    margin-top: 3px;
    border-radius: 0px;
}

.nice-select .list li {
    line-height: 2.3em;
    min-height: 0;
}
.nice-select.wide {
    width: 100%;
    line-height: 30px;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #88bfff;
}
