#tool-tabs {

    background: white;
}

/*
 Parameter panels
*/
.parameters {

    display: flex;
}

.parameters div {
    width: 50%;
    font-size: smaller;
}

.parameters select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
}

.parameters input {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.45em;
    width: 15em;
}

.parameters input:focus {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
}


.jobline {

    margin-bottom: 0.5cm;
}

.jobline .toolname {

    font-size: large;
    font-weight: bold;
}

.submitbuttons .jobid {

    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2em;
    width: 15em;
    float: right;
}



.jobline .jobinfo {
    float: right;
    font-size: small;
}
.jobline .jobid {

    padding-right: 1cm;
}

.not-active {
    pointer-events: none;
    cursor: default;
}


#arrowimage{
    width: 35%;
    margin-top: 0.1em;
    display: none;
}

