#tool-tabs {

    background: white;
    min-height: 600px;
}


/* Configuration of individual parameters */
.parameter {
    width: 100% !important;
    text-align: right;
    height: 6em;
}

.parameter label {
    float: left;
}

.parameter select {
    margin-right: 2em;
}

.parameter input {
    margin-left: 21em;
}

.parameter span {
    float: left;
}
.parameter #alignment {

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 0.625em;
    margin: 0 0 0;
}
.parameter .alignmentFormat {

    width: 15em;
    margin-left: 1em;
}
.parameter .alignmentFormatBlock {
    margin-top: 2em;

}

.parameter .alignmentFormatBlock label {
    margin-left: 36em;
}

.parameter .alignmentFormatBlock select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.4em;
    width: 14em;
    border-radius: 3px;
    font-size: 0.75em;
}

.alignmentParameter input {
    background-color: white;
    color: black;
    float: left;
    padding-left: 0;
    margin-left: 0 !important;
}

.alignmentParameter input:hover {
    background-color: white;
    color: black;
}

.alignmentParameter input:focus {
    background-color: white;
    color: black;
}

#standarddb {
    margin-top: 8em;
}

label[for="standarddb"] {
    margin-top: 7em;
    margin-left: 2em;
}
/*
 Parameter panels
*/
.parameters {

    display: flex;
}

.parameters div {
    width: 50%;
    font-size: smaller;
}

.parameters select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
    border-radius: 3px;
}

.parameters input {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.45em;
    width: 15em;
    border-radius: 3px;;
}

.parameters input:focus {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
}


.submitbuttons {
    position:absolute;
    bottom:30px;
    left:30px;
    width: 80%;

}

.submitbuttons .submitJob {
    background-color: gray;
    border-radius: 3px;
    float: left;
    margin-right: 0.5em;
    color: white;

}

.submitbuttons .submitJob:hover {
    background-color: rgba(0, 110, 98, 166);


}

.submitbuttons .addJob {
    float: left;
    margin-right: 0.5em;
}

.submitbuttons .jobid {

    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.3em;
    width: 13em;
    float: left;
    border-radius: 3px;
    font-size: 0.88em
}


.not-active {
    pointer-events: none;
    cursor: default;
}


#arrowimage{
    width: 35%;
    margin-top: 0.1em;
    display: none;
}


.result-panel{
font-size: 0.65em !important;

}

.result-title-big{
    font-size: 1.6em !important;
}
.result-title-small{
    font-size: 1.46em !important;
}

/* Jobline */
.jobline {

    height: 50px;
}

.jobline .toolname {

    font-size: large;
    font-weight: bold;
}

.jobline .jobinfo {
    padding-right: 1em;
    float: right;
    font-size: small;
}

.jobline .jobdate {
    float: right;
    font-size: small;
}

.jobline .jobid {

    padding-right: 1em;
}

.jobline i {

    margin-left: 0.5em;
}
.jobline .helpicon {

    color: grey;
}

.jobline .ownername {
    float: right;
    font-size: small;
    padding-right: 1em;
}

.reveal {

    width: 80%;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

#help-tabs ul .toolname {

    float: right;
    font-weight: bold;
}

.jobid{
    padding-left: 1em;
}


.job .toolname{
    padding-left: 2em;
}

.job .jobid {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 7em;
}

/* File Upload */

.fileUploadBox{
margin-top: 2em;
    float: left;
    display: flex;
    padding: 0.5em;
}

.uploadButton{
    background-color: rgba(0, 110, 98, 166);

}