#tool-tabs {

    background: white;
}


/*
 Parameter panels
*/
.parameters {

    display: flex;
}

.parameters div {
    width: 50%;
    font-size: 0.75em;
}

.parameters select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
}

.parameters input {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.45em;
    width: 15em;
}

.parameters input:focus {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
}