.ui-widget {
    font-family: inherit;
    font-size: 1.0em !important;
}


body.is-reveal-open {
    overflow: visible;
}


#jobview {

    padding-left: 3px;
    padding-right: 15px;
}
/*in case the jobform should have the same size every time*/
/*#jobform {*/
    /*height: 600px;*/
/*}*/

/*#tabpanel-FullAlignment, #tabpanel-Alignment, #tabpanel-AlignmentViewer {*/
    /*margin-top: -600px;*/
    /*height: 600px;*/
/*}*/

/*#tabpanel-Hitlist {*/
    /*min-height: 600px;*/
    /*margin-top: -600px;*/
/*}*/

#tool-tabs {

    background: #fefefe;
    border: 1px solid #ccc;
}
.parameter-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#alignmentViewerPanel {
    height: 31em;
}

.tabs-panel {
    background: inherit;
}

.alignment_box {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.clansResults {
    font-family: 'Noto Sans', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
    font-size:1.2em;
}

.clansResults a{
    color: #27776e;
    font-weight: bold;

}

#alignment_two{
    display: none;
    margin-top: 1.8em;
    margin-block-end: 0em;
}

/* Slider */


.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}
.flat-slider.ui-slider {
    border: 0;
    background: #c2c2c2;
    border-radius: 7px;
}
.flat-slider.ui-slider-horizontal {
    height: 6px;
}
.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 6px;
}
.flat-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #2e93ed;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}
.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -10px;
}
.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}
.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7px;
    background: #58a5e9;
}
.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 6px;
}
.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
}


hr {
    padding-top: 0em;
    width: 100%;
    margin: 0 auto !important;
    padding: 0;
    border-bottom: 1px solid rgba(180, 180, 180, 0.3) !important;
}

.header{
    font-weight: bold;
}

.h1{
    font-weight: bold;
    font-size: 12px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.wrap{
    word-break: break-word !important;
    word-break: break-all;
    white-space: unset;
}

.unstriped{
    margin: 0 ;
    width: 100%;
}

.wrapSpan{
    word-break: break-all;
    word-wrap: break-word;
}

.sequence{
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    letter-spacing: 0.05em;
    font-size: 0.725rem;
    white-space: pre;
    background-color: rgba(241, 241, 241, 0.75) !important;
}

.sequenceAlignment{
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    letter-spacing: 0.05em;
    font-size: 0.725rem;
    background-color: rgba(241, 241, 241, 0.75) !important;
}

.tprHit {
    width: 27em;
    text-align: left;
}

.tprResults table {
    width: 80%;
}

.tprInfo {
    font-size: 1.2em !important;
}

.tprInfo span {
    font-weight: bold;
}

.sequence :hover{
    background-color: #eee;
}

.uncheckedListWrap {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    max-height: 400px;
    overflow-y: auto;
}

.header :hover{
    background-color: #eee;
}

.accordion a {
    color:#000 ;
}

.unstriped a{
    color:#27776e !important;
}


/* To display the alignments more nicely */
#alignments td {
    padding: 0rem 1rem 0rem 0rem !important;
}

.parameter label {
    font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    font-size: 0.9em;
}

.multiSelectLabel {
    width: 15.5em;
    border-bottom: 1px solid rgba(0, 110, 98, 166);
    margin-bottom: 0.5em;
}

.parameter input {
    float: right;
    font-size: 0.9em;
}

.parameter span {
    float: left;
}
.parameter #alignment {

    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    margin: 0 0 0;
}


.alignment_buttons {
    flex-direction: row;
    margin-top: 10px;
}

.leftAlignmentButtons {
    width: 100%;
    height: 3em;
}

.alignmentExample {
    margin-top: -10px;
    color: rgba(0, 110, 98, 166) !important;
    border: solid 1px rgba(0, 110, 98, 166);
    margin-right: 1em;
    line-height: 20px;
}

.alignment_format {
    margin-bottom: 10px;
    margin-top: 10px;
    float: right;
}

.alignment_mode {
    margin-left: auto;
    margin-top: -30px;
    float: right;
}

.inputDBs {
    overflow-y: auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

.multiSelectParameter {
    padding-left: 0.9375em;
}

.multiSelectParameter label {
    margin-bottom: 10px;
}

.switchDiv {
    width: 15em;
}

.parameter .nice-select {
    width: 20em !important;
}

.nice-select ul {
    width: 20em;
    max-height: 15em;
}

.exampleReformat {
    margin-top: 0 !important;
    height: 2.7em;
    padding-left: 0;
    border-width: 0 0 1px 0;
    background-color: transparent;
}

.exampleReformat:hover, .exampleReformat:focus {
    background-color: transparent;
}



.alignmentParameter input {
    background-color: transparent;
    color: black;
    float: left;
    padding-left: 0;
    margin-left: 0 !important;
}

.alignmentParameter input:hover {
    background-color: transparent;
    color: black;
}

.alignmentParameter input:focus {
    background-color: transparent;
    color: black;
}


.parameter {
    font-size: small;
}

.parameters {

    margin-bottom: 1.3em;
}

.parameters input {
    text-shadow: 0 0 0 #878787;
    /*width: 15em;*/
    height: 2.7em;
    border-width: 0 0 1px 0;
    box-shadow: none;
    background-color: transparent;
}

.parameters input:focus {
    text-shadow: 0 0 0 #000;
    /*width: 15em; */
    border: solid rgb(113, 113, 113);
    border-width: 0 0 2px 0;
    box-shadow: none;
    -webkit-transition : border 100ms ease-out;
    -moz-transition : border 100ms ease-out;
    -o-transition : border 100ms ease-out;
    background-color: transparent;
}
.parameters input:invalid {
    border-color: red;
}

.submitJob {
    background-color: rgba(0, 110, 98, 166) !important;
    border-radius: 3px !important;
    margin-right: 1em !important;
    color: white !important;
    margin-left: 2em;
}

.submitJob:hover {
    background-color: gray !important;
}


.submitbuttons .jobid {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.5em;
    width: 8em;
    float: right;
    border-radius: 3px;
    font-size: 0.88em;
}

.submitbuttons .jobid.white {
    border:1px solid #cacaca;
}

.submitbuttons .jobid.green {
    border:1px solid green;
}

.submitbuttons .jobid.red {
    border:1px solid #da4453;
}

.submitbuttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-right: 1em;
    padding-left: 1.9375em;
    padding-bottom: 0.3em;
}

.result-panel{
font-size: 0.65em !important;
}

.result-panel a {
    -webkit-appearance: none;
}

.result-panel button {
    background-color: #eee;
}

.result-panel pre {
    width: 100%;
    height: 100%;
    font-size: 12px;
    height: 30pc;
    overflow-y: scroll;
}

.result-title-big{
    font-size: 1.6em !important;
}
.result-title-small{
    font-size: 1.46em !important;
}

/* Jobline */
.jobline {

    height: 50px;
}


.jobline .toolname {

    font-size: large;
    font-weight: bold;
}

.jobline .jobinfo {
    padding-right: 1em;
    float: right;
    font-size: small;
}

.jobline .jobdate {
    float: right;
    font-size: small;
}

.jobline .jobid {

    padding-right: 1em;
}

.jobline i {

    margin-left: 0.5em;
}
.jobline .helpicon {

    color: grey;
}

.jobline .ownername {
    float: right;
    font-size: small;
    padding-right: 1em;
}

.reveal {

    width: 80%;
}


#help-tabs ul .toolname {

    float: right;
    font-weight: bold;
}

.job {
    cursor: pointer;
}

.job .jobid {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 7em;
}

/* Running Panel */
.running-panel {

    font-size: smaller;
}

/* Queued Panel */
.queued-panel {

    font-size: smaller;
}

/* File Upload */

.fileUploadBox{
    margin-top: 2em;
    float: left;
    display: flex;
    padding: 0.5em;
}

#uploadBoxClose::before {
    color: red;
    opacity: 0.6;
}

.uploadButton{
    background-color: rgba(0, 110, 98, 166);

}

.uploadFileName {
    display: flex;
}

.uploadFileName p {
    width: 30%;
}

.addJob { display: none; }

.checkJob {
    background-color: gray;
    border-radius: 3px;
    float: left;
    margin-right: 1em;
    color: white;
    margin-left: 1em;
}


.reveal-overlay.fade-in {
    transition-duration: 0.2s;
}

.reveal.fade-in {
    transition-duration: 0.2s;
}

#submit_modal {
    background-color: #F7E4E1;
    width: 500px;
    height: 10em;
    border: 1px solid darkgray;
    border-radius: 5px;
    font-size: 0.9em;
    color: black;
    margin-top: 5em;
    text-align: center;
}

#projectReveal {
    background-color: white;
    width: 200px;
    height: 6em;
    border: 1px solid darkgray;
    font-size: 0.9em;
    color: black;
    margin-top: 5em;
    text-align: center;

}

#submit_modal p, #projectReveal p {
    width: 50%;
    margin: auto;
    font-weight: bold;
}

#submit_modal input {
    margin: 4em 1em 0 1em;
    border-radius: 3px;
    font-size: 0.75rem;
    background-color: #a6a6a6;
}


#submit_modal input:hover {
    background-color: #a1a1a1 ;
}

#projectInput {
    max-width: 156px;
}

#findProject {
    padding-bottom: 2px;
}

map[name="blastmap"] area { cursor: pointer; }

@media only screen and (max-width: 1100px) {

    .jobline .toolname {
        padding-left: 0.5em;
    }

}

/* Side buttons */

i.delete {
    -webkit-appearance: none;
    color: #e66f72 !important;
    background-color: inherit;
    font-size: 1.25em;
}
i.delete:hover {
    background-color: inherit;
    font-size: 1.25em;
    cursor: pointer;
}
i.delete:active {
    background-color: inherit;
    font-size: 1.25em;
}
i.delete:focus {
    background-color: inherit;
    font-size: 1.25em;
}


i.button_fullscreen{
    -webkit-appearance: none;
    color: rgba(0, 110, 98, 166) !important;
    background-color: inherit;
    margin-top: 0.3em;
    margin-right: 0.5em;
    font-size: 1.5em;
}
i.button_fullscreen:hover {
    background-color: inherit;
    margin-top: 0.3em;
    margin-right: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
}
i.button_fullscreen:active {
    background-color: inherit;
    margin-top: 0.3em;
    margin-right: 0.5em;
    font-size: 1.5em;
}
i.button_fullscreen:focus {
    background-color: inherit;
    margin-top: 0.3em;
    margin-right: 0.5em;
    font-size: 1.5em;
}

/* Nice select */
.nice-select {
    font-size: 0.9em;
    text-shadow: 0 0 0 #000;
    line-height: 2.3em;
    height: 2.5em;
    border: 1px solid grey;
    color: #000;
}

.nice-select .list {
    margin-left: 0;
    border: 1px solid grey;
    overflow-y: auto;
    margin-top: 3px;
    border-radius: 5px;
}

.nice-select .list li {
    line-height: 2.3em;
    min-height: 0;
}
.nice-select.wide {
    width: 100%;
    line-height: 30px;
}

.nice-select:active, .nice-select.open, .nice-select:focus {
    border-color: #88bfff;
}

.irs {
    width: 100%;
}

.irs-line {
    overflow: visible;
    float: none !important;
}

.irs-slider, .irs-slider:hover {
    background-color: #da4453;
    cursor: pointer;
}

/*Switch for HHpred Alignment*/
/* The switch - the box around the slider */
.switch.tiny {
    position: relative;
    display: inline-block;
    width: 3rem;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.sliderSwitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderSwitch:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .sliderSwitch {
    background-color: rgba(0, 110, 98, 166);
}

input:focus + .sliderSwitch {
    box-shadow: 0 0 1px rgba(0, 110, 98, 166);
}

input:checked + .sliderSwitch:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */
.sliderSwitch.round {
    border-radius: 34px;
}

.sliderSwitch.round:before {
    border-radius: 50%;
}

.switchContainer {
    width: 20em;
    display: flex;
    margin-top: 1.5em;
}
.firstLabel {
    margin-bottom: 0.5em;
    margin-left: 1em;
}

a.hasNotes:link,
a.hasNotes:visited,
a.hasNotes:hover,
a.hasNotes:focus,
a.hasNotes:active {
    color: rgba(0, 110, 98, 166);
}

#validOrNot {
    margin-left: auto;
    float: right;
}

div#calloutSpacer {
   min-height: 3em;
}

.inputAlert{
    color: #D8000C;
    list-style-type: circle;
}

textarea:focus{

}

.callout.alert{
    opacity: 0.9;
    text-align: center;
    min-width: 12em;
    padding: 0.6em 0.7em 0.6em 0.7em;
    color:red;
    border: 1px solid #ff00001a;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.callout.success{
    background-color: #DBFFDB;
    opacity: 0.9;
    min-width: 12em;
    text-align: center;
    padding: 0.6em 0.7em 0.6em 0.7em;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.errorStateCallout{
    width: 30%;
    margin: 1em;
}
textarea:focus{
    border: 1px solid #c3c3c3;
}


.invalid{
    border: 1px solid red;
}


#scrollTop {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background: url('../images/arrow-top.svg') no-repeat;
    background-size: 40px 40px;
    outline: 0;
}

.patternMatch{
    color: red;
    background-color: rgba(255, 0, 8, 0.1);
}

/* Process Logs */

.logElem{
    display: flex;
    margin-left: 1em;
}

.logElemRunning{
    background:url('../images/ellipsis.gif') no-repeat center center;
    width: 32px;
    height: 15px;
    margin-top: 0.6em;
    margin-right: 0.5em;
}

.logElemDone{
    font-size: 1.3em;
    color: rgba(40,120,111,0.636);
    margin-right: 1.3em;
}

.logElemError{
    font-size: 1.3em;
    color: #da4453;
    margin-right: 1.3em;

}
.logElemText{
    margin-left: 1em;
    margin-top: 0.2em;
}