#jobview {

    padding-left: 3px;
    padding-right: 15px;
}

#tool-tabs {

    background: white;
    min-height: 600px;
}
.parameter-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}

.tabs-panel {
    background: inherit;
}


/* Configuration of individual parameters */
.parameter {
    width: 100% !important;
    height: 6em;

}

.parameter label {
    float: left;
}

.parameter select {
    float: right;
    border-radius: 3px;
}

.parameter input {
    float: right;
}

.parameter span {
    float: left;
}
.parameter #alignment {

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    margin: 0 0 0;
}
.parameter .alignmentFormat {

    width: 15em;
    margin-left: 1em;
}
.parameter .alignmentFormatBlock {
    margin-top: 2em;

}

.parameter .alignmentFormatBlock label {
    margin-left: 36em;
}

.parameter .alignmentFormatBlock select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    width: 14em;
    border-radius: 3px;
    font-size: 0.75em;
}
.alignmentParameter {

    height: 25em;
}

.parameter select {
    width:  14em;
}

.exampleReformat {
    background-color: white !important;
    color: black !important;
    float: left !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
}

.exampleReformat:hover{
    background-color: white !important;
    color: black !important;
}

.exampleReformat:focus {
    background-color: white !important;
    color: black !important;
}


.alignmentParameter input {
    background-color: white;
    color: black;
    float: left;
    padding-left: 0;
    margin-left: 0 !important;
}

.alignmentParameter input:hover {
    background-color: white;
    color: black;
}

.alignmentParameter input:focus {
    background-color: white;
    color: black;
}
/*
 Parameter panels
*/
.parameters {
    display: flex;
}

.parameters .left {
    padding-right: 1em;
}

.parameter {
    font-size: small;
}

.parameters div {
    width: 50%;
}

.parameters select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    width: 15em;
    border-radius: 3px;
}

.parameters input {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    width: 15em;
    border-radius: 3px;;
}

.parameters input:focus {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    width: 15em;
}


.submitbuttons {
    clear: both;
    width: 100%;
}

.submitbuttons .submitJob {
    background-color: gray;
    border-radius: 3px;
    float: left;
    margin-right: 1em;
    color: white;
    padding-right: 15px !important;

}

.submitJob {
    background-color: gray !important;
    border-radius: 3px !important;
    float: left !important;
    margin-right: 1em !important;
    color: white !important;
    padding-right: 15px !important;
}

.submitJob:hover {
    background-color: rgba(0, 110, 98, 166) !important;
}

.submitbuttons .submitJob:hover {
    background-color: rgba(0, 110, 98, 166);


}

.submitbuttons .addJob {
    float: left;
    margin-right: 0.5em;
}

.submitbuttons .jobid {

    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.3em;
    width: 13em;
    float: left;
    border-radius: 3px;
    font-size: 0.88em

}



#arrowimage{
    width: 35%;
    margin-top: 0.1em;
    display: none;
}


.result-panel{
font-size: 0.65em !important;

}

.result-title-big{
    font-size: 1.6em !important;
}
.result-title-small{
    font-size: 1.46em !important;
}

/* Jobline */
.jobline {

    height: 50px;
}

input.delete {
    color: #e66f72 !important;
    background-color: inherit;
    margin-top: 0.5em;
}
input.delete:hover {
    background-color: inherit;
    margin-top: 0.5em;
}
input.delete:active {
    background-color: inherit;
    margin-top: 0.5em;
}
input.delete:focus {
    background-color: inherit;
    margin-top: 0.5em;
}

.jobline .toolname {

    font-size: large;
    font-weight: bold;
}

.jobline .jobinfo {
    padding-right: 1em;
    float: right;
    font-size: small;
}

.jobline .jobdate {
    float: right;
    font-size: small;
}

.jobline .jobid {

    padding-right: 1em;
}

.jobline i {

    margin-left: 0.5em;
}
.jobline .helpicon {

    color: grey;
}

.jobline .ownername {
    float: right;
    font-size: small;
    padding-right: 1em;
}

.reveal {

    width: 80%;
}


#help-tabs ul .toolname {

    float: right;
    font-weight: bold;
}




.job .jobid {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 7em;
}

/* Running Panel */
.running-panel {

    font-size: smaller;
}


/* File Upload */

.fileUploadBox{
margin-top: 2em;
    float: left;
    display: flex;
    padding: 0.5em;
}

.uploadButton{
    background-color: rgba(0, 110, 98, 166);

}

.addJob { display: none; }


map[name="blastmap"] area { cursor: pointer; }