#tool-tabs {

    background: white;
    min-height: 600px;
}


/* Configuration of individual parameters */
.parameter #alignment {

    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 0.625em;
    margin: 0 0 0;
}
.parameter .alignmentFormat {

    width: 15em;
    margin-left: 1em;
}
.parameter .alignmentFormatBlock {
    float: right;
}

.parameter .alignmentFormatBlock label {
    display: inline-block;
    width: 140px;
    text-align: right;
}




/*
 Parameter panels
*/
.parameters {

    display: flex;
}

.parameters div {
    width: 50%;
    font-size: smaller;
}

.parameters select {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
    border-radius: 3px;
}

.parameters input {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2.45em;
    width: 15em;
    border-radius: 3px;
}

.parameters input:focus {
    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #000;
    height: 2.5em;
    width: 15em;
}


.jobline {

    margin-bottom: 0.5cm;
}

.jobline .toolname {

    font-size: large;
    font-weight: bold;
}

.submitbuttons {
    position:absolute;
    bottom:30px;
    left:30px;
    width: 80%;
}

.submitbuttons .jobid {

    color: #000;
    color: rgba(0,0,0,0);
    text-shadow: 0 0 0 #878787;
    height: 2em;
    width: 15em;
    float: right;
}



.jobline .jobinfo {
    float: right;
    font-size: small;
}
.jobline .jobid {

    padding-right: 1cm;
}

.not-active {
    pointer-events: none;
    cursor: default;
}


#arrowimage{
    width: 35%;
    margin-top: 0.1em;
    display: none;
}


.result-panel{
font-size: 0.65em !important;

}

.result-title-big{
    font-size: 1.6em !important;
}
.result-title-small{
    font-size: 1.46em !important;
}