body {

  background-color: #006F62;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;

}


.login .login-box {
  padding: 20px;
  background-color: #f2f2f2;
}