body {

  background-color: #006F62;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;

}


.login .login-box {
  padding: 20px;
  background-color: #f2f2f2;
}


#alert {
  color: white;
  text-align: center;
  background-color: #CC3333;
  border-radius: 0em;
  opacity: 0.9;
  font-size: 0.95em;
}