#stickyheader {
  background-color: #2E8C81;
  position: absolute;
  height: 3em;
}

#toolsdropdown {

  background-color: #2E8C81;
  font-size: 0.875em;
  z-index: 99;

}

#section {

  color: white;
  padding-top: 1em;

}

#dropdowns li {
  a {
    &:hover {
      color: lightslategrey;
      z-index: 99;
    }
  }
}

#dropdowns a {
  color: white;
  font-size: 0.9em;
  z-index: 99;

}


#button-up a {
  background-color: #2E8C81;
  width: 4em;
  color: white;
}


.navbar {
  background: #2E8C81;
  border: 0px solid;
  border-width: 0px;
  padding: 0;
  margin: 0;
  
}


div.sticky-container {
  z-index: 99;
}

i {
  font-size: 20px;
}

.globalsearch input {

  background-color: #006F62;
  border: 0;
  border-bottom: solid 2px #000;
  color: #fff;
  font-size: 0.8em;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.42857;
  outline: 0;
  width: 175px;
  height: 50%;}

.globalsearch input:focus{

  background-color: #ACCDC9;

}

.top-bar-left {
  padding-bottom: 0;
  margin-bottom: 0;
  height: 2.4500em;
}


#navbar {
  position: fixed;
  width: 100%;
}


.top-bar-left .button {

  color: white;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  z-index: 99;
  margin: 0;

}

.top-bar-left .button:hover {

  background-color: #2E8C81 !important;
}

.drops .button:focus {

  outline: none !important;
}


.objects {

  background-color: rgba(0, 0, 0, 0.0) !important;

}

.objects li:after {
  border: 1px dotted;
}



.objects a {
  color: white;
  font-weight: bold;
  font-size: 0.7em;

}


.textArea {
  background-color: rgba(0, 0, 0, 0.0) !important;
  font-size: 0.625em;
  color: white;
}

.textArea li {
  padding-top: 1.7em;
  padding-bottom: 1em;



}

.dropdowns {
  background-color: rgba(0, 0, 0, 0.9) !important;
  display: block !important;
  visibility: hidden;
  border: none !important;
  width: 100% !important;
}

.sectionintro{

  color: #d317ff;
  font-weight: bolder;
  padding-top: 2.3em;
  background-color: rgba(0, 0, 0, 0.0) !important;
}

.title-bar {
  background-color: #2E8C81 !important;
}


input[type=checkbox]:checked + label {
  background: deepskyblue !important;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgb(172,205,255);
  background-color: rgba(172,205,255, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlayed:after {background-color: #000;}
.overlayed:before {background-color: #000;}




