#main-header {
  background-color: transparent;

}

#toolsdropdown {

  background-color: #2E8C81;
  font-size: 0.875em;
  z-index: 99;

}

#section {

  color: white;
  padding-top: 1em;

}

#dropdowns li {
  a {
    &:hover {
      color: lightslategrey;
      z-index: 99;
    }
  }
}

#dropdowns a {
  color: white;
  font-size: 0.9em;
  z-index: 99;

}


#button-up a {
  background-color: #2E8C81;
  width: 4em;
  color: white;
}


i {
  font-size: 20px;
}

.globalsearch input {

  background-color: #006F62;
  border: 0;
  border-bottom: solid 2px #000;
  color: #fff;
  font-size: 0.8em;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.42857;
  outline: 0;
  width: 175px;
  height: 50%;}

.globalsearch input:focus{

  background-color: #ACCDC9;

}

.title-bar {
  background-color: transparent !important;

}

.title-bar-title {
  color: #0a0a0a;
  padding: 0.5em;
  font-size: 1em;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
}

.title-bar-left {
  color: #000;
}

.title-bar-left span {
  margin-top: 20%;
  margin-bottom: 20%;
}

.top-bar-left {
  padding-bottom: 0;
  margin-bottom: 0;
  height: 2.4500em;
}

.top-bar-left .button {

  color: grey;
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  z-index: 99;
  margin: 0;
  background-color: transparent !important;
  padding-top: 3%;

}

.top-bar-left .button:hover {

  background-color: transparent !important;
}

.drops .button:focus {

  outline: none !important;
}


.objects {

  background-color: rgba(0, 0, 0, 0.0) !important;

}

.objects li:after {
  border: 1px dotted;
}



.objects a {
  color: white;
  font-weight: bold;
  font-size: 0.7em;

}


.textArea {
  background-color: rgba(0, 0, 0, 0.0) !important;
  font-size: 0.625em;
  color: white;
}

.textArea li {
  padding-top: 1.7em;
  padding-bottom: 1em;

}

.dropdowns {
  background-color: rgba(0, 0, 0, 0.9) !important;
  display: block !important;
  visibility: hidden;
  border: none !important;
  width: 100% !important;
}

.sectionintro{

  color: #d317ff;
  font-weight: bolder;
  padding-top: 2.3em;
  background-color: rgba(0, 0, 0, 0.0) !important;
}



.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #ccc;
  overflow-y: hidden;
  transition: 0.5s;
  opacity: 0.98;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.overlayed:after {background-color: #eeeeee;}
.overlayed:before {background-color: #eeeeee;}


/* current Navbar */


.tabs {
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  color: red !important;
  overflow-x: hidden;
  background-color: rgb(238, 238, 238);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  text-shadow: 0 1px 1px #fff;
}


.tabs-title{
  font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
  overflow-x: hidden;
  background-color: rgb(238, 238, 238);
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  text-shadow: 0 1px 1px white;
  border-radius: 5px;
}

.tabs-title.is-active a:link{
  color: #888;
  margin-top:-1px;
  background: rgba(220,220,220,0.5);
  text-shadow: 0 1px 1px white;
}

.tabs-title a:link{
  color: #888;
  text-shadow: 0 1px 1px white;
}
.tabs-title a:hover{
  color: #888 !important;

}

.tabs-title > a {

  overflow: hidden;
  color: #888 !important;
  position:relative;
  text-shadow: 0 1px 1px white;
}

.tabs-title > a:focus, .tabs-title > a[aria-selected='true']::after {
  transform: translate3d(0,0,0);
  color: #888;

}


#panel1 {
  padding-right: 1em;
  padding-left: 1em;
  border-top: 2px solid #D0BA89;
}
#panel2 {
  padding-right: 1em;
  padding-left: 1em;
  border-top: 2px solid #FFCC66;
}
#panel3 {
  padding-right: 1em;
  padding-left: 1em;
  border-top: 2px solid #669933;
}
#panel4 {
  padding-right: 1em;
  padding-left: 1em;
  border-top: 2px solid #79A4C4;
}
#panel5 {
  padding-right: 1em;
  padding-left: 1em;
  border-top: 2px solid #666699;
}
#panel6 {
  padding-right: 1em;
  padding-left: 1em;
  border-top: 2px solid #D6ABAB;
}
#panel7 {
  padding-right: 1em;
  padding-left: 1em;
  border-top: 2px solid #CC3333;
}



#toolsec {
  border: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#toolsec li {
  display: inline;
  margin-top: -12px;
  float: left;
  padding: 1rem 1rem 1rem 1rem;
  color: grey;
  border-right: 0px solid lightgray;
  border-radius: 5px;
}

#toolsec li:hover {
  background: rgba(220,220,220,0.5);
}

#toolsec li:last-child {
  border-right: none;
}

#toolsec li a {
  border-right: none;
  color: grey;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75em;

}


#metanav {

  min-height: 39px;

}


#nav-spacer {
  min-height: 20px;
}

img#logomin {

  display: block;
  margin: auto;
  margin-top: -25px;
}

#hambutton {
  height: 60%;
}

.toolsec-2 a {

  border-right: none;
  color: grey;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75em;
  margin-top: -1px;
  text-shadow: 0 1px 1px white;
  padding: 1rem 1rem;
  line-height: 1;

}

.toolsec-2 a:active {

  border-right: none;
  color: grey;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75em;
  margin-top: -1px;
  background: rgba(220,220,220,0.5);
  text-shadow: 0 1px 1px white;
  padding: 1rem 1rem;
  line-height: 1;

}

.toolsec-2 a:hover {

  border-right: none;
  color: grey;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75em;
  margin-top: -1px;
  background: rgba(220,220,220,0.5);
  text-shadow: 0 1px 1px white;
  padding: 1rem 1rem;
  line-height: 1;

}

.toolsec-2 a:visited {

  border-right: none;
  color: grey;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.75em;
  margin-top: -1px;
  text-shadow: 0 1px 1px white;
  padding: 1rem 1rem;
  line-height: 1;

}

#panel2 {
  padding: 0.5rem 0.5rem !important;
  margin: 0 0 -1.25rem 0;
}