#stickyheader {
  background-color: #2E8C81;
  position: absolute;
  z-index: 99;
}

#toolsdropdown {

  background-color: #2E8C81;
  font-size: 0.875em;
  padding-left: 18.500em;
  z-index: 99;

}

#section {

  color: white;
  padding-top: 1em;

}

#dropdowns li {
  a {
    &:hover {
      color: lightslategrey;
      z-index: 99;
    }
  }
}

#dropdowns {
  border-color: transparent;
  background-color: rgba(#333,0.995);
  margin-left: 0.8em;
  z-index: 99;
}

#dropdowns a {
  color: white;
  font-size: 0.9em;
  z-index: 99;

}


#button-up a {
  background-color: #2E8C81;
  width: 4em;
  color: white;
}


div.sticky-container {
  z-index: 99;
}

i {
  font-size: 20px;
}

.globalsearch input {

  background-color: #006F62;
  border: 0;
  border-bottom: solid 2px #000;
  color: #fff;
  font-size: 0.8em;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.42857;
  outline: 0;
  width: 120px;
  height: 50%;}

.globalsearch input:focus{

  background-color: #ACCDC9;

}




