#stickyheader {
  background-color: #2E8C81;
  position: absolute;
  z-index: 99;
  float: left;
  height: 3em;
}

#toolsdropdown {

  background-color: #2E8C81;
  font-size: 0.875em;
  z-index: 99;

}

#section {

  color: white;
  padding-top: 1em;

}

#dropdowns li {
  a {
    &:hover {
      color: lightslategrey;
      z-index: 99;
    }
  }
}

#dropdowns {

  width: 100px;
  background-color: rgba(#333,1);
  margin-left: 0.8em;
  z-index: 99;
}

#dropdowns a {
  color: white;
  font-size: 0.9em;
  z-index: 99;

}


#button-up a {
  background-color: #2E8C81;
  width: 4em;
  color: white;
}


.navbar {
  background: #2E8C81;
  border: 0px solid;
  border-width: 0px;
  padding: 0;
  margin: 0;
  
}


div.sticky-container {
  z-index: 99;
}

i {
  font-size: 20px;
}

.globalsearch input {

  background-color: #006F62;
  border: 0;
  border-bottom: solid 2px #000;
  color: #fff;
  font-size: 0.8em;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.42857;
  outline: 0;
  width: 175px;
  height: 50%;}

.globalsearch input:focus{

  background-color: #ACCDC9;

}

.top-bar-left {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.25em;
  height: 2.4500em;
}


#navbar {
  position: fixed;
  width: 100%;
}

.drops {
  float: left;

}

.drops .button {

  background-color: #2E8C81 !important;
  color: white;
  font-size: 0.9em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  z-index: 99;
  margin: 0;

}

.drops .button:hover {

  background-color: #2E8C81;
}

.drops .button:focus {

  outline: none !important;
}


.objects {

  background-color: rgba(0, 0, 0, 0.0) !important;

}

.objects li:after {
  border: 1px dotted;
}



.objects a {
  color: white;
  font-weight: bold;
  font-size: 0.7em;

}


.textArea {
  background-color: rgba(0, 0, 0, 0.0) !important;
  font-size: 0.625em;
  color: white;
}

.textArea li {
  padding-top: 1.7em;
  padding-bottom: 1em;



}

.dropdowns {
  background-color: rgba(0, 0, 0, 0.9) !important;
  display: block !important;
  visibility: hidden;
  border: none !important;

}

.sectionintro{

  color: #d317ff;
  font-weight: bolder;
  padding-top: 2.3em;
  background-color: rgba(0, 0, 0, 0.0) !important;
  padding-right: 40%;
  padding-left: 10%;
}

.title-bar {
  background-color: #2E8C81 !important;
}


input[type=checkbox]:checked + label {
  background: deepskyblue !important;
}







