.off-canvas {
    z-index: 99;
}

.off-canvas-wrapper {
    position: relative;
    overflow: visible;
    min-height: 31.250em;
}

.off-canvas-wrapper-inner {
    min-height: 31.250em;
}

.is-drilldown-submenu-parent a {
    background: #e6e6e6 !important;
}

.vertical {
    z-index: 99;
    background: #e6e6e6 !important;
}

.vertical a {
    color: black;
    background: #e6e6e6 !important;
}

.vertical a:hover {
    background: #F2F2F2 !important;
}

#responsive-menu {
    font-size: 0.8em;
}