/* these styles determine how the toolkit is displayed when printed */
@media print {
  @page {
    margin: 1.5cm;
  }

  a[href]::after {
    content: "";
  }
  a.showlink[href]::after, #toolReferences a[href]::after {
    content: " <" attr(href) ">";
    color: #888;
  }
  #main-window, #main-content {
    width: 100%;
  }
  #logo {
    width: 300px;
    float: none;
    margin: 0 auto;
  }
  .result-panel {
    padding: 0 !important;
    border: none;
    -webkit-print-color-adjust: exact !important;
    br {
      display: none;
    }
    .notePlain {
      float: right;
    }
    .scrollContainer {
      display: none;
    }
  }
  #jobview .toolname a i.helpicon {
    display: none;
  }
  #tool-tabs {
    border: none;
    ul.ui-tabs-nav > li:not(.ui-tabs-active) {
      display: none;
    }
  }
  #visualizationTitle {
    padding-top: 0 !important;
    & + div {
      display: none; // hide resubmit section button 
    }
  }
  #blastviz {
    margin-top: 3.5em;
    #flat-slider {
      display: none;
    }
    img {
      display: block;
    }
  }

  /* Page breakes before */
  .page-break-before {
    page-break-before: always;
  }
  #hitlist {
    page-break-before: always;
  }
  #alignmentTable tr:not(.breakable) {
    page-break-after: avoid;
  }
  #toolReferences {
    page-break-before: always;
    padding-top: 2em;
  }

  /* print sequence coloring */
  span.CC_b {
    background-color: transparent;
    box-shadow: inset 0 0 0 1000px rgba(34, 208, 0, 0.36) !important
  }

  span.CC_m {
    background-color: transparent;
    box-shadow: inset 0 0 0 1000px rgba(208, 6, 159, 0.46) !important
  }

  span.CC_do {
    background-color: transparent;
    box-shadow: inset 0 0 0 1000px rgba(208, 132, 18, 0.41) !important
  }

  span.ss_e_b {
    background-color: transparent;
    box-shadow: inset 0 0 0 1000px rgba(58, 67, 208, 0.5) !important
  }

  span.ss_h_b {
    background-color: transparent;
    box-shadow: inset 0 0 0 1000px rgba(208, 0, 0, 0.36) !important
  }
}
