

.not-active {
  pointer-events: none;
  cursor: default;
}

#outformat {
  font-size: smaller;

}

#reformatTopbar .nice-select {
  font-size: 1em;
  width: 12em;
}

#reformatTopbar ul {
  width: 12em;
  border-radius: 0;
}

.selectContainer {
  width: 100%;
  height: 4em;
  display: flex;
}

.selectContainer select {
  font-size: 0.68em !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 4px;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  height: 2.75em;
  color: #000;
  text-shadow: 0 0 0 #000;
  width: 15em;
  margin-left: 10em;
}


.selectContainer p {
  margin-bottom: 0;
  font-size: 0.7em;
  width: 100%;

}

.selectContainer .callout {
  width: 10em;
  float: right;
  margin-right: 0.5em;
}


.exampleReformat {
  margin-top: 0 !important;
  height: 2.7em;
  padding-left: 0;
  border-width: 0 0 1px 0;
  background-color: transparent;
}

.exampleReformat:hover, .exampleReformat:focus {
  background-color: transparent;
}

