#tool-tabs {

  background: white;
}

.jobline .toolname {

  font-size: large;
  font-weight: bold;
}


.jobline .jobinfo {
  float: right;
  font-size: small;
}
.jobline .jobid {

  padding-right: 1cm;
}

.not-active {
  pointer-events: none;
  cursor: default;
}

#outformat {

  font-size: smaller;

}

