.sidebar {
  padding-top: 3.75em;
  min-height: 40rem;
}

.clear{
  border: 0 solid #ccc;
}

.clock {
  background-color: transparent;
  opacity: 0.6;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid grey;
  color: grey;
  font-size: 0.85em;
}

ul#clock li {
  display:inline;
}

ul#jobs li {
  display:inline;
}


#jobsearchform {

  display: block;
  margin: auto;
  position: relative;

}

#jobsearchform input {

  font-size: 0.65em;
  height: 3.3em;
  width: 100%;
  text-align: left;
  padding:12px 10px 10px 5px;
  display:block;
  border: none;
  border-radius: 3px;
  background: #fff;
  /*border-bottom:1px solid #666; */
}

#jobsearchform input:focus {


  /*background: #f1e6f9; */
  outline:none;

}



.button-group .alert {
  margin-right: 0.8em !important;
}

.button-group .check {
  margin-left: 0.8em !important;
}

.sidebar-button {
  border: solid 1px grey !important;
  margin-bottom: 1em;
  width: 100%;
  background-color: transparent !important;
}
.sidebar-button:hover {
  background-color: lightgray !important;
}



.job-button div {
  width: 45%;
  height: 100%;
  color: #707070;
  font-weight: bold;
}
/*
.job-handle {
  background-color: #f6f6f6 !important;
  width: 100%;
  border: solid 1px lightgray !important;
  color: gray !important;
  font-size: 0.8em !important;
  margin-bottom: 1em !important;
  padding: 0 !important;
}

.job-handle div {
  width: 50%;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: rgba(220,220,220,0.5);
  color: gray;
}

.job-handle div:hover {
  background-color: #f2f2f2;
}
*/


/*@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 17px;
    width: 10px;
  }
}
@-moz-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 17px;
    width: 10px;
  }
}
@-ms-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 17px;
    width: 10px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 17px;
    width: 10px;
  }
}

.wrapper {
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
}

.checkbox, .checkbox-alt {
  display: inline-block;
  height: 20px;
  margin-left: 0.25em;
  width: 20px;
}
.checkbox label, .checkbox-alt label {
  display: block;
  height: 20px;
  position: relative;
  width: 20px;
}
.checkbox label:after, .checkbox-alt label:after {
  !*
  This element has a border on the right, and top. By rotating it looks like a check symbol, but the wrong way. That's why I'm flipping it with scaleX(-1)
  *!
  -moz-transform: scaleX(-1) rotate(135deg);
  -ms-transform: scaleX(-1) rotate(135deg);
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  !*
  I want to position the symbol using the left top, because when increasing the width and height of an object, it expands from the top left corner as well. That is what makes it looks like it's being drawn.
  *!
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 4px solid lightgray;
  border-top: 4px solid lightgray;
  content: '';
  display: block;
  position: absolute;
  height: 17px;
  top: 8px;
  left: 7px;
  width: 10px;
}
.checkbox label:hover:after, .checkbox-alt label:hover:after {
  border-color: white;
}
.checkbox input, .checkbox-alt input {
  display: none;
}
.checkbox input:checked + label:after, .checkbox-alt input:checked + label:after {
  -webkit-animation: check 0.4s;
  -moz-animation: check 0.4s;
  -o-animation: check 0.4s;
  animation: check 0.4s;
  border-color: #6aa;

}
.checkbox.checkbox-alt label:hover:after, .checkbox-alt.checkbox-alt label:hover:after {
  -webkit-animation: check 0.4s ease infinite;
  -moz-animation: check 0.4s ease infinite;
  -o-animation: check 0.4s ease infinite;
  animation: check 0.4s ease infinite;
}
.checkbox.checkbox-alt input:checked + label:after, .checkbox-alt.checkbox-alt input:checked + label:after {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}*/


