.sidebar {

  padding-left: 1.250em;
  padding-top: 0px;
  padding-right: 1.250em;
  background-color: transparent;
  min-height: 31.250em;
  max-width: 17.500em;
}




.clear{
  border: 0 solid #ccc;
}

#togglesidebar {

  background-color: #2E8C81;

}


.clock {
  background-color: transparent;
  opacity: 0.6;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em;
  border: 1px solid grey;
  color: grey;
  font-size: 0.85em;
}

ul#clock li {
  display:inline;
}

ul#jobs li {
  display:inline;
}

#jobsearchform input {
  font-size: 0.75em;
  height: 3.35em;
}

.button-group .alert {
  margin-right: 0.8em !important;
}

.button-group .check {
  margin-left: 0.8em !important;
}

.sidebar-button {
  border: solid 1px grey !important;
  margin-bottom: 1em;
  width: 100%;
  background-color: transparent !important;

}
.sidebar-button:hover {
  background-color: lightgray !important;
}

.job-button {
  background-color: #E8EAF6 !important;
  width: 100%;
  border: solid 1px lightgray !important;
  color: gray !important;
  font-size: 0.8em !important;
  margin-bottom: 0 !important;
}

.job-button div {
  width: 33.5%;
}