.columns-sidebar {


}

.sidebar {

  padding-left: 1.250em;
  padding-top: 0px;
  padding-right: 1.250em;
  background-color: rgba(46, 140, 129, 0.35);
  min-height: 31.250em;
  max-width: 17.500em;


}


.clear{
  border: 0 solid #ccc;
}

#togglesidebar {

  background-color: #2E8C81;

}


.clock {
  background-color: #000;
  opacity: 0.6;
  width: 85%;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid #333;
  color: #fff;
  font-size: 0.75em;
}

ul#clock li {
  display:inline;
}

ul#jobs li {
  display:inline;
}

#jobsearchform input {
  font-size: 0.75em;
  height: 2.35em;
}

.button-group .alert {
  margin-right: 0.8em !important;
}

.button-group .check {
  margin-left: 0.8em !important;
}