.ui-corner-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ui-state-default {
  background: inherit !important;
  border: none !important;
  height: 100%;
}

.ui-state-default a {
  font-size: small;
}

.ui-state-active {
  background: #fefefe !important;
  height: 100%;
}

#tool-tabs {
  border: none;
  padding: 0;
}

.ui-widget-header {
  background: #888;
  background-color: #eee;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border: none;
  margin-top: 0;
  height: 2.5em;
}

.ui-tabs-anchor {
  margin-top: 0.5em;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

.ui-tabs-panel {
  padding: 2em !important;
}

.tooltipster-bottom {
  font-size: 0.8em;
  max-width: 15em;
  margin: 3px !important;
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-box {
  border: none;
  background: #1b1b1b;
  background: rgba(40, 40, 40, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-box {
  margin-top: 8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-box {
  margin-right: 8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-box {
  margin-left: 8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-box {
  margin-bottom: 8px
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow {
  height: 8px;
  margin-left: -8px;
  width: 16px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow, .tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow {
  height: 16px;
  margin-left: 0;
  margin-top: -8px;
  width: 8px
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-background {
  display: none
}

.tooltipster-sidetip.tooltipster-borderless .tooltipster-arrow-border {
  border: 8px solid transparent
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-border {
  border-bottom-color: #1b1b1b;
  border-bottom-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-left .tooltipster-arrow-border {
  border-left-color: #1b1b1b;
  border-left-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-border {
  border-right-color: #1b1b1b;
  border-right-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-top .tooltipster-arrow-border {
  border-top-color: #1b1b1b;
  border-top-color: rgba(10, 10, 10, .9)
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-bottom .tooltipster-arrow-uncropped {
  top: -8px
}

.tooltipster-sidetip.tooltipster-borderless.tooltipster-right .tooltipster-arrow-uncropped {
  left: -8px
}

.smenubar {
  height: 40px !important;
  a.smenubar_alink {
    color: #737373 !important;
    padding: 4px 12px 4px 0 !important;
    font-weight: 700 !important;
    background: none !important;
  }
  & > div{
    &:first-child {
      display: none !important
    }
    &:nth-child(8) span .smenu-dropdown ul.smenu-dropdown-menu li:first-child {
      display:none !important
    }

    &:nth-child(5) span .smenu-dropdown ul.smenu-dropdown-menu li:last-child {
      display:none !important
    }
  }
  .smenu-dropdown {
    left: auto !important;
    margin-top: 1.8em !important;
  }
}

.biojs_msa_searchresult_row > button {
  margin-right: 0.5rem;
  font-size: 0.8em;
}

.biojs_msa_searchresult_ovbox {
  display: none
}

.biojs_msa_labelblock {
  overflow-y: overlay !important;
}

.biojs_msa_labelrow {
  font-weight: normal !important;
}