.ui-corner-top {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.ui-state-default a {
  font-size: 0.75em !important;
}

.ui-state-default {
  background: #eee !important;
  border: none !important;
  height: 2.45em;

}

.ui-state-active {
  background: white !important;

}

.ui-state-active a:link {
  color: #888;
  margin-top: 0.5em;

}

.ui-state-default a:link {
  color: #888;
  margin-top: 0.5em;
}

#tool-tabs {
  background: transparent;
  border: none;
  padding: 0;
}

#tab2 {
  margin-left: -1px;

}


.ui-widget-header {
  background: #888 url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x;
  background-color: #eee;
  background-image: url("images/ui-bg_highlight-soft_75_cccccc_1x100.png");
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-position: 50% 50%;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border: 1px solid lightgray;
  border-bottom: none;
  margin-top: 0;
  height: 2.5em;
  width: 50.05em;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}


.ui-widget-header li {
  margin-top: 0;
}

.ui-tabs-anchor {
  float: left;
  padding: .5em .5em;
  text-decoration: none;
}

.ui-tabs .ui-tabs-nav {
  padding: 0 !important;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

.ui-tabs-panel {
  padding: 1em !important;
}

#auth-tabs {
  border: none;
  width: 25%;
  min-height: 20em;
  padding: 0;
  overflow: hidden;
}
#auth-tabs .ui-widget-header {
  font-size: 1.1em;
  background: #eeeeee;
  border: none;
  width: 24.7em;

}
#auth-tabs .ui-tabs-nav .ui-state-default {
  background: #eeeeee;
  border: none;
  height: 2.5em;
}
#auth-tabs .ui-tabs-nav .ui-state-active {
  border: 1px solid grey;
}
#auth-tabs .ui-tabs-nav .ui-state-default a {
  color: grey;
}
#auth-tabs .ui-tabs-nav .ui-state-active a {
  color: grey;
}

#auth-tabs .ui-tabs-panel  {
  background: white;
}

#signin-form {
  margin-top: 4em;
}

#forgot-form {
  font-size: 0.85em;
  margin-top: 4em;
}

#signin-form input, #signup-form input, #forgot-form input {
  background-color: transparent;
}

#signin-form input:focus, #signup-form input:focus, #forgot-form input:focus  {
  outline: none !important;
  border:1px solid #2E8C81;
  box-shadow: 0 0 10px #2E8C81;
}

#signin-submit, #signup-submit, #forgot-submit {
  width: 40%;
  background-color: #2E8C81;
  font-size: 0.9em;

}

#checklabel {
  position: absolute;
  left: 140px;
  top: 360px;
}

#toS {
  margin-bottom: 1em;
}

