.input-form {
  font-size: 0.8em;
  height: auto;
  width: auto;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

.tool-header {
  background-color: #f6f6f6 !important;
  width: 95.35%;
  border: solid 1px lightgray !important;
  border-bottom: solid 1px grey !important;
  color: gray !important;
  font-size: 0.8em !important;
  margin-left: 2em;
}

.param-header {
  background-color: #f6f6f6 !important;
  width: 95%;
  border: solid 1px lightgray !important;
  border-bottom: solid 1px grey !important;
  color: gray !important;
  font-size: 0.8em !important;
  margin-left: 2em;
}
