.ui-corner-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.ui-state-default {
  background: inherit !important;
  border: none !important;
  height: 100%;
}
.ui-state-default a {
  font-size: small;
}

.ui-state-active {
  background: #fefefe !important;
  height: 120%;
}

#tool-tabs {
  border: none;
  padding: 0;
}

.ui-widget-header {
  -webkit-box-shadow: 0 1px 6px 0 #ccc;
  -moz-box-shadow: 0 1px 6px 0 #ccc;
  box-shadow: 0 1px 6px 0 #ccc;
  background: #888;
  background-color: #eee;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: auto auto;
  border: none;
  margin-top: 0;
  height: 2.5em;
}

.ui-tabs-anchor {
  margin-top: 0.5em;
}

.ui-tabs .ui-tabs-nav {
  padding: 0;
}

.ui-tabs .ui-tabs-nav li {
  margin: 0;
}

.ui-tabs-panel {
  padding: 2em !important;
}

