.top-bar {
  max-width: 100%;
  margin:auto;
}

.logo {

  background-color: #006F62;
  padding-left: 2.500em;
  padding-bottom: 1.000em;

}

#header {

  background: #006F62;
  height: 5.0em

}

.advancedsearch {

  width: auto;
  padding-left: 21.8500em


}

.sub-nav dd {
  float:right;
  padding-left: 1.00em;
  padding-right: 0.5em;
}

.sub-nav a {
  color: white;
  font-size: 0.575em;
}

#subnav {
  background-color: #006F62;

}

#subnav a:hover {
  color: black;
}
