<configuration>

    <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>main.log</file>
        <encoder>
            <pattern>[%level] %date{HH:mm:ss}: - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %coloredLevel %logger{15} - %message%n%xException{10}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <logger name="play.core.server.akkahttp" level="WARN"/>
    <logger name="reactivemongo" level="WARN" />
    <logger name="application" level="DEBUG"/>
    <logger name="actors" level="INFO"/>
    <logger name="controllers" level="INFO"/>
    <logger name="http.filters" level="INFO"/>
    <logger name="play" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="ASYNCSTDOUT"/>
    </root>

</configuration>
