@import play.api.mvc.RequestHeader
@import models.tel.TEL
@import models.tools.Clans
@(inputForm: Form[(String, String, Int, Int, String)])(implicit messages: Messages, request: RequestHeader)
<script src='@routes.Assets.at("javascripts/alnviz.js")' type="text/javascript" ></script>

@helper.textarea(field = inputForm("alignment"), args = 'rows -> 20, 'cols -> 50,
    '_label -> "",
    'placeholder -> "Enter multiple sequence alignment of single sequence",
    'id -> "alignment", '_showConstraints -> false)



@helper.select(
    inputForm("matrix"),
    helper.options(Values.fullNames.filterKeys(Clans.parameterValues("matrix"))),
    '_label -> "Select Scoring Matrix",
    'id -> "matrix"
)




@helper.inputText(
    inputForm("num_iter").copy(value=Some("1")),
    '_label  -> "Set the number of iterations",
    'id -> "num_iter",
    '_showConstraints -> false
)

@helper.inputText(
    inputForm("evalue").copy(value=Some("10")),
    '_label  -> "E-Value",
    'id -> "evalue",
    '_showConstraints -> false
)
@helper.select(
    inputForm("standarddb"),
    helper.options(TEL.getSetParam("standarddb")),
    '_label -> "Select Database",
    'id -> "standarddb"
)

<a onClick="$('#alert').prop('hidden',true);$('#submitbutton').prop('disabled', false);$('#alignment').val(alnviz_example());$('#format').val('fas')">Paste example alignment</a>


<script>
document.getElementById("alignment").value = localStorage.getItem("resultcookie");
localStorage.removeItem("resultcookie");
</script>