@import play.api.Environment
@import controllers.AssetsFinder
@import de.proteinevolution.tools.Tool
@(assetsFinder: AssetsFinder, tools: Iterable[Tool], message: String = "", view: String = "", environment: Environment)()

<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit</title>

            <!-- SEO -->
        <meta name="description" content="The MPI Bioinformatics Toolkit is an interactive web service
                                          which offers access to a great variety of public and in-house bioinformatics tools.
                                          They are grouped into different sections that support sequence searches,
                                          multiple alignment, secondary and tertiary structure prediction and classification." />

        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />

        <link id="favicon_link" rel="shortcut icon" href="@assetsFinder.path("images/favicons/favicon-32x32.png")">

    </head>
    <body>
        The old frontend does not work!
    </body>
</html>

