@import de.proteinevolution.models.Tool
@(tools: Iterable[Tool])()
<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>

</div>

<ul class="tabs" data-tabs id="navbar-tabs">
    <li class="tabs-title is-active" id="first-tab"><a href="#panel1" title="View search tools" data-tooltip>
        Search</a></li>
    <li class="tabs-title"><a href="#panel2" title="View alignment tools" data-tooltip>Alignment</a></li>
        <!-- all tools for testing in this section -->
    <li class="tabs-title"><a href="#panel3" title="View sequence analysis tools" data-tooltip>
        Sequence Analysis</a></li>
    <li class="tabs-title"><a href="#panel4" title="View secondary structure tools" data-tooltip>
        2ary Structure</a></li>
    <li class="tabs-title"><a href="#panel5" title="View tertiary structure tools" data-tooltip>
        3ary Structure</a></li>
    <li class="tabs-title"><a href="#panel6" title="View classification tools" data-tooltip>
        Classification</a></li>
    <li class="tabs-title" id="last-tab"><a href="#panel7" title="View utility tools" data-tooltip>Utils</a></li>
</ul>

<div class="navbar-tabs-content" data-tabs-content="navbar-tabs">
    <div class="tabs-panel toolsection active is-active" id="panel1">
        @for(tool <- tools.filter(_.section == "search")) {
            <a id="@tool.code" href="/#/tools/@tool.toolNameShort" title="@tool.title" data-tooltip>@tool.toolNameLong</a>
        }
    </div>

    <div class="tabs-panel toolsection" id="panel2">
        <a id="alnviz" href="/#/tools/alnviz" title="BioJS multiple sequence alignment viewer" data-tooltip>
            AlignmentViewer</a>
        @for(tool <- tools.filter(_.section == "alignment")) {
            <a id="@tool.code" href="/#/tools/@tool.toolNameShort" title="@tool.title" data-tooltip>@tool.toolNameLong</a>
        }
    </div>

    <div class="tabs-panel toolsection" id="panel3">
    @for(tool <- tools.filter(_.section == "seqanal")) {
        <a id="@tool.code" href="/#/tools/@tool.toolNameShort" title="@tool.title" data-tooltip>@tool.toolNameLong</a>
    }
    </div>

    <div class="tabs-panel toolsection" id="panel4">
    @for(tool <- tools.filter(_.section == "2ary")) {
        <a id="@tool.code" href="/#/tools/@tool.toolNameShort" title="@tool.title" data-tooltip>@tool.toolNameLong</a>
    }
    </div>

    <div class="tabs-panel toolsection" id="panel5">
    @for(tool <- tools.filter(tool => tool.section == "3ary")) {
        <a id="@tool.code" href="/#/tools/@tool.toolNameShort" title="@tool.title" data-tooltip>@tool.toolNameLong</a>
    }
    </div>

    <div class="tabs-panel toolsection" id="panel6">
    @for(tool <- tools.filter(_.section == "classification")) {
        <a id="@tool.code" href="/#/tools/@tool.toolNameShort" title="@tool.title" data-tooltip>@tool.toolNameLong</a>
    }
    </div>

    <div class="tabs-panel toolsection" id="panel7">
        @for(tool <- tools.filter(_.section == "utils")) {
            <a id="@tool.code" href="/#/tools/@tool.toolNameShort" title="@tool.title" data-tooltip>@tool.toolNameLong</a>
        }
        <a id="reformat" href="/#/tools/reformat" title="Sequence reformatting utility" data-tooltip>
            Reformat</a>
    </div>
</div>