@import de.proteinevolution.models.Tool
@(tools: Iterable[Tool])()

<ul class="vertical menu" data-drilldown>
    <li>
        <a href="/#/">Home</a>
    </li>
    <li>
        <a>Search</a>
        <ul class="vertical menu">
            @for(tool <- tools.filter(_.section == "search")) {
                <li><a id="@tool.code" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
            }
        </ul>
    </li>
    <li>
        <a>Alignment</a>
        <ul class="vertical menu">
            <li><a href='/#/tools/alnviz'>AlignmentViewer</a></li>
            @for(tool <- tools.filter(_.section == "alignment")) {
            <li><a id="@tool.code" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>Sequence Analysis</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(_.section == "seqanal")) {
            <li><a id="@tool.code" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>2ary Structure</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(_.section == "2ary")) {
            <li><a id="@tool.code" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>

    </li>
    <li>
        <a>3ary Structure</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(tool => tool.section == "3ary")) {
            <li><a id="@tool.code" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>Classification</a>
        <ul class="vertical menu">
        @for(tool <- tools.filter(_.section == "classification")) {
            <li><a id="@tool.code" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
        }
        </ul>
    </li>
    <li>
        <a>Utilities</a>
        <ul class="vertical menu">
            @for(tool <- tools.filter(_.section == "utils")) {
                <li><a id="@tool.code" href="/#/tools/@tool.toolNameShort">@tool.toolNameLong</a></li>
            }
            <li><a href='/#/tools/reformat'>Reformat</a></li>
        </ul>
    </li>
</ul>