<div class="column column-block tile-main-container">
    <div class="tile_container">
        <div class="tile-img" style="background-image: url(/assets/images/fold_galaxy.png);"></div>
        <div class="text_part">
            <h5>Recent Updates</h5>
            <a data-open="footerRecentUpdatesModal" href="#pfam32_11_2018">
                <h6>November 10, 2018</h6>
                <p>HHpred: profile HMM database of the latest version of Pfam (v32.0) is online.</p>
            </a>
            <a data-open="footerRecentUpdatesModal" href="#loki_10_2018">
                <h6>October 31, 2018</h6>
                <p>HHpred: profile HMM database of the composite metagenome-assembled genome
                    <em>
                        Lokiarchaeum sp. GC14_75
                    </em>
                    <span>, a reference for exploring eukaryogenesis, is online.</span></p>
            </a>
            <a data-open="footerRecentUpdatesModal" href="#nineproteomes_2018_06">
                <h6>June 1, 2018</h6>
                <p>HHpred: profile HMM database of
                    <em>
                        Bacteriovorax sp., Bdellovibrio bacteriovorus, Enterococcus faecalis, Helicobacter pylori, Leptospira interrogans, Neisseria goorrhoeae, Phycisphaerae bacterium, Plesiocystis pacifica, and Waddlia chondrophila
                    </em>
                    <span> are online.</span></p>
            </a>
        </div>
        <div class="quick-links">
            <h5>Quick Links</h5>
            <a href="/#/tools/hhpred">
                <span>HHpred</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/hhblits">
                <span>HHblits</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/hhrepid">
                <span>HHrepID</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/psiblast">
                <span>BLAST</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/pcoils">
                <span>PCOILS</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/clans">
                <span>CLANS</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/mafft">
                <span>MAFFT</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/quick2d">
                <span>Quick2D</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/mmseqs2">
                <span>MMseqs2</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
        </div>
    </div>
</div>
