<div class="column column-block tile-main-container">
    <div class="tile_container">
        <div class="tile-img" style="background-image: url(/assets/images/fold_galaxy.png);"></div>
        <div class="text_part">
            <h5>Recent Updates</h5>
            <a data-open="footerRecentUpdatesModal" href="#paramecium_2018_12">
                <h6>December 9, 2018</h6>
                <p>HHpred: profile HMM database of the unicellular ciliate <em>Paramecium tetraurelia</em> is online.</p>
            </a>
            <a data-open="footerRecentUpdatesModal" href="#salmonella_2018_11">
                <h6>November 22, 2018</h6>
                <p>HHpred: profile HMM databases of <em>Salmonella enterica</em> serovar Typhi (CT18) and
                    <em>Trichomonas vaginalis</em> <span> are online.</span></p>
            </a>
            <a data-open="footerRecentUpdatesModal" href="#pfam32_11_2018">
                <h6>November 10, 2018</h6>
                <p>HHpred: profile HMM database of the latest version of Pfam (v32.0) is online.</p>
            </a>
        </div>
        <div class="quick-links">
            <h5>Quick Links</h5>
            <a href="/#/tools/hhpred">
                <span>HHpred</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/hhblits">
                <span>HHblits</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/hhrepid">
                <span>HHrepID</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/psiblast">
                <span>BLAST</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/pcoils">
                <span>PCOILS</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/clans">
                <span>CLANS</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/mafft">
                <span>MAFFT</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/quick2d">
                <span>Quick2D</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
            <a href="/#/tools/mmseqs2">
                <span>MMseqs2</span>
                <i class="fa fa-angle-right fa-2x" id="arrow-right"></i>
            </a>
        </div>
    </div>
</div>
