@import play.api.mvc.RequestHeader
@(response: io.prismic.Response)

@response.results.map { document =>



            @routes.Application.detail(document.id, document.slug)



    }


    @if(response.totalPages > 1) {
        <div>
            @if(response.prevPage.isDefined) {
                <a href="@routes.Application.home(response.page - 1)">Previous</a>
            } else {
                <span>Previous</span>
            }
            @if(response.nextPage.isDefined) {
                <a href="@routes.Application.home(response.page + 1)">Next</a>
            } else {
                <span>Next</span>
            }
        </div>
    }
