Multiple sequence alignment tool for protein and nucleotide sequences. (T-Coffee:Tree-based Consistency Objective Function for alignment Evaluation).

[T-Coffee 11.0; <a href="http://www.tcoffee.org/" target="_blank">http://www.tcoffee.org/</a>]