@(inputForm: Form[models.Parameters.TCoffee])(implicit messages: Messages)
@roughtemplate(title = "TCoffee") {

    <h2>@Tcoffee.fullName</h2>

    @helper.form(action = routes.Alnviz.submit()) {

        <!-- Input form elements derived from the Input Data Model -->
        <div class="row">
            <label>@Tcoffee.parameterNames("sequences")

                @helper.textarea(field = inputForm("sequences"), args = 'rows -> 5, 'cols -> 50)

            </label>
        </div>
        <div class="row">
            <input type="submit" value="Submit Job" />
        </div>
    }
}
