<ul id="helpindex" class="<%= @section['theme'] %>">
	<li><a href="#input">Input format</a></li>
	<li><a href="#pairwise_method">Pairwise method</a></li>
	<li><a href="#otheradvanced">Other advanced options</a></li>
	<li><a href="#case">Character transformation</a></li>
	<li><a href="#residue_number">Residue number</a></li>
	<li><a href="#aln_order">Output in alignment order</a></li>
</ul>

<h2><%= @tool['title'] %> Parameters</h2>

<a name="input"></a>
<h3 class="<%= @section["name"] %>">Input Format</h3>
<div class="row">
<p>
Enter multiple sequences in fasta format.
A sequence in FASTA format begins with a single-line description, followed by lines of sequence data. The description line is distinguished from the sequence data by a greater-than (">") symbol in the first column. It is recommended that all lines of text be shorter than 80 characters in length. An example sequence in FASTA
format is:
</p>
<pre>

>gi|532319|pir|TVFV2E|TVFV2E envelope protein
ELRLRYCAPAGFALLKCNDADYDGFKTNCSNVSVVHCTNLMNTTVTTGLLLNGSYSENRT
QIWQKHRTSNDSALILLNKHYNLTVTCKRPGNKTVLPVTIMAGLVFHSQKYNLRLRQAWC
HFPSNWKGAWKEVKEEIVNLPKERYRGTNDPKRIFFQRQWGDPETANLWFNCHGEFFYCK
MDWFLNYLNNLTVDADHNECKNTSGTKSGNKRAPGPCVQRTYVACHIRSVIIWLETISKK
TYAPPREGHLECTSTVTGMTVELNYIPKNRTNVTLSPQIESIWAAELDRYKLVEITPIGF
APTEVRRYTGGHERQKRVPFVXXXXXXXXXXXXXXXXXXXXXXVQSQHLLAGILQQQKNL
LAAVEAQQQMLKLTIWGVK

</pre>
<p>
Sequences are expected to be represented in the standard IUB/IUPAC amino acid and nucleic acid codes, with these exceptions: lower-case letters are accepted and are mapped into upper-case; a single hyphen or dash can be used to represent a gap of indeterminate length; and in amino acid sequences, U and * are acceptable letters (see below). Before submitting a request, any numerical digits in the query sequence should either be removed or replaced by appropriate letter codes (e.g., N for unknown nucleic acid residue or X for unknown amino acid residue).
<br/>
The nucleic acid codes supported are:
</p>
<pre>

   A --> adenosine           M --> A C (amino)
   C --> cytidine            S --> G C (strong)
   G --> guanine             W --> A T (weak)
   T --> thymidine           B --> G T C
   U --> uridine             D --> G A T
   R --> G A (purine)        H --> A C T
   Y --> T C (pyrimidine)    V --> G C A
   K --> G T (keto)          N --> A G C T (any)
                             -  gap of indeterminate length
</pre>
<p>
The accepted amino acid codes are:
</p>
<pre>

    A  alanine                         P  proline
    B  aspartate or asparagine         Q  glutamine
    C  cystine                         R  arginine
    D  aspartate                       S  serine
    E  glutamate                       T  threonine
    F  phenylalanine                   U  selenocysteine
    G  glycine                         V  valine
    H  histidine                       W  tryptophan
    I  isoleucine                      Y  tyrosine
    K  lysine                          Z  glutamate or glutamine
    L  leucine                         X  any
    M  methionine                      *  translation stop
    N  asparagine                      -  gap of indeterminate length

</pre>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>


<a name="pairwise_method"></a>
<h3 class="<%= @section["name"] %>">Pairwise method</h3>
<div class="row">
<table>
	<tr><td>mlalign_id_pair</td><td>Produces local alignments. The default for lalign_id_pair is GOP=-10, GEP=-4, MATRIX=blosum50mt.</td></tr>
	<tr><td>mfast_pair</td><td>Makes a global fasta style pairwise alignment. For proteins, matrix=blosum62mt, GEP=-1, GOP=-10, ktup=2. For DNA, matrix=idmat (id=10), gep=-1, gop=-20, ktup=5. Each pair of residue is given a score function of the weighting mode defined by -weight.</td></tr>
	<tr><td>mslow_pair</td><td>Identical to fast pair, but does a full dynamic programming, using the myers and miller algorithm. This method is recommended if your sequences are distantly related.</td></tr>
<!--	<tr><td>mclustalw_pair</td><td>Uses clustalw (default parameters) to align two sequences. Each pair of residue is given a score function of the weighting mode defined by -weight.</td></tr>-->
</table>
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
<a name="otheradvanced"></a>
<h3 class="<%= @section["name"] %>">Other advanced options</h3>
<div class="row">
Use this textfield to specify advanced options via commandline.
For a detailed description of available options please have a look at the
<a target="_blank" href="http://www.tcoffee.org/Documentation/t_coffee/t_coffee_technical.htm">TCoffee documentation</a>.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
<a name="case"></a>
<h3 class="<%= @section["name"] %>">Character transformation</h3>
<div class="row">
Changes sequence letters to upper or lower case.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
<a name="residue_number"></a>
<h3 class="<%= @section["name"] %>">Residue number</h3>
<div class="row">
Causes the output alignment to contain residue numbers at the end of each line.
</div>
<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
<a name="aln_order"></a>
<h3 class="<%= @section["name"] %>">Output in alignment order</h3>
<div class="row">
Sets the order of the sequences in the output alignment. Default (unchecked) means to keep the sequences in the original order. Checking the box means the sequences come in the order indicated by the tree.
</div>

<div class="top"><a href="#"><img src="/images/top.gif" border="0" style="float: right;"></a></div>
