<h2><%= @tool['title'] %> Overview</h2>
<div class="row">
T-Coffee (Tree-based Consistency Objective Function for alignment Evaluation)
is one of the most accurate multiple sequence alignment methods for protein and nucleotide sequences.
<br>[T-Coffee 11.0; <a href="http://www.tcoffee.org/" target="_blank">http://www.tcoffee.org/</a>]
</div>
