@import controllers.AssetsFinder
@(assets: AssetsFinder)
<!DOCTYPE html>
<html>
    <head>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@assets.path("/images/favicon.png")">
        <link href="@assets.path("styles/global.min.css")" rel="stylesheet">
            <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div>
        <div style="width: 50%; margin: 0 auto; text-align: center; padding-top: 100px; font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;">
            <h1>404</h1>
            <p>Congratulations!</p>
            <p>You just entered a Domain of Unknown Function!</p>
            <br><img src="@assets.path("/images/404.png")" style="height: 100%; width: auto;">
        </div>
        </div>

    </body>
</html>