.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}
.flat-slider.ui-slider {
    border: 0;
    background: #c2c2c2;
    border-radius: 7px;
}
.flat-slider.ui-slider-horizontal {
    height: 4px;
}
.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 4px;
}
.flat-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #d1d1d1 !important;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}
.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -10px;
}
.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}
.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7px;
    background: #58a5e9;
}
.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
}
.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 4px;
}

.flat-slider{
   width: 89%;
    margin-left: 2em !important;
    margin-top: 2em;
}

#blastviz{
    margin-top: 1em;
    width: 100%;
}

#line-element{
    margin-top: 1rem
    !important;
    margin-bottom: 1rem !important;
}

#resubmitSection{
    float: right;
    margin-right: 7em;
    margin-top: 1.5em;
    margin-bottom: 0;
    background-color: #eee;
}
#resubmitSection:hover{
    background-color: #d1d1d1
}