.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}
.flat-slider.ui-slider {
    border: 0;
    background: #c2c2c2;
    border-radius: 7px;
}
.flat-slider.ui-slider-horizontal {
    height: 4px;
}
.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 4px;
}
.flat-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #d1d1d1 !important;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}
.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -10px;
}
.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}
.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7px;
    background: #58a5e9;
}
.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
}
.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 4px;
}

.flat-slider{
    width: 89%;
    margin: 0 auto;
    max-width: 774px;
    margin-bottom: 1em;
}


#blastviz{
    margin-top: 7.5em;
    width: 100%;
}

#blastviz p {
   text-align: center;
}

#line-element{
    margin-top: 0.5rem !important;
    margin-bottom: 1rem !important;
}

#resubmitSection {
    margin-top: 1.5em;
    margin-bottom: 1em;
    background-color: #eee;
    float: right;
}
#resubmitSection:hover, #forward:hover, #structureModal .button {
    background-color: #d1d1d1
}

.hhpred_extra_button {
    background-color: #eee !important;
    margin-bottom: 0;
}

.hhpred_extra_button:hover {
    background-color: #d1d1d1 !important;
}

#psiblast_templates {
    margin-top: 1em;
}

.forwardModal {
    width: 38em;
    height: 18.5em;
}

.forwardModal p, #templateAlignmentModal p, #templateAlignmentModalhhomp p, #structureModal p {
    font-size: 1em;
    font-weight: bold;
    color: rgba(0, 110, 98, 166);
    margin-bottom: 0.5em;
}

.forwardModal .forward_form {
    font-size: 0.8em;
}

.forwardModal .result_inputs {
    font-size: 0.9em;
}

.forwardModal .forwardFormLast {
    float: right;
}

#forwardModal_alignment {
    height: 10em;
}

.forward {
    float: right;
    background-color: rgba(0, 110, 98, 166);
    color: white;
    margin-bottom: 0;
    margin-top: 2em;
    font-size: 0.70em;

}
#forward {
    float: right;
    margin-top: 0.5em;
    -webkit-appearance: none;
    background-color: rgba(0, 110, 98, 166) !important;
    border-radius: 3px !important;
    color: white !important;
    margin-left: 2em;
}

.forwardFormLast #forward {
    margin-top: 2em;
}


#forward:hover {
    background-color: gray !important;
}



.forward_panel {
    margin-bottom: 1em;
}

.forward_panel a {
    padding: 1em 1em 1em 1em;
    border: none;
}

.forward_panel_content {
    border: none !important;
    background-color: #eee;

}

#forward_accordion {
    background-color: #eee;
}

.select_forward select {
    font-size: 0.80em !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 4px;
    margin-top: 1.5em;
    margin-left: 0.25em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    height: 2.75em;
    color: #000;
    text-shadow: 0 0 0 #000;
    width: 12em;
}

.select_forward ul {
    top: auto !important;
    bottom: 100%;
    margin-bottom: 1px;
}

.forward_form {
   width: 99%;
   display: flex;
   margin-top: 1em;
   margin-left: 0.25em;
   font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
   overflow: auto;
   background-color: #eee;
   border-radius: 4px;


}

label.forwardLabel input[type=radio] {
    position: relative;
    vertical-align: middle;
    bottom: -6px;
    left: 3px;
}

.forward_form label {
    margin-bottom: 1em;
    font-size: 1em;
}

.forwardFormDiv {
    width: 60%;
    margin: 1em;
}

#forwardWarning {
    width: 100%;
    color: black;
    margin-bottom: 0;
    margin-top: 1.9em;
    font-size: 0.75em;
}

.hitCheckbox{
    margin: 0 auto;
}

.result_inputs {
    width: 7em;
    height: 2em;
    margin-left: 0.5em;
    margin-bottom: 0;
    padding: 0 0 0 0.25em;

}

.two_input {
    display: flex;
}

.colorOpts a   {
    width: 25%;
    float: left;
    margin-bottom: 0.5em;
}

.colorOptsAlignment{
    padding-top: 1em;
    margin: 0 auto;
}
.colorOptsAlignment a{
    float: left;
    width: 20%;
    margin-bottom: 0.5em;
}


input {
    vertical-align: -2px;
}

/* DataTable in JobManager */
.dataTables_length label {
    font-size: 0.9em;
}
.dataTables_length select{
    width: 6em;
    height: 2em;
    padding: 0;
    margin-bottom: 0;
    border-radius: 5px;
    font-size: 0.8em;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
}

.dataTables_filter {
    width: 20em;
}

.dataTables_filter input {
    height: 2em;
    border-radius: 5px;
}

.dataTables_filter label {
    display: flex;
    font-size: 0.9em;
}

.dataTables_info {
    font-size: 0.9em;
}

.dataTables_paginate {
    font-size: 0.9em;
}

.dataTables_paginate a {
    padding: 0.25em 0.75em !important;
}

.dataTables_wrapper {
    background-color: white;
    padding: 1.75em;
    border: 1px solid #ccc;
}

table.dataTable thead th {
    border-bottom: 1px solid #b4b4b4 !important;
}
    /*Data Tables in Hitlists */
.result-panel .dataTables_wrapper {
    border: none;
    padding: 0;
    font-size: 1.25em;
}

.result-panel .dataTable {
    width: 100%;
}

.jobManagerContainer {
    width: 95%;
    padding-left: 0.75em;
}
table.dataTable.no-footer{
    border-bottom: 1px solid #1111114d !important;
}

#jobManagerTable thead, #jobManagerTable thead:hover, #jobManagerTable thead tr, #jobManagerTable thead tr:hover  {
    color: grey;
}

@media only screen and (max-width: 720px) {
    .forward_form {
        display: block;
    }

    #forward {
        float: left;
    }
}


#viewport{
    width: 70em;
    height: 40em;
    border: 1px solid lightgray;
    margin: 0 auto;
}

#viewport canvas {
    background-color: transparent !important;
}


#alignmentTemplate, #alignmentTemplatehhomp{
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 0.7rem !important;
    margin: 0 auto;
}

.indexCheckbox {
    display: flex;
    margin: 0;
    height: 1.5em;
}

.indexCheckbox input {
    margin-right: 1.5em;
}

.colorToggle{
    color: #006F62 !important;
    border-bottom: solid 1px rgba(0, 110, 98, 0.3) !important;
    padding-bottom: 6px;
}

.colorToggleBar{
    color: #006F62 !important;
    border-bottom: solid 1px rgba(0, 110, 98, 0.3) !important;
    padding-bottom: 2px;
}

.hitInfo {
    font-size: 1em;
}

.alignmentOpts{
    border-bottom: 1px solid rgba(180, 180, 180, 0.3);
}
.fetchError{
    padding: 10em !important;
}

.structureAccession{
    float: left;
}

.alignmentTBody td{
    padding: 0;
}

#alignmentResultView{
    width: 100%;
    height: 100%;
    overflow: auto;
}

.alignmentCheckbox{
    margin: 0;
}


.dataTable{
    margin-left: unset !important;
    font-size: 0.9em;
 }

.dataTables_scrollHeadInner{
   width: unset !important;
}

.noHits{
    width: 5em;
    margin-top: 3em;
    margin: 0 auto;
    margin-bottom: 1em;
}

.noHitsWide{
    width: 15em;
    margin-top: 3em !important;
    margin: 0 auto;
    margin-bottom: 1em;
    font-size: 1.3em;
}

#htb_wrapper {
    overflow-x: auto;
}

#htb_length {
    margin-bottom: 1em;
}


#htb_wrapper .sorting_1 {
    width: 5em;
}


#htb_wrapper .sorting_1 input {
    margin-right: 1.25em;
    vertical-align: text-top;
}


#treeSvgContainer {
    text-align: center;
}

#treeSvgContainer svg {
    width: 60%;
}

#alignments {
    overflow: auto;
}

.scrollContainer {
    width: 100%;
    right: 0;
    top: 0;
    box-shadow: 2px 4px 6px -2px #302e2e4d;
    font-size: 1.2em;
    padding: 1em 1em 1em 0;
    opacity: 0.96;
    background: #f5f5f5;
    z-index: 99;
    display: flex;
    height: auto;
}

#scrollLinks a{
    margin-right: 1em;
    margin-bottom: 1.5em;
}
#controlls a{
    margin-right: 1.85em;
    display: block;
}

.scrollContainerDiv {
    display: flex;
    margin: 0 auto;
}

.scrollContainerWhite {
    background-color: #FEFEFE;
    box-shadow: none;
}

.scrollContainerDivWhite {
    margin: 0;
}

#controlls {
    display: flex;
}

#extraWide {
    width: 5.7em;
    margin-right: 0.9em !important;
    height: 1.7em;
}

#hitlistTitle{
    padding-top: 2em;
    padding-bottom: 1em;
}
#visualizationTitle{
    padding-top: 2em;
}
#informationTitle{
    padding-top: 2em;
    padding-bottom: 1em;
}
#alignmentsTitle{
    padding-top: 2em;
    padding-bottom: 1em;
}

#alignmentsTitleHHpred{
    padding-top: 2em;
    padding-bottom: 1em;
    display: inline-flex;
}

.fixed{
    position: fixed !important;
}

.headerDivider {
    margin-right: 2em;
    border-right: 1px solid #666;
    opacity: 0.4;
}

#ancescon_output_tree div {
    text-align: center;
}

.ancescon_download {
    float: right;
    margin-top: 1.5em;
}

#templateAlignmentModal, #templateAlignmentModalhhomp, #structureModal {
    width:  60em;
    max-width: 60em;
    background-color: #eee;
    overflow-y: initial;
}

#templateAlignmentModal select, #templateAlignmentModalhhomp select {
    font-size: 0.80em !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    border-radius: 4px;
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    height: 2.75em;
    color: #000;
    text-shadow: 0 0 0 #000;
    width: 12em;
}


#accessionStructure {
    height: 2em;
    margin-bottom: 1em;
}

#accessionStructure a {
    -webkit-appearance: none;
}

#accessionStructure a:hover {
    background-color: #777777;
}

#structureModal .button {
    float: right;
    background-color: rgba(0, 110, 98, 166);
    color: white;
}

#loadingHits, #loadingHitsClu{
    display: none;
    font-size: 1.3em;
    padding-left: 23em !important;
    padding-bottom: 2em !important;
}

#loadHits{
    font-size: 1.3em;
    margin-left: 24em !important;
    margin-bottom: 2em !important;
    margin-top: 2em !important;
}

#loadHitsAln{
    font-size: 1.3em;
    margin-left: 24em !important;
    margin-bottom: 2em !important;
    margin-top: 2em !important;
}

#loadHitsQaln{
    font-size: 1.3em;
    margin-left: 24em !important;
    margin-bottom: 2em !important;
    margin-top: 2em !important;
}

.indexCheckbox {
    margin-right: 0.3em !important;
}

.indexCheckbox input {
    top: 0;
}

.expandButtonOnScroll {
    position: absolute;
    display: inline-block !important;
    bottom: 13px;
    right: 15px;
}

.blank_row {
    height: 1em;
}

#resultTable, #resultTableQ2D {
    width: auto;
    border-spacing: 0;
}

#resultTable td,  #resultTableQ2D td {
    padding-right: 2em !important;
    border-spacing: 0;
}

#resultTableQ2D {
    margin-left: 1.2em;
}

.clustalAcc {
    margin-right:1em;
}

#toolReferences a {
    color: rgba(0, 110, 98, 166);
}

.citation{
    border-left: 2px solid rgba(0, 110, 98, 0.75);
    margin: 0.5em !important;
    margin-bottom: 1em !important;
}

#toolReferences {
    font-size: 1.15em;
}

#toolReferences div {
    margin-left: 1em;
}

#hcontainer {
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 610px;
    height: 400px;
    margin: 0 auto;
    padding-left: 50px;
}

@media screen and (max-width: 1200px) {
    #hcontainer {
        padding-left: 0;
    }
}

@media screen and (max-width: 930px) {
    #extraWide {
        width: 4.5em;
    }
}

@media screen and (max-width: 930px) {
     #controlls a {
        margin-right: 1em;
    }
}

@media screen and (max-width: 930px) {
    [class*="scrollContainer"] {
        font-size: 1.1em;
    }
}

@media screen and (max-width: 750px) {
    [class*="scrollContainer"] {
        font-size: 1.05em;
    }
}
