.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}
.flat-slider.ui-slider {
    border: 0;
    background: #c2c2c2;
    border-radius: 7px;
}
.flat-slider.ui-slider-horizontal {
    height: 4px;
}
.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 4px;
}
.flat-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #d1d1d1 !important;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}
.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -10px;
}
.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}
.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7px;
    background: #58a5e9;
}
.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
}
.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 4px;
}

.flat-slider{
   width: 89%;
    margin-left: 2em !important;
    margin-top: 2em;
    max-width: 774px;
}

#blastviz{
    margin-top: 1em;
    width: 100%;
}

#line-element{
    margin-top: 1rem
    !important;
    margin-bottom: 1rem !important;
}

#resubmitSection {
    float: right;
    margin-right: 7em;
    margin-top: 1.5em;
    margin-bottom: 0;
    background-color: #eee;
}
#resubmitSection:hover, #forward:hover {
    background-color: #d1d1d1
}

#selectAllSeq {
    float: left;
    color: #006F62;
    font-size: 1.05em;
}

.hhpred_extra_button {
    background-color: #eee;
}


#hhpred_alignment_control{
    width: 100%;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;

}

#hhpred_alignment_control ul {
    width: 17em;
}


#hhpred_alignment_control a {
    background-color: #eee;
}

#hhpred_alignment_control a:hover {
    background-color: #d1d1d1
}


#hhpred_advanced {
    width: 60%;
    margin: 1em 1em 1em 0em;
}

#hhpred_advanced a {
    float: right;
    width: 20em;
    margin: 0em 0em 1em 1em;
}

#hhpred_histo {
    width: 40%;
}

#hhpred_histo a {
    margin: 1em;
}

#psiblast_templates {
    margin-top: 1em;
}


#forward {
    float: right;
    background-color: #008979;
    color: white;
    margin-bottom: 0;
    margin-top: 7em;
}

.forward_panel {
    margin-bottom: 1em;
}

.forward_panel a {
    padding: 1em 1em 1em 1em;
    border: none;
}

.forward_panel_content {
    border: none !important;
    background-color: #eee;

}

#forward_accordion {
    background-color: #eee;
}

.select_forward div, .select_forward ul {
    width: 15em;
}

.forward_form {
   width: 100%;
   display: flex;
   margin-top: 2em;
   margin-left: 0.25em;
   font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
   overflow: auto;

}

.forward_form label {
    margin-bottom: 1em;
    font-size: 1em;
}


.forwardFormDiv {
    width: 45%;
}

.forwardFormLast {
    width: 10%;
}

.hitCheckbox{
    margin: 0 auto;
}

.result_inputs {
    width: 6em;
    height: 2.5em;
    margin-left: 0.5em;
    margin-bottom: 0;
    padding: 0 0 0 0.25em;
}

.two_input {
    display: flex;
}

.colorOpts a   {
    width: 25%;
    float: left;
    margin-bottom: 0.5em;
}


/* DataTable */
.dataTables_length label {
    font-size: 1.15em;
}
.dataTables_length select{
    width: 7em;
    height: 2.5em;
    padding: 0;
    margin-bottom: 0;
    border-radius: 5px;
}

.dataTables_filter {
    width: 25em;
}

.dataTables_filter input {
    height: 3em;
    border-radius: 5px;
}

.dataTables_filter label {
    display: flex;
    font-size: 1.2em;
}

@media only screen and (max-width: 720px) {
    .forward_form {
        display: block;
    }

    #forward {
        float: left;
    }
}


#viewport{
    width: 50em;
    height: 30em;
    margin: 0 auto;
}


#alignmentTemplate{
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    font-size: 0.7rem !important;
    margin: 0 auto;
}