.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}
.flat-slider.ui-slider {
    border: 0;
    background: #c2c2c2;
    border-radius: 7px;
}
.flat-slider.ui-slider-horizontal {
    height: 4px;
}
.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 4px;
}
.flat-slider .ui-slider-handle {
    width: 20px;
    height: 20px;
    background: #d1d1d1 !important;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -10px;
}
.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -10px;
}
.flat-slider .ui-slider-handle:hover {
    opacity: .8;
}
.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 7px;
    background: #58a5e9;
}
.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 4px;
}
.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 4px;
}

.flat-slider{
   width: 89%;
    margin-left: 2em !important;
    margin-top: 2em;
    max-width: 774px;
}

#blastviz{
    margin-top: 1em;
    width: 100%;
}

#line-element{
    margin-top: 1rem
    !important;
    margin-bottom: 1rem !important;
}

#resubmitSection {
    float: right;
    margin-right: 7em;
    margin-top: 1.5em;
    margin-bottom: 0;
    background-color: #eee;
}
#resubmitSection:hover, #forward:hover, #selectAllSeq:hover {
    background-color: #d1d1d1
}

#forward {
    float: right;
    background-color: #eee;
}

#selectAllSeq {
    float: left;
    background-color: #eee;

}

.dataTable{
    width: 80% !important;
    margin-left: unset !important;
}

.dataTables_scrollHeadInner{
  width: unset !important;
}

#psiblast_templates, #hhpred_templates {
    margin-top: 3em;
}

#psiblast_alignment_control, #hhpred_alignment_control {
    margin-top: 2em;
    display: block;
    min-height: 7em;
    width: 20em;
}

#psiblast_alignment_control div, #psiblast_alignment_control ul, #hhpred_alignment_control div, #hhpred_alignment_control ul {
    width: 17em;
}

#hhpred_alignment_control_extra {
    width: 37em;
}


.forward_panel a {
    padding: 1em 1em 1em 1em;
    border: none;
}

.forward_panel_content {
    border: none !important;
}

.select_forward div, .select_forward ul {
    width: 15em;
}

.forward_form {
   display: flex;
   margin-top: 1em;
   font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,sans-serif;
    overflow: hidden;

}

.hitCheckbox{
    margin: 0 auto;
}
.forward_form label {
    width: 50%;
    font-size: 1em;
}

.forward_form div {
    width: 50%;
}

.result_inputs {
    width: 5em;
    height: 2em;
    margin-left: 0.25em;
}

.two_input {
    display: flex;
}

@media only screen and (max-width: 720px) {
    .forward_form {
        display: block;
    }
}

