/*
    Forked from Reformat Theme
*/

.cm-s-reformat.CodeMirror {
    background: white;
    color: grey;
}

.cm-s-reformat div.CodeMirror-selected {
    background: #a8d1ff !important;
}

.cm-s-reformat .CodeMirror-gutters {
    background: rgba(0, 0, 0, 0.25);
    border-right: 0;
}

.cm-s-reformat .CodeMirror-linenumber {
    color: #666666;
}

.cm-s-reformat .CodeMirror-cursor {
    border-left: 1px solid #797977 !important;
}

/*
.cm-s-reformat span.cm-comment {color: #937121;}
.cm-s-reformat span.cm-atom {color: grey;}
.cm-s-reformat span.cm-number {color: grey;}

.cm-s-reformat span.cm-property, .cm-s-reformat span.cm-attribute {color: #b5c3d1;}
.cm-s-reformat span.cm-keyword {color: #cf6a4c;}
.cm-s-reformat span.cm-string {color: #f9ee98;}

/*.cm-s-reformat span.cm-variable {color: #c6d6e5;}
.cm-s-reformat span.cm-variable-2 {color: #5ea6ea;}
.cm-s-reformat span.cm-def {color: #a8d1ff;}
.cm-s-reformat span.cm-error {background: #cf6a4c; color: #797977;}
.cm-s-reformat span.cm-bracket {color: #9d9b97;}
.cm-s-reformat span.cm-tag {color: #cf6a4c;}
.cm-s-reformat span.cm-link {color: grey;}

.cm-s-reformat .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
.cm-s-reformat .CodeMirror-activeline-background { background: #404040; }
*/

.cm-s-reformat span.cm-string {
    font-weight: bold;
    color: red;
}
