div#content {
    background-color: rgb(238, 238, 238) !important;
}

.CodeMirror pre {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 12px;
}

.code {
    color: #ffae00;
}

.dropzone {
    border: dashed 1px darkblue;
    background-color: #c6d6e5;
}

#progress_bar {
    margin: 10px 0;
    padding: 3px;
    border: 1px solid #000;
    font-size: 14px;
    clear: both;

    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
}

#progress_bar.loading {
    opacity: 1.0;
}

#progress_bar .percent {
    background-color: #99ccff;
    height: auto;
    width: 0;
}

#sidebartoggle {
    display: none;
}

.vertical ul {
    background-color: transparent;
}

[data-accordion-menu] ul {
    display: none;
}
