<div class="row">
    <div class="large-12 columns">
        <div class="page-name">
            <div id="clockbox"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div id="statbox" class="large-3 medium-6 small-12 columns">
            <div class="stats">
                <div class="left">
                                    Users Today
                    <h3>429</h3>
                </div>
                <span  aria-hidden="true"><img align="right" src="/assets/images/icons/users-group.svg" width="30em" ></span>
            </div>
        </div>
        <div id="statbox" class="large-3 medium-6 small-12 columns">
            <div class="stats">
                <div class="left">
                                    Jobs Today
                    <h3>984</h3>
                </div>
                <span  aria-hidden="true"><img align="right" src="/assets/images/icons/information.svg" width="30em" ></span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-6 columns">
        <div class="todo-panel">
            <div class="todo-panel-header">
                <h4>To Do List</h4>
            </div>
            <div class="todo-panel-body">
                <input id="todo-textfield" type="text" placeholder="What needs to be done?">
                <ul id="todo-items" >

                                </ul>
            </div>
        </div>
    </div>
</div>