@import play.api.mvc.RequestHeader
@(webJarAssets: WebJarAssets, content: Html, sectionname : String)(implicit messages: Messages, request: RequestHeader)
<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">

        <link href="@routes.Assets.at("styles/dashboard.min.css")" rel="stylesheet">

            <!-- Google Fonts -->

        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("2.2.4/jquery.min.js"))" type="text/javascript" ></script>

    </head>

    <body data-ws-url="@routes.Application.ws().webSocketURL()">


        <div class="container">

            <div class="overlay"></div>

            <header>

                <div class="navBtn"><i class="fa fa-cog"></i></div>

                <div style="margin-top: 70px;">
                <p>&nbsp;</p>
                </div>
                <nav>
                    <a href="@routes.Backend.index()"><i class="fa fa-dashboard"></i> Dashboard</a>
                    <a href="@routes.Backend.settings()"><i class="fa fa-wrench"></i> Settings</a>
                    <a href="@routes.Backend.edit()"><i class="fa fa-pencil"></i> Edit Content</a>
                    <a href="@routes.Backend.settings()"><i class="fa fa-eye"></i> Logs</a>
                    <a href="@routes.Backend.settings()"><i class="fa fa-line-chart"></i> Monitoring</a>
                    <a href="@routes.Backend.settings()"><i class="fa fa-users"></i> User Management</a>
                    <a href="@routes.Backend.settings()"><i class="fa fa-database"></i> Databases</a>
                    <a href="@routes.Backend.settings()"><i class="fa fa-bar-chart-o"></i> Statistics</a>
                    <a href="@routes.Backend.logOut()"><i class="fa fa-sign-out"></i> Logout</a>
                </nav>

            </header>

            <div class="main">

                <article>@content</article>

            </div>

        </div>


        <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>

        <script type="text/javascript">
                $(document).ready(function () {

                    var toggleMenu = function() {
                        $('header').toggleClass('toggle');
                        $('.main').toggleClass('push');
                        $('.overlay').toggleClass('block');
                        $('#social, .logo').toggleClass('reveal');
                    };

                    //Nav
                    $('.navBtn').click(function() {
                        toggleMenu();
                    });

                    Mousetrap.bind('esc', function() {
                        toggleMenu();
                    });

                });
        </script>
        <script src="@routes.Assets.at("scripts/backendscripts.js")"></script>

    </body>
</html>



