@import play.api.mvc.RequestHeader
@import models.database.User
@(webJarAssets: WebJarAssets, content: Html, sectionname : String, user_o: Option[User])(implicit messages: Messages, request: RequestHeader)
<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
        <link href="@routes.Assets.at("styles/global.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("styles/dashboard.min.css")" rel="stylesheet">

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("mithril.min.js"))" type="text/javascript" ></script>

            <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>


    </head>

    <body data-ws-url="@routes.Application.ws().webSocketURL()">

        <div class="row fullwidth" style="max-width: inherit">
            @views.html.backend.topbar()
        </div>

        <div class="row fullwidth" style="max-width: inherit">

            @views.html.backend.sidebar()

            <div id="backend-content" class="large-10 medium-12 small-12 columns">

            @content

            </div>
        </div>


        <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>

        <script src="@routes.Assets.at("scripts/backend.js")"></script>

        <script type="text/javascript">
                $(document).ready(function() {
                    $(document).foundation();
                })
        </script>
        <script src="@routes.Assets.at("scripts/backendscripts.js")"></script>

    </body>
</html>



