@import play.api.mvc.RequestHeader
@(webJarAssets: WebJarAssets, fail : String)(implicit messages: Messages, request: RequestHeader)


<!DOCTYPE html>

<html>
    <head>
        <meta http-equiv='cache-control' content='no-cache'>
        <meta http-equiv='expires' content='0'>
        <meta http-equiv='pragma' content='no-cache'>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@routes.Assets.versioned("images/favicon.png")">
        <link href="@routes.Assets.versioned("styles/global.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/login.min.css")" rel="stylesheet">

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("2.2.4/jquery.min.js"))" type="text/javascript" ></script>


            <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>


    </head>

    <body>
        <div id="site" style="padding-top: 100px;">


            <div id="login-logo" style="width: 50%; display: block; margin-left: auto; margin-right: auto; padding-bottom: 25px;">
                <a href="@routes.Application.index()"><img style="display: block; margin-left: auto; margin-right: auto" src="@routes.Assets.versioned("images/logo.svg")"></a>
            </div>

            <div class="login">

                <div class="row">

                    <div class="small-12 medium-3 large-4 columns">&nbsp;</div>

                    <div class="small-12 medium-6 large-4 columns">

                        <div class="login-box">

                            <div class="login-header"><p>Login to dashboard</p></div>


                            <div class="login-subheader">
                                <p>Please authenticate:</p>
                            </div>

                            <div class="error"><p></p></div>

                            <div class="login-content">

                                <form method="post" action="/login" autocomplete="off">
                                    <p><input type="text" name="user_login" id="user_login" placeholder="user name" /></p>
                                    <p><input type="password" name="password" id="password" placeholder="password" /></p>
                                    <div class="login-submit" style="padding-top: 5px;"><input type="submit" value="login" id="submitSave" name="submitSave" class="button secondary hollow small" style="margin-left: 0px;"></div>
                                </form>

                            </div>

                        </div>

                    </div>

                    <div class="small-12 medium-3 large-4 columns">&nbsp;</div>

                </div>

            </div>

                @if(fail == "1") {
                    <div style="padding-top: 20px; width: 20%; display: block; margin: auto;">
                        <div class="callout" id="alert" style="text-align: center;">

                            <p>Nice try. Guess again.</p>

                        </div>
                    </div>

                } @if(fail == "2") {

                    <div style="padding-top: 20px; width: 20%; display: block; margin: auto;">
                        <div class="callout" id="alert" style="text-align: center;">

                            <p>Okay, one more time :/</p>

                        </div>
                    </div>

                } @if(fail == "3") {

                    <div style="padding-top: 20px; width: 20%; display: block; margin: auto;">
                        <div class="callout" id="alert" style="text-align: center;">

                            <p>Last chance! :(</p>

                        </div>
                    </div>

                } @if(fail >= "4") {


                    <div style="padding-top: 20px; width: 20%; display: block; margin: auto;">
                        <div class="callout" id="alert" style="text-align: center; height: 58px;">

                            <span id="timer"></span>

                        </div>
                    </div>

                } else {

                }

        </div>


        <!-- Foundation 6 -->
    <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>
    <script type="text/javascript">


        function submitForm() {
            document.getElementById("submitSave").click();
        }


        function checklength(i) {
            'use strict';
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        var minutes, seconds, count, counter, timer;

        count = 21; //seconds
        counter = setInterval(timer, 1000);

        function timer() {
            'use strict';
            count = count - 1;
            minutes = checklength(Math.floor(count / 60));
            seconds = checklength(count - minutes * 60);
            if (count < 0) {
                clearInterval(counter);
                return;
            }
            document.getElementById("timer").innerHTML = 'Try again in ' + minutes + ':' + seconds + ' ';
            if (count === 20) {
                $( "#password" ).prop( "disabled", true );
                submitForm();
            }

            if (count === 0) {

                $( "#password" ).prop( "disabled", false );
            }

        }

                    $(document).ready(function() {
                        var Backlen=history.length;
                        history.go(-Backlen);
                        $(document).foundation();
                    })
    </script>


    </body>
</html>