@import play.api.mvc.RequestHeader
@import models.database.User
@(webJarAssets: WebJarAssets, sectionname : String, user_o: Option[User])(implicit messages: Messages, request: RequestHeader)


<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
        <link href="@routes.Assets.at("styles/global.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("styles/login.min.css")" rel="stylesheet">


            <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>


    </head>

    <body>
        <div id="site" style="padding-top: 100px;">


            <div id="login-logo" style="width: 50%; display: block; margin-left: auto; margin-right: auto; padding-bottom: 25px;">
                <img style="display: block; margin-left: auto; margin-right: auto" src="@routes.Assets.at("images/logo.svg")">
            </div>

            <div class="login">

                <div class="row">

                    <div class="small-12 medium-3 large-4 columns">&nbsp;</div>

                    <div class="small-12 medium-6 large-4 columns">

                        <div class="login-box">

                            <div class="login-header"><p>Login to dashboard</p></div>


                            <div class="login-subheader">
                                <p>Please authenticate:</p>
                            </div>

                            <div class="error"><p></p></div>

                            <div class="login-content">

                                <form method="post" action="/login/submit">
                                    <p><input type="text" name="user_login" id="user_login" placeholder="user name" value="test"/></p>
                                    <p><input type="password" name="password" id="password" placeholder="password" /></p>
                                    <div class="login-submit" style="padding-top: 5px;"><input type="submit" value="login" name="submitSave" class="button secondary hollow small" style="margin-left: 0px;"></div>
                                </form>

                            </div>

                        </div>

                    </div>

                    <div class="small-12 medium-3 large-4 columns">&nbsp;</div>

                </div>

            </div>

        </div>


        <!-- Foundation 6 -->
    <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>
    <script type="text/javascript">
                    $(document).ready(function() {
                        $(document).foundation();
                    })
    </script>


    </body>
</html>