@import play.api.mvc.RequestHeader
@import models.database.User
@(webJarAssets: WebJarAssets, sectionname : String, user_o: Option[User])(implicit messages: Messages, request: RequestHeader)


<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
        <link href="@routes.Assets.at("styles/global.min.css")" rel="stylesheet">


            <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>


    </head>

    <body>
        <div id="site">

            <div class="login">

                <div class="row">

                    <div class="small-12 medium-3 large-4 columns">&nbsp;</div>

                    <div class="small-12 medium-6 large-4 columns">

                        <div class="login-box">

                            <div class="login-header"><p>LOG IN</p></div>

                            <div class="login-subheader">
                                <p>Bitte geben Sie Ihre Zugangsdaten ein:</p>
                            </div>

                            <div class="error"><p></p></div>

                            <div class="login-content">

                                <form method="post" action="/login">
                                    <input type="hidden" name="step" value="auth">
                                    <p><input type="text" name="username" value="" placeholder="Benutzername" /></p>
                                    <p><input type="password" name="password" placeholder="Passwort" /></p>
                                        <!-- p><a href="/recover">Sie haben Ihr Passwort vergessen?</a></p -->
                                        <!-- p><input type="checkbox" name="remember"> Zugangsdaten auf diesem Computer merken.</p -->
                                    <div class="login-submit"><input type="submit" value="Anmelden" name="submitSave" class="button"></div>
                                    <input type="hidden" name="url" value="/backend/"/>
                                </form>

                            </div>

                        </div>

                    </div>

                    <a href="@routes.Application.backend()">Test</a>

                    <div class="small-12 medium-3 large-4 columns">&nbsp;</div>

                </div>

            </div>

        </div>


        <!-- Foundation 6 -->
    <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>
    <script type="text/javascript">
                    $(document).ready(function() {
                        $(document).foundation();
                    })
    </script>


    </body>
</html>