<div id="backend-side-nav" class="large-2 medium-12 small-12 columns" style="color: white;">

    <ul style="list-style: none;">
        <li class="active"><img src="/assets/images/icons/icon.svg" width="25em" style="margin-right: 0.65em" >Dashboard</li>
        <li><img src="/assets/images/icons/avatar.svg" width="25em" style="margin-right: 0.65em" >Profile</li>
        <li><a href="/backend/settings"><button class="button">Settings</button></a></li>
        <li><img src="/assets/images/icons/inbox.svg" width="25em" style="margin-right: 0.65em" >Inbox</li>

    </ul>

</div>