<div id="backend-logo" class="large-2 columns">
    <img style="width: 100%;padding-top: 0.75em;
    padding-left: 1em" src="@routes.Assets.at("images/logo.svg")">
</div>

<div id="backend-top" class="large-10 columns">
    <div class="row" id="backend-header">
        <div class="large-8 columns">
            <div class="row collapse prefix-round">
                <input id="backend-search" type="text" placeholder="Search">
            </div>
        </div>
        <div id="backend-top-icons" align="center" class="large-4 columns">
            <span  aria-hidden="true"><a href="@routes.Application.index()" ><img align="right"  src="/assets/images/icons/logout.svg" width="25em"></a></span>
            <span  aria-hidden="true"><img align="right" src="/assets/images/icons/envelope.svg" width="25em" style="margin-right: 1.5em" ></span>
        </div>

    </div>
</div>