@import play.api.mvc.RequestHeader
@import models.tools.Alnviz
@(inputForm: Form[(String, String)])(implicit messages: Messages, request: RequestHeader)

        <!-- Input form elements derived from the Input Data Model -->
        <script src='@routes.Assets.at("javascripts/alnviz.js")' type="text/javascript" ></script>
        @helper.textarea(field = inputForm("alignment"), args = 'rows -> 20, 'cols -> 30,
                    'placeholder -> "Enter sequence alignment",
                     '_label -> "",
                    'id -> "alignment", '_showConstraints -> false)


        <a onClick="$('#submitbutton').prop('disabled', false);$('#alignment').val(alnviz_example());$('#format').val('fas')">Paste example alignment</a>


        @helper.select(
                    inputForm("alignment_format"),
                    helper.options(Values.fullNames.filterKeys(Alnviz.parameterValues("alignment_format"))),
                    '_label -> "Select alignment format",
                    'id -> "format"
                )
