/* form styles */

label {
    display:inline-block;
    float: left;
    padding:10px;
    text-align: right;
    width: 140px;
}



textarea {
    font-size: 12px;
    width: 500px;
}

input, select {

    font-size: 12px;
}



/* progress bar */
span#progbarborder {
	display: block;
	float: left;
	height: 14px;
	margin: 0;
	padding: 1px;
	border-top: 2px solid #CCC;
	border-right: 2px solid #CCC;
	border-left: 2px solid #CCC;
	border-bottom: 2px solid #D5DDDD;
	background-color: #F7F7F7;
}
span#progbar {
	display: block;
	height: 100%;
	width: 100%;
	background-color: #AEDF9A;
}

/* waiting page */
span#qstatus {
	background-repeat: no-repeat;
	margin: 0;;
	padding: 0px 0px 0px 20px;
	font-weight: bold;
}
span.r {
	background-image: url(../images/status_yellow.gif);
}
span.q {
	background-image: url(../images/status_red.gif);
}
span.s {
	background-image: url(../images/status_grey.gif);
}
span.i {
	background-image: url(../images/status_grey.gif);
}
span.d {
	background-image: url(../images/status_green.gif);
}
span.e {
	background-image: url(../images/status_darkred.gif);
}
div.statuslog {
	margin: 10px 0px 0px 0px;
	padding: 0;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #D5DDDD;
	overflow: auto;
	font-family: "Courier New", Courier, monospace;
	height: 200px;
	white-space: pre;
}


/* set properties of genomes scroll box */
div.gtreebox {
	padding: 0;
	border-top: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-bottom: 1px solid #D5DDDD;
	overflow: auto;
	height: 500px;
}


div.footnote {
	clear: both; 
	padding-top: 3px;
}



