body{

font-family: 'Noto Sans','Lucida Grande','Lucida Sans Unicode',Geneva,Verdana,Sans-Serif;
    background-color: #fff;

}

.fullwidth {
    width: 100%;
    max-width: initial;
}

.logotext {
    text-align: center;
    font-weight: bold;
    font-size: large;
}

#jobcode {

    font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
    font-size: 0.750em;
}

.job-status-fade {

    border-radius: 5px;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.d {
    background-color: green;
}
.e {
    background-color: red;
}
.r{
    background-color: yellow;
}
.q {
    background-color: orange;
}

.p {
    background-color: brown;
}


.clear{
    border: 0;
}


.alignment {
    font-family: monospace;
    font-size: 0.875em;
}

tr.spaceUnder > td
{
    padding-bottom: 0em;
}

.content {
    width: 60%;
    margin-left: 6.250em;
    padding-top: 6.250em;
    padding-left: 3.125em;
    padding-right: 3.125em;
}



.tabs-content {
    border: 0px;
}

.tabs {
    border: 0;
    color: #fff;
}

.navbar-tabs{

    border: 0px;
}


.alnviz{

    background-color: #FFCC66;
    border: solid 0px black;
    font-size: 1em;
    text-transform: uppercase;
}

.tcoffee{

    background-color: #FFCC66;
    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}


.mafft{

    background-color: #FFCC66;
    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.hmmer3{

    background-color: #D0BA89;
    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.psiblast{

    background-color: #D0BA89;
    border: solid 0px black;
    opacity: 0.9;
    font-size: 1em;
    text-transform: uppercase;
}

.header {

    height: 8.125em;
    
}

.columns {
    padding-left: 0;
    padding-right: 0;
}

tr.job{

    font-size: 0.7em;
    background-color: #fff;


}

@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
    /* High-res styles go here */
    tr.job {

        font-size: 0.5em;
        background-color: #fff;
    }
}

tr.job a:link {

    color: #000;
}

tr.job a:visited {

    color: #000;
}


hr {

    width:100%;
    border-top: 1px solid #006F62;

}

.padded-column {
    padding: 0.625em;
}

.main-content {

    min-height: 100%;
    min-height: 100%;
    display: flex;

}

#alignment{

    font-family: Droid Sans Mono;
    font-size: 0.625em;

}

#sequences{

    font-family: Droid Sans Mono;
    font-size: 0.625em;

}

.example-alignment {

    padding-bottom: 1.25em;

}

.tooltip {
    display:none;
    position:absolute;
    border:1px solid #333;
    background-color:#161616;
    border-radius:5px;
    padding:10px;
    color:#fff;
    font-size:12px;
}

.orbit {

    height: 100%;
    z-index: 20;
}

.orbit-container {

    height: 100%;
    z-index: 20;

}

.vertical {

    z-index: 99;

}

#alert {
    color: white;
    text-align: center;
    background-color: #CC3333;
    border-radius: 0em;
    width: 50%;
    opacity: 0.9;
    font-size: 0.75em;

}

#auth-dropdown {
    z-index: 100;
}
