#stickyheader {
  background-color: #2E8C81;
  position: absolute;
  z-index: 99;
}

#toolsdropdown {

  background-color: #2E8C81;
  font-size: 0.875em;
  z-index: 99;

}

#section {

  color: white;
  padding-top: 1em;

}

#dropdowns li {
  a {
    &:hover {
      color: lightslategrey;
      z-index: 99;
    }
  }
}

#dropdowns {

  width: 100px;
  background-color: rgba(#333,1);
  margin-left: 0.8em;
  z-index: 99;
}

#dropdowns a {
  color: white;
  font-size: 0.9em;
  z-index: 99;

}


#button-up a {
  background-color: #2E8C81;
  width: 4em;
  color: white;
}


#navbar-tabs {
  $corporate-background-navbar: #2E8C81;
  background: $corporate-background-navbar;
  padding-left: 3.125em;
  padding-right: 3.125em;

  tab-margin: 0;
  tab-background: $corporate-background-navbar;
  tab-background-active: $corporate-background-navbar;
  tab-border-width: 0px;
  tab-item-color: foreground($corporate-background-navbar, $corporate-background-navbar);
  tab-item-background-hover: $corporate-background-navbar;
  tab-item-padding: 1.25rem 1.5rem;
  tab-expand-max: 6;
  tab-content-background: $corporate-background-navbar;
  tab-content-border-width: 0px;
  tab-content-color: foreground($corporate-background-navbar, $corporate-background-navbar);
  tab-content-padding: 1rem;
}
.navbar {
  background: #2E8C81;
  border: 0px solid;
  border-width: 0px;
  padding: 0;
  margin: 0;
  
}

#toolsec {
  margin-top: 0.5em;
  margin-left: 2.25em;
  border: 0;
  padding: 0;
  list-style-type: none;
}

#toolsec li {
  display: inline;
  margin-top: -0.750em;
  float: left;
  text-align: center;
  padding-right: 0.625em;
  padding-left: 0.625em;
  font-size: 0.875em;
  color: #000;
}

#toolsec li a {
  border-right: none;
  padding: 0;
  color: #000;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 0.875em;
}
#toolsec li a:hover {
  color: #930;
  background: #f5d7b4;
}

div.sticky-container {
  z-index: 99;
}

i {
  font-size: 20px;
}

.globalsearch input {

  background-color: #006F62;
  border: 0;
  border-bottom: solid 2px #000;
  color: #fff;
  font-size: 0.8em;
  font-family: inherit;
  font-weight: normal;
  letter-spacing: 2px;
  line-height: 1.42857;
  outline: 0;
  width: 175px;
  height: 50%;}

.globalsearch input:focus{

  background-color: #ACCDC9;

}

.top-bar-left {
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0.25em;
  height: 2.4500em;
}


.switch {
  padding-top: 0.25em;
  padding-left: 0.3em;

}

#paddle {
  border-radius: 5px;
}

#navbar {
  position: fixed;
  width: 100%;
}

.drops {
  float: left;

}

.drops .button {

  background-color: #2E8C81 !important;
  color: white;
  font-size: 0.9em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  z-index: 99;
  margin: 0;

}

.drops .button:hover {

  background-color: #2E8C81;
}

.drops .button:focus {

  outline: none !important;
}

.top-bar-title {

  margin-left: 13em;

}

.objects {
  background-color: #d1d1d1 !important;
}

.objects li:after {
  border: 1px dotted;
}



.objects a {
  color: black;
  font-weight: bold;
  font-size: 0.7em;

}


.textArea {
  background-color: white !important;
  font-size: 0.625em;
}

.textArea li {
  padding-top: 1.7em;
  padding-bottom: 1em;
  background-color: #d1d1d1 !important;

}

.dropdowns {
  background-color: #d1d1d1 !important;
  opacity: 1;
  display: block !important;
  visibility: hidden;

}

.sectionintro{

  color: #d317ff;
  font-weight: bolder;
  padding-top: 2.3em;
  background-color: #d1d1d1 !important;
  padding-right: 40%;
  padding-left: 10%;
}








