.columns-sidebar {


}

.sidebar {

  padding-left: 1.250em;
  padding-top: 0px;
  padding-right: 1.250em;
  background-color: rgba(46, 140, 129, 0.35);
  min-height: 31.250em;
  max-width: 17.500em;


}


.clear{
  border: 0 solid #ccc;
}

#togglesidebar {

  background-color: #2E8C81;

}