

<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit | Disclaimer</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("assets/javascripts/stylesheets/styles_tuebingen.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("assets/javascripts/stylesheets/navisection_tuebingen.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("assets/javascripts/stylesheets/tabsection.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("assets/javascripts/stylesheets/form.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("assets/javascripts/stylesheets/genomes.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("assets/javascripts/toolkit.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/browser_sniffer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/overlib.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/overlib_cssstyle. js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/prototype.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/effects.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/dragdrop.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/controls.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/application.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("assets/javascripts/scriptaculous.js")" type="text/javascript"></script>
    </head>
    <body>
        <div id="container">
            <div id="header">
                <a href="http://www.mpg.de" id="minerva"><img src="@routes.Assets.at("images/minerva_logo.gif")" alt="Minerva"/></a>
                <a href="#"><img id="mpilogo" src="@routes.Assets.at("images/mpi_logo.gif")" alt="Toolkit" /></a>
                <select id="quickstart" name="quickstart" onchange="window.location = this.value;">
                    <option value="">Quickfinder</option>
                </select>

                <ul id="metanav">
                    <li><a href="#" onclick="openHelpWindow('/common/helpindex');">Help</a></li>
                    <li><a href="@routes.Application.disclaimer()">Disclaimer</a></li>
                    <li><a target="_blank" href="http://www.eb.tuebingen.mpg.de/impressum">Imprint</a></li>
                    <li><a href="/common/tool_versions">Tool Versions</a></li>
                    <li><a href="/common/remote_debug">Remote Debug</a></li>
                    <li><a href="/common/stats">Tool Statistics</a></li>
                    <li><a href="/common/db_stats">DB Statistics</a></li>
                    <li><a href="/common/user_stats">User Statistics</a></li>
                    <li><a href="/common/contact">Contact</a></li>
                    <li><a href="/userdb/admin_userdbs">Personal Databases</a></li>
                    <li><a href="/pdbalert">PDBalert</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li id="home" class="current"><a href="/">Home</a></li>
                </ul>

                <ul id="tabsection">
                    <li id="ocker"><a href="/sections/search">Search</a></li>
                    <li id="orange"><a href="/sections/alignment">Alignment</a></li>
                    <li id="green"><a href="/sections/search">Sequence Analysis</a></li>
                    <li id="blue"><a href="/sections/search">2ary Structure</a></li>
                    <li id="violett"><a href="/sections/search">3ary Structure</a></li>
                    <li id="red"><a href="/sections/search">Classification</a></li>
                    <li id="darkred"><a href="/sections/search">Utils</a></li>
                </ul>

            </div>

            <div id="navisection" class="std">
                <ul>
                    <li>
                        <a>&nbsp;</a>
                    </li>
                </ul>
            </div>
            <script src="@routes.Assets.at("assets/javascripts/jquery.js")" type="text/javascript"></script>
            <script src="@routes.Assets.at("assets/javascripts/jquery.tablesorter.js")" type="text/javascript"></script>
            <script>$.noConflict();</script>
            <div id="sidebar">@sidebar()</div>
            <div id="content">
                <h3>Disclaimer</h3>
                <div class="row">

	                This server is intended for research purposes only, not for
                    clinical or commercial use. It is a non-profit service to the
                    academic and nonacademic scientific community. The responsibility
                    of the Max Planck Institute for Developmental Biology is limited
                    to applying best efforts in providing a useful service. The
                    Institute can not be held liable in any way for the service
                    provided here.

                    <br> <br>

                    These pages may provide links to information provided by external
                    services which are not in any way under our control. We cannot,
                    therefore, be held responsible for the content or accuracy of
                    external pages.

                </div>

            </div>
            <tr top-border="1px" valign="bottom"><td valign="bottom"><div id="footer"><span style="float: right; margin-right: 3px;">Release-<%= TOOLKIT_RELEASE %></span><%= TOOLKIT_COPYRIGHT %>, <a href="http://www.eb.tuebingen.mpg.de/departments/1-protein-evolution">Dept. of Protein Evolution at the Max Planck Institute for Developmental Biology</a>, T&#252;bingen</div></td></tr>


        </div>
    </body>
</html>
