@import play.api.mvc.RequestHeader
@import models.database.User
@(webJarAssets: WebJarAssets, content: Html, sectionname : String, user: User)(implicit messages: Messages, request: RequestHeader)

<!DOCTYPE html>


<html>
    <head>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@routes.Assets.at("/images/favicon.ico")">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <link href="@routes.Assets.at("styles/hamburgers.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("styles/global.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("styles/mfglabs_iconset.css")" rel="stylesheet">

        <link href="@routes.Assets.at("styles/motion-ui.css")" rel="stylesheet">

        <link href="@routes.WebJarAssets.at(webJarAssets.locate("slick.css"))" rel="stylesheet">
        <link href="@routes.WebJarAssets.at(webJarAssets.locate("slick-theme.css"))" rel="stylesheet">

        <!-- JQuery -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("2.2.4/jquery.min.js"))" type="text/javascript" ></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.lazyload.js"))" type="text/javascript" ></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery-ui.js"))" type="text/javascript" ></script>

        <script src="@routes.Assets.at("javascripts/newick.js")" type="text/javascript"></script>


        <!-- Mithril -->
        <link href="@routes.Assets.at("styles/jobview.css")" rel="stylesheet">
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("mithril.min.js"))" type="text/javascript" ></script>
        <script src='@routes.Assets.at("javascripts/validator.js")' type="text/javascript" ></script>

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("d3.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/d3.layout.min.js")" type="text/javascript"></script>

        <!-- Highcharts -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("highcharts.js"))"></script>

        <!-- Dropzone & Clipboard-->
        <link href="@routes.WebJarAssets.at(webJarAssets.locate("dropzone.min.css"))" rel="stylesheet">

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("clipboard.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("dropzone.min.js"))"></script>

        <!-- Slick Slider -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("slick.min.js"))"></script>


        <!-- Codemirror -->

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("codemirror.js"))"></script>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("codemirror.css"))">
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("javascript.js"))"></script>

        <link href="@routes.Assets.at("styles/custom.css")" rel="stylesheet">

        <!-- Javascript Router -->
        @helper.javascriptRouter("jsRoutes")(routes.javascript.Tool.submit)


        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>

        <script>
            var shiftWindow = function() { scrollBy(0, 5) };
            window.addEventListener("hashchange", shiftWindow);
            function load() { if (window.location.hash) shiftWindow(); }
        </script>




    </head>


    <body onload="load()" data-ws-url="@routes.Application.ws().webSocketURL()">
        <!---All purpose Modal --->
        <div id="modal" class="reveal large" data-reveal></div>

        <!---Offline Callout --->
            <div class="row callout alert" id="offline-alert" >
                <div class="large-2 medium-3 columns loader"></div>
                <div class="large-10 medium-9 columns">Connection lost, trying to reconnect in <span id="offline-alert-timer"></span> seconds.</div>
            </div>


        <!---Hamburger Navbar --->
        <div id="myNav" class="overlay">
            <button id="hamburgerInside" class="hamburger hamburger--elastic is-active" type="button" style="float: right; margin: 41px 39px 0 0;" onclick="closeNav()">
                <span class="hamburger-box">
                    <span class="hamburger-inner overlayed"></span>
                </span>
            </button>
            <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
            <div class="overlay-content" id="overlay-content">
            @{user.userData match {
                case Some(userData) =>
                    views.html.auth.miniprofile(user)
                case None =>
                    views.html.general.auth()
            }}
            </div>
        </div>


        <!---Navigation Bar --->
        <div class="row show-for-large" style="padding-top: 1em;">

            <!--logo-->
            <div class="large-2 columns" >
                <a href="@routes.Application.index()"><img  style="width: 90%; margin-left:0.25em;margin-top:0.60em; margin-bottom: 2em;" src="@routes.Assets.at("images/logo3.svg")"></a>
            </div>
            <!--navbar-->
            <div class="large-9 columns show-for-large" style="padding-left: 2.5em; padding-right:4.375em;">
                @elements.navbar()
            </div>

            <!--signin -->
            <div class="large-1 columns align-self-middle" style="margin-top: 0.9em; margin-bottom: 2em;">
                <i class="icon-user"></i>
                <a id="auth-link" onclick="openNav()" >
                @{user.userData match {
                    case Some(userData) => userData.nameLogin
                    case None           => "Sign in"
                }}
                </a>
            </div>
        </div>

        <!--Off Canvas Menu for mobile version of Toolkit-->
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
                <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

                    @elements.offcanvas()

                </div>

                    <!---Off Canvas Content includes main content--->
                    <div class="off-canvas-content" data-off-canvas-content>
                            <div class="title-bar hide-for-large">
                                <div class="title-bar-left">
                                    <button class="menu-icon dark" type="button" data-open="offCanvasLeft"></button>
                                    <span class="title-bar-title">Toolkit</span>
                                </div>
                            </div>
                        </div>

                    <!---Main Content Section includes Sidebar and Content --->
                        <section class="row fullwidth main-content">
                            <div class="large-2 show-for-large columns sidebar padded-column show-for-large" id="sidebar-switch">

                            @elements.sidebar()

                            </div>



                            <div id="content" class="large-9 small-10 columns" style="float: left;">
                            @content
                            </div>
                        </section>
                    </div>

            <div class="row show-for-large large-12 columns" id="subnav">
                @elements.topnav(user)
            </div>

            </div>

        <footer>
            @elements.footer()
        </footer>

        <!-- Script Inclusions -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>

        <!-- Foundation 6 -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>


        <!-- CoffeeScript Assets -->
        <script src="@routes.Assets.at("scripts/joblist.js")"></script>
        <script src="@routes.Assets.at("scripts/jobview.js")"></script>
        <script src="@routes.Assets.at("scripts/main.js")"></script>
        <script src="@routes.Assets.at("scripts/websocket.js")"></script>
        <script src="@routes.Assets.at("scripts/validation.js")"></script>
        <script src="@routes.Assets.at("scripts/form.js")"></script>
        <script src="@routes.Assets.at("scripts/alignment.js")"></script>
        <script src="@routes.Assets.at("scripts/search.js")"></script>
        <script src="@routes.Assets.at("scripts/auth.js")"></script>
        <script src="@routes.Assets.at("scripts/notification.js")"></script>

        <!-- Public Javascript Assets -->
        <script src="@routes.Assets.at("javascripts/msa.min.js")" type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/sampleseqs.js")'></script>

        <script type="text/javascript">

                function openNav() {
                    document.getElementById("myNav").style.height = "100%";
                }

                function closeNav() {
                    document.getElementById("myNav").style.height = "0%";
                }
                

                $(document).ready(function() {
                    $(document).foundation();
                })
        </script>
    </body>
</html>
