@import models.database.users.User
@import play.api.mvc.RequestHeader
@import java.util.Date
@import models.tools.Tool
@(webJarAssets: WebJarAssets, user: User, tools: Iterable[Tool])(implicit messages: Messages, request: RequestHeader)

<!DOCTYPE html>


<html>
    <head>
        <title>Bioinformatics Toolkit</title>

        <link rel="shortcut icon" href="@routes.Assets.versioned("/images/favicons/favicon-grey.svg")">

        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

        <link href="@routes.Assets.versioned("styles/hamburgers.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/global.min.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/nice-select.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/blast-visualization.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/mfglabs_iconset.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/ion.rangeSlider.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/ion.rangeSlider.skinFlat.css")" rel="stylesheet">

        <link href="@routes.Assets.versioned("styles/motion-ui.css")" rel="stylesheet">

        <link href="@routes.WebJarAssets.at(webJarAssets.locate("slick.css"))" rel="stylesheet">
        <link href="@routes.WebJarAssets.at(webJarAssets.locate("slick-theme.css"))" rel="stylesheet">

        <!-- JQuery -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("3.1.1/jquery.min.js"))" type="text/javascript" ></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.lazyload.js"))" type="text/javascript" ></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery-ui.js"))" type="text/javascript" ></script>

        <script src="@routes.Assets.versioned("javascripts/vendor/newick.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/jquery.nice-select.js")" type="text/javascript"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/ion.rangeSlider.min.js")" type="text/javascript"></script>
        
        <!-- Mithril -->
        <link href="@routes.Assets.versioned("styles/index.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/alnviz.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/reformat.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/reformat-common.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/reformat-jobview.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/jobview.css")" rel="stylesheet">
        <link href="@routes.Assets.versioned("styles/joblist.css")" rel="stylesheet">

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("mithril.min.js"))" type="text/javascript" ></script>

        <!-- Velocity -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("velocity.min.js"))" type="text/javascript" ></script>

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("d3.min.js"))"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/d3.layout.min.js")" type="text/javascript"></script>

        <!-- Highcharts -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("5.0.6/highcharts.js"))"></script>

        <!-- Dropzone & Clipboard-->
        <link href="@routes.WebJarAssets.at(webJarAssets.locate("dropzone.min.css"))" rel="stylesheet">

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("clipboard.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("dropzone.min.js"))"></script>


        <!-- NGL 3D Viewer -->
       <script src="@routes.Assets.versioned("javascripts/vendor/ngl.js")"></script>

        <!-- Typeahead.js -->

        <script src="@routes.Assets.versioned("javascripts/vendor/typeahead.jquery.min.js")"></script>

        <!-- Slick Slider -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("slick.min.js"))"></script>

        <script src="http://www.w3schools.com/lib/w3data.js"></script>

        <!-- Codemirror -->

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("codemirror.js"))"></script>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("codemirror.css"))">
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("javascript.js"))"></script>

        <link href="@routes.Assets.versioned("styles/custom.css")" rel="stylesheet">


        <!-- Datatables -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.dataTables.min.js"))"></script>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("jquery.dataTables.min.css"))">


        <!-- Loading Overlay -->
        <script src="@routes.Assets.versioned("javascripts/vendor/loadingoverlay.min.js")"></script>
        <!-- Javascript Router -->
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Jobs.updateDateViewed,
            routes.javascript.Tool.frontendCount,
            routes.javascript.JobController.create,
            routes.javascript.JobController.check,
            routes.javascript.JobController.delete,
            routes.javascript.Jobs.annotation,
            routes.javascript.DataController.get,
            routes.javascript.DataController.writeArticle,
            routes.javascript.DataController.getRecentArticles)

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>
    </head>

    <body data-ws-url="@routes.Application.ws().webSocketURL()">

        <div id="main-container">

            <div id="main" class="row" style="max-width: 75rem; margin: 0 auto">
             <div class="medium-12 large-12 small-12 padded-column columns">


            <div class="row">
                <div class="medium-12 large-12 small-12 padded-column columns">

            <!---All purpose Modal --->
            <div id="modal" class="reveal large" data-reveal>
                <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
            </button></div>

            <!---Hamburger Navbar --->
            <div id="myNav" class="overlay">
                <button id="hamburgerInside" class="hamburger hamburger--elastic is-active" type="button" onclick="closeNav()">
                    <span class="hamburger-box">
                        <span class="hamburger-inner overlayed"></span>
                    </span>
                </button>
                <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
                <div class="overlay-content" id="overlay-content">
                @{user.userData match {
                    case Some(userData) =>
                        views.html.auth.miniprofile(user)
                    case None =>
                        views.html.general.auth()
                }}
                </div>
            </div>


            <!---Navigation Bar --->
             <div class="row" id="metanav">
                 <div id="metauser">@views.html.auth.dropdown(user)</div> <!-- TODO: ugly construction -->
                 <div id="social">
                     <a href="https://github.com/zy4/Toolkit"><i class="icon-octopus"></i></a>
                     <a href="https://www.facebook.com/mpitoolkit"><i class="icon-facebook"></i></a>
                     <a href="https://twitter.com/mpitoolkit"><i class="icon-twitter"></i></a>
                 </div>
             </div>


            <div class="row show-for-large" id="navcontainer">

                <!--logo-->
                <div class="large-2 columns" id="mainlogo">
                    <a href="/#/">
                        <div class="row">
                            <div class="column large-6" id="mainface">
                                <img style="width: 70%; margin-bottom: 2em;" src="@routes.Assets.versioned("images/minlogo.svg")">
                            </div>
                            <div class="column large-6" id="mainlabel">
                                MPI Bioinformatics Toolkit
                            </div>
                        </div>
                    </a>
                </div>
                <!--navbar-->
                <div class="large-10 columns show-for-large">
                    <div class="row">
                        <div class="columns large-10" style="padding-left: 4em; padding-right: 3.5em;">
                            @elements.navbar(tools)
                        </div>
                        <div class="columns large-2">
                            <!--offline callout-->
                            <div class="alert callout" id="offline-alert">Reconnecting...</div>
                        </div>
                    </div>
                </div>


            </div>

            <!--Off Canvas Menu for mobile version of Toolkit-->
            <div class="off-canvas-wrapper">
                <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
                    <div class="off-canvas position-left" id="offCanvas" data-off-canvas>
                        @elements.offcanvas(tools)
                    </div>

                     <!---Off Canvas Content includes main content--->
                     <div class="off-canvas-content" data-off-canvas-content>
                           <div class="title-bar hide-for-large">
                                <div class="title-bar-left">
                                    <button id="hambutton" type="button" data-open="offCanvas"><i class="icon-reorder icon2x"></i></button>
                                </div>
                           </div>
                     </div>

                      <!--- Mount point for Mithril Application -->
                      <div class="row" id="main-content">

                      </div>
                </div>
            </div>

            </div>

                </div>
            </div>
                <footer class="row" id="app">
                    <div class="columns large-12">
                        <div id="sub-nav">
                            <a href="#">Help</a>
                            <a href="#">Disclaimer</a>
                            <a href="http://www.eb.tuebingen.mpg.de/impressum" target="_blank">Imprint</a>
                            <a href="#">Tool Versions</a>
                            <a href="/contact">Contact</a>
                            <a href="/#/news">News</a>
                        </div>
                        <div id="socket"> © 2008-@(new Date().format("yyyy")) , Dept. of Protein Evolution at the Max Planck Institute for Developmental Biology, Tübingen </div>
                    </div>
                </footer>
        </div>
            </div>

            <!-- scroll-top arrow -->
        <div id="scrollTop"></div>

            <!-- Script Inclusions -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>


        <!-- Foundation 6 -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>

            <!--
            The file foundation.reveal.js must be included in your JavaScript to use this plugin, along with foundation.core.js.
             This plugin also requires these utility libraries:
            -->


            <!-- Reformat Javascript Library -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("reformat.js"))"></script>


            <!-- CoffeeScript && Mithril Assets -->
        <script src="@routes.Assets.versioned("javascripts/mithril/index.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/help.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/frontend.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/backend.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/newsfeed.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/jobmodel.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/jobmanager.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/toolkit.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/blast-visualization.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/userdashboard.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/joblist.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/jobview.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/main.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/validation.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/mithril/livetable.js")"></script>
        <script src="@routes.Assets.versioned("scripts/websocket.js")"></script>
        <script src="@routes.Assets.versioned("scripts/alignment.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/search.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/auth.js")"></script>
        <script src="@routes.Assets.versioned("scripts/notification.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/vendor/msa.min.js")" type="text/javascript"></script>
        <script src='@routes.Assets.versioned("javascripts/sampleseqs.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/vendor/biojs-io-newick.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/vendor/biojs-vis-tree.min.js")'></script>
        <script src='@routes.Assets.versioned("javascripts/vendor/snap.svg-min.js")'></script>



        <script type="text/javascript">

                  //TODO connect this to backend somehow to be able to write and store articles for landing page
                  //ajax call to push article into the database
//                  var articlePushRoute = jsRoutes.controllers.DataController.writeArticle("MPI Toolkit",
//                          "Welcome to the Bioinformatics Toolkit hosted at the Max Planck Institute for Developmental Biology in Tuebingen, Germany.",
//                          "https://www.gesundheitsindustrie-bw.de/files/cache/619c00ba8a9e09dbc17430924315a5d8_f9398.jpg");
//                  $.ajax({
//                      'url': articlePushRoute.url,
//                      'method': articlePushRoute.method
//                  });

                  // add loading when ajax request is send
                  /*
                  $(document).ajaxStart(function() {
                      $.LoadingOverlay("show");
                  });
                  $(document).ajaxStop(function() {
                      $.LoadingOverlay("hide");
                  }); */

                  // scroll arrow
                  $(window).scroll(function() {
                      if ($(window).scrollTop() > 200) {
                          $('#scrollTop').show();
                      } else {
                          $('#scrollTop').hide();
                      }
                  });

                  $('#scrollTop').click(function() {
                      $("html, body").animate({ scrollTop: 0 }, 200);
                      return false;
                  });
                    function openNav() {
                        document.getElementById("myNav").style.height = "100%";
                    }

                    function closeNav() {
                        document.getElementById("myNav").style.height = "0%";
                    }

                    function myFunction(x) {
                        x.classList.toggle("change");
                    }

                    $(document).ready(function() {
                        $(document).foundation();
                    });
                    var color_regex = /(?:[WYF]+|[LIVM]+|[AST]+|[KR]+|[DE]+|[QN]+|H+|C+|P+|G+)/g;
                    function color_regex_replacer(match) {
                        return ["<span class=\"aa_", match.charAt(0), "\">", match, "</span>"].join('');
                    }
                    var aa_color_font = new Map();
                    aa_color_font.set("aa_W", "#808080");
                    aa_color_font.set("aa_Y", "#808080");
                    aa_color_font.set("aa_F", "#808080");
                    aa_color_font.set("aa_L", "#00ff00");
                    aa_color_font.set("aa_I", "#00ff00");
                    aa_color_font.set("aa_V", "#00ff00");
                    aa_color_font.set("aa_M", "#00ff00");
                    aa_color_font.set("aa_A", "#404040");
                    aa_color_font.set("aa_S", "#404040");
                    aa_color_font.set("aa_T", "#404040");
                    aa_color_font.set("aa_K", "red");
                    aa_color_font.set("aa_R", "red");
                    aa_color_font.set("aa_D", "blue");
                    aa_color_font.set("aa_E", "blue");
                    aa_color_font.set("aa_Q", "#d000a0");
                    aa_color_font.set("aa_N", "#d000a0");
                    aa_color_font.set("aa_H", "#E06000");
                    aa_color_font.set("aa_C", "#A08000");
                    aa_color_font.set("aa_P", "#191919");
                    aa_color_font.set("aa_G", "#404040");

                    var aa_color_background = new Map();
                    aa_color_background.set("aa_W", "#00c000");
                    aa_color_background.set("aa_Y", "#00c000");
                    aa_color_background.set("aa_F", "#00c000");
                    aa_color_background.set("aa_L", "#02ff02");
                    aa_color_background.set("aa_I", "#02ff02");
                    aa_color_background.set("aa_V", "#02ff02");
                    aa_color_background.set("aa_M", "#02ff02");
                    aa_color_background.set("aa_A", "#404040");
                    aa_color_background.set("aa_S", "#404040");
                    aa_color_background.set("aa_T", "#404040");
                    aa_color_background.set("aa_K", "#ff0000");
                    aa_color_background.set("aa_R", "#ff0000");
                    aa_color_background.set("aa_D", "#6080ff");
                    aa_color_background.set("aa_E", "#6080ff");
                    aa_color_background.set("aa_Q", "#e080ff");
                    aa_color_background.set("aa_N", "#e080ff");
                    aa_color_background.set("aa_H", "#ff8000");
                    aa_color_background.set("aa_C", "#ffff00;");
                    aa_color_background.set("aa_P", "#a0a0a0");
                    aa_color_background.set("aa_G", "#404040");
            </script>
    </body>
</html>
