@import play.api.mvc.RequestHeader
@import models.database.User
@(webJarAssets: WebJarAssets, content: Html, sectionname : String, user: User)(implicit messages: Messages, request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit</title>
        <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="@routes.Assets.at("styles/hamburgers.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("styles/global.min.css")" rel="stylesheet">
        <link href="@routes.Assets.at("styles/mfglabs_iconset.css")" rel="stylesheet">

        <link href="@routes.Assets.at("styles/motion-ui.css")" rel="stylesheet">

        <link href="@routes.WebJarAssets.at(webJarAssets.locate("slick.css"))" rel="stylesheet">
        <link href="@routes.WebJarAssets.at(webJarAssets.locate("slick-theme.css"))" rel="stylesheet">
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("modernizr.min.js"))"></script>

        <!-- JQuery -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("2.2.4/jquery.min.js"))" type="text/javascript" ></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.lazyload.js"))" type="text/javascript" ></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery-ui.js"))" type="text/javascript" ></script>

        <script src="@routes.Assets.at("javascripts/newick.js")" type="text/javascript"></script>


        <!-- Mithril -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("mithril.min.js"))" type="text/javascript" ></script>
        <script src='@routes.Assets.at("javascripts/validator.js")' type="text/javascript" ></script>

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("d3.min.js"))"></script>
        <script src="@routes.Assets.at("javascripts/d3.layout.min.js")" type="text/javascript"></script>

        <!-- Highcharts -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("highcharts.js"))"></script>

        <!-- Slick Slider -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("slick.min.js"))"></script>


        <!-- Codemirror -->

        <script src="@routes.WebJarAssets.at(webJarAssets.locate("codemirror.js"))"></script>
        <link rel="stylesheet" href="@routes.WebJarAssets.at(webJarAssets.locate("codemirror.css"))">
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("javascript.js"))"></script>

        <link href="@routes.Assets.at("styles/custom.css")" rel="stylesheet">

        <!-- Javascript Router -->
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Tool.submit)
            <!-- routes.javascript.Tool.result, -->
            <!-- routes.javascript.Service.addChild) -->

        <!-- Google Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Roboto:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Vollkorn:400,700' rel='stylesheet' type='text/css'>

        <script>
            var shiftWindow = function() { scrollBy(0, 5) };
            window.addEventListener("hashchange", shiftWindow);
            function load() { if (window.location.hash) shiftWindow(); }
        </script>




    </head>


    <body onload="load()" data-ws-url="@routes.Application.ws().webSocketURL()">
        <!---All purpose Modal --->
        <div id="modal" class="reveal large" data-reveal></div>

        <!---Offline Callout --->
        <div class="callout alert" id="offline-alert" style="display: none;">
            Connection lost. Trying to reconnect in <span id="offline-alert-timer"></span> seconds.
        </div>

        <!---Hamburger Navbar --->
        <div id="myNav" class="overlay">
            <button id="hamburgerInside" class="hamburger hamburger--elastic" type="button" style="float: right; margin: 41px 39px 0 0;" onclick="closeNav()">
                <span class="hamburger-box">
                    <span class="hamburger-inner overlayed"></span>
                </span>
            </button>
            <!--<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
            <div class="overlay-content" id="overlay-content">

                @general.tools()

            </div>
        </div>



        <!---Navigation Bar --->
        <div class="row" style="padding-top: 1em;">
            <div class="large-2 columns" >
                <a href="@routes.Application.index()"><img  style="width: 100%; margin-left:0.25em;margin-top:0.60em; margin-bottom: 2em;" src="@routes.Assets.at("images/logo14.svg")"></a>
            </div>
            <div class="large-9 columns" align="center" >
            @elements.navbar()
            </div>
            <div class="large-1 columns sub-nav">
                <dd><a href="#" id="auth-link" data-toggle="auth-dropdown" onclick="$('.dropdown-pane').show();">
                @{user.userData match {
                    case Some(userData) => userData.nameLogin
                    case None           => "Sign in"
                }}</a></dd>
                <button class="hamburger hamburger--elastic" type="button" style="float: right; padding-right: 0.25em;" onclick="openNav()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>


            </div>
        </div>

        <!--Off Canvas Menu for mobile version of Toolkit-->
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
                <div class="off-canvas position-left" id="offCanvas" data-off-canvas>

                    @elements.offcanvas()

                </div>

                    <!---Off Canvas Content includes main content--->
                    <div class="off-canvas-content" data-off-canvas-content>
                            <div class="title-bar hide-for-large">
                                <div class="title-bar-left">
                                    <button class="menu-icon dark" type="button" data-open="offCanvasLeft"></button>
                                    <span class="title-bar-title">Toolkit</span>
                                </div>
                            </div>
                        </div>

                    <!---Main Content Section includes Sidebar and Content --->
                        <section class="row fullwidth main-content">
                            <div class="large-2 show-for-large columns sidebar padded-column show-for-large" id="sidebar-switch">

                            @elements.sidebar()

                            </div>



                            <div id="content" class="large-5 small-10 columns padded-column" style="float: left;">
                            @content
                            </div>
                        </section>
                    </div>

            <div class="row show-for-large large-12 columns" id="subnav" style="opacity: 1;" >
                <div style="margin-right: 22.5em;">
                @elements.topnav(user)
                </div>
            </div>

            </div>





        <footer>
            @elements.footer()
        </footer>

        <!-- Script Inclusions -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>

        <!-- Foundation 6 -->
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("foundation.min.js"))"></script>


        <!-- CoffeeScript Assets -->
        <script src="@routes.Assets.at("scripts/main.js")"></script>
        <script src="@routes.Assets.at("scripts/websocket.js")"></script>
        <script src="@routes.Assets.at("scripts/jobs.js")"></script>
        <script src="@routes.Assets.at("scripts/interaction.js")"></script>
        <script src="@routes.Assets.at("scripts/form.js")"></script>
        <script src="@routes.Assets.at("scripts/alignment.js")"></script>
        <script src="@routes.Assets.at("scripts/validation.js")"></script>
        <script src="@routes.Assets.at("scripts/search.js")"></script>

        <!-- Public Javascript Assets -->
        <script src="@routes.Assets.at("javascripts/msa.min.js")" type="text/javascript"></script>

        <script type="text/javascript">

                function openNav() {
                    document.getElementById("myNav").style.height = "100%";
                }

                function closeNav() {
                    document.getElementById("myNav").style.height = "0%";
                }

                var $hamburger = $(".hamburger");
                $hamburger.on("click", function(e) {
                    $hamburger.toggleClass("is-active");
                    // Do something else, like open/close menu
                });

                $(document).ready(function() {
                    $(document).foundation();
                })
        </script>
    </body>
</html>
