@import play.api.mvc.RequestHeader
@(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>

<html>
    <head>
        <title>Bioinformatics Toolkit</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/styles_tuebingen.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/navisection_tuebingen.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/tabsection.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/form.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/genomes.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <!--
        <script src="@routes.Assets.at("javascripts/toolkit.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/browser_sniffer.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/overlib.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/overlib_cssstyle. js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/prototype.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/effects.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/dragdrop.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/controls.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/application.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/scriptaculous.js")" type="text/javascript"></script>
        -->
        <!-- JQuery and the central WebSocket CoffeeScript Resource -->
        <script src="@routes.Assets.at("lib/jquery/jquery.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("lib/flot/jquery.flot.js")" type="text/javascript"></script>
        <script src='@routes.Assets.at("javascripts/index.js")' type="text/javascript" ></script>


        <!-- Worker script dealing with File Uploads -->
        <script src='@routes.Assets.at("javascripts/fileupload.js")' type="text/javascript" ></script>


        <!-- JQuery library for simple notificaton -->
        <script src='@routes.Assets.at("javascripts/notify.min.js")' type="text/javascript" ></script>


        <script src="//cdnjs.cloudflare.com/ajax/libs/mithril/0.2.2-rc.1/mithril.min.js"></script>
    	<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>

        <!-- Javascript Router -->
        @helper.javascriptRouter("jsRoutes")(
            routes.javascript.Alnviz.submit
        )
    </head>


    <body data-ws-url="@routes.Application.ws().webSocketURL()">
        <div id="container">
            <div id="header">
                <a href="http://www.mpg.de" id="minerva"><img src="@routes.Assets.at("images/minerva_logo.gif")" alt="Minerva"/></a>
                <a href="#"><img id="mpilogo" src="@routes.Assets.at("images/mpi_logo.gif")" alt="Toolkit" /></a>
                <select id="quickstart" name="quickstart" onchange="window.location = this.value;">
                    <option value="">Quickfinder</option>
                </select>

                <ul id="metanav">
                    <li><a href="#" onclick="openHelpWindow('/common/helpindex');">Help</a></li>
                    <li class="current"><a href="@routes.Application.disclaimer()">Disclaimer</a></li>
                    <li><a target="_blank" href="http://www.eb.tuebingen.mpg.de/impressum">Imprint</a></li>
                    <li><a href="/common/tool_versions">Tool Versions</a></li>
                    <li><a href="/common/remote_debug">Remote Debug</a></li>
                    <li><a href="/common/stats">Tool Statistics</a></li>
                    <li><a href="/common/db_stats">DB Statistics</a></li>
                    <li><a href="/common/user_stats">User Statistics</a></li>
                    <li class="current"><a href="@routes.Application.contact()">Contact</a></li>
                    <li><a href="/userdb/admin_userdbs">Personal Databases</a></li>
                    <li><a href="/pdbalert">PDBalert</a></li>
                    <li><a href="/user/login">Login</a></li>
                    <li id="home" class="current"><a href="/">Home</a></li>
                </ul>

                <ul id="tabsection">
                    <li id="ocker"  ><a href="/sections/search">Search</a></li>
                    <li id="orange"  ><a href="/sections/alignment">Alignment</a></li>
                    <li id="green"  ><a href="/sections/seqanal">Sequence Analysis</a></li>
                    <li id="blue"  ><a href="/sections/secstruct">2ary Structure</a></li>
                    <li id="violett"  ><a href="/sections/tertstruct">3ary Structure</a></li>
                    <li id="red"  ><a href="/sections/classification">Classification</a></li>
                    <li id="darkred"  ><a href="/sections/utils">Utils</a></li>
                </ul>


        </div>

            <div id="navisection" class="std">
                <ul>
                   <li>
                       <a>&nbsp;</a>
                   </li>
                </ul>
            </div>
            <!--<script src="@routes.Assets.at("assets/javascripts/jquery.js")" type="text/javascript"></script> -->
            <!-- <script src="@routes.Assets.at("assets/javascripts/jquery.tablesorter.js")" type="text/javascript"></script> -->
            <!-- <script>$.noConflict();</script> -->
            <div id="sidebar">@sidebar()</div>
            <div id="content">@content</div>
            <tr top-border="1px" valign="bottom"><td valign="bottom"><div id="footer"><span style="float: right; margin-right: 3px;">Release-<%= TOOLKIT_RELEASE %></span><%= TOOLKIT_COPYRIGHT %>, <a href="http://www.eb.tuebingen.mpg.de/departments/1-protein-evolution">Dept. of Protein Evolution at the Max Planck Institute for Developmental Biology</a>, T&#252;bingen</div></td></tr>

            </div>
    </body>
</html>
