<sidebar>


    <!-- Job Code -->
    <table id="jobcode">
        <tr>
            <td class="q"></td>
            <td class="jobcodedesc">queued</td>
        </tr>
        <tr>
            <td class="r"></td>
            <td class="jobcodedesc">running</td>
        </tr>
        <tr>
            <td class="d"></td>
            <td class="jobcodedesc">done</td>
        </tr>
        <tr>
            <td class="e">
            </td>
            <td class="jobcodedesc tooltip">error</td>
        </tr>
    </table>


    <div class="sep">
        Recent jobs:
    </div>



    <!--
    Show results of job:
    </div>
    <div class="section">
        <form action="/common/check" method="post">

            <input id="jobid" name="jobid" style="width: 100%;" type="text" value="" />
            <input class="checkbutton" name="showres" type="submit" value="Show results" style="width: 100%;" />
        </form>
    </div>

    <div style="background-color: #7CA6A6; color: #FFFFFF; font-size: 12px; font-weight: bold; padding: 1px 2px 2px 2px; margin-bottom: 2px; margin-top: 15px;">

  -->



    <form action="/common/clear" id="clearrecentjobs" method="post" name="clearrecentjobs">
        <table id="jobtable" class="tablesorter">
            <!--
            <thead><th><img alt="Up-down-arrow" src="@routes.Assets.at("images/up-down-arrow.png")" />
            </th><th></th><th class="jobcell"><img alt="Up-down-arrow" src="@routes.Assets.at("images/up-down-arrow.png")" />
            </th><th class="search"><img alt="Up-down-arrow" src="@routes.Assets.at("images/up-down-arrow.png")" /></th></thead>
            -->
            <tbody>
                <tr>

                    <!--
                    <td class="d" style="color:transparent"> d</td>
                    <td><input class="jobcheckbox" id="jobid[]" name="jobid[]" type="checkbox" value="6382954" /></td>
                    <td class="jobcell">
                        <a href="/ancescon/check/6382954" class="joblink" id="" onmouseout="return nd();" onmouseover="return overlib('ID: 6382954 ANCESCON');">6382954</a>
                    </td>
                    <td class="classification">ANCE</td>
                    -->
                </tr>
            </tbody>
        </table>


        <!--
        <div class="section">
            <input type="hidden" id="clear_checkboxes" value="1">
            <a href="#" onclick="selectjobs();">Select all</a>&nbsp;&nbsp;&nbsp;<a href="#" onclick="deselectjobs();">Deselect all</a>
            <input class="stopbutton" name="clearjobs" type="submit" style="float: none; width: 100%; margin-top: 5px;" value="Clear sel. Jobs" style="width: 100%;" />
            <br/>
            <input class="stopbutton" name="removejobs" type="submit" style="float: none; width: 100%; margin-top: 5px;" value="Delete sel. Jobs" style="width: 100%;" onClick="setAction('clearrecentjobs', '/common/removeJobs');" />
        </div>
        -->
    </form>
<!--

    <div class="section">@upload()</div>

        <!--
    <script type="text/javascript">

    jQuery("#jobtable").tablesorter();

    </script>-->

</sidebar>