<sidebar>

    <!-- Job Code -->
    <table id="jobcode">
        <tr>
            <td class="q"></td>
            <td class="jobcodedesc">queued</td>
        </tr>
        <tr>
            <td class="r"></td>
            <td class="jobcodedesc">running</td>
        </tr>
        <tr>
            <td class="d"></td>
            <td class="jobcodedesc">done</td>
        </tr>
        <tr>
            <td class="e">
            </td>
            <td class="jobcodedesc tooltip">error</td>
        </tr>
    </table>


    <div class="sep">
        Recent jobs:
    </div>

    <!--
    Show results of job:
    </div>
    <div class="section">
        <form action="/common/check" method="post">

            <input id="jobid" name="jobid" style="width: 100%;" type="text" value="" />
            <input class="checkbutton" name="showres" type="submit" value="Show results" style="width: 100%;" />
        </form>
    </div>

    <div style="background-color: #7CA6A6; color: #FFFFFF; font-size: 12px; font-weight: bold; padding: 1px 2px 2px 2px; margin-bottom: 2px; margin-top: 15px;">

  -->

        <table id="jobtable" class="tablesorter">
            <!--
            <thead><th><img alt="Up-down-arrow" src="@routes.Assets.at("images/up-down-arrow.png")" />
            </th><th></th><th class="jobcell"><img alt="Up-down-arrow" src="@routes.Assets.at("images/up-down-arrow.png")" />
            </th><th class="search"><img alt="Up-down-arrow" src="@routes.Assets.at("images/up-down-arrow.png")" /></th></thead>
            -->
            <tbody id="rows">
                <tr>

                    <!--
                    <td class="d" style="color:transparent"> d</td>
                    <td><input class="jobcheckbox" id="jobid[]" name="jobid[]" type="checkbox" value="6382954" /></td>
                    <td class="jobcell">
                        <a href="/ancescon/check/6382954" class="joblink" id="" onmouseout="return nd();" onmouseover="return overlib('ID: 6382954 ANCESCON');">6382954</a>
                    </td>
                    <td class="classification">ANCE</td>
                    -->
                </tr>
            </tbody>
        </table>


        <!--
        <div class="section">
            <input type="hidden" id="clear_checkboxes" value="1">
            <a href="#" onclick="selectjobs();">Select all</a>&nbsp;&nbsp;&nbsp;<a href="#" onclick="deselectjobs();">Deselect all</a>
            <input class="stopbutton" name="clearjobs" type="submit" style="float: none; width: 100%; margin-top: 5px;" value="Clear sel. Jobs" style="width: 100%;" />
            <br/>
            <input class="stopbutton" name="removejobs" type="submit" style="float: none; width: 100%; margin-top: 5px;" value="Delete sel. Jobs" style="width: 100%;" onClick="setAction('clearrecentjobs', '/common/removeJobs');" />
        </div>
        -->
<!--

    <div class="section">@upload()</div>

        <!--
    <script type="text/javascript">

    jQuery("#jobtable").tablesorter();

    </script>-->

</sidebar>



<!-- The View-Model Definition for the JobWidget in the Sidebar -->
<script type="text/javascript">
todo = {};
//this application only has one module: todo
//for simplicity, we use this module to namespace the model classes

//the Todo class has two properties
todo.Todo = function(data) {
    this.description = m.prop(data.description);
    this.state = m.prop(data.state);
};

//the TodoList class is a list of Todo's
todo.TodoList = Array;

//the view-model tracks a running list of todos,
//stores a description for new todos before they are created
//and takes care of the logic surrounding when adding is permitted
//and clearing the input after adding a todo to the list
todo.vm = (function() {
    var vm = {}
    vm.init = function() {
        //a running list of todos
        vm.list = new todo.TodoList();

        //adds a todo to the list, and clears the description field for user convenience
        vm.add = function(desc, state) {
            vm.list.push(new todo.Todo({description: desc,
                                        state: state}));
        };
    };
    return vm
}());

//the controller defines what part of the model is relevant for the current page
//in our case, there's only one view-model that handles everything
todo.controller = function() {
    todo.vm.init()
}

//here's the view
todo.view = function() {
    return [m("button", {onclick: todo.vm.add}, "Add"),
        [todo.vm.list.map(function(task, index) {
            return m("tr", [m("td", task.description()),
                            m("td", task.state())]);
        })]]
};
m.mount(document.getElementById("rows"), {controller: todo.controller, view: todo.view});
</script>
