@(tool: models.tools.Tool, viewName: String)


<div class="reveal forwardModal" id="forwardModal_@{viewName}" data-reveal>
    <p>Forward Job</p>


    <div class="forward_form">
        <div class="forwardFormDiv">
            <label style="font-weight: bold">Select hits to forward</label>
            <label class="forwardLabel"> <input type="radio" class="selectedHits" id="selectedHits_@viewName" name="radio1">Selected Hits</label>
            <div class="two_input">
                <label class="forwardLabel"><input type="radio" class="selectedHits" id="accordingEvalue_@viewName" name="radio1">
                    E-Value better than</label>
                <input class="result_inputs" type="text" class="selectedHits" id="forwardEvalue_@viewName" value="0.001">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="select_forward large-4 columns">
            <select class="selectedHits_@viewName" id="forwardSelect_@viewName">
                <option value="">Select Tool</option>
                <div>
                    @for(forwardTool <- {tool.forwardAlignment}) {
                        <option id="alignmentOptions_@viewName"value="@forwardTool">@forwardTool</option>
                    }
                    @for(forwardTool <- {tool.forwardMultiSeq}) {
                        <option id="multiSeqOptions_@viewName" value="@forwardTool">@forwardTool</option>
                    }
                </div>
            </select>
        </div>
        <div class="large-5 columns">
            <div class="callout alert" id="forwardWarning" style="display: none;" >
                <span>Some tools take alignments as input</span>
            </div>
        </div>

        <div class="forwardFormLast large-3 columns"><a class="success button tiny" id="forward" onclick="@{viewName}_forward_();" type="button">
            Forward Job</a>
        </div>
    </div>


</div>

<script>

        window["@{viewName}_forward_"] = function(){
            var selectedTool, boolSelectedHits,boolEvalue, evalue;
            boolEvalue = $('#accordingEvalue_@viewName').is(':checked');
            boolSelectedHits = $('#selectedHits_@viewName').is(':checked');
            selectedTool = $('#forwardSelect_@viewName').val();
            evalue = $("#forwardEvalue_@viewName").val();
            if(selectedTool == ""){
                alert("no sequences selected!")
                $('#forwardModal_@{viewName}').foundation('close');
                return;
            }
            @{viewName}_forward(selectedTool, boolSelectedHits,boolEvalue, evalue, false, false);
            if (selectedTool != "") {
                $('#forwardModal_@{viewName}').foundation('close');
            }
            if(evalue == "") {
                alert("no evalue!")
            }
        };

        $("#forwardModal_@viewName").foundation();
        $('#alignmentOptions_@viewName').show();
        $('#multiSeqOptions_@viewName').hide();

        //default check radio buttons
        $("#selectedHits_@viewName").prop("checked", true);


</script>



