@(jobID: String)

<div class="reveal forwardModal forwardModalHHSuite" id="forwardModalHHSuite" data-reveal>
    <p>Forward Job</p>

    <div class="forward_form">
        <div class="forwardFormDiv">
            <label>Forward MSA (~100 most distinct sequences) to:</label>
        </div>
    </div>

    <div class="row">
        <div class="select_forward large-4 columns">
            <select class="selectedHits forwardSelect">
                <option value="">Select a tool</option>
                <option class="alignmentOptions" value="formatseq">FormatSeq</option>
                <option class="alignmentOptions" value="hhblits">HHblits</option>
                <option class="alignmentOptions" value="hhomp">HHomp</option>
                <option class="alignmentOptions" value="hhpred">HHpred</option>
                <option class="alignmentOptions" value="hhrepid">HHrepID</option>
            </select>
        </div>
        <div class="large-5 columns">
            <div class="callout alert forwardWarning" style="display: none;" >
                <span>Only some tools accept full-length sequences as input</span>
            </div>
        </div>

        <div class="forwardFormLast large-3 columns"><a class="success button small forwardBtn" type="button">
            Forward Job</a>
        </div>
    </div>

</div>

<script>
    ForwardingModalHelper.bindHHSuite($("#jobview").find(".forwardModalHHSuite"), "@jobID")
</script>

