@(tool: de.proteinevolution.models.Tool, jobID: String)

<div class="reveal forwardModal forwardModalSimple" id="forwardModalSimple" data-reveal>
    <p>Forward Job</p>

    <div class="forward_form">
        <div class="forwardFormDiv">
            <label><b>Forward hits</b></label>
            <label class="forwardLabel">
                <input type="radio" class="selectedHits selectedHitsRadioBtn" name="radio1" checked>
                Selected
            </label>
            <div class="two_input">
                <label class="forwardLabel">
                    <input type="radio" class="selectedHits accordingEvalueRadioBtn" name="radio1">
                    E-value better than
                </label>
                <input class="result_inputs selectedHits forwardEvalueNormalInput" type="text" value="0.001" >
            </div>
        </div>
    </div>

    <div class="row">
        <div class="select_forward large-4 columns">
            <select class="selectedHits forwardSelect">
                <option value="">Select a tool</option>
                @for(forwardTool <- {tool.forwardAlignment}) {
                    <option id="alignmentOptions" value="@forwardTool">@forwardTool</option>
                }
                @for(forwardTool <- {tool.forwardMultiSeq}) {
                    <option id="multiSeqOptions" value="@forwardTool">@forwardTool</option>
                }
            </select>
        </div>

        <div class="forwardFormLast large-3 columns">
            <button class="success button small forwardBtn" type="button">
                Forward Job
            </button>
        </div>
    </div>

</div>

<script>
    ForwardingModalHelper.bindSimple($("#jobview").find(".forwardModalSimple"), "@jobID")
</script>



