/* Selects */
.multiselect {
  font-size: $font-size-base;
  min-height: 0;
  cursor: pointer;

  .multiselect__select {
    height: 28px;
    padding: 0;
  }

  .multiselect__tags {
    min-height: 29px;
    padding: 4px 30px 0 4px;
    border: $input-border-width solid $input-border-color;
    @if $enable-rounded {
      // Manually use the if/else instead of the mixin to account for iOS override
      border-radius: $input-border-radius;
    } @else {
      // Otherwise undo the iOS default
      border-radius: 0;
    }
    @include transition($input-transition);

    .multiselect__tags-wrap {
      display: block;
      margin-bottom: -2px;
    }

    .multiselect__tag {
      background: $primary;
      margin-bottom: 0;
      padding-top: 2px;
      margin-right: 4px;

      .multiselect__tag-icon {
        line-height: 18px;

        &:hover {
          background: $tk-dark-green;
        }
      }
    }

    .multiselect__single {
      margin-bottom: 3px;
    }

    .multiselect__placeholder {
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 2px;
      padding-left: 4px;
    }
  }

  .multiselect__input, .multiselect__single {
    font-size: $font-size-base;
  }

  .multiselect__option--selected.multiselect__option--highlight, .multiselect__option--highlight {
    background: $primary;
    color: #fff;
  }

  &.multiselect--active {
    .multiselect__tags {
      border-color: #6bcec3;
      outline: 0;
      -webkit-box-shadow: 0 0 0 0.2rem rgba(46, 140, 129, 0.25);
      box-shadow: 0 0 0 0.2rem rgba(46, 140, 129, 0.25);
    }
  }
}

/* Switches */
.vue-switcher {
  margin: 0.35rem 0 0 0.23rem;
}

/* Bootstrap forms */
.form-group legend {
  color: $tk-darker-gray;
}

