span.aa_W {
    color: #808080
}

span.aa_Y {
    color: #808080
}

span.aa_F {
    color: #808080
}

span.aa_L {
    color: #00ff00
}

span.aa_I {
    color: #00ff00
}

span.aa_V {
    color: #00ff00
}

span.aa_M {
    color: #00ff00
}

span.aa_A {
    color: #404040
}

span.aa_S {
    color: #404040
}

span.aa_T {
    color: #404040
}

span.aa_K {
    color: red
}

span.aa_R {
    color: red
}

span.aa_D {
    color: blue
}

span.aa_E {
    color: blue
}

span.aa_Q {
    color: #d000a0
}

span.aa_N {
    color: #d000a0
}

span.aa_H {
    color: #E06000
}

span.aa_C {
    color: #A08000
}

span.aa_P {
    color: #191919
}

span.aa_G {
    color: #404040
}

span.ss_h {
    color: #0000D0
}

span.ss_e {
    color: #D00000
}

/* Also look at print styles in _print.scss */
span.CC_b {
    background: rgba(34, 208, 0, 0.36)
}

span.CC_m {
    background: rgba(208, 6, 159, 0.46)
}

span.CC_do {
    background: rgba(208, 132, 18, 0.41)
}

span.ss_e_b {
    background: rgba(58, 67, 208, 0.5)
}

span.ss_h_b {
    background: rgba(208, 0, 0, 0.36)
}

span.ss_pihelix {
    background: rgba(23, 255, 216, 0.5)
}
