// SIZES
$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1200px
);

// COLORS
$white: #fefefe;
$black: #0a0a0a;
$red: #ec442a;
$yellow: #ff8c00;

$tk-green: #2E8C81;
$tk-dark-green: rgba(0, 110, 98, 166);
$tk-lighter-gray: #eee;
$tk-light-gray: #ccc;
$tk-gray: #707070;
$tk-dark-gray: #666;
$tk-darker-gray: #444;

$bg-gray: $tk-lighter-gray;
$primary: $tk-green;
$secondary: $tk-dark-green;
$warning: $yellow;
$danger: $red;

// TYPOGRAPHY
$font-size-base: 0.9rem;
$font-family-sans-serif: "Noto Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$font-family-monospace: Consolas, "SFMono-Regular", "Source Code Pro", "Liberation Mono", Menlo, Courier, monospace;
