// Override bootstrap variables here

// SIZES
$container-max-widths: (
  //        sm: 100%,
  //        md: 100%,
        lg: 960px,
        xl: 1200px
);
$modal-lg: 1200px;

// COLORS
$white: #fefefe;
$black: #0a0a0a;
$red: #ec442a;
$yellow: #ff8c00;

$tk-green: #2E8C81;
$tk-dark-green: rgba(0, 110, 98, 166);
$tk-lighter-gray: #eee;
$tk-light-gray: #ccc;
$tk-medium-gray: #aaa;
$tk-gray: #707070;
$tk-dark-gray: #666;
$tk-darker-gray: #444;

$bg-gray: $tk-lighter-gray;
$primary: $tk-green;
$secondary: $tk-lighter-gray;
$warning: $yellow;
$danger: $red;

$primary-light: lighten($primary, 15%);
$warning-light: lighten($warning, 15%);
$danger-light: lighten($danger, 15%);

$input-border-color: #ddd;

// MODALS
$modal-content-border-width: 0;
$modal-content-border-radius: 3px;
$modal-inner-padding: 1.5rem 2rem;
$modal-backdrop-opacity: 0.2;
$modal-content-box-shadow-sm-up:    0 20px 60px -2px rgba(27, 33, 58, 0.4);

  // TYPOGRAPHY
$font-size-base: 0.9rem;
$font-family-sans-serif: "Noto Sans", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
$font-family-monospace: Consolas, "SFMono-Regular", "Source Code Pro", "Liberation Mono", Menlo, Courier, monospace;

// MISC
$global-radius: 3px;
