@import "reset";
@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/bootstrap-vue/dist/bootstrap-vue.css";
@import "../../../node_modules/vue-multiselect/dist/vue-multiselect.min.css";
@import "multi-select";
@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
